{% load url from comic_templatetags %}

{% autoescape off %}
    <p>Dear {{ user.username }},</p>

    <p>Your request to participate in
    <a href="{% url 'challenge-homepage' project.short_name %}">{{ project.short_name }}</a>
        on {{ site.domain }} has been rejected.</p>

    <p>For more information, please contact the <a href="{% url 'challenge-homepage' project.short_name %}">{{ project.short_name }}
        organizers</a>.</p>

    <p>Regards,<br/>
        {{ site.name }}</p>
{% endautoescape %}
