{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Update Session - {{ block.super }}{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fas fa-home"></i></a></li>
        <li class="breadcrumb-item"><a href="{% url 'workstations:list' %}">Workstations</a>
        </li>
        <li class="breadcrumb-item"><a
                href="{{ object.workstation_image.workstation.get_absolute_url }}">{{ object.workstation_image.workstation }}</a>
        </li>
        <li class="breadcrumb-item"><a
                href="{{ object.workstation_image.get_absolute_url }}">{{ object.workstation_image }}</a>
        </li>
        <li class="breadcrumb-item active"
            aria-current="page">Update session</li>
    </ol>
{% endblock %}

{% block content %}
    <h2>Update Session</h2>
    {% crispy form %}
{% endblock %}
