{% extends "nobanner.html" %}
{% load crispy from crispy_forms_tags %}
{% load url from grandchallenge_tags %}

{% block title %}Workstations - {{ block.super }}{% endblock %}

{% block content %}
    <h2>Workstations</h2>

    <p>
        <a class="btn btn-primary"
           href="{% url 'workstations:create'%}">
            <i class="fas fa-plus"></i> Add a new workstation
        </a>
    </p>

    <ul>
    {% for workstation in workstation_list %}
        <li><a href="{{ workstation.get_absolute_url }}">{{ workstation.title }}</a></li>
    {% endfor %}
    </ul>
{% endblock %}
