{% extends "base.html" %}
{% load crispy from crispy_forms_tags %}
{% load url %}
{% load guardian_tags %}

{% block title %}Workstations - {{ block.super }}{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fas fa-home"></i></a></li>
        <li class="breadcrumb-item active" aria-current="page">Workstations
        </li>
    </ol>
{% endblock %}

{% block content %}
    <h2>Workstations</h2>

    <div class="card-columns">
        {% for workstation in workstation_list %}
            <div class="card">
                <a href="{{ workstation.get_absolute_url }}">
                    <img class="card-img-top img-fluid"
                         src="{{ workstation.logo.url }}"
                         alt="{{ workstation }} Logo">
                </a>
                <div class="card-body">
                    <h5 class="card-title">{{ workstation.title }}</h5>
                    <p class="card-text">{{ workstation.description }}</p>
                    <a href="{{ workstation.get_absolute_url }}"
                       class="btn btn-primary"
                       data-toggle="tooltip"
                       data-placement="bottom"
                       title="View Workstation">
                        <i class="fa fa-eye"></i>
                    </a>
                    {% get_obj_perms request.user for workstation as "workstation_perms" %}
                    {% if "change_workstation" in workstation_perms %}
                        <a href="{% url 'workstations:update' slug=workstation.slug %}"
                           class="btn btn-primary"
                           data-toggle="tooltip"
                           data-placement="bottom"
                           title="Edit Workstation">
                            <i class="fa fa-edit"></i>
                        </a>
                    {% endif %}
                </div>
            </div>
        {% empty %}
            <p>No workstations available.</p>
        {% endfor %}
    </div>

    {% if perms.workstations.add_workstation %}
        <p class="mt-3">
            <a class="btn btn-primary"
               href="{% url 'workstations:create' %}">
                <i class="fas fa-plus"></i> Add a new workstation
            </a>
        </p>
    {% endif %}
{% endblock %}

{% block script %}
    {{ block.super }}
    {# enable tooltips #}
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
{% endblock %}
