{% extends "base.html" %}
{% load url %}
{% load user_profile_link from profiles %}
{% load naturaldelta %}
{% load guardian_tags %}

{% block title %}
    {{ object }} - {{ object.workstation.title }} - {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'workstations:list' %}">Viewers</a>
        </li>
        <li class="breadcrumb-item"><a
                href="{{ object.workstation.get_absolute_url }}">{{ object.workstation.title }}</a>
        </li>
        <li class="breadcrumb-item active"
            aria-current="page">{{ object }}</li>
    </ol>
{% endblock %}

{% block content %}
    <h2>Viewer Container Image</h2>

    <dl class="inline">
        <dt>ID</dt>
        <dd>{{ object.pk }}</dd>

        <dt>Viewer</dt>
        <dd>
            <a href="{{ object.workstation.get_absolute_url }}">{{ object.workstation.title }}</a>
        </dd>

        <dt>Creator</dt>
        <dd>
            {{ object.creator|user_profile_link }}
        </dd>

        <dt>Created</dt>
        <dd>{{ object.created }}</dd>

        {% if object.image %}
            <dt>Image</dt>
            <dd>{{ object.image.name }}</dd>

            <dt>Image Size</dt>
            <dd>{{ object.image.size|naturalsize }}</dd>
        {% endif %}

        {% if object.image_sha256 %}
            <dt>Image SHA256</dt>
            <dd>{{ object.image_sha256 }}</dd>
        {% endif %}

        <dt>Import Status</dt>
        <dd>
            {% include "workstation/workstationimage_import_status_detail.html" %}
        </dd>

        {% if object.is_manifest_valid is not None %}
        <dt>Image Is Valid</dt>
        <dd>
            <span class="badge badge-{{ object.is_manifest_valid|yesno:'success,danger' }}">
                {{ object.is_manifest_valid }}
            </span>
        </dd>
        {% endif %}

        {% if object.status %}
            <dt>Validation Errors</dt>
            <dd>{{ object.status }}</dd>
        {% endif %}

        <dt>Image Can Be Used</dt>
        <dd>
            <span class="badge badge-{{ object.can_execute|yesno:'success,danger' }}">
                {{ object.can_execute }}
            </span>
        </dd>

        <dt>Initial Path</dt>
        <dd>{{ object.initial_path }}</dd>

        <dt>HTTP Port</dt>
        <dd>{{ object.http_port }}</dd>

        <dt>Websocket Port</dt>
        <dd>{{ object.websocket_port }}</dd>

        <dt>Comment</dt>
        <dd>{{ object.comment }}</dd>

    </dl>

    {% get_obj_perms request.user for object as "image_perms" %}

    {% if "change_workstationimage" in image_perms %}
    <p>
        <a class="btn btn-primary"
           href="{% url 'workstations:image-update' slug=object.workstation.slug pk=object.pk %}">
            <i class="fa fa-edit"></i> Edit the image settings
        </a>

        {% if object.is_desired_version %}
            <a class="btn btn-primary"
                href="{% url 'workstations:image-move' slug=object.workstation.slug pk=object.pk %}">
                <i class="fa fa-file-export"></i> Move image to another Viewer
            </a>
        {% endif %}
    </p>
    {% endif %}

    <h3>Sessions For This Image</h3>

    <ul>
        {% for session in object.session_set.all %}
            <li>
                <a href="{{ session.get_absolute_url }}">{{ session }}, {{ session.get_status_display }}</a>
            </li>
        {% empty %}
            <li>No sessions yet</li>
        {% endfor %}
    </ul>
{% endblock %}
