{% extends "base.html" %}
{% load url %}
{% load user_profile_link from profiles %}
{% load guardian_tags %}

{% block title %}{{ object.slug }} - {{ block.super }}{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fas fa-home"></i></a></li>
        <li class="breadcrumb-item"><a href="{% url 'workstations:list' %}">Workstations</a>
        </li>
        <li class="breadcrumb-item active"
            aria-current="page">{{ object }}</li>
    </ol>
{% endblock %}

{% block content %}
    {% get_obj_perms request.user for object as "workstation_perms" %}

    <h2>{{ object.title }}</h2>

    <p>{{ object.description }}</p>

    {% if "change_workstation" in workstation_perms %}

        <p>
            <a class="btn btn-primary"
               href="{% url 'workstations:update' slug=object.slug %}">
                <i class="fa fa-edit"></i> Edit this workstation
            </a>
        </p>

        <h3>Users</h3>

        <h4>Editors</h4>
        <p>The following users are able to edit and use this workstation:</p>

        <ul>
            {% for user in object.editors_group.user_set.all %}
                <li>{{ user|user_profile_link }}</li>
            {% empty %}
                <li>There are no editors for this workstation</li>
            {% endfor %}
        </ul>

        <p>
            <a class="btn btn-primary"
               href="{% url 'workstations:editors-update' slug=object.slug %}">
                <i class="fa fa-plus"></i> Add an editor for this workstation
            </a>
        </p>

        <h4>Workstation Users Group</h4>
        <p>The following users are able to use this workstation:</p>

        <ul>
            {% for user in object.users_group.user_set.all %}
                <li>{{ user|user_profile_link }}</li>
            {% empty %}
                <li>There are no users in this workstations user group.</li>
            {% endfor %}
        </ul>

        <p>
            <a class="btn btn-primary"
               href="{% url 'workstations:users-update' slug=object.slug %}">
                <i class="fa fa-plus"></i> Add a user for this workstation
            </a>
        </p>

        <h4>Reader Study Groups</h4>

        <p>
            The following reader studies are using this workstation,
            which allows their readers to use this workstation.
        </p>

        {% for rs in object.readerstudy_set.all %}
            <h5>{{ rs }}</h5>
            <ul>
                {% for user in rs.readers_group.user_set.all %}
                    <li>{{ user|user_profile_link }}</li>
                {% empty %}
                    <li>There are no readers for <a
                            href="{{ rs.get_absolute_url }}">{{ rs }}</a>.
                    </li>
                {% endfor %}
            </ul>
        {% empty %}
            <ul>
                <li>No reader studies are using this workstation.</li>
            </ul>
        {% endfor %}

        <h4>Algorithm Groups</h4>

        <p>
            The following algorithms are using this workstation,
            which allows their users to use this workstation.
        </p>

        {% for alg in object.algorithm_set.all %}
            <h5>{{ alg }} Editors</h5>
            <ul>
                {% for user in alg.editors_group.user_set.all %}
                    <li>{{ user|user_profile_link }}</li>
                {% empty %}
                    <li>There are no editors for <a
                            href="{{ alg.get_absolute_url }}">{{ alg }}</a>.
                    </li>
                {% endfor %}
            </ul>

            <h5>{{ alg }} Users</h5>
            <ul>
                {% for user in alg.users_group.user_set.all %}
                    <li>{{ user|user_profile_link }}</li>
                {% empty %}
                    <li>There are no users for <a
                            href="{{ alg.get_absolute_url }}">{{ alg }}</a>.
                    </li>
                {% endfor %}
            </ul>
        {% empty %}
            <ul>
                <li>No algorithms are using this workstation.</li>
            </ul>
        {% endfor %}

        <h3>Container Images</h3>

        <ul>
            {% for image in object.workstationimage_set.all %}
                <li><a href="{{ image.get_absolute_url }}">{{ image }}</a>
                </li>
            {% endfor %}
        </ul>

        <p>
            <a class="btn btn-primary"
               href="{% url 'workstations:image-create' slug=object.slug %}">
                <i class="fa fa-plus"></i> Upload a new container image for
                this workstation
            </a>
        </p>

    {% endif %}

    {% if object.workstationimage_set.count != 0 and "view_workstation" in workstation_perms %}

        <h3>Sessions</h3>

        <form method="post"
              action="{% url 'workstations:session-create' slug=object.slug %}">
            {% csrf_token %}
            <button type="submit"
                    class="btn btn-primary">
                <i class="fas fa-flask"></i> Start a new session
            </button>
        </form>

    {% endif %}
{% endblock %}
