{% load url %}
{% load profiles %}
{% load workstations %}
{% load guardian_tags %}
{% load pathlib %}
{% load humanize %}
{% load remove_whitespace %}

<a class="badge badge-primary"
   href="{% url 'algorithms:job-detail' slug=algorithm.slug pk=job.pk %}"
   title="View result details">
    <i class="fa fa-info-circle"></i>
</a>
<split/>

{{ job.created|naturaltime }}
<split/>

{{ job.creator|user_profile_link }}
<split/>

<a href="#resultInfoModal"
   class="badge
{% if job.status == job.FAILURE or job.status == object.CANCELLED %}
    badge-danger
{% elif job.status == job.RETRY %}
    badge-warning
{% elif job.status == job.SUCCESS %}
    {% if job.stderr %}
        badge-warning
    {% else %}
        badge-success
    {% endif %}
{% else %}
    badge-info
{% endif %}"
   data-toggle="modal"
   data-target="#resultInfoModal"
   data-title="Result Info"
   data-output="
   {% if job.status == job.SUCCESS %}
        {% for output in job.outputs.all %}{% if output.value %}{{ output.value }}{% endif %}{% empty %}No output produced.{% endfor %}
   {% else %}
        {% firstof job.error_message job.get_status_display %}
   {% endif %}"
   data-pk="{{ job.pk }}"
   title="Result Info">
    <i class="fa fa-file"></i>
    {% for input in job.inputs.all %}
        {{ input.image.name }}
    {% endfor %}
    ({{ job.get_status_display }}{% if job.status == job.SUCCESS and job.stderr %}, with warnings{% endif %})
</a>
{% if job.rendered_result_text %}
    {{ job.rendered_result_text|json_script:job.pk }}
{% endif %}
<split/>

{{ job.comment }}
<split/>

{% if job.public %}
    <i class="fa fa-eye text-success"
       title="Result and images are public"></i>
{% else %}
    {% if job.viewers.user_set.all|length > 1 %}
        {# TODO: Hack, we need to exclude the creator rather than checking the length is > 1 #}
        <i class="fa fa-eye text-warning"
           title="Result and images are visible by {{ job.viewers.user_set.all|oxford_comma }}"></i>
    {% else %}
        <i class="fa fa-eye-slash text-danger"
           title="Result and images are private"></i>
    {% endif %}
{% endif %}
<split/>

{% if job.status == job.SUCCESS %}
    <a class="badge badge-primary"
       title="View algorithm result"
       href="{% url 'workstations:workstation-session-create' slug=algorithm.workstation.slug %}?{% workstation_query algorithm_job=job config=algorithm.workstation_config %}">
        <i class="fa fa-eye"></i> Open Result in Viewer
    </a>
{% endif %}
