{% extends "site.html" %}
{% load url from comic_templatetags %}

{% block pagecontent %}

    <h2>Pages for {{ site.short_name }}</h2>

    <table class="table" id="pagesTable">
        <thead>
        <tr>
            <th>Order</th>
            <th>Title</th>
            <th>Display Title</th>
            <th>Visibility</th>
            <th>View</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        {% for page in object_list %}
            <tr>
                <td>
                    {{ page.order }}
                </td>
                <td>
                    <a href="{{ page.get_absolute_url }}">{{ page.title }}</a>
                </td>
                <td>
                    <a href="{{ page.get_absolute_url }}">
                        {% if page.display_title %}
                            {{ page.display_title }}
                        {% else %}
                            {{ page.title }}
                        {% endif %}
                    </a>
                </td>
                <td>
                    {% if page.hidden %}
                        <i class="fa fa-eye-slash text-danger" title="Page is hidden"></i>
                    {% else %}
                        <i class="fa fa-eye text-success" title="Page is visible"></i>
                    {% endif %}
                </td>
                <td>
                    <a href="{{ page.get_absolute_url }}">View {{ page.title }}</a>
                </td>
                <td>
                    <a href="{% url 'pages:update' site.short_name page.title %}">
                        <i class="fa fa-edit" title="Edit Page"></i>
                    </a>
                </td>
                <td>
                    <a href="{% url 'pages:delete' site.short_name page.title %}">
                        <i class="fa fa-trash text-danger" title="Delete Page"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <p><a class="btn btn-primary"
          href="{% url 'pages:create' site.short_name %}">
        <i class="fa fa-plus"></i> Add a new page
    </a></p>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#pagesTable').DataTable({
                "bLengthChange": false,
                "pageLength": 50
            });
        });
    </script>
{% endblock %}
