{% extends "base.html" %}
{% load static %}

{% block style %}
  <link rel="stylesheet"
      href="{% static 'vendor/css/bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css"
      href="https://cdn.datatables.net/v/bs4/dt-1.10.18/b-1.5.4/b-colvis-1.5.4/datatables.min.css"
      crossorigin="anonymous">
  <link href="{% static 'vendor/fa/css/all.css' %}" rel="stylesheet">

  <link rel="stylesheet" href="{% static 'ai_website/css/main.css' %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <style>
    body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
  </style>
{% endblock %}

{% block body %}
  <body class="d-flex flex-column min-vh-100">

    {% block navbar %}
      <nav class="navbar navbar-dark navbar-top navbar-expand-sm bg-dark mb-3">
        <div class="container">
            <a class="navbar-brand mr-md-2 text-capitalize"
               href="{% url 'product_list' %}">
                AI Software in Radiology
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#collapsibleNavbar">
                <div class="navbar-toggler-icon"></div>
            </button>

            <div class="collapse navbar-collapse" id="collapsibleNavbar">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a href="{% url 'product_list' %}" class="nav-link"><i class="fa fa-th-large fa-fw mr-1"></i>Products</a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'company_list' %}" class="nav-link"><i class="fa fa-th-large fa-fw mr-1"></i>Companies</a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'about' %}" class="nav-link"><i class="fa fa-user fa-fw mr-1"></i>About</a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'contact' %}" class="nav-link"><i class="fa fa-envelope fa-fw mr-1"></i>Contact</a>
                </li>
              </ul>
          </div>
        </div>
      </nav>
    {% endblock %}

    <main role="main" class="flex-fill">
        <div id="page" class="container pb-3">


            <nav aria-label="breadcrumb">
                {% block breadcrumbs %}
                {% endblock %}
            </nav>

            {% block outerContent %}
              <div class="row">
                {% block sidebar %}{% endblock %}
                <div class="col">
                  {% block content %}
                  {% endblock %}
                </div>
              </div>
            {% endblock %}
        </div>
    </main>

  <footer class="bg-secondary text-white small">
    <div class="container py-5">
      <div class="row">
        <div class="col-md-4">
          <div class="h4">About</div>
          <div>
            This is an initiative of the <a href="http://diagnijmegen.nl/" title="DIAG" target="_blank">Diagnostic Image Analysis Group</a>,
            part of the Department of Radiology and Nuclear Medicine at the <a href="https://www.radboudumc.nl/en/" title="Radboudumc" target="_blank">Radboud university medical center</a>, Nijmegen, the Netherlands.
          </div>
        </div>

        <div class="col-md-4">
          <div class="h4">Contact</div>
          <div>Radboud University Medical Center </div>
          <div>Geert Grooteplein Zuid 10 </div>
          <div>6525 GA, Nijmegen </div>
          <div>The Netherlands</div>
          <div><a href="mailto:kicky.vanleeuwen@radboudumc.nl">kicky.vanleeuwen@radboudumc.nl</a></div>
        </div>

        <div class="col-md-4">
          <div class="h4">Popular tags</div>
          <div class="small d-inline-block">
            <div class="btn btn-sm btn-square btn-dark mb-1">
              <div class="small">Artificial intelligence</div>
            </div>
            <div class="btn btn-sm btn-square btn-light mb-1">
              <div class="small">Radiology</div>
            </div>
            <div class="btn btn-sm btn-square btn-light mb-1">
              <div class="small">Computer aided detection</div>
            </div>
            <div class="btn btn-sm btn-square btn-light mb-1">
              <div class="small">Machine learning</div>
            </div>
            <div class="btn btn-sm btn-square btn-light mb-1">
              <div class="small">MedTech</div>
            </div>
            <div class="btn btn-sm btn-square btn-light mb-1">
              <div class="small">Innovation</div>
            </div>
            <div class="btn btn-sm btn-square btn-light mb-1">
              <div class="small">Deep learning</div>
            </div>
            <div class="btn btn-sm btn-square btn-light mb-1">
              <div class="small">Nuclear medicine</div>
            </div>
            <div class="btn btn-sm btn-square btn-light mb-1">
              <div class="small">Diagnosis</div>
            </div>
            <div class="btn btn-sm btn-square btn-light mb-1">
              <div class="small">CE</div>
            </div>
            <div class="btn btn-sm btn-square btn-light mb-1">
              <div class="small">FDA</div>
            </div>
            <div class="btn btn-sm btn-square btn-light mb-1">
              <div class="small">Validation</div>
            </div>
            <div class="btn btn-sm btn-square btn-light mb-1">
              <div class="small">Implementation</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-dark text-white">
      <div class="container">
        <div class="text-center py-4">
        Powered by <a href="https://www.radboudumc.nl/en/" title="Radboudumc" target="_blank" class="w3-hover-opacity">
      Radboud University Medical Center</a>
      </dic>
    </div>
  </footer>



  {% block script %}
    {% include "grandchallenge/partials/script.html" %}
  {% endblock %}
{% endblock %}

