{% extends 'products/base.html' %}

{% block title %}
    About
{% endblock %}

{% block content %}
  <header id="contact">
    <a href="#"><img src="/w3images/avatar_g2.jpg" style="width:65px;" class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity"></a>
    <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i class="fa fa-bars"></i></span>
    <div class="w3-container w3-padding-large">
        <h1><b>Team</b></h1>
    </div>
  </header>
  <div class="w3-section w3-padding-16">
  </div>

{% endblock %}