{% extends 'ai_website/base.html' %}

{% block title %}
    AI for radiology
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between align-items-center">
    <h1>Products</h1>
    <div class="">
      <form action="" method="GET">
        <div class="form-row justify-content-end">
          <div class="col-auto">
            <input hidden name="subspeciality" value="{{ selected_subspeciality }}">
            <input hidden name="modality" value="{{ selected_modality }}">
            <input class="form-control" name="search" type="text" placeholder="Search..." value={{ q_search }} >
          </div>
          <div class="col-auto">
            <input type="submit" class="btn btn-dark btn-square" value="Search">
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="mt-2 mb-5">
    <div class="h6">Subspeciality:</div>
    <div class="mb-2">
      {% for subspec in subspecialities %}
        <a href="{% url 'product_list' %}?subspeciality={{ subspec }}&modality={{ selected_modality }}" class="btn btn-square {% if subspec == selected_subspeciality %}btn-dark{% else %}btn-outline-light text-dark{% endif %}">{{ subspec }}</a>
      {% endfor %}
    </div>
    <div class="h6">Modality:</div>
    <div>
      {% for modality in modalities %}
        <a href="{% url 'product_list' %}?subspeciality={{ selected_subspeciality }}&modality={{ modality }}" class="btn btn-square {% if modality == selected_modality %}btn-dark{% else %}btn-outline-light text-dark{% endif %}">{{ modality }}</a>
      {% endfor %}
    </div>
  </div>

  {% include "ai_website/partials/product_list.html" %}

{% endblock %}