{% extends 'ai_website/base.html' %}

{% block title %}
    AI for radiology
{% endblock %}

{% block content %}
    <header id="products">
    <a href="#"><img src="/w3images/avatar_g2.jpg" style="width:65px;" class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity"></a>
    <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i class="fa fa-bars"></i></span>
    <div class="w3-container w3-padding-large">
        <h1><b>Products</b></h1>
        <div class="w3-section w3-padding-16">
          <span class="w3-margin-right">Filter:</span>
            <form method="get">
                {% for q_subspec in q_subspecialities %}
                    {% if q_subspec.selected %}
                        <button type="submit" class="w3-button w3-white w3-black" name="subspeciality" value={{q_subspec.name}} selected>{{q_subspec.name}}</button>
                    {% else %}
                        <button type="submit" class="w3-button w3-white w3-hover-grey" name="subspeciality" value={{q_subspec.name}}>{{q_subspec.name}}</button>
                    {% endif %}
                {% endfor %}
            </form>
            <br>
            <form method="get">
                {% for q_modality in q_modalities %}
                    {% if q_modality.selected %}
                        <button type="submit" class="w3-button w3-white w3-black" name="modality" value={{q_modality.name}} selected>{{q_modality.name}}</button>
                    {% else %}
                        <button type="submit" class="w3-button w3-white w3-hover-grey" name="modality" value={{q_modality.name}}>{{q_modality.name}}</button>
                    {% endif %}
                {% endfor %}
        </div>
        <div class="w3-row w3-bottombar w3-padding-16">
            <form method="get">
                <input name="search" type="text" placeholder="Search..." value={{ q_search }} >
            </form>
        </div>
    </div>
    </header>

      <!-- First Photo Grid-->
    {% for product in products %}
      <div class = "w3-row-padding w3-padding-large">
        <div class="w3-container w3-margin-bottom w3-white">
          <div class="w3-quarter w3-container w3-white">
            <a href="{% url 'company_page' pk=product.pk %}" title= {{product.company.company_name}} target="_blank" class="w3-hover-opacity"> <img src="media/logo/aidence.png" alt="Logo" style="width:100%" class="w3-hover-opacity"></a>
            <div class="w3-white w3-container w3-padding-24">
                <div class="w3-third w3-bar-block w3-center w3-light-grey w3-padding-small">{{product.subspeciality}}</div>
                <div class="w3-third w3-bar-block w3-center w3-light-grey w3-padding-small">{{product.modality}}</div>
            </div>
          </div>
          <div class="w3-half w3-container w3-white">
            <p>{{product.company.company_name}}</p>
            <p><b>{{product.product_name}}</b></p>
            <div class="w3-text-grey">
              <p>{{product.key_features}}</p></div>
            <p>{{product.description}}</p>
            <div class="w3-white w3-padding-24">
                <a href="{% url 'product_page' pk=product.pk %}" title="{{product.product_name}}" target="_blank"><button class="w3-button w3-teal w3-padding-medium w3-hover-black">Read more</button></a>
            </div>
          </div>
          <div class="w3-quarter w3-container w3-light-grey">
            <p><b>CE:</b> approved, level IIa</p>
            <p><b>FDA:</b> 510(k) cleared</p>
            <p><b>Verified by user:</b> yes</p>
            <p><b>Last updated:</b> {{product.modified_date}}</p>
          </div>
        </div>
      </div>
    {% endfor %}

      <!-- Pagination -->
    {% if is_paginated %}
        <div class="w3-center w3-padding-32">
            <div class="w3-bar">
                <div class="pagination">
                {% if page_obj.has_previous %}
                  <a href="?page={{ page_obj.previous_page_number }}" class="w3-bar-item w3-button w3-hover-grey">&laquo;</a>
                {% else %}
                  <div class="w3-bar-item"><span>&laquo;</span></div>
                {% endif %}
                {% for i in page_obj.paginator.page_range %}
                  {% if page_obj.number == i %}
                    <div class="w3-bar-item w3-black w3-button" ><span>{{ i }} <span class="sr-only" >(current)</span></span></div>
                  {% else %}
                    <a href="?page={{ i }}" class="w3-bar-item w3-button w3-hover-grey">{{ i }}</a>
                  {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                  <a href="?page={{ page_obj.next_page_number }}" class="w3-bar-item w3-button w3-hover-grey">&raquo;</a>
                {% else %}
                  <div class="w3-bar-item"><span>&raquo;</span></div>
                {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
<!--    <div class="w3-center w3-padding-32">-->
<!--        <div class="w3-bar">-->
<!--          <a href="#" class="w3-bar-item w3-button w3-hover-black">«</a>-->
<!--          <a href="#" class="w3-bar-item w3-black w3-button">1</a>-->
<!--          <a href="#" class="w3-bar-item w3-button w3-hover-black">2</a>-->
<!--          <a href="#" class="w3-bar-item w3-button w3-hover-black">3</a>-->
<!--          <a href="#" class="w3-bar-item w3-button w3-hover-black">4</a>-->
<!--          <a href="#" class="w3-bar-item w3-button w3-hover-black">»</a>-->
<!--        </div>-->
<!--    </div>-->
{% endblock %}


<script>
function myFunction() {
  document.getElementById("demo").style.backgroundColor = "grey";
}
</script>