{% extends "site.html" %}
{% load url from grandchallenge_tags %}
{% load user_profile_link from profiles %}

{% block contentTitle %}
    <h2>Users</h2>
{% endblock %}

{% block pagecontent %}

    <div class="table-responsive">
        <table class="table table-sm" id="usersTable">
            <thead>
            <tr>
                <th>Username</th>
                <th>Name</th>
                <th>Email</th>
                <th>Institution</th>
                <th>Department</th>
                <th>Country</th>
                <th>Website</th>
                {% block tableExtraHeaders %}
                {% endblock tableExtraHeaders %}
            </tr>
            </thead>
            <tbody>

            {% for user in object_list %}

                <tr>
                    <td>
                        {{ user|user_profile_link }}
                    </td>
                    <td>
                        {{ user.get_full_name }}
                    </td>
                    <td>
                        {{ user.email }}
                    </td>
                    <td>
                        {{ user.user_profile.institution }}
                    </td>
                    <td>
                        {{ user.user_profile.department }}
                    </td>
                    <td>
                        {{ user.user_profile.country.name }}
                    </td>
                    <td>
                        <a href="{{ user.user_profile.website }}">
                            {{ user.user_profile.website }}
                        </a>
                    </td>
                    {% block tableExtraBody %}
                    {% endblock tableExtraBody %}
                </tr>

            {% endfor %}

            </tbody>

        </table>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#usersTable').DataTable({
                "bLengthChange": false,
                "pageLength": 50,
                "columnDefs": [{
                    "targets": [6],
                    "searchable": false,
                    "orderable": false
                }]
            });
        });
    </script>
{% endblock %}
