{% load pathlib %}

<ul class="list-unstyled mb-0">
  {% for file in civ.image.files.all %}
    <li>
        <a class="badge badge-primary"
            href="{{ file.file.url }}"
            title="{{ civ.interface.title }}"
        >
        <i class="fas fa-fw fa-download"></i>
        {% if display_inline %}
            Download {{ civ.interface.title|truncatechars:64 }}:
            {{ civ.image.name|name|truncatechars:30 }}
        {% else %}
            Download {{ civ.interface.title }}:
            {{ civ.image.name|stem}}
            ({{ file.file|suffix }})
        {% endif %}
        </a>
    </li>
  {% endfor %}
</ul>
