{% load pathlib %}
{% load copy_button %}

<ul class="list-unstyled mb-0">
  {% for file in civ.image.files.all %}
    <li>
        <span>
            <a class="badge badge-primary"
                href="{{ file.file.url }}"
                title="{{ civ.interface.title }}"
            >
            <i class="fas fa-fw fa-download"></i>
            {% if display_inline %}
                {{ civ.interface.title|truncatechars:64 }}:
                {{ civ.image.name|stem|truncatechars:32 }}
            {% else %}
                {{ civ.interface.title }}:
                {{ civ.image.name|stem }}
            {% endif %}
            ({{ file.file|suffix }})
            </a>
            {% copy_button_only value=civ.image.pk title="Copy image pk to clipboard" %}
        </span>
    </li>
  {% endfor %}
</ul>
