repos:
    - repo: https://github.com/adamchainz/django-upgrade
      rev: 1.15.0
      hooks:
          - id: django-upgrade
            args: [--target-version, "4.2"]
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.5.0
      hooks:
          - id: check-docstring-first
          - id: debug-statements
          - id: end-of-file-fixer
          - id: mixed-line-ending
          - id: trailing-whitespace
    - repo: https://github.com/pycqa/isort
      rev: 5.13.2
      hooks:
          - id: isort
    - repo: https://github.com/asottile/pyupgrade
      rev: v3.15.0
      hooks:
          - id: pyupgrade
            language: python
            args: [--py311-plus]
    - repo: https://github.com/ambv/black
      rev: 24.1.1
      hooks:
          - id: black
            language: python
    - repo: https://github.com/PyCQA/flake8
      rev: 7.0.0
      hooks:
          - id: flake8
            language: python
            additional_dependencies:
                - flake8-bugbear!=24.4.21
                - pep8-naming
                - flake8-docstrings
                - mccabe
                - flake8-tidy-imports
    - repo: https://github.com/thibaudcolas/curlylint
      rev: v0.13.1
      hooks:
          - id: curlylint
    - repo: https://github.com/rbubley/mirrors-prettier
      rev: v3.3.3
      hooks:
          - id: prettier
    - repo: https://github.com/pre-commit/mirrors-eslint
      rev: v9.9.0
      hooks:
          - id: eslint
            args: ["--max-warnings", "0", "--no-warn-ignored"] #, '--fix']
            additional_dependencies:
                - eslint@9.9.0
                - "@eslint/js@9.9.0"
                - eslint-config-prettier@9.1.0
                - globals@15.9.0
