repos:
    - repo: https://github.com/adamchainz/django-upgrade
      rev: 1.15.0
      hooks:
          - id: django-upgrade
            args: [--target-version, "4.2"]
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.5.0
      hooks:
          - id: check-docstring-first
          - id: debug-statements
          - id: end-of-file-fixer
            exclude: ^app/grandchallenge/core/static/npm_vendored/.*$
          - id: mixed-line-ending
            exclude: ^app/grandchallenge/core/static/npm_vendored/.*$
          - id: trailing-whitespace
            exclude: ^app/grandchallenge/core/static/npm_vendored/.*$
    - repo: https://github.com/pycqa/isort
      rev: 5.13.2
      hooks:
          - id: isort
    - repo: https://github.com/asottile/pyupgrade
      rev: v3.15.0
      hooks:
          - id: pyupgrade
            language: python
            args: [--py311-plus]
    - repo: https://github.com/ambv/black
      rev: 24.1.1
      hooks:
          - id: black
            language: python
    - repo: https://github.com/PyCQA/flake8
      rev: 7.0.0
      hooks:
          - id: flake8
            language: python
            additional_dependencies:
                - flake8-bugbear!=24.4.21
                - pep8-naming
                - mccabe
                - flake8-tidy-imports
    - repo: https://github.com/thibaudcolas/curlylint
      rev: v0.13.1
      hooks:
          - id: curlylint
    - repo: https://github.com/biomejs/pre-commit
      rev: v0.4.0
      hooks:
          - id: biome-check
            language_version: lts
            additional_dependencies: ["@biomejs/biome@^1.8.3"]
