version: '2.3'

services:

  postgres:
    image: postgres:11
    environment: &postgresenv
      POSTGRES_PASSWORD: secretpassword
      POSTGRES_USER: grandchallenge
      POSTGRES_DB: grandchallenge
    ports:
      - "5432:5432" # Only required for running django locally
    tmpfs:
      - /var/lib/postgresql/data/
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "grandchallenge"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: always

  minio-private:
    # This is for private data, should not be exposed to the public
    image: minio/minio
    environment:
      MINIO_ACCESS_KEY: minioprivate
      MINIO_SECRET_KEY: minioprivate12345
    entrypoint: "/bin/sh"
    command: >-
      -c "
      mkdir -p /data/grand-challenge-private/
      && minio --compat server /data
      "
    restart: always

  minio-protected.localhost:
    # This is for protected data, should only be exposed via an internal link
    # in nginx
    image: minio/minio
    environment:
      MINIO_ACCESS_KEY: minioprotected
      MINIO_SECRET_KEY: minioprotected12345
    ports:
      - "9081:9081"
    entrypoint: "/bin/sh"
    command: >-
      -c "
      mkdir -p /data/grand-challenge-protected/
      && minio --compat server --address :9081 /data
      "
    restart: always

  minio-public:
    # This is for public data and is directly exposed to the internet (in dev)
    image: minio/minio
    environment:
      MINIO_ACCESS_KEY: miniopublic
      MINIO_SECRET_KEY: miniopublic12345
    ports:
      - "9000:9000"
    entrypoint: "/bin/sh"
    command: >-
      -c "
      mkdir -p /data/grand-challenge-public/
      && minio --compat server /data
      "
    restart: always

  web:
    image: grandchallenge/web-test:latest
    environment:
      <<: *postgresenv
      <<: &private_storage_credentials
        PRIVATE_S3_STORAGE_ACCESS_KEY: minioprivate
        PRIVATE_S3_STORAGE_SECRET_KEY: minioprivate12345
        PRIVATE_S3_STORAGE_ENDPOINT_URL: http://minio-private:9000
      <<: &protected_storage_credentials
        PROTECTED_S3_STORAGE_ACCESS_KEY: minioprotected
        PROTECTED_S3_STORAGE_SECRET_KEY: minioprotected12345
        PROTECTED_S3_STORAGE_ENDPOINT_URL: http://minio-protected.localhost:9081
      PUBLIC_S3_STORAGE_ACCESS_KEY: miniopublic
      PUBLIC_S3_STORAGE_SECRET_KEY: miniopublic12345
      PYTHONDONTWRITEBYTECODE: 1
    # Use werkzeug debugger in dev, this should never be used in production!
    # https://django-extensions.readthedocs.io/en/latest/runserver_plus.html
    command: >-
      bash -c "
      python manage.py migrate
      && python manage.py init_gc_demo
      && python manage.py runserver_plus 0.0.0.0:8000 --nopin
      "
    restart: always
    depends_on:
      postgres:
        condition: service_healthy
      minio-private:
        condition: service_started
      minio-protected.localhost:
        condition: service_started
      minio-public:
        condition: service_started
      redis:
        condition: service_started
    volumes:
      # Bind the app directory for live reloading in development
      - type: bind
        source: ./app
        target: /app/
      # The docker socket is only needed for testing
      - type: bind
        source: /var/run/docker.sock
        target: /var/run/docker.sock
    group_add:
      - ${DOCKER_GID-1001} # The docker group is only needed for testing

  http:
    image: grandchallenge/http:latest
    environment:
      SERVER_NAME: gc.localhost
      SENDFILE_STATUS: 'off'
      WORKSTATION_PROXY_HOSTNAME: 'workstation-proxy'
      WORKSTATION_PROXY_HTTP_PORT: '8000'
      WORKSTATION_PROXY_WEBSOCKET_PORT: '8001'
    command: >-
        bash -c "envsubst '$$SERVER_NAME $$SENDFILE_STATUS $$WORKSTATION_PROXY_HOSTNAME $$WORKSTATION_PROXY_HTTP_PORT $$WORKSTATION_PROXY_WEBSOCKET_PORT' < /tmp/nginx.conf.template > /etc/nginx/nginx.conf
        && openssl req -x509 -newkey rsa:4096 -keyout /etc/ssl/private/privkey.pem -out /etc/ssl/certs/fullchain.pem -days 365 -nodes -subj '/CN=$$SERVER_NAME'
        && nginx -g 'daemon off;'"
    restart: always
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      web:
        condition: service_started
      workstation-proxy:
        condition: service_started

  redis:
    image: redis:5.0
    command: redis-server --appendonly yes
    restart: always
    ports:
      - "6379:6379" # Only required for running django locally

  celery_worker:
    image: grandchallenge/web-test:latest
    environment:
      <<: *postgresenv
      <<: *private_storage_credentials
      <<: *protected_storage_credentials
      PYTHONDONTWRITEBYTECODE: 1
      WORKSPACES_SECRET_KEY: "${WORKSPACES_SECRET_KEY-}"
    restart: always
    command: "celery -A config worker -l info -c 1"
    scale: 1
    hostname: "celery-worker"
    depends_on:
      web:
        condition: service_started
      postgres:
        condition: service_healthy
      redis:
        condition: service_started
    volumes:
      # Bind the app directory for live reloading in development
      - type: bind
        source: ./app
        target: /app/

  celery_worker_evaluation:
    image: grandchallenge/web-test:latest
    environment:
      <<: *postgresenv
      <<: *private_storage_credentials
      <<: *protected_storage_credentials
      PYTHONDONTWRITEBYTECODE: 1
    restart: always
    command: "celery -A config worker -l info -Q evaluation,images,workstations-eu-central-1 -c 1"
    scale: 1
    hostname: "celery-worker-evaluation"
    depends_on:
      web:
        condition: service_started
      postgres:
        condition: service_healthy
      redis:
        condition: service_started
    volumes:
      # The docker socket is only needed for testing
      - type: bind
        source: /var/run/docker.sock
        target: /var/run/docker.sock
      # Bind the app directory for live reloading in development
      - type: bind
        source: ./app
        target: /app/
    group_add:
      - ${DOCKER_GID-1001}

  celery_worker_gpu:
    image: grandchallenge/web-test:latest
    environment:
      <<: *postgresenv
      <<: *private_storage_credentials
      <<: *protected_storage_credentials
      PYTHONDONTWRITEBYTECODE: 1
    restart: always
    command: "celery -A config worker -l info -Q gpu -c 1"
    scale: 1
    hostname: "celery-worker-gpu"
    depends_on:
      web:
        condition: service_started
      postgres:
        condition: service_healthy
      redis:
        condition: service_started
    volumes:
      # The docker socket is only needed for testing
      - type: bind
        source: /var/run/docker.sock
        target: /var/run/docker.sock
      # Bind the app directory for live reloading in development
      - type: bind
        source: ./app
        target: /app/

  celery_beat:
    image: grandchallenge/web-test:latest
    environment:
      <<: *postgresenv
    restart: always
    command: >-
        bash -c "
        rm -f /tmp/celerybeat.pid
        && celery -A config beat -l info --scheduler django_celery_beat.schedulers:DatabaseScheduler --pidfile=\"/tmp/celerybeat.pid\"
        "
    depends_on:
      web:
        condition: service_started
      postgres:
        condition: service_healthy
      redis:
        condition: service_started

  workstation-proxy:
    image: traefik:2.1
    ports:
      - "8081:8081"
      - "9101:9101"
    command:
      - "--entrypoints.traefik.address=:8081"
      - "--entrypoints.metrics.address=:9101"
      - "--entrypoints.workstation-http.address=:8000"
      - "--entrypoints.workstation-websocket.address=:8001"
      - "--api=true"
      - "--api.insecure=true"
      - "--ping=true"
      - "--ping.entryPoint=traefik"
      - "--metrics.prometheus=true"
      - "--metrics.prometheus.entryPoint=metrics"
      - "--accesslog=true"
      - "--providers.docker=true"
      - "--providers.docker.endpoint=unix:///var/run/docker.sock"
      - "--providers.docker.exposedByDefault=false"
      - "--providers.docker.network=workstations"
    volumes:
      # So that Traefik can listen to the Docker events
      - type: bind
        source: /var/run/docker.sock
        target: /var/run/docker.sock
    networks:
      - default
      - workstations

  flower:
    image: mher/flower
    environment:
      - CELERY_BROKER_URL=redis://redis:6379/0
    ports:
      - "5555:5555"
    depends_on:
      redis:
        condition: service_started
    restart: always

networks:
  default:
  workstations:
