[[source]]
verify_ssl = true
url = "https://pypi.python.org/simple"
name = "pypi"

[dev-packages]
pytest-django = "*"
pytest-cov = "*"
pytest-mock = "*"
factory-boy = "*"
django-debug-toolbar = "*"
black = "==18.6b4"
sphinx-autobuild = "*"
sphinx = "*"
pydot = "*"

[packages]
boto3 = "==1.9.97"
celery = "*"
django = "<2.2"
django-celery-beat = "*"
django-celery-email = "*"
django-celery-results = "*"
django-cors-headers = "*"
django-filter = "*"
djangorestframework = "*"
django-storages = "*"
drf-yasg = "*"
gunicorn = "*"
kubernetes = "*"
"psycopg2" = "*"
python-memcached = "*"
pytz = "*"
raven = "*"
redis = "*"
social-auth-app-django = "*"
swagger_spec_validator = "*"
whitenoise = "*"
django-guardian = "*"
django-environ = "*"
django-extensions = "*"
