[[source]]
verify_ssl = true
url = "https://pypi.python.org/simple"
name = "pypi"

[dev-packages]
pytest-django = "*"
pytest-cov = "*"
pytest-mock = "*"
factory-boy = "*"
django-debug-toolbar = "*"
black = "==18.3a2"
sphinx-autobuild = "*"
sphinx = "*"

[packages]
"beautifulsoup4" = "*"
celery = "*"
django = "<2.1"
django-countries = "*"
django-crispy-forms = "*"
django-userena-ce = "*"
djangorestframework = "*"
docker = "*"
jsonpath-rw = "*"
matplotlib = "*"
mysqlclient = "*"
"oauth2" = "*"
python-magic = "*"
python-memcached = "*"
pytz = "*"
social-auth-app-django = "*"
xlrd = "*"
gunicorn = "*"
django-ckeditor = "==5.4.0"
raven = "*"
django-celery-email = "*"
nbconvert = "*"
