[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"

[tool.black]
line-length = 79
target-version = ['py38']

[tool.poetry]
name = "grand-challenge.org"
version = "0.1.0"
description = "A framework to objectively evaluate the performance of machine learning algorithms in biomedical imaging"
authors = ["James Meakin <code@jmsmkn.com>"]
packages = [
    { include = "app" },
]

[tool.poetry.dependencies]
python = "^3.8"
"beautifulsoup4" = "*"
celery = "*"
redis = "*"
django = "<3.1"
django-countries = "*"
django-crispy-forms = "*"
django-userena-ce = "*"
djangorestframework = "*"
docker = "*"
"oauth2" = "*"
python-magic = "*"
python-memcached = "*"
pytz = "*"
social-auth-app-django = "*"
gunicorn = "*"
django-celery-email = "*"
simpleitk = "*"
django-celery-beat = "*"
django-favicon-plus = "*"
"psycopg2" = "*"
"django-select2" = "*"
django-celery-results = "*"
django-summernote = "*"
bleach = "*"
jsonschema = "*"
tldextract = "*"
tifffile = "==2019.1.4"
django-autocomplete-light = "*"
django-storages = "*"
boto3 = "*"
whitenoise = "*"
brotli = "*"
djangorestframework-guardian = "*"
django-extensions = "*"
django-simple-history = "*"
sentry-sdk = "*"
django-cors-headers = "*"
pyvips = "*"
django-speedinfo = "*"
drf-yasg = {version = "*", extras = ["validation"]}
pydicom = "*"
docutils = "0.15.2" # We do not depend on this directly, but required for Boto resolution
scikit-learn = "==0.22.1"

[tool.poetry.dev-dependencies]
pytest-django = "*"
pytest-cov = "*"
pytest-mock = "*"
factory-boy = "*"
django-debug-toolbar = "*"
black = "==19.10b0"
sphinx-autobuild = "*"
sphinx = "*"
pyupgrade = "*"
pytest-xdist = "*"
sphinx-autodoc-typehints = "*"
werkzeug = "*"
sphinx-rtd-theme = "*"
flake8 = "*"
flake8-bugbear = "*"
flake8-import-order = "*"
pep8-naming = "*"
flake8-docstrings = "*"
mccabe = "*"
