beautifulsoup4==4.4.0
django==1.8.18
django-countries==3.3
django-userena==1.5.1
dropbox==2.2.0
matplotlib==2.0.2
mysqlclient==1.3.10
oauth2==1.9.0.post1
python-memcached==1.58
social-auth-app-django==1.2.0
python-social-auth==0.2.21
rollbar==0.13.11
xlrd==0.9.4
