{% extends "admin/base.html" %}
{% load i18n %}
{% load comic_templatetags %}

{% block title %}{{ title }} | {% trans 'Django site admin' %}{% endblock %}

{% block messages %}
        {% if messages %}
        
        <ul class="messagelist">{% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
           {% if 'safe' in message.tags %}{{ message|safe }}
           {% else %} {{ message }}          
           {% endif %}
          </li>
        {% endfor %}</ul>
        {% endif %}
{% endblock messages %}


{% block branding %}
{% if site %}
    <p>{{ site.short_name }} Admin <a href="{%url 'comicsite.views.site' site.short_name %}">(back to {{ site.short_name }})</a></p>
{% else %}
    <p>Root Admin <a href="/">(back to main)</a></p>
{% endif %}

{% endblock %}

{% block nav-global %}{% endblock %}
