{% extends MACHINA_BASE_TEMPLATE_NAME %}
{% load static %}
{% load i18n %}
{% load forum_permission_tags %}
{% load forum_extras %}
{% load guardian_tags %}

{% block title %}{% block sub_title %}{% endblock sub_title %} - {{ request.site.name }} Forums{% endblock title %}

{% block css %}
{{ block.super }}
    <link rel="stylesheet" href="{% static 'css/machina.board_theme.min.css' %}" />
{% endblock css %}

{% block body %}
    {% include "grandchallenge/partials/navbar.html" with hide_userlinks=False %}
    {% if forum.challenge %}
        <div class="container-fluid bg-primary">
            <div class="container">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'challenges:list' %}">Challenges</a></li>
                        <li class="breadcrumb-item"><a href="{{ forum.challenge.get_absolute_url }}">
                            {% firstof forum.challenge.title forum.challenge.short_name %}</a></li>
                        <li class="breadcrumb-item"><a
                            href="{% url 'forum:forum' forum.slug forum.id %}">Forum</a></li>
                        {% if topic %}
                            <li class="breadcrumb-item"><a
                                href="{% url 'forum_conversation:topic' forum.slug forum.id topic.slug topic.id %}">{{ topic.subject }}</a>
                            </li>
                        {% endif %}
                    </ol>
                </nav>
            </div>
        </div>
    {% else %}
        {% include "partials/breadcrumb.html" %}
    {% endif %}
    <div class="container pb-3 mt-3">
        {% block outer_content %}
            {% block messages %}
                {% if forum.challenge %}
                    {% include 'challenges/challenge_banner.html' with challenge=forum.challenge %}
                {% endif %}
                {% include "grandchallenge/partials/messages.html" %}
            {% endblock %}
            {% if forum.challenge %}
                {% block topbar %}
                    {% get_obj_perms request.user for forum.challenge as "user_perms" %}
                    {% is_participant request.user forum.challenge as is_challenge_participant %}
                    {% include 'challenges/challenge_topbar.html' with challenge=forum.challenge challenge_perms=user_perms user_is_participant=is_challenge_participant %}
                {% endblock %}
            {% endif %}
        {% endblock %}

        <div class="row">
            <div class="col-12">
                <div class="float-right controls-link-wrapper">
                    {% if not request.user.is_anonymous %}
                        <a href="{% url 'notifications:follow-list' %}" class="d-inline-block ml-3"><i class="fas fa-bookmark">&nbsp;</i>{% trans "Subscriptions" %}</a>
                        <a href="{% url 'forum_member:user_posts' request.user.id %}" class="d-inline-block ml-3"><i class="fas fa-comments">&nbsp;</i>{% trans "View my posts" %}</a>
                    {% endif %}
                    {% get_permission 'can_access_moderation_queue' request.user as can_access_moderation_queue %}
                    {% if can_access_moderation_queue %}
                        <a href="{% url 'forum_moderation:queue' %}" class="d-inline-block ml-3"><i class="fas fa-gavel">&nbsp;</i>{% trans "Moderation queue" %}</a>
                    {% endif %}
                </div>
            </div>
        </div>

        {% block content %}
        {% endblock content %}
    </div>
{% endblock %}

{% block js %}
<script src="{% static 'js/machina.min.js' %}" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
  $(function() {
    machina.init();
    {% block onbodyload %}{% endblock onbodyload %}
  });
</script>
{% endblock js %}
