{% extends "machina/board_base.html" %}
{% load static %}

{% block title %}{% block sub_title %}{% endblock sub_title %} - {{ request.site.name }} Forums{% endblock title %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/machina.board_theme.min.css' %}" />
{% endblock css %}

{% block header %}
    {% include "grandchallenge/partials/navbar.html" with hide_userlinks=False %}
    {% include "partials/breadcrumb.html" %}
{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block js %}
<script src="{% static 'js/machina.min.js' %}" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
  $(function() {
    machina.init();
    {% block onbodyload %}{% endblock onbodyload %}
  });
</script>
{% endblock js %}
