{% extends "base.html" %}
{% load url %}
{% load static %}
{% load bleach %}

{% block title %}
    {{ flatpage.title }} - {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">{{ flatpage.title }}</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="row mb-4">
        <div class="col-12 col-sm-6">
            <h1>{{ flatpage.title }}</h1>
        </div>
        <div class="d-inline-block col-12 col-sm-6 text-left text-sm-right">
            {% if 'flatpages.add_flatpage' in perms %}
                <a class="btn btn-md btn-dark mr-2 mt-2" href="{% url 'flatpages:create' %}">Add flatpage</a>
            {% endif %}
            {% if 'flatpages.change_flatpage' in perms %}
                <a class="btn btn-md btn-dark mt-2" href="{% url 'flatpages:update' pk=flatpage.pk %}">Edit flatpage</a>
            {% endif %}
        </div>
    </div>

    {{ flatpage.content|md2html }}
{% endblock %}
