{% extends "base.html" %}
{% load url %}
{% load crispy from crispy_forms_tags %}
{% load static %}

{% block title %}
    {{ object|yesno:"Update,Create Flatpage" }} {% if flatpage %} - {{ flatpage.title }} {% endif %} - {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        {% if flatpage %}
            <li class="breadcrumb-item"><a href="{{ flatpage.url }}">{{ flatpage.title }}</a></li>
        {% endif %}
        <li class="breadcrumb-item active">{{ object|yesno:"Update,Create Flatpage" }}</li>
    </ol>
{% endblock %}

{% block content %}
    <h2>{% if flatpage %}Update{% else %}Create{% endif %} Flatpage</h2>
    {% crispy form %}
{% endblock %}

{% block script %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "js/unsavedform.js" %}"></script>
{% endblock %}
