{% load static %}
{% load url %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        {% block meta %}
            {% include "grandchallenge/partials/meta.html" %}
        {% endblock %}

        {% block meta_social %}
            {% include "grandchallenge/partials/meta_social.html" %}
        {% endblock %}

        <title>
            {% block title %}{{ request.site.name }}{% endblock %}
            {% block head_title %}
                {# Block used by django-allauth #}
            {% endblock head_title %}
        </title>
    {% endblock %}

    {% block head_script %}
        {% include "grandchallenge/partials/head_script.html" %}
    {% endblock %}

    {% block extra_head %}
        {# Block used by django-allauth #}
    {% endblock extra_head %}

    {% block style %}
        {% include "grandchallenge/partials/style.html" %}
    {% endblock %}
</head>

<body class="d-flex flex-column min-vh-100">

{% block body %}
    {# Block used by django-allauth #}

    {% include "grandchallenge/partials/newsletter_signup_modal.html" %}

    {% block navbar %}
        {% include "grandchallenge/partials/navbar.html" with hide_userlinks=False %}
    {% endblock %}

    <div class="container-fluid bg-primary">
        <div class="container">
            <nav aria-label="breadcrumb">
                {% block breadcrumbs %}
                {% endblock %}
            </nav>
        </div>
    </div>

    <main role="main" class="flex-fill">

        {% block jumbotron %}
            {% include "grandchallenge/partials/jumbotron.html" %}
        {% endblock %}

        <div class="{% block container %}container{% endblock %} pb-3 mt-3">

            {% block messages %}
                {% block challenge_banner %}
                    {% include 'challenges/challenge_banner.html' %}
                {% endblock %}
                <div id="messages">
                    {% include "grandchallenge/partials/messages.html" %}
                </div>
                {% include "grandchallenge/partials/debug_statement.html" %}
            {% endblock %}

            {% block outer_content %}
                {% block topbar %}
                    {% include 'challenges/challenge_topbar.html' %}
                {% endblock %}
                <div class="row">
                    {% block sidebar %}{% endblock %}
                    <div class="col overflow-auto">
                        {% block content %}
                            {# Block used by us and django-allauth #}
                        {% endblock %}
                    </div>
                </div>
            {% endblock %}
        </div>

        {% block post_content %}
        {% endblock %}
    </main>
{% endblock %}

{% block extra_body %}
    {# Block used by django-allauth #}
{% endblock %}

{% block footer %}
    {% include "grandchallenge/partials/footer.html" %}
{% endblock %}

{% block script %}
    {% include "grandchallenge/partials/script.html" %}
    {% include "timezones/partials/detect_timezone.html" %}

    {% if request.user.is_authenticated and request.user.user_profile.receive_newsletter == None %}
        <script type="module" src="{% static 'js/newsletter_modal.mjs' %}"></script>
    {% endif %}

{% endblock %}
</body>
</html>
