{% load static %}
{% load url %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        {% block meta %}
            {% include "grandchallenge/partials/meta.html" %}
        {% endblock %}

        <title>
            {% block title %}{{ request.site.name }}{% endblock %}
        </title>

        {% block head_script %}
            {% include "grandchallenge/partials/head_script.html" %}
        {% endblock %}

        {% block style %}
            {% include "grandchallenge/partials/style.html" %}
        {% endblock %}
    {% endblock %}
</head>

{% block body %}
    <body class="d-flex flex-column min-vh-100">

    {% block navbar %}
        {% include "grandchallenge/partials/navbar.html" with hide_userlinks=challenge.hide_signin %}
    {% endblock %}

    <main role="main" class="flex-fill">
        <div id="page" class="container pb-3">

            {% block messages %}
                {% include "grandchallenge/partials/messages.html" %}
            {% endblock %}

            <nav aria-label="breadcrumb">
                {% block breadcrumbs %}
                {% endblock %}
            </nav>

            {% block jumbotron %}{% endblock %}

            {% block outerContent %}
                <div class="my-3 p-3 bg-white rounded shadow-sm">
                    <div class="row">
                        {% block sidebar %}{% endblock %}
                        <div class="col overflow-auto">
                            {% block content %}{% endblock %}
                        </div>
                    </div>
                </div>
            {% endblock %}
        </div>
    </main>

    {% block footer %}
        {% include "grandchallenge/partials/footer.html" %}
    {% endblock %}

    {% block script %}
        {% include "grandchallenge/partials/script.html" %}
    {% endblock %}

    </body>
{% endblock %}
</html>
