{% load static %}
{% load grandchallenge_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        {% block meta %}
            {% include "grandchallenge/partials/meta.html" %}
        {% endblock %}

        <title>
            {% block title %}{{ main_challenge_name }}{% endblock %}
        </title>

        {% block head_script %}
            {% include "grandchallenge/partials/head_script.html" %}
        {% endblock %}

        {% block style %}
            {% include "grandchallenge/partials/style.html" %}
        {% endblock %}
    {% endblock %}
</head>

<body class='bg-light'>

{% block navbar %}
    {% include "grandchallenge/partials/navbar.html" %}
{% endblock %}

<main role="main">

    <div id="messagescontainer" class="container mt-3">
        {% block messages %}
            {% if messages %}
                <div class="messagelist">
                    {% for message in messages %}
                        <div class="alert alert-{{ message.level_tag }}">
                            {% if 'safe' in message.tags %}
                                {{ message | safe }}
                            {% else %}
                                {{ message }}
                            {% endif %}
                            <button type="button" class="close"
                                    data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endblock %}
    </div>

    <div id="page"
         class="{% block containerType %}container{% endblock %} mt-3">

        {% block jumbotron %}{% endblock %}

        <div class="row">

            {% block challengeNav %}
                <div class="col-12 col-md-3 col-xl-2 mb-3">
                    <div class="card sidebar">
                        {% if not site.banner %}
                            <div class="card-body">
                                <h1 class="mb-0">
                                    <a href="{{ site.get_absolute_url }}">
                                        {% firstof site.title site.short_name %}
                                    </a>
                                </h1>
                            </div>
                        {% endif %}
                        <div class="card-body p-0">
                            <ul class="nav flex-column">
                                {% block topmenu %} {% endblock %}
                                {% block sitemenuloginbutton %} {% endblock %}
                                {% block adminbutton %} {% endblock %}
                            </ul>
                        </div>
                    </div>
                </div>
            {% endblock %}

            <div id="mainContent" class="mb-3 col-12
            {% block mainContentSizeClasses %}
                col-md-9 col-xl-10
            {% endblock %}
            ">
                <div class="card shadow-sm">
                    <div class="card-body">
                        {% block content %} content {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- page -->
{% block footer %}
    <footer class="footer">
        <div class="container">
            <hr>
            <div class="row">
                <div class="col">
                    <a class="text-muted"
                       href="https://github.com/comic/grand-challenge.org"
                       title="Join us on Github">
                        <i class="fab fa-github"></i></a>
                </div>
                <div class="col small text-muted text-right text-capitalize text-nowrap">
                    &copy; 2012-{% now "Y" %} {{ main_challenge_name }}
                </div>

            </div>
        </div>
    </footer>
{% endblock %}

{% block script %}
    {% include "grandchallenge/partials/script.html" %}

    {% block postjs %}
        {# For displaying equations on the site, the safe config is important #}
        <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML,Safe'
                async></script>

        {# geocharts #}
        <script type="text/javascript"
                src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript"
                src="{% static "js/render_geocharts.js" %}"></script>

        {# make the tables sortable #}
        <script type="text/javascript"
                src="{% static "js/sort_tables.js" %}"></script>
        {# render embeddable google forums #}
        <script type="text/javascript"
                src="{% static "js/embed_forums.js" %}"></script>
    {% endblock %}
{% endblock %}

</body>
</html>
