{% extends "base.html" %}
{% load url %}
{% load guardian_tags %}
{% load admin_urls %}
{% load static %}

{% block title %} {% firstof challenge.title challenge.short_name %} - {{ block.super }} {% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a
                href="{% url 'challenges:list' %}">Challenges</a>
        </li>
        <li class="breadcrumb-item active"
            aria-current="page">{% firstof challenge.title challenge.short_name %}</li>
    </ol>
{% endblock %}

{% block messages %}
    {% include 'grandchallenge/partials/challenge_banner.html' with challenge=challenge %}
    {{ block.super }}
{% endblock %}

{% block topbar %}
    {% include 'grandchallenge/partials/challenge_topbar.html' with challenge=challenge %}
{% endblock %}

{% block script %}
    {{ block.super }}
    <script src="{% static 'js/challenges/dropdown.js' %}" type="module"></script>
{% endblock %}
