{% extends "base.html" %}
{% load url %}
{% load guardian_tags %}
{% load admin_urls %}

{% block title %} {% firstof challenge.title challenge.short_name %} - {{ block.super }} {% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a
                href="{% url 'challenges:list' %}">Challenges</a>
        </li>
        <li class="breadcrumb-item active"
            aria-current="page">{% firstof challenge.title challenge.short_name %}</li>
    </ol>
{% endblock %}

{% block messages %}
    {% if challenge.banner %}
        <div class="row mb-3">
            <div class="col-12">
                <a style="width: 100%;"
                   href="{% url 'pages:home' challenge_short_name=challenge.short_name %}">
                    <img alt="{% firstof challenge.title challenge.short_name %} Banner"
                         class="rounded w-100"
                         src="{{ challenge.banner.url }}"
                    >
                </a>
            </div>
        </div>
    {% endif %}

    {{ block.super }}
{% endblock %}

{% block sidebar %}
    {% if challenge %}
        <div class="col-12 col-md-3 col-lg-2 mb-3">
            <ul class="nav nav-pills flex-column">
                {% for page in pages %}
                    {% if not page.hidden %}
                        <li class="nav-item">
                            <a class="nav-link {% if page == currentpage %}active{% endif %}"
                               href="{{ page.get_absolute_url }}">
                                {% filter title %}
                                    {% firstof page.display_title page.title %}
                                {% endfilter %}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}

                {% if challenge.display_forum_link %}
                   <li class="nav-item">
                        <a class="nav-link"
                           href="{% url 'forum:forum' slug=challenge.forum.slug pk=challenge.forum.pk %}">
                            Forum
                        </a>
                    </li>
                {% endif %}

                {% if challenge.use_registration_page %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.view_name == 'participants:registration-create' %}active{% endif %}"
                           href="{% url 'participants:registration-create' challenge_short_name=challenge.short_name %}">
                            Join
                        </a>
                    </li>
                {% endif %}

                {% if challenge.use_evaluation %}
                    {% if challenge.use_teams %}
                        {% if "change_challenge" in challenge_perms or user_is_participant %}
                            <li class="nav-item">
                                <a class="nav-link {% if request.resolver_match.view_name == 'teams:list' %}active{% endif %}"
                                   href="{% url 'teams:list' challenge_short_name=challenge.short_name %}">Teams</a>
                            </li>
                        {% endif %}
                    {% endif %}
                    {% for phase in challenge.phase_set.all %}
                        {% if "change_challenge" in challenge_perms or user_is_participant %}
                            <li class="nav-item">
                                <a class="nav-link {% if request.resolver_match.view_name == 'evaluation:submission-create' and request.resolver_match.kwargs.slug == phase.slug %}active{% endif %}"
                                   href="{% url 'evaluation:submission-create' challenge_short_name=challenge.short_name slug=phase.slug %}">Create {{ phase.title }} Submission</a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link {% if request.resolver_match.view_name == 'evaluation:leaderboard' and request.resolver_match.kwargs.slug == phase.slug %}active{% endif %}"
                               href="{% url 'evaluation:leaderboard' challenge_short_name=challenge.short_name slug=phase.slug %}">{{ phase.title }}
                                Leaderboard</a>
                        </li>
                    {% endfor %}
                {% endif %}

                {% if "change_challenge" in challenge_perms %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown"
                           href="#"
                           role="button" aria-haspopup="true"
                           aria-expanded="false">Admin</a>
                        <div class="dropdown-menu">
                            <h6 class="dropdown-header">{% firstof challenge.title challenge.short_name %}</h6>
                            <a class="dropdown-item"
                               href="{% url 'update' challenge_short_name=challenge.short_name %}">
                                <i class="fas fa-cog fa-fw"></i> Settings</a>
                            <a class="dropdown-item"
                               href="{% url 'pages:list' challenge_short_name=challenge.short_name %}">
                                <i class="far fa-file fa-fw"></i> Pages</a>
                            <hr>
                            <h6 class="dropdown-header">Users</h6>
                            <a class="dropdown-item"
                               href="{% url 'admins:list' challenge_short_name=challenge.short_name %}">
                                <i class="fas fa-user fa-fw"></i>&nbsp;Admins</a>
                            <a class="dropdown-item"
                               href="{% url 'participants:list' challenge_short_name=challenge.short_name %}">
                                <i class="fas fa-users fa-fw"></i>&nbsp;Participants</a>
                            <a class="dropdown-item"
                               href="{% url 'participants:registration-list' challenge_short_name=challenge.short_name %}">
                                <i class="fas fa-question fa-fw"></i>&nbsp;Participation Requests</a>
                            {% if challenge.use_evaluation %}
                                {% for phase in challenge.phase_set.all %}
                                    <hr>
                                    <h6 class="dropdown-header">{{ phase.title }} Evaluation</h6>
                                    <a class="dropdown-item"
                                       href="{% url 'evaluation:phase-update' challenge_short_name=challenge.short_name slug=phase.slug %}">
                                        <i class="fas fa-cog fa-fw"></i> Settings
                                    </a>
                                {% endfor %}
                                <hr>
                                <a class="dropdown-item"
                                   href="{% url 'evaluation:phase-create' challenge_short_name=challenge.short_name %}">
                                   <i class="fas fa-plus fa-fw"></i>&nbsp;Add a new Phase
                                </a>
                                <a class="dropdown-item"
                                   href="{% url 'evaluation:method-list' challenge_short_name=challenge.short_name %}">
                                    Methods
                                </a>
                                <a class="dropdown-item"
                                   href="{% url 'evaluation:submission-list' challenge_short_name=challenge.short_name %}">
                                    Submissions
                                </a>
                                <a class="dropdown-item"
                                   href="{% url 'evaluation:list' challenge_short_name=challenge.short_name %}">
                                    Evaluations
                                </a>
                            {% endif %}
                        </div>
                    </li>
                {% endif %}
            </ul>
        </div>
    {% endif %}
{% endblock %}
