{% extends "base.html" %}
{% load url %}
{% load guardian_tags %}
{% load admin_urls %}

{% block title %} {% firstof challenge.title challenge.short_name %} - {{ block.super }} {% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a
                href="{% url 'challenges:list' %}">Challenges</a>
        </li>
        <li class="breadcrumb-item active"
            aria-current="page">{% firstof challenge.title challenge.short_name %}</li>
    </ol>
{% endblock %}

{% block messages %}
    {% if challenge.banner %}
        <div class="row mb-3">
            <div class="col-12">
                <a style="width: 100%;"
                   href="{% url 'pages:home' challenge_short_name=challenge.short_name %}">
                    <img alt="{% firstof challenge.title challenge.short_name %} Banner"
                         class="rounded w-100"
                         src="{{ challenge.banner.url }}"
                    >
                </a>
            </div>
        </div>
    {% endif %}

    {{ block.super }}
{% endblock %}

{% block topbar %}
    {% if challenge %}
        <div class="row mb-3">
            <div class="col-md-10 col-sm-8 col-6">
                <div class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                    <! -- Todo: Adjust the view_name before merging with master (include the page_title slug)-->
                        <a class="nav-link {% if request.resolver_match.view_name == 'pages:home' or request.resolver_match.view_name == 'pages:detail' %} show active{% endif %}"
                           href="{% url 'pages:home' challenge_short_name=challenge.short_name %}">
                            Info
                        </a>
                    </li>

                    {% if challenge.display_forum_link %}
                        <li class="nav-item">
                            <a class="nav-link"
                               href="{% url 'forum:forum' slug=challenge.forum.slug pk=challenge.forum.pk %}">
                                Forum
                            </a>
                        </li>
                    {% endif %}

                    {% if challenge.use_evaluation %}
                        {% if challenge.use_teams %}
                            {% if "change_challenge" in challenge_perms or user_is_participant %}
                                <li class="nav-item">
                                    <a class="nav-link {% if request.resolver_match.view_name == 'teams:list' %}active{% endif %}"
                                       href="{% url 'teams:list' challenge_short_name=challenge.short_name %}">Teams</a>
                                </li>
                            {% endif %}
                        {% endif %}

                        {% if "change_challenge" in challenge_perms or user_is_participant %}
                            <li class="nav-item">
                                <a class="nav-link {% if request.resolver_match.view_name == 'evaluation:submission-create' or request.resolver_match.view_name == 'evaluation:submission-list' %}active{% endif %}"
                                   href="{% url 'evaluation:submission-create' challenge_short_name=challenge.short_name slug=challenge.phase_set.first.slug %}">
                                    Submit</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if request.resolver_match.view_name == 'evaluation:leaderboard' %}active{% endif %}"
                                   href="{% url 'evaluation:leaderboard' challenge_short_name=challenge.short_name slug=challenge.phase_set.first.slug %}">
                                    Leaderboard{{ challenge.phase_set.all|pluralize }}</a>
                            </li>
                        {% elif not challenge.hidden %}
                            <li class="nav-item">
                                <a class="nav-link {% if request.resolver_match.view_name == 'evaluation:leaderboard' %}active{% endif %}"
                                   href="{% url 'evaluation:leaderboard' challenge_short_name=challenge.short_name slug=challenge.phase_set.first.slug %}">
                                    Leaderboard{{ challenge.phase_set.all|pluralize }}</a>
                            </li>
                        {% endif %}
                    {% endif %}
                </div>
            </div>

            <div class="col-md-2 col-sm-4 col-6 py-1 d-flex justify-content-end">
                {% if challenge.use_registration_page %}
                    <div>
                        <a class="btn btn-success"
                           href="{% url 'participants:registration-create' challenge_short_name=challenge.short_name %}"
                           role="button">
                            Join
                        </a>
                    </div>
                {% endif %}

                {% if "change_challenge" in challenge_perms %}
                    <div class="dropdown px-1">
                        <a class="btn btn-dark dropdown-toggle"
                           data-toggle="dropdown"
                           href="#"
                           role="button"
                           aria-expanded="false">Admin</a>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="admin">
                            <h6 class="dropdown-header">{% firstof challenge.title challenge.short_name %}</h6>
                            <a class="dropdown-item"
                               href="{% url 'update' challenge_short_name=challenge.short_name %}">
                                <i class="fas fa-cog fa-fw"></i> General Settings</a>
                            <a class="dropdown-item"
                               href="{% url 'pages:list' challenge_short_name=challenge.short_name %}">
                                <i class="far fa-file fa-fw"></i> Pages</a>
                            <hr>
                            <h6 class="dropdown-header">Users</h6>
                            <a class="dropdown-item"
                               href="{% url 'admins:list' challenge_short_name=challenge.short_name %}">
                                <i class="fas fa-user fa-fw"></i>&nbsp;Admins <span class="badge badge-pill badge-secondary align-middle">{{ challenge.get_admins.count }}</span> </a>
                            <a class="dropdown-item"
                               href="{% url 'participants:list' challenge_short_name=challenge.short_name %}">
                                <i class="fas fa-users fa-fw"></i>&nbsp;Participants <span class="badge badge-pill badge-secondary align-middle">{{ challenge.get_participants.count }}</span></a>
                            <a class="dropdown-item"
                               href="{% url 'participants:registration-list' challenge_short_name=challenge.short_name %}">
                                <i class="fas fa-question fa-fw"></i>&nbsp;Participation Requests {% if challenge.require_participant_review %} {% with num_requests=pending_requests.count %} <span
                                    class="badge badge-pill badge-secondary align-middle">{{ num_requests }}</span>{% endwith %}{% endif %}</a>
                            <hr>
                            <h6 class="dropdown-header">Phases</h6>
                            {% if challenge.use_evaluation %}
                                {% for phase in challenge.phase_set.all %}
                                    <a class="dropdown-item"
                                       href="{% url 'evaluation:phase-update' challenge_short_name=challenge.short_name slug=phase.slug %}">
                                        <i class="fas fa-cog fa-fw"></i> {{ phase.title }} Evaluation Settings
                                    </a>
                                {% endfor %}
                                <a class="dropdown-item"
                                   href="{% url 'evaluation:phase-create' challenge_short_name=challenge.short_name %}">
                                    <i class="fas fa-plus fa-fw"></i>&nbsp;Add a new Phase
                                </a>
                                <hr>
                                <a class="dropdown-item"
                                   href="{% url 'evaluation:method-list' challenge_short_name=challenge.short_name %}">
                                    Methods
                                </a>
                                <a class="dropdown-item"
                                   href="{% url 'evaluation:submission-list' challenge_short_name=challenge.short_name %}">
                                    Submissions
                                </a>
                                <a class="dropdown-item"
                                   href="{% url 'evaluation:list' challenge_short_name=challenge.short_name %}">
                                    Evaluations
                                </a>
                            {% endif %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}
