{% extends "base.html" %}
{% load url %}
{% load static %}
{% load humanize %}
{% load cache %}
{% load round_to %}
{% load image_filter %}

{% block content %}
    {% for highlight in highlights %}
        <div class="row mb-5 {% if forloop.counter0|divisibleby:2 %}flex-lg-row-reverse{% endif %}">
            <div class="col-lg-6 py-5">
                <img src="{% static highlight.image %}"
                     class="w-100 rounded shadow"
                     alt="{{ highlight.url_title }} Image">
            </div>
            <div class="col-lg-6 px-5 align-self-center">
                <h3>{{ highlight.title }}</h3>
                <ul>
                    {% for point in highlight.bullet_points %}
                        <li class="my-1">{{ point }}</li>
                    {% endfor %}
                </ul>
                <p>{{ highlight.description }}</p>
                <p><a class="btn btn-info" href="{{ highlight.url }}">View {{ highlight.url_title }}</a></p>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block post_content %}
    {% cache 600 home-statistics %}
        <div class="container-fluid bg-primary">
            <div class="container py-4">
                <div class="row align-items-center text-light">
                    <div class="col-sm-6 col-md-3 card bg-primary border-0">
                        <div class="card-body text-center">
                            <h4 class="card-title">Users</h4>
                            <h4 class="card-text">{{ all_users.count|round_to:1000|intcomma }}</h4>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 card bg-primary border-0">
                        <div class="card-body text-center">
                            <h4 class="card-title">Challenges</h4>
                            <h4 class="card-text">{{ all_challenges.count|intcomma }}</h4>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 card bg-primary border-0">
                        <div class="card-body text-center">
                            <h4 class="card-title">Algorithms</h4>
                            <h4 class="card-text">{{ all_algorithms.count|intcomma }}</h4>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 card bg-primary border-0">
                        <div class="card-body text-center">
                            <p class="card-text">
                                <a class="btn btn-info" href="{% url 'statistics:detail' %}">
                                    <i class="fas fa-chart-line"></i>&nbsp;More Statistics
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endcache %}
{% endblock %}
