{% extends "base.html" %}
{% load url %}
{% load static %}
{% load humanize %}
{% load cache %}
{% load round_to %}
{% load image_filter %}

{% block content %}
    {% for highlight in highlights %}
        <div class="row {% if forloop.counter0|divisibleby:2 %}flex-md-row-reverse{% endif %}">
            <div class="col-md-6 {% if forloop.counter0|divisibleby:2 %}pl-md-0{% else %}pr-md-0{% endif %}">
                <div class="min-vh-25 h-100 rounded background-fill"
                     style="background-image: {% image_filter alpha="0.25" %}, url('{% static highlight.image %}');">
                </div>
            </div>
            <div class="col-md-6 py-3 align-self-center">
                <h3>{{ highlight.title }}</h3>
                <p>{{ highlight.description }}</p>
                <p><a class="btn btn-info" href="{{ highlight.url }}">Read More</a></p>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block post_content %}
    {% cache 600 home-statistics %}
        <div class="container-fluid bg-primary">
            <div class="container">
                <div class="row align-items-center text-light">
                    <div class="col-sm-6 col-md-3 card bg-primary border-0">
                        <div class="card-body text-center">
                            <h4 class="card-title">Users</h4>
                            <h4 class="card-text">{{ all_users.count|round_to:1000|intcomma }}</h4>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 card bg-primary border-0">
                        <div class="card-body text-center">
                            <h4 class="card-title">Challenges</h4>
                            <h4 class="card-text">{{ all_challenges.count|intcomma }}</h4>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 card bg-primary border-0">
                        <div class="card-body text-center">
                            <h4 class="card-title">Algorithms</h4>
                            <h4 class="card-text">{{ all_algorithms.count|intcomma }}</h4>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 card bg-primary border-0">
                        <div class="card-body text-center">
                            <p class="card-text">
                                <a class="btn btn-info" href="{% url 'statistics:detail' %}">
                                    <i class="fas fa-chart-line"></i>&nbsp;More Statistics
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endcache %}
{% endblock %}
