{% extends "site.html" %}
{% load guardian_tags %}
{% load admin_urls %}

{% block pageName %} {{ currentpage.challenge.short_name }} -
    {% firstof currentpage.display_title currentpage.title "page" %} {% endblock %}

{% block headerLink %}"/"{% endblock %}

<div id="page" class="container">

    <div class="row">

    {% block challengeNav %}

        <div class="col-md-3 sidebar-sticky">
                <div class="card d-none d-md-block bg-white sidebar">
                    <ul class="nav flex-column">
                        {% block topmenu %} {% endblock %}
                    </ul>
                </div>
                    <div id="additionalNavigation">
                        <ul class="nav navbar-nav navbar-right">
                            {% block sitemenuloginbutton %} {% endblock %}
                            {% block adminbutton %} {% endblock %}
                        </ul>
                    </div>
            </nav>
        </div>

    {% endblock %}

    </div>
    <!-- container -->
</div>
</main>

{% block pagecontent %}

    <div class="card-body">
    {% if site.disclaimer %}
        <div class="disclaimer"
             style=" background-color: #FDFDD4; border: 1px solid black; clear: right; font-size: x-small; margin: 10px; padding-left: 10px;">

            <p>{% autoescape off %}
                {{ site.disclaimer }}{% endautoescape %}</p>
        </div>
    {% endif %}
    <div>{{ currentpage.raw_html }}</div>

    <br/>

    {% get_obj_perms user for site as "site_perms" %}
    {% if "change_challenge" in site_perms %}

        <a class="editPageLink"
           href="{% url 'pages:update' currentpage.challenge.short_name currentpage.title %}">
            Edit this page
        </a>
    {% endif %}
    </div>

{% endblock %}

