{% extends "site.html" %}
{% load guardian_tags %}
{% load grandchallenge_tags %}
{% load clean from bleach %}

{% block pageName %} {{ currentpage.challenge.short_name }} -
    {% firstof currentpage.display_title currentpage.title "page" %} {% endblock %}

{% block pagecontent %}
    {% if site.disclaimer %}
        <div class="disclaimer alert alert-warning" role="alert">
            {{ site.disclaimer|clean }}
        </div>
    {% endif %}

    <div id=pageContainer>{{ currentpage.html|clean }}</div>

    {% if not currentpage.is_error_page %}
        {% block editlink %}
            {% if currentpage.pk %}
                {% if "change_challenge" in challenge_perms %}
                    <br>
                    <a class="editPageLink"
                       href="{% url 'pages:update' currentpage.challenge.short_name currentpage.title %}">Edit
                        this
                        page</a>
                {% endif %}
            {% endif %}
        {% endblock %}
    {% endif %}
{% endblock %}
