{% extends "base.html" %}
{% load grandchallenge_tags %}
{% load guardian_tags %}
{% load admin_urls %}



{% block additionalCSS %}
    {% if site.skin %}
        /* custom css for this project */
        {% insert_file site.skin %}
    {% endif %}
{% endblock %}

{% block pageName %} {{ site.short_name }} {% endblock %}

{% block topheader %}
    {% if site.hide_footer %}
        <!--hidden -->
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock topheader %}

{% block headerLink %}""
{% endblock %}

{% block jumbotron %}
    {% if site.banner %}
        <div class="row mb-3">
            <div class="col-12">
                <a style="width: 100%;"
                   href="{% url 'challenge-homepage' challenge_short_name=site.short_name %}">
                    <img src="{{ site.banner.url }}" class="headerImage">
                </a>
            </div>
        </div>
    {% endif %}
{% endblock %}


{% block topmenu %}
    {% block additionalNavItems %}{% endblock %}
    {% for page in pages %}
        {% if not page.hidden %}
            <li class="nav-item">
                <a class="nav-link {% if page == currentpage %}active{% endif %}"
                   href="{{ page.get_absolute_url }}">
                    {% firstof page.display_title page.title %}
                </a>
            </li>
        {% endif %}
    {% endfor %}

    {% if site.use_registration_page %}
        <li class="nav-item">
            <a class="nav-link"
               href="{% url 'participants:registration-create' challenge_short_name=site.short_name %}">
                Join
            </a>
        </li>
    {% endif %}

    {% if site.use_evaluation %}

        {% if "change_challenge" in challenge_perms or user_is_participant %}

            {% if site.evaluation_config.use_teams %}
                <li class="nav-item">
                    <a class="nav-link"
                       href="{% url 'teams:list' challenge_short_name=site.short_name %}">Teams</a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link"
                   href="{% url 'evaluation:submission-create' challenge_short_name=site.short_name %}">Submit</a>
            </li>

        {% endif %}
        <li class="nav-item">
            <a class="nav-link"
               href="{% url 'evaluation:result-list' challenge_short_name=site.short_name %}">Results</a>
        </li>

    {% endif %}
{% endblock %}


{% block loginbutton %}
    {% if site.hide_signin %}
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}

{% block sitemenuloginbutton %}
    {% if site.hide_footer and not site.hide_signin %}
        {% if user.is_authenticated %}
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle"
                   data-toggle="dropdown" role="button"
                   aria-haspopup="true"
                   aria-expanded="false">
                    <div style='vertical-align:middle; display:inline;'>
                        <img class="mugshot"
                             src="{{ user.user_profile.get_mugshot_url }}"
                             alt="User Mugshot"
                             style="height: 1.5em; vertical-align: middle;"/> {{ user.username }}
                        <span class="caret"></span>
                    </div>
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item"
                       href="{% url 'userena_profile_detail' user.username %}">My
                        profile</a>
                    <hr/>
                    <a class="dropdown-item"
                       href="{% url 'userena_signout' %}?next=/">Signout</a>
                </div>
            </li>
        {% else %}
            <li class="nav-item"><a class="nav-link"
                                    href="{% url 'userena_signin' %}?next={{ request.build_absolute_uri }}">Sign
                In / Register</a>
            </li>
        {% endif %}
    {% endif %}
{% endblock %}

{% block adminbutton %}
    {% if "change_challenge" in challenge_perms %}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
               role="button" aria-haspopup="true"
               aria-expanded="false">Admin</a>
            <div class="dropdown-menu">
                <a class="dropdown-item"
                   href="{% url 'update' challenge_short_name=site.short_name %}">Challenge
                    Settings</a>
                <a class="dropdown-item"
                   href="{% url 'pages:list' challenge_short_name=site.short_name %}">Pages</a>
                <a class="dropdown-item"
                   href="{% url 'admins:list' challenge_short_name=site.short_name %}">Admins</a>
                <a class="dropdown-item"
                   href="{% url 'participants:list' challenge_short_name=site.short_name %}">Participants</a>
                <a class="dropdown-item"
                   href="{% url 'participants:registration-list' challenge_short_name=site.short_name %}">Participation
                    Requests</a>
                <a class="dropdown-item"
                   href="{% url 'uploads:list' challenge_short_name=site.short_name %}">Uploaded
                    Files</a>
                {% if site.use_evaluation %}
                    <hr/>
                    <a class="dropdown-item"
                       href="{% url 'evaluation:config-update' challenge_short_name=site.short_name %}">
                        Evaluation Settings
                    </a>
                    <a class="dropdown-item"
                       href="{% url 'evaluation:method-list' challenge_short_name=site.short_name %}">
                        Evaluation Methods
                    </a>
                    <a class="dropdown-item"
                       href="{% url 'evaluation:submission-list' challenge_short_name=site.short_name %}">
                        Evaluation Submissions
                    </a>
                    <a class="dropdown-item"
                       href="{% url 'evaluation:job-list' challenge_short_name=site.short_name %}">
                        Evaluation Jobs
                    </a>
                {% endif %}
            </div>
        </li>
    {% endif %}
{% endblock %}


{% block content %}

    {% block contentTitle %}
    {% endblock %}

    {% block pagecontent %}
        <p>redirect to first page here.</p>
    {% endblock %}

{% endblock %}

{% block footer %}
    {% if site.hide_footer %}
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}

