html {
    overflow-y: scroll;
    position: relative;
    min-height: 100%;
}

/* fix modal display with overflow-y: scroll on html */
.modal, .modal-open {
    padding-right: 0 !important;
}

h1, .h1, h2, .h2 {
    box-shadow: inset 0 -6px 0 rgb(219, 237, 255);
    display: inline-block;
}

nav.navbar-top .nav-item {
    position: relative;
    top: 1px;
}

.navbar-toggle {
    margin-left: 15px;
    float: left;
    margin-right: 0;
}

/* for responsive card-decks */
.row.equal-height {
    display: flex;
    flex-wrap: wrap;
}

.row.equal-height > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

.row.equal-height > [class*='col-'] .card {
    flex: 1;
}

/* definition lists */
dl.inline dd {
    display: inline;
    margin: 0;
}

dl.inline dd:after {
    display: block;
    content: '';
}

dl.inline dt {
    display: inline-block;
}

dl.inline dt:after {
    content: ":";
}

/* Fix display of error messages on forms. See: https://github.com/twbs/bootstrap/issues/23454 */
.invalid-feedback {
  display: block;
}

/* hide sorting arrows in second hidden header of datatable */
div.dataTables_scrollBody table.dataTable thead .sorting:before, 
div.dataTables_scrollBody table.dataTable thead .sorting_asc:before, 
div.dataTables_scrollBody table.dataTable thead .sorting_desc:before, 
div.dataTables_scrollBody table.dataTable thead .sorting_asc_disabled:before, 
div.dataTables_scrollBody table.dataTable thead .sorting_desc_disabled:before {
  content: '';
}

/* float search box of datatables to the right of metric-toggling box */
div.dataTables_wrapper div.dataTables_filter {
  float: right;
}

/* Fix button group in datatable */
div.table-responsive .btn {
  border-radius: .25rem;
}

div.table-responsive .dt-button-collection-title {
  display: none;
}

.btn-group .btn+.btn, 
.btn-group .btn+.btn-group, 
.btn-group .btn-group+.btn,
.btn-group .btn-group+.btn-group,
.btn-group-vertical .btn+.btn,
.btn-group-vertical .btn+.btn-group,
.btn-group-vertical .btn-group+.btn,
.btn-group-vertical .btn-group+.btn-group,
.dropdown-menu+.btn {
  margin-left: -3px;
}
