html {
  overflow-y: scroll;
  position: relative;
  min-height: 100%;
}

/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
  margin-bottom: 60px; /* Margin bottom by footer height */
}

/* Sticky footer styles
-------------------------------------------------- */

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

.headerImage {
    width: 100%;
    border-radius: 6px;
}

.projectLinkHeading {
    overflow: hidden;
    padding: 15px 0;
    background-color: #f5f5f5;
}

.projectLinkFooter {
    border-top: none;
}

.projectLinkImage {
    width: 30%;
    height: 100%;
    display: flex;
    padding: 0;
    justify-content: center;
    align-items: center;
    float: left;
    margin-left: 15px;
}

.projectLinkImage img {
    flex-shrink: 0;
    max-width: 100%;
    max-height: 100%;
    border-radius: 3px;
}

.projectLinkName {
    height: 100%;
    padding-right: 15px;
    display: flex;
    align-items: center;
}

.projectLinkName h3 {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 15px;
}

.projectLinkFilter {
    font-weight: bold;
}

.navbar-toggle {
    margin-left: 15px;
    float: left;
    margin-right: 0;
}

tbody tr:hover {
    background-color: #f5f5f5;
}
