html {
    overflow-y: scroll;
    position: relative;
    min-height: 100%;
}

p {
    line-height: 1.6;
}

.jumbotron {
    text-shadow: 1px 1px 3px #000000;
}

.background-fill {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* fix modal display with overflow-y: scroll on html */
.modal, .modal-open {
    padding-right: 0 !important;
}

.navbar-toggle {
    margin-left: 15px;
    float: left;
    margin-right: 0;
}

/* fix title tooltips when using .stretched-link */
.above-stretched-link {
    z-index: 1;
    position: relative;
}

/* for square images */
.embed-responsive .card-img-top {
    object-fit: cover;
}

/* for responsive card-decks */
.row.equal-height {
    display: flex;
    flex-wrap: wrap;
}

.row.equal-height > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

.row.equal-height > [class*='col-'] .card {
    flex: 1;
}

/* definition lists */
dl.inline dd {
    display: inline;
    margin: 0;
}

dl.inline dd:after {
    display: block;
    content: '';
}

dl.inline dt {
    display: inline-block;
}

dl.inline dt:after {
    content: ":";
}

/* Fix display of error messages on forms. See: https://github.com/twbs/bootstrap/issues/23454 */
.invalid-feedback {
    display: block;
}

.breadcrumb {
    margin-bottom: 0;
    background-color: inherit;
    padding-left: 0;
    padding-right: 0;
}

.breadcrumb-item.active {
    color: var(--light);
}

.breadcrumb-item > a {
    color: var(--secondary);
}

/* Fix display of select2 dropdowns when used in collapsible bootstrap elements */
.select2-container,
.select2-container li:only-child,
.select2-container input:placeholder-shown {
  width: 100% !important;
}

.console {
    background-color: var(--gray-dark);
    color: var(--light);
}

ul.socialaccount_providers {
    list-style-type: none;
    padding: 0;
}

ul.socialaccount_providers > li {
    min-width: 300px;
}

.nav-pills > .active > a,.nav-pills > .active > a:hover,
    .nav-pills > li > a {
        color: #000 !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        margin-bottom: 5px;
        margin-right: 5px;
    }
    .nav-pills > li > a:hover {
        border-radius: 25px;
        background-color: #f0f0f0;
    }
    .nav-pills > li > a.active {
         border-radius: 25px;
         background-color: darkgray !important;
    }

.nav-tabs > li, .nav-tabs > .active > a,.nav-tabs > .active > a:hover,
    .nav-tabs > li > a {
            color: #000 !important;
            }
    .nav-tabs > li > a:hover {
            border:0;
            color: #000 !important;
            /*font-weight: bold;*/
            border-bottom-width: 4px;
            border-bottom-style: solid;
             }
    .nav-tabs > li > a.active {
            border:0;
            color: #000 !important;
            font-weight: bold;
            /*background-color: #ecf0f1 !important;*/
            border-bottom-width: 4px !important;
            border-bottom-style: solid;
            border-bottom-color: #2C3E50 !important;
         }