html {
    overflow-y: scroll;
    position: relative;
    min-height: 100%;
}

p {
    line-height: 1.6;
}

.jumbotron {
    text-shadow: 1px 1px 3px #000000;
}

.background-fill {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* fix modal display with overflow-y: scroll on html */
.modal, .modal-open {
    padding-right: 0 !important;
}

.navbar-toggle {
    margin-left: 15px;
    float: left;
    margin-right: 0;
}

/* fix title tooltips when using .stretched-link */
.above-stretched-link {
    z-index: 1;
    position: relative;
}

/* for square images */
.embed-responsive .card-img-top {
    object-fit: cover;
}

/* for responsive card-decks */
.row.equal-height {
    display: flex;
    flex-wrap: wrap;
}

.row.equal-height > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

.row.equal-height > [class*='col-'] .card {
    flex: 1;
}

/* definition lists */
dl.inline dd {
    display: inline;
    margin: 0;
}

dl.inline dd:after {
    display: block;
    content: '';
}

dl.inline dt {
    display: inline-block;
}

dl.inline dt:after {
    content: ":";
}

/* Fix display of error messages on forms. See: https://github.com/twbs/bootstrap/issues/23454 */
.invalid-feedback {
    display: block;
}

.breadcrumb {
    margin-bottom: 0;
    background-color: inherit;
    padding-left: 0;
    padding-right: 0;
}

.breadcrumb-item.active {
    color: var(--light);
}

.breadcrumb-item > a {
    color: var(--secondary);
}

/* Fix display of select2 dropdowns when used in collapsible bootstrap elements */
.select2-container,
.select2-container li:only-child,
.select2-container input:placeholder-shown {
  width: 100% !important;
}

.console {
    background-color: var(--gray-dark);
    color: var(--light);
}

ul.socialaccount_providers {
    list-style-type: none;
    padding: 0;
}

ul.socialaccount_providers > li {
    min-width: 300px;
}

.nav-pills > li > .nav-link {
    color: #000;
}
.nav-pills > li > .nav-link:hover {
    border-radius: 25px;
    color: #000;
    background-color: #ecf0f1;
}
.nav-pills > li > .nav-link.active {
    border-radius: 25px;
}

.nav-tabs > .nav-item > .nav-link {
    color: #000;
    border-top: 0 transparent;
    border-right: 0 transparent;
    border-left: 0 transparent;
    border-bottom: 4px solid transparent;
}

.nav-tabs > .nav-item > .nav-link:hover {
    border: inherit;
    border-bottom: 4px solid #f0f0f0;
}

.nav-tabs > .nav-item > .nav-link.active {
    border: inherit;
    font-weight: bold;
    border-bottom: 4px solid #2c3e50;
}

.challengeDropdown {
    padding: 0;
}

.challengeDropdown > .nav-link {
    color: #000;
}

.challengeDropdown:hover {
    background-color: #f0f0f0;
}

.phaseButton {
    border-radius: 20px;
    color: #000;
    padding-top: 3px;
    padding-bottom: 3px;
}

.phaseButton:focus, .phaseButton:hover {
    box-shadow:none !important;
}

.card, .card-header {
    border-radius: 20px;
}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-img-top{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.btn {
   border-radius: 10px;
}

.carousel-indicators li {
    margin-left: 5px;
    margin-right: 5px;
    background-color: #2c3e50;
    bottom: -50px;
}

.carousel-control-next, .carousel-control-prev {
    filter: invert(1);
    width: 50px;
}
