{% extends "base.html" %}
{% load profiles %}
{% load humanize %}

{% block title %}Subscriptions - {{ block.super }}{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Subscriptions</li>
    </ol>
{% endblock %}

{% block content %}
    <h2>Your subscriptions</h2>
    <br>
    <h4>Forums you follow</h4>
    <ul class="list-group">
        {% for forum in followed_forums %}
            <li class="list-group-item">
                <a href="{{ forum.follow_object.get_absolute_url }}">{{ forum.follow_object }}</a>
            </li>
        {% empty %}
            <li class="list-group-item">You are not subscribed to any forums.</li>
        {% endfor %}
    </ul>
    <br>
    <h4>Topics you follow</h4>
    <ul class="list-group">
        {% for topic in followed_topics %}
            <li class="list-group-item">
                <a href="{{ topic.follow_object.get_absolute_url }}">{{ topic.follow_object }}</a>
            </li>
        {% empty %}
            <li class="list-group-item">You are not subscribed to any topics.</li>
        {% endfor %}
    </ul>
    <br>
    <h4>Users you follow</h4>
    <ul class="list-group">
        {% for user in followed_users %}
            <li class="list-group-item">
                {{ user.follow_object|user_profile_link }}
            </li>
        {% empty %}
            <li class="list-group-item">You are not subscribed to any users.</li>
        {% endfor %}
    </ul>
{% endblock %}
