{% extends "base.html" %}
{% load profiles %}
{% load humanize %}

{% block title %}Notifications - {{ block.super }}{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Notifications</li>
    </ol>
{% endblock %}

{% block content %}
    {{ object.action.actor|user_profile_link }}{{ object.action.verb }}
    {% if object.action.action_object %}
        <a href="{{ object.action.action_object.get_absolute_url }}">{{ object.action.action_object }}</a>
        {% if object.action.target %}
            in
        {% endif %}
    {% endif %}
    {% if object.action.target %}
        <a href="{{ object.action.target.get_absolute_url }}">{{ object.action.target }}</a>
    {% endif %}
    {{ object.action.timestamp|naturaltime }}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Update">
    </form>
{% endblock %}
