{% extends "base.html" %}
{% load profiles %}
{% load humanize %}

{% block title %}Notifications - {{ block.super }}{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Notifications</li>
    </ol>
{% endblock %}

{% block content %}
    <h2>Notifications</h2>
        <ul class="list-group">
            {% for object in object_list %}
                    <li class="list-group-item {% if object.data.context_class %}list-group-item-{{ object.data.context_class }}{% endif %}">
                        {% if not object.read %}
                            <span class="text-primary align-middle mr-2"><i class="fa fa-circle"></i></span>
                        {% endif %}
                        {{ object.action.actor|user_profile_link }}{{ object.action.verb }}
                        {% if object.action.action_object %}
                            <a href="{{ object.action.action_object.get_absolute_url }}">{{ object.action.action_object }}</a>
                            {% if object.action.target %}
                                in
                            {% endif %}
                        {% endif %}
                        {% if object.action.target %}
                            <a href="{{ object.action.target.get_absolute_url }}">{{ object.action.target }}</a>
                        {% endif %}
                        <form method="post" action="{% url 'notifications:update' pk=object.id %}">
                            {% csrf_token %}
                            <input name="notification" type="hidden" value="{{ object.id }}">
                            {% if not object.read %}
                                <input name="action" type="hidden" value="{{ mark_as_read_action }}">
                                <button type="submit" class="btn btn-xs btn-primary">
                                    Mark as read
                                </button>
                            {% else %}
                                <input name="action" type="hidden" value="{{ mark_as_unread_action }}">
                                <button type="submit" class="btn btn-xs btn-primary">
                                    Mark as unread
                                </button>
                            {% endif %}
                        </form>
                        <form method="post" action="{% url 'notifications:update' pk=object.id %}">
                            {% csrf_token %}
                            <input name="notification" type="hidden" value="{{ object.id }}">
                            <input name="action" type="hidden" value="{{ delete_notification }}">
                            <button type="submit" class="btn btn-xs btn-danger">
                                Delete notification
                            </button>
                        </form>
                    </li>
                {% empty %}
                <li class="list-group-item">You have no notifications</li>
            {% endfor %}
        </ul>
{% endblock %}
