{% extends "pages/challenge_settings_base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load url %}
{% load costs %}

{% block title %}
    Invoices - {% firstof challenge.title challenge.short_name %} - {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'challenges:list' %}">Challenges</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ challenge.get_absolute_url }}">{% firstof challenge.title challenge.short_name %}</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url 'invoices:list' challenge_short_name=challenge.short_name %}">Invoices & Budget</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Invoice {% firstof object.internal_invoice_number object.external_pk %}</li>
    </ol>
{% endblock %}

{% block content %}
    <h2>Invoice for {{ challenge.short_name }}</h2>
    <div class="row">
        <div class="col-md-6">
            <dl>
                <dt>Invoice Number</dt>
                <dd>{% firstof object.internal_invoice_number '-' %}</dd>

                <dt>Type</dt>
                <dd>{{ invoice.get_payment_type_display }}</dd>

                <dt>Status</dt>
                <dd>{{ object.get_status_badge }}</dd>

                {% if object.payment_status != object.PaymentStatusChoices.CANCELLED %}

                    <dt>Issued on</dt>
                    <dd>{{ invoice.issued_on|default_if_none:"-" }}</dd>

                    {% if object.payment_status == object.PaymentStatusChoices.ISSUED %}
                        <dt>Due on</dt>
                        <dd>
                            {{ object.due_date|default_if_none:"-" }}
                            {% if object.is_overdue %}
                                <i class="fas fa-exclamation-triangle text-danger" title="Invoice is overdue."></i>
                            {% elif object.is_due %}
                                <i class="fas fa-exclamation-triangle text-warning" title="Invoice is due."></i>
                            {% endif %}
                        </dd>
                    {% endif %}

                    {% if object.payment_type == object.PaymentTypeChoices.POSTPAID %}
                        <dt>Follow-up on</dt>
                        <dd>{{ object.follow_up_on|default_if_none:"-" }}</dd>
                    {% endif %}

                    <dt>Expires on</dt>
                    <dd>
                        {{ object.expires_on }}
                        {% if object.is_expired %}
                            <i class="fas fa-exclamation-triangle text-danger" title="Invoice is expired."></i>
                        {% endif %}
                    </dd>

                {% endif %}
            </dl>
        </div>
        <div class="col-md-6 pl-3 border-left rounded">
            <dl>
                <dt>Base contribution</dt>
                <dd>€&nbsp;{{ object.support_costs_euros }}</dd>

                <dt>Compute capacity reservation</dt>
                <dd>€&nbsp;{{ object.compute_costs_euros }}</dd>

                <dt>Storage capacity reservation</dt>
                <dd class="mb-0">€&nbsp;{{ object.storage_costs_euros }}</dd>

                <hr class="mt-3 ml-0" style="width: 44%">

                <dt>Total amount</dt>
                <dd>{{ invoice.total_amount_euros|euro:0 }}</dd>
            </dl>
        </div>
    </div>

    {% if not object.is_expired %}
        <hr>

        <h3 class="mt-3">Remaining Compute Budget</h3>

        {% if not object.approved_compute_cost_euro_millicents %}
            <span class="text-muted">
                Any compute budget consumption will be shown here.
            </span>
        {% else %}

        <div class="d-flex align-items-center gap-3">
            <div class="progress flex-grow-1" style="height: 4px">
                <div
                    class="progress-bar {% if object.percent_compute_budget_remaining <= 10 %}bg-danger{% elif object.percent_compute_budget_remaining <= 30 %}bg-warning{% else %}bg-success{% endif %}"
                    style="width: {{ object.percent_compute_budget_remaining }}%"
                ></div>

            </div>

            <span class="{% if object.percent_compute_budget_remaining <= 10 %}text-danger{% elif object.percent_compute_budget_remaining <= 30 %}text-warning{% else %}text-success{% endif %} pl-1">
                {{ object.percent_compute_budget_remaining }}%
            </span>
        </div>

        <strong class="{% if object.available_compute_cost_euro_millicents == 0 %}text-danger{% endif %}">{{ object.available_compute_cost_euro_millicents|millicents_to_euro }}</strong>
        <span class="text-muted">/ {{ object.approved_compute_cost_euro_millicents|millicents_to_euro }} total</span>

        {% endif %}
    {% endif %}
{% endblock %}
