{% extends "pages/challenge_settings_base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load url %}
{% load costs %}

{% block title %}
    Invoices - {% firstof challenge.title challenge.short_name %} - {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'challenges:list' %}">Challenges</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ challenge.get_absolute_url }}">{% firstof challenge.title challenge.short_name %}</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url 'invoices:list' challenge_short_name=challenge.short_name %}">Invoices & Budget</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Invoice {% firstof object.internal_invoice_number object.external_pk %}</li>
    </ol>
{% endblock %}

{% block content %}
    <h2>Invoice for {{ challenge.short_name }}</h2>

    {% if object.is_expired %}
        <div class="alert alert-danger">
            <i class="fas fa-exclamation-triangle"></i> The budget of this invoice has expired and is no longer available.
        </div>
    {% endif %}

    <div class="row">
        <div class="col-md-6">
            <dl>
                <dt>Invoice number</dt>
                <dd>{% firstof object.internal_invoice_number '-' %}</dd>

                <dt>Type</dt>
                <dd>{{ invoice.get_payment_type_display }}</dd>

                <dt>Status</dt>
                <dd>{{ object.get_status_badge }}</dd>

                {% if object.payment_status != object.PaymentStatusChoices.CANCELLED %}

                    <dt>Issued on</dt>
                    <dd>{{ invoice.issued_on|default_if_none:"-" }}</dd>

                    {% if object.payment_status == object.PaymentStatusChoices.ISSUED %}
                        <dt>Due on</dt>
                        <dd>
                            {{ object.due_date|default_if_none:"-" }}
                            {% if object.is_overdue %}
                                <i class="fas fa-exclamation-triangle text-danger" title="Invoice is overdue."></i>
                            {% elif object.is_due %}
                                <i class="fas fa-exclamation-triangle text-warning" title="Invoice is due."></i>
                            {% endif %}
                        </dd>
                    {% endif %}

                    {% if object.payment_type == object.PaymentTypeChoices.POSTPAID %}
                        <dt>Follow-up on</dt>
                        <dd>{{ object.follow_up_on|default_if_none:"-" }}</dd>
                    {% endif %}

                    <dt>Expires on</dt>
                    <dd>
                        {{ object.expires_on }}
                        {% if object.is_expired %}
                            <i class="fas fa-exclamation-triangle text-danger" title="Invoice is expired."></i>
                        {% endif %}
                    </dd>

                {% endif %}
            </dl>
        </div>
        <div class="col-md-6 pl-3 border-left rounded">
            <dl>
                <dt>Base contribution</dt>
                <dd>€&nbsp;{{ object.support_costs_euros }}</dd>

                <dt>Compute capacity reservation</dt>
                <dd>€&nbsp;{{ object.compute_costs_euros }}</dd>

                <dt>Storage capacity reservation</dt>
                <dd class="mb-0">€&nbsp;{{ object.storage_costs_euros }}</dd>

                <hr class="mt-3 ml-0" style="width: 44%">

                <dt>Total amount</dt>
                <dd>{{ invoice.total_amount_euros|euro:0 }}</dd>
            </dl>
        </div>
    </div>

    {% if not object.is_expired and object.payment_status != object.PaymentStatusChoices.CANCELLED %}
        <hr>

        <h3>Invoice Compute Budget</h3>

        {% if not object.approved_compute_cost_euro_millicents %}
            <span class="text-muted">
                Any invoice compute-budget consumption will be shown here.
            </span>
        {% else %}

        <dl>
            <dt>Remaining proportion</dt>
            <dd>
                <span class="pr-4 {% if object.percent_compute_budget_remaining <= 10 %}text-danger{% elif object.percent_compute_budget_remaining <= 30 %}text-warning{% else %}text-success{% endif %} pl-1">
                    {{ object.percent_compute_budget_remaining }}%
                </span>
            </dd>

            <dt>Remaining amount</dt>
            <dd>
                <span class="{% if object.percent_compute_budget_remaining == 0 %}text-danger{% endif %}">
                    {{ object.available_compute_cost_euro_millicents|millicents_to_euro }}
                </span>
            </dd>

            <dt>Total amount</dt>
            <dd>
                {{ object.approved_compute_cost_euro_millicents|millicents_to_euro }}
            </dd>
        </dl>

        {% endif %}
    {% endif %}
{% endblock %}
