{% extends "pages/challenge_settings_base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load url %}
{% load costs %}

{% block title %}
    Invoices - {% firstof challenge.title challenge.short_name %} - {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a
                href="{% url 'challenges:list' %}">Challenges</a>
        </li>
        <li class="breadcrumb-item"><a
                href="{{ challenge.get_absolute_url }}">{% firstof challenge.title challenge.short_name %}</a></li>
        <li class="breadcrumb-item active"
            aria-current="page">Invoices</li>
    </ol>
{% endblock %}

{% block content %}
    <h2>Invoices for {{ challenge.short_name }}</h2>

    {% if num_is_overdue %}
        <p class="alert alert-danger">
            <i class="fas fa-exclamation-triangle"></i> There {{ num_is_overdue|pluralize:"is,are" }} {{ num_is_overdue }} invoice{{ num_is_overdue|pluralize }} overdue.
        </p>
    {% endif %}
    {% if num_is_due %}
        <p class="alert alert-warning">
            <i class="fas fa-exclamation-triangle"></i> There {{ num_is_due|pluralize:"is,are" }} {{ num_is_due }} invoice{{ num_is_due|pluralize }} due.
        </p>
    {% endif %}
    <p>
        If an invoice has been paid recently, the status will be updated soon.
        For any questions, please <a target="_blank" href="mailto:{{ SUPPORT_EMAIL }}">contact support</a>.
    </p>

    {% include "invoices/partials/invoice_table.html" with invoices=object_list %}
{% endblock %}
