{% load forge %}
"""
The following is a simple example algorithm.

Any implementation will do as long as it produces the output as prescribed by the interface.

"""
from pathlib import Path
import json
import torch

{% if object.algorithm_output_sockets|has_image_kind %}
import numpy
{% endif %}

INPUT_PATH = Path("/input")
OUTPUT_PATH = Path("/output")
RESOURCE_PATH = Path("resources")

def run(model):
    # The key is a tuple of the slugs of the input sockets
    interface_key = get_interface_key()

    # Lookup the handler for this particular set of sockets (i.e. the interface)
    handler = {
    {% for interface_name, interface_key in object.algorithm_interface_names|zip:object.algorithm_interface_keys %}
    {{ interface_key }} : {{ interface_name }}_handler,
    {% endfor %}
    }[interface_key]

    # Call the handler
    return handler(model)

{% for interface_name, interface in object.algorithm_interface_names|zip:object.algorithm_interfaces %}
def {{ interface_name }}_handler(model):
    # Read the input
    {% for socket in interface.inputs %}
    {% if socket.is_dicom_image_kind %}
    input_{{ socket.slug|dash_to_underscore }} = load_dicom_image_set_as_array(
        location=INPUT_PATH / "{{ socket.relative_path }}",
    )
    {% elif socket.is_panimg_kind %}
    input_{{ socket.slug|dash_to_underscore }} = load_image_file_as_array(
        location=INPUT_PATH / "{{ socket.relative_path }}",
    )
    {% elif socket.is_json_kind %}
    input_{{ socket.slug|dash_to_underscore }} = load_json_file(
         location=INPUT_PATH / "{{ socket.relative_path }}",
    )
    {% elif socket.is_file_kind %}
    input_{{ socket.slug|dash_to_underscore }} = load_file(
         location=INPUT_PATH / "{{ socket.relative_path }}",
    )
    {% endif %}
    {% endfor %}

    # Process the inputs: any way you'd like, here we show-case torch
    device = torch.device("cuda" if torch.cuda.is_available() else "cpu")
    model_input = torch.randn(1, 10).to(device)
    model_output = model(model_input)

    # For now, let us make bogus predictions
    {% for socket in interface.outputs %}
    output_{{ socket.slug|dash_to_underscore }} = {% spaceless %}
        {% if socket.has_example_value %}
            {% if socket.example_value|is_string %}
                "{{ socket.example_value }}"
            {% else %}
                {{ socket.example_value }}
            {% endif %}
        {% elif socket.is_image_kind %} numpy.eye(4, 2)
        {% elif socket.is_json_kind %} {"content": "should match the required format"}
        {% elif socket.is_file_kind %} "content: should match the required format"
        {% endif %}
        {% endspaceless %}
    {% endfor %}

    # Save your output
    {% for socket in interface.outputs %}
    {% if socket.is_panimg_kind %}
    write_array_as_image_file(
        location=OUTPUT_PATH / "{{ socket.relative_path }}",
        array=output_{{ socket.slug|dash_to_underscore }},
    )
    {% elif socket.is_dicom_image_kind %}
    write_array_as_dicom_image_set(
        location=OUTPUT_PATH / "{{ socket.relative_path }}",
        array=output_{{ socket.slug|dash_to_underscore }},
    )
    {% elif socket.is_json_kind %}
    write_json_file(
        location=OUTPUT_PATH / "{{ socket.relative_path }}",
        content=output_{{ socket.slug|dash_to_underscore }}
    )
    {% elif socket.is_file_kind %}
    write_file(
        location=OUTPUT_PATH / "{{ socket.relative_path }}",
        content=output_{{ socket.slug|dash_to_underscore }}
    )
    {% endif %}
    {% endfor %}
    return 0
{% endfor %}

def get_interface_key():
    # The inputs.json is a system generated file that contains information about
    # the inputs that interface with the algorithm
    inputs = load_json_file(
        location=INPUT_PATH / "inputs.json",
    )
    socket_slugs = [sv["socket"]["slug"] for sv in inputs]
    return tuple(sorted(socket_slugs))

{% include "forge/partials/functions/load_json.py.template" %}

{% if object.algorithm_output_sockets|has_json_kind %}
{% include "forge/partials/functions/write_json.py.template" %}
{% endif %}

{% if object.algorithm_input_sockets|has_panimg_kind %}
{% include "forge/partials/functions/load_image.py.template" %}
{% endif %}

{% if object.algorithm_input_sockets|has_dicom_image_kind %}
{% include "forge/partials/functions/load_dicom_image.py.template" %}
{% endif %}

{% if object.algorithm_output_sockets|has_panimg_kind %}
{% include "forge/partials/functions/write_image.py.template" %}
{% endif %}

{% if object.algorithm_output_sockets|has_dicom_image_kind %}
{% include "forge/partials/functions/write_dicom_image.py.template" %}
{% endif %}

{% if object.algorithm_input_sockets|has_file_kind %}
{% include "forge/partials/functions/load_file.py.template" %}
{% endif %}

{% if object.algorithm_output_sockets|has_file_kind %}
{% include "forge/partials/functions/write_file.py.template" %}
{% endif %}


if __name__ == "__main__":
    from app import init_model
    raise SystemExit(run(model=init_model()))
