{% load forge %}
{% if object.algorithm_input_sockets|has_image_kind or object.algorithm_output_sockets|has_image_kind %}
numpy
{% endif %}
{% if object.algorithm_input_sockets|has_panimg_kind or object.algorithm_output_sockets|has_panimg_kind %}
SimpleITK
{% endif %}
{% if object.algorithm_input_sockets|has_dicom_image_kind or object.algorithm_output_sockets|has_dicom_image_kind %}
pydicom
# Required to decompress some DICOM transfer syntaxes
pylibjpeg
pylibjpeg-libjpeg
pylibjpeg-openjpeg
{% endif %}
fastapi
uvicorn
