{% extends 'products/base.html' %}

{% block title %}
    About - {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
  <li class="breadcrumb-item"><a href="{% url 'products:about' %}">About</a></li>
  <li class="breadcrumb-item active" aria-current="page">Add your product</li>
{% endblock %}

{% block content %}
  <div class="container pl-0">
    <div class="row pb-4">
      <div class="col-sm-8">
        <h1 class="h2 pb-3">Your product missing?</h1>
        <p>Do you think your software product meets our criteria? Please, <a href="mailto:kicky.vanleeuwen@radboudumc.nl">get in touch</a>. You will then receive further instructions on the information to supply.</p>
      </div>
    </div>

    <div class="row pb-4">
      <div class="col-sm-4">
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th colspan="2">Inclusion</th>
            </tr>
          </thead>
          <tr>
            <td class="text-muted">Focused on radiology or nuclear medicine</td>
          </tr>
          <tr>
            <td class="text-muted">Contains machine learning components</td>
          </tr>
          <tr>
            <td class="text-muted">Mainly intended for clinical use</td>
          </tr>
          <tr>
            <td class="text-muted">CE marked</td>
          </tr>
        </table>
      </div>
      <div class="col-sm-4">
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th colspan="2">Exclusion</th>
            </tr>
          </thead>
          <tr>
            <td class="text-muted">Distribution platforms or marketplaces</td>
          </tr>
          <tr>
            <td class="text-muted">Research software</td>
          </tr>
          <tr>
            <td class="text-muted">Imaging software applied during acquisition, intervention or surgery</td>
          </tr>
          <tr>
            <td class="text-muted">Dictation software</td>
          </tr>
        </table>
      </div>
    </div>

  </div>

{% endblock %}
