{% extends 'products/base.html' %}

{% block title %}
    About - {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
  <li class="breadcrumb-item active" aria-current="page">About</li>
{% endblock %}

{% block content %}
  <div class="container pl-0">
    <div class="row pb-4 ">
      <div class="col-sm-8">
          <h1 class="h2 pb-3">About the initiative</h1>

          <div class="row py-3 bg-light">
            <div class="col-sm">
              <h2 class="h5">Want to cite this website?</h2>
              Please refer to
              <a href="{% url 'products:product-list' %}">www.AIforRadiology.com</a>
              and/or our related <a href="https://doi.org/10.1007/s00330-021-07892-z" target="_blank">publication</a>. <br><br>
              <small> van Leeuwen, K.G., Schalekamp, S., Rutten, M.J.C.M. et al. Artificial intelligence in radiology: 100 commercially available products and their scientific evidence. Eur Radiol 31, 3797–3804 (2021). <a class="text-radboud" href="https://doi.org/10.1007/s00330-021-07892-z" target="_blank">https://doi.org/10.1007/s00330-021-07892-z</a></small>
            </div>
          </div>

          <h2 class="h4 pt-3">Increasing transparency in AI for radiology</h2>
          <p> AI for Radiology increases transparency in the commercial artificial intelligence software available for radiology. The supply of commercial software products has rapidly increased. For the potential customers, it might not always be clear what is out there, with what regulatory clearance, and at what maturity level. Therefore, we want to increase transparency in the available AI software for radiology in Europe and aid the selection and implementation of such software.
          </p>

          <h2 class="h4">The most comprehensive overview</h2>
          <p> We provide an overview of available AI based software for clinical radiology practice. The
              focus is on the European market, therefore CE certification is a requirement for software to be on the
              main product page. Vendors are asked to provide information about their products ensuring high quality information.
              If not provided, the company and product profile will be more limited and consisting of public information
              (from e.g. websites, news articles, etc.). Currently, we are the most comprehensive overview out there.
          </p>

          <h2 class="h4">We are independent</h2>
          <p> The data aggregation and maintenance of this website is performed by the
              <a href="http://diagnijmegen.nl/" title="DIAG" target="_blank">Diagnostic Image Analysis Group</a> (DIAG)
              from the <a href="https://www.radboudumc.nl/en/" class="w3-hover-opacity" target="_blank">Radboud university medical center</a>
              in the Netherlands. DIAG is a research group and we have no commercial interest in this project. We do not receive any funding from the listed vendors.
          </p>
      </div>
    </div>


    <div class="row pb-4 ">
      <div class="col-sm-8">
        <div class="d-flex justify-content-between align-items-end">
          <h1 class="h2 pb-3">Frequently asked questions</h1>
          <a class="pb-3" data-toggle="collapse" data-target=".multi-collapse" role="button" aria-expanded="false">Unfold all <i class="fas fa-angle-down text-radboud"></i></a>
        </div>

        <div class="row pt-2 bg-light">
          <div class="col-sm d-flex justify-content-between" data-toggle="collapse" href="#cite" role="button" aria-expanded="false" aria-controls="cite">
            <p>How can I cite this website?</p>
            <p><i class="fas fa-angle-down text-radboud"></i></p>
          </div>
        </div>

        <div class="row pt-2">
          <div class="col-sm collapse multi-collapse" id="cite">
            <p>Please refer to
              <a href="{% url 'products:product-list' %}">www.AIforRadiology.com</a>
              and/or our related <a class="text-radboud" href="https://doi.org/10.1007/s00330-021-07892-z" target="_blank">publication</a>: <i>van Leeuwen, K.G., Schalekamp, S., Rutten, M.J.C.M. et al. Artificial intelligence in radiology: 100 commercially available products and their scientific evidence. Eur Radiol 31, 3797–3804 (2021). <a class="text-radboud" href="https://doi.org/10.1007/s00330-021-07892-z" target="_blank">https://doi.org/10.1007/s00330-021-07892-z</a></i></p>
          </div>
        </div>

        <div class="row pt-2 bg-light">
          <div class="col-sm d-flex justify-content-between" data-toggle="collapse" href="#info-source" role="button" aria-expanded="false" aria-controls="info-source">
            <p>What is the source of information for the listings?</p>
            <p><i class="fas fa-angle-down text-radboud"></i></p>
          </div>
        </div>
        <div class="row pt-2">
          <div class="col-sm collapse multi-collapse" id="info-source">
            <p>Information on majority of the products has been provided by the vendors themselves. They update information when necessary or we propose changes based on press releases. If the vendors did not verify and complement the information, the product specifications are based on public sources (vendor website, press releases). On the <a class="text-radboud" target="_blank" href="{% url 'products:product-list' %}">Products page</a> the <i>Information source</i> for each product is listed as <i>Vendor</i> or <i>Public</i>.</p>
          </div>
        </div>

        <div class="row pt-2 bg-light">
          <div class="col-sm d-flex justify-content-between" data-toggle="collapse" href="#certif-verified" role="button" aria-expanded="false" aria-controls="certif-verified">
            <p>What does ‘Certification verified’ mean?</p>
            <p><i class="fas fa-angle-down text-radboud"></i></p>
          </div>
        </div>

        <div class="row pt-2">
          <div class="col-sm collapse multi-collapse" id="certif-verified">
            <p>Software that may impact patient outcome is considered a medical device and needs to conform to certain safety standards. The CE mark in Europe and FDA clearance in the United States indicate conformity to those standards and allows for selling and clinical use of the product in that region. We verify the FDA clearances using the <a class="text-radboud" target="_blank" href="https://www.fda.gov/medical-devices/device-advice-comprehensive-regulatory-assistance/medical-device-databases">FDA database</a> and request the CE certificate or Declaration of Conformity to verify CE certification. If <i>Certification verified</i> is answered <i>No</i>, we were not able to retrieve all documents.</p>
          </div>
        </div>

        <div class="row pt-2 bg-light">
          <div class="col-sm d-flex justify-content-between" data-toggle="collapse" href="#order-list" role="button" aria-expanded="false" aria-controls="order-list">
            <p>What determines the order of the listing?</p>
            <p><i class="fas fa-angle-down text-radboud"></i></p>
          </div>
        </div>

        <div class="row pt-2">
          <div class="col-sm collapse multi-collapse" id="order-list">
            <p>The general order on the <a target="_blank" href="{% url 'products:product-list' %}">Products page</a> is alphabetically based on the product names. Products with MDR certification are listed first, followed by products for which the information was provided by the vendor (<i>Information source: Vendor</i>) and certification was verified (<i>Certification verified: Yes</i>).</p>
          </div>
        </div>

        <div class="row pt-2 bg-light">
          <div class="col-sm d-flex justify-content-between" data-toggle="collapse" href="#fund-1" role="button" aria-expanded="false" aria-controls="fund-1">
            <p>Do companies pay to be listed?</p>
            <p><i class="fas fa-angle-down text-radboud"></i></p>
          </div>
        </div>

        <div class="row pt-2">
          <div class="col-sm collapse multi-collapse" id="fund-1">
            <p>No, companies do not pay to be listed in this overview of artificial intelligence software in radiology. We aim to increase transparency in the field and be as comprehensive as possible. This also means companies cannot pay to be prioritized in the listing order.</p>
          </div>
        </div>

        <div class="row pt-2 bg-light">
          <div class="col-sm d-flex justify-content-between" data-toggle="collapse" href="#fund-2" role="button" aria-expanded="false" aria-controls="fund-2">
            <p>How is the platform funded?</p>
            <p><i class="fas fa-angle-down text-radboud"></i></p>
          </div>
        </div>

        <div class="row pt-2">
          <div class="col-sm collapse multi-collapse" id="fund-2">
            <p>The platform is currently funded as part of a research project by Radboud university medical center in Nijmegen, the Netherlands.</p>
          </div>
        </div>

        <div class="row pt-2 bg-light">
          <div class="col-sm d-flex justify-content-between" data-toggle="collapse" href="#content-update" role="button" aria-expanded="false" aria-controls="content-update">
            <p>Is the content updated regularly?</p>
            <p><i class="fas fa-angle-down text-radboud"></i></p>
          </div>
        </div>

        <div class="row pt-2">
          <div class="col-sm collapse multi-collapse" id="content-update">
            <p>We try to keep the information up to date as much as possible. For this we largely depend on the vendors passing us the latest changes. Also, we keep track of news, social media and press releases. Do you notice something that should be updated? Or products that are missing? Please, let us know by sending an email to <a href="mailto:kicky.vanleeuwen@radboudumc.nl" class="text-radboud">kicky.vanleeuwen@radboudumc.nl</a>. Want to receive a monthly summary of the changes? Please, subscribe to our newsletter <a class="text-radboud" target="_blank" href="http://eepurl.com/hrqfdr">here</a>.</p>
          </div>
        </div>

        <div class="row pt-2 bg-light">
          <div class="col-sm d-flex justify-content-between" data-toggle="collapse" href="#notification" role="button" aria-expanded="false" aria-controls="notification">
            <p>Can I get notifications on updates and new products being listed?</p>
            <p><i class="fas fa-angle-down text-radboud"></i></p>
          </div>
        </div>

        <div class="row pt-2">
          <div class="col-sm collapse multi-collapse" id="notification">
            <p>Would you like to receive the latest developments in the field, a summary of the changes on the listings, and some of the key publications in AI for Radiology? Please, subscribe to our newsletter <a class="text-radboud" target="_blank" href="http://eepurl.com/hrqfdr">here</a>.</p>
          </div>
        </div>

        <div class="row pt-2 bg-light">
          <div class="col-sm d-flex justify-content-between" data-toggle="collapse" href="#database-csv" role="button" aria-expanded="false" aria-controls="database-csv">
            <p>Can I retrieve the database in Excel format?</p>
            <p><i class="fas fa-angle-down text-radboud"></i></p>
          </div>
        </div>

        <div class="row pt-2">
          <div class="col-sm collapse multi-collapse" id="database-csv">
            <p>We do not provide the database in Excel or csv format. Due to the limited resources to keep the platform maintained, we are not able to follow up on these requests.</p>
          </div>
        </div>

        <div class="row pt-2 bg-light">
          <div class="col-sm d-flex justify-content-between" data-toggle="collapse" href="#buy" role="button" aria-expanded="false" aria-controls="buy">
            <p>How can I buy one of the products?
            </p>
            <p><i class="fas fa-angle-down text-radboud"></i></p>
          </div>
        </div>

        <div class="row pt-2">
          <div class="col-sm collapse multi-collapse" id="buy">
            <p>We are not a marketplace or reseller. Please, click on the vendor name or logo to be redirected to the company page. Here, you can find the vendor's contact details to discuss a purchase.</p>
          </div>
        </div>

      </div>
    </div>


    <div class="row pb-4">
      <div class="col-sm-8">
        <h2>Your product missing?</h2>
        <p>Do you think your software product meets our criteria? Please, <a href="mailto:kicky.vanleeuwen@radboudumc.nl">get in touch</a> so we can keep the overview as complete as possible.</p>
      </div>
    </div>

    <div class="row pb-4">
      <div class="col-sm-4">
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th colspan="2">Inclusion</th>
            </tr>
          </thead>
          <tr>
            <td class="text-muted">Focused on radiology or nuclear medicine</td>
          </tr>
          <tr>
            <td class="text-muted">Contains machine learning components</td>
          </tr>
          <tr>
            <td class="text-muted">Mainly intended for clinical use</td>
          </tr>
          <tr>
            <td class="text-muted">CE marked</td>
          </tr>
        </table>
      </div>
      <div class="col-sm-4">
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th colspan="2">Exclusion</th>
            </tr>
          </thead>
          <tr>
            <td class="text-muted">Distribution platforms or market places</td>
          </tr>
          <tr>
            <td class="text-muted">Research software</td>
          </tr>
          <tr>
            <td class="text-muted">Imaging software applied during acquisition, intervention or surgery</td>
          </tr>
          <tr>
            <td class="text-muted">Dictation software</td>
          </tr>
        </table>
      </div>
    </div>

  </div>



{% endblock %}
