{% extends 'products/base.html' %}
{% load static %}

{% block title %}
    Companies
{% endblock %}

{% block content %}


  <div class="d-flex justify-content-between align-items-center">
    <h1>Companies</h1>
    <div class="">
      <form action="" method="GET">
        <div class="form-row justify-content-end">
          <div class="col-auto">
            <input hidden name="subspeciality" value="{{ selected_subspeciality }}">
            <input hidden name="modality" value="{{ selected_modality }}">
            <input class="form-control" name="search" type="text" placeholder="Search..." value={{ q_search }} >
          </div>
          <div class="col-auto">
            <input type="submit" class="btn btn-dark btn-square" value="Search">
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="d-flex justify-content-between align-items-center mb-3">
    <div> List of companies providing the CE marked artificial intelligence solutions as listed in <a class="text-radboud" href="{% url 'products:product-list' %}">Products</a></div>
    <div class="text-right text-muted">{{company_total}} results</div>
  </div>

  <div class="container">
    {% for company in companies %}
      <div class="row py-4 border-top">
          <div class="col-sm-3">
            <div class="d-flex justify-content-between flex-column h-100">
                <a class="pb-5" href="{% url 'products:company-detail' slug=company.slug %}" title="{{ company.company_name }}">
                  {% if company.logo %}
                    <img loading="lazy" src="{{ company.logo.url }}" alt="Logo" style="width:70%">
                  {% endif %}
                </a>

                <div>
                 <div>
                    <span class="text-muted">HQ: </span>
                    <span class="ml-auto">{{company.hq}}</span>
                 </div>
                 <div>
                    <span class="text-muted">Founded:</span>
                    <span class="ml-auto">{{company.founded}}</span>
                 </div>
                </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="h3 font-weight-bold mb-1"> <a class=text-dark href= "{% url 'products:company-detail' slug=company.slug %}" title={{ company.company_name }}>{{ company.company_name }}</a></div>
            <p>{{company.description_short}}</p>
            <div class="pt-1 pb-2">
                <a href="{% url 'products:company-detail' slug=company.slug %}" title="{{ company.company_name }}" class="btn btn-square btn-radboud">Read more</a>
            </div>
          </div>
          <div class="col-sm-3 bg-light pt-2">
            <p><b>Products:</b></p>
            {% for product in company.product_set.all %}
              <div>
                <a class=text-dark href= "{% url 'products:product-detail' slug=product.slug %}" title={{product.product_name}} target="_blank">
                    {{product.product_name}}</a>
              </div>
            {% endfor %}
          </div>
        </div>
    {% endfor %}
  </div>

{% endblock %}
