{% extends 'products/base.html' %}
{% load static %}

{% block meta_social %}
  <meta name="title" content="AI for Radiology">
  <meta property="og:title" content="AI for Radiology" />
  <meta property= "og:type" content="website"/>
  <meta property="og:url" content="//www.AIforRadiology.com/" />
  {% if company.logo %}
    <meta property="og:image" content= "{{company.logo.url}}" />
    <meta property= "og:image:width" content="1200" />
  {% endif %}
  <meta property="og:description" content= "Find out more about {{company.company_name}}. Founded: {{company.founded}}. Head office: {{company.hq}}"/>
{% endblock %}

{% block title %}
    {{company.company_name}} - {{ block.super }}
{% endblock %}

{% block content %}

  <div class="container pl-0">
    <div class="row">
      <div class="col-sm-6 pb-3">
          <a href="{{company.website}}" title="{{company.company_name}}" target="_blank">
            {% if company.logo %}
              <img src="{{company.logo.url}}" alt="Logo" style="width:80%">
            {% endif %}
          </a>
      </div>
    </div>

    <div class="row pt-3 pb-5">
      <div class="col-sm-6">
        <table class="table">
          <tr>
            <td class="text-muted">Company name</td>
            <td>{{company.company_name}}</td>
          </tr>
          <tr>
            <td class="text-muted">Founded</td>
            <td>{{company.founded}}</td>
          </tr>
          <tr>
            <td class="text-muted">Head office</td>
            <td>{{company.hq}}</td>
          </tr>
          <tr>
            <td class="text-muted">Website</td>
            <td><a href={{company.website}} target="_blank">{{company.website}}</a></td>
          </tr>
          <tr>
            <td class="text-muted">Contact</td>
            <td>{{company.email}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <h2 class="h4 text-radboud">Products by this company</h2>
  {% include "products/partials/product_list.html" with products=products_by_company %}

{% endblock %}
