{% extends 'products/base.html' %}

{% block title %}
    AI for radiology
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between align-items-center">
    <h1>Products</h1>
  </div>
  <div class="row align-items-end">
    <div class="col-sm-2">
      <div class="dropdown">
        <div class="h6 text-muted">Subspeciality:</div>
        <button class="btn btn-light btn-square dropdown-toggle" type="button" id="dropdownSubspec" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ selected_subspeciality }}
        </button>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          {% for subspec in subspecialities %}
            <a class="dropdown-item " href="{% url 'products:product-list' %}?subspeciality={{ subspec }}&modality={{ selected_modality }}&search={{ q_search }}">{{ subspec }}</a>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="col-sm-2">
      <div class="dropdown">
        <div class="h6 text-muted">Modality:</div>
        <button class="btn btn-light btn-square dropdown-toggle" type="button" id="dropdownModality" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ selected_modality }}
        </button>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          {% for modality in modalities %}
            <a class="dropdown-item " href="{% url 'products:product-list' %}?subspeciality={{ selected_subspeciality }}&modality={{ modality }}&search={{ q_search }}">{{ modality }}</a>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="col-sm-8">
      <form action="" method="GET">
        <div class="form-row justify-content-end">
          <div class="col-auto">
            <input hidden name="subspeciality" value="{{ selected_subspeciality }}">
            <input hidden name="modality" value="{{ selected_modality }}">
            <input class="form-control" name="search" type="text" placeholder="Search..." value={{ q_search }} >
          </div>
          <div class="col-auto">
            <input type="submit" class="btn btn-dark btn-square" value="Search">
          </div>
        </div>
      </form>
    </div>
  </div>


    <div>
      <p class="text-right text-muted">
        {{product_total}} results
      </p>
    </div>


  {% include "products/partials/product_list.html" %}

{% endblock %}
