{% extends 'products/base.html' %}
{% load static %}

{% block title %}
    Project AIR - {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
  <li class="breadcrumb-item active" aria-current="page">Project AIR</li>
{% endblock %}

{% block content %}
  <div class="container pl-0">

    <div class="row pb-4">
      <div class="col-sm-8">
        <h1 class="h2">Project AIR</h1>
        <h1 class="h5 mb-4">Multi use case, multi vendor, multicenter validation of AI software in radiology</h1>
        {% include "products/partials/project_air_description.html" %}
      </div>
    </div>

    <div class="row pb-4">
      <div class="col-sm-8">
        <h2 class="h4">Study Protocols</h2>
        <ul class="list-group list-group-flush">
          {% for project_air_file in is_current %}
              <li class="list-group-item d-flex justify-content-between align-items-center">{{ project_air_file.title }}
                  <a href="{{ project_air_file.study_file.url }}" class="btn-sm btn-square btn-radboud" target="_blank" download>Download</a>
              </li>
          {% endfor %}
        </ul>
      </div>
    </div>

    {% if is_archive %}
      <div class="row pb-4">
        <div class="col-sm-8">
          <div class="row pt-2 bg-light">
            <div class="col-sm d-flex justify-content-between" data-toggle="collapse" href="#archive" role="button" aria-expanded="false" aria-controls="archive">
              <p>View archived protocols</p>
              <p><i class="fas fa-angle-down text-radboud"></i></p>
            </div>
          </div>
          <div class="collapse" id="archive">
            <ul class="list-group list-group-flush">
              {% for project_air_file in is_archive %}
                  <li class="list-group-item d-flex justify-content-between align-items-center">{{ project_air_file.title }}
                      <a href="{{ project_air_file.study_file.url }}" class="btn-sm btn-square btn-radboud" target="_blank" download>Download</a>
                  </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    {% endif %}

  </div>
{% endblock %}
