{% load crispy_forms_tags %}
{% load remove_whitespace %}
{% load meta_attr %}

<h2>Algorithm Interfaces for {{ base_obj }}</h2>

<p>The following interfaces (i.e. input-output combinations) are configured for your {{ base_obj|verbose_name }}:</p>
<p>
    <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="{% if base_obj.algorithm_interfaces_locked %}Disabled because this phase is a parent or has a parent phase.{% endif %}">
        <a class="btn btn-primary {% if base_obj.algorithm_interfaces_locked %} disabled {% endif %}"
           href="{{ base_obj.algorithm_interface_create_url }}"
        >
        <i class="fas fa-plus"></i> Add new interface
        </a>
    </span>
</p>

{% include 'algorithms/partials/algorithminterface_table.html' with base_obj=base_obj interfaces=interfaces delete_option=True %}
