{% load crispy_forms_tags %}
{% load remove_whitespace %}
{% load meta_attr %}

<h2>Algorithm Interfaces for {{ base_obj }}</h2>

<p>The following interfaces are configured for your {{ base_obj|verbose_name }}:</p>
<p>
    <a class="btn btn-primary" href="{{ base_obj.interface_create_url }}">Add new interface</a>
</p>

<div class="table-responsive">
    <table class="table table-hover table-borderless">
        <thead class="thead-light">
            <th>Inputs</th>
            <th>Outputs</th>
            <th>Default</th>
            <th>Delete</th>
        </thead>
        <tbody>
            {% for object in object_list %}
                 <tr>
                    <td>{{ object.interface.inputs.all|oxford_comma }}</td>
                    <td>{{ object.interface.outputs.all|oxford_comma }}</td>
                    <td>{% if object.is_default %}<i class="fas fa-check-circle text-success mr-1"></i>{% else %}<i class="fas fa-times-circle text-danger mr-1"></i>{% endif %}</td>
                    <td>
                        <a class="btn btn-sm btn-danger m-0 {% if object.is_default %} disabled {% endif %}"
                           href="{% url base_obj.interface_delete_viewname slug=base_obj.slug interface_pk=object.interface.pk %}">
                            <i class="fas fa-trash"></i>
                        </a>
                    </td>
                 </tr>
            {% empty %}
                <tr><td colspan="100%" class="text-center">This {{ base_obj|verbose_name }} does not have any interfaces defined yet.</td></tr>
             {% endfor %}
        </tbody>
    </table>
</div>
