{% load crispy_forms_tags %}
{% load meta_attr %}
{% load url %}

<h2>Create An Algorithm Interface</h2>
<p>
    Create an interface: define any combination of inputs and outputs, and optionally mark the interface as default for the {{ base_obj|verbose_name }}.</p>
<p>
    Please see the <a href="{% url 'components:component-interface-list-input' %}">list of input options</a> and the <a href="{% url 'components:component-interface-list-output' %}">
    list of output options </a> for more information and examples.
</p>
<p>
    If you cannot find suitable inputs or outputs, please <a target="_blank" href="mailto:{{ SUPPORT_EMAIL }}">contact support</a>.
</p>

{% crispy form %}
