{% load static %}

<div class="row pb-4">
    <div class="col-sm-6">
        Summary presentation for vendors
    </div>
    <div class="col-sm-4">
        <a href="{% url 'products:product-list' %}" class="btn-sm btn-square btn-radboud">Download</a>
    </div>
</div>

<div class="row pb-4">
    <div class="col-sm-6">
        Summary presentation for radiologists and radiology departments
    </div>
    <div class="col-sm-4">
        <a href="{% url 'products:product-list' %}" class="btn-sm btn-square btn-radboud">Download</a>
    </div>
</div>

<div class="row pb-4">
    <div class="col-sm-6">
        General study protocol
    </div>
    <div class="col-sm-4">
        <a href="{% url 'products:product-list' %}" class="btn-sm btn-square btn-radboud">Download</a>
    </div>
</div>    

<div class="row pb-4">
    <div class="col-sm-6">
        Study protocol: Bone age prediction hand radiographs
    </div>
    <div class="col-sm-4">
        <a href="{% url 'products:product-list' %}" class="btn-sm btn-square btn-radboud">Download</a>
    </div>
</div>

<div class="row pb-4">
    <div class="col-sm-6">
        Study protocol: Lung nodule detection chest radiographs
    </div>
    <div class="col-sm-4">
        <a href="{% url 'products:product-list' %}" class="btn-sm btn-square btn-radboud">Download</a>
    </div>
</div>

<div class="row pb-4">
    <div class="col-sm-6">
        Study protocol: Large vessel occlusion detection brain CTA
    </div>
    <div class="col-sm-4">
        <a href="{% url 'products:product-list' %}" class="btn-sm btn-square btn-radboud">Download</a>
    </div>
</div>
