{% load static %}

<nav class="navbar navbar-dark navbar-top navbar-expand-sm bg-radboud">
  <div class="container">
      <div class="d-flex justify-content-between align-items-center">
          <footer> Subscribe to our monthly newsletter
              <a href="http://eepurl.com/hrqfdr" title="Subscribe" class="btn btn-sm btn-square btn-dark ml-3" target="_blank">Subscribe</a>
          </footer>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#collapsibleNavbar">
            <div class="navbar-toggler-icon"></div>
        </button>
      </div>
  </div>
</nav>