{% if product.ce_class == "Class I" %}
    "Class I is the lowest risk class. Class I devices are ‘self-certified’ as conformity assessment is carried out by the vendors themselves. CE certificates are not issued as the product is not evaluated by a Notified Body."
{% elif product.ce_class == "Class IIa" %}
    "Class IIa applies to software that intends to impact diagnosis or monitor vital physiological processes, with a low risk of harm when the software falls short. Class IIa certificates are issued by a Notified Body which assesses validation, conformity and clinical evaluation for the product."
{% elif product.ce_class == "Class IIb" %}
    "Class IIb applies to software that intends to impact diagnosis or monitor vital physiological processes, with a higher risk of harm than IIa when the software falls short. Class IIb certificates are issued by a Notified Body which assesses validation, conformity and clinical evaluation for the product."
{% elif product.ce_class == "Class III" %}
    "Class III applies to medical devices that can cause severe disability or death when falling short. Class III certificates are issued by a Notified Body which assesses validation, conformity and clinical evaluation for the product."
{% elif product.ce_class == "Class unknown" %}
    "The certification class is unknown."
{% endif %}
