{% extends "datatables/list_base.html" %}
{% load humanize %}

{% block title %}
    DICOM Image Uploads - {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Your DICOM Image Uploads</li>
    </ol>
{% endblock %}

{% block content %}
    <h2>Your DICOM Image Uploads</h2>

    <p>This is a list of the DICOM image sets that you've uploaded. The images are processed before they are available on the platform.</p>

    {{ block.super }}
{% endblock %}
