{% load static %}
{% load url %}

<select class="custom-select"
        name="widget-choice-{{ widget.name }}"
        id="widget-select-{{ widget.name }}"
        hx-get="{% url 'cases:select-image-widget' %}"
        hx-target="#area-{{ widget.name }}"
        hx-trigger="widgetSelected, change, load"
        hx-request='{"credentials":"include"}'
        hx-include="[id='values-{{ widget.name }}']"
>
    {% if widget.attrs.display_name %}
        <option value="{{ widget.attrs.widget_choices.IMAGE_SELECTED }}">{{ widget.attrs.display_name }}</option>
    {% else %}
        <option value="{{ widget.attrs.widget_choices.UNDEFINED }}">Choose data source...</option>
    {% endif %}
    <option value="{{ widget.attrs.widget_choices.IMAGE_SEARCH }}">Select an existing image</option>
    <option value="{{ widget.attrs.widget_choices.IMAGE_UPLOAD }}">Upload a new image</option>
</select>

<div id="values-{{ widget.name }}">
    <input type="hidden" name="prefixed-interface-slug" value="{{ widget.name }}">
    {% for value in widget.attrs.current_value %}
        <input type="hidden" name="current-value-pk" value="{{ value.pk }}">
    {% endfor %}
</div>

<div class="mt-3" id="area-{{ widget.name }}"></div>

<script type="module" src="{% static "cases/js/flexible_image_widget.mjs" %}"></script>
