{% load static %}

<select class="custom-select"
        name="WidgetChoice-{{ widget.name }}"
        id="widgetSelect-{{ widget.name }}"
        hx-get="{% url 'cases:select-image-widget' %}"
        hx-target="#{{ widget.name }}-area"
        hx-trigger="widgetSelected, change"
        hx-vals='{"help_text": "{{ widget.attrs.help_text }}", "interface": "{{ widget.name }}"}'
>
    <option value="">Choose data source...</option>
    <option value="IMAGE_SEARCH" {% if widget.attrs.default_widget == "IMAGE_SEARCH" %} selected {% endif %}>Select previously uploaded image</option>
    <option value="IMAGE_UPLOAD" {% if widget.attrs.default_widget == "IMAGE_UPLOAD" %} selected {% endif %}>Upload new image</option>
</select>

<div class="mt-3" id="{{ widget.name }}-area"></div>

<script type="text/javascript" src="{% static "js/cases/flexible_image_widget.js" %}"></script>
