{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OpenSeaDragon Image Detail</title>
</head>
<body style="margin: 0;">

<div id="openseadragonview" style="height: 100vh;"></div>

<script src="{% static 'vendored/openseadragon/openseadragon.min.js' %}"></script>

<script nonce="{{request.csp_nonce}}" type="text/javascript">
    let viewer = OpenSeadragon({
        id: "openseadragonview",
        prefixUrl: "{% static 'vendored/openseadragon/images/' %}",
        tileSources: "{{ dzi_url }}",
        debugMode: false,
        gestureSettingsMouse: {
            flickEnabled: true,
            clickToZoom: false,
            dblClickToZoom: true,
        },
        zoomPerSecond: 0.5,
        zoomPerScroll: 1.3,
        showNavigator:  true,
    });
</script>

</body>
</html>
