{% load url %}
{% load static %}

<div class="form-group mb-1"
     id="search-image-{{ widget.name }}"
     hx-get="{% url 'cases:image-search' %}"
     hx-trigger="load once, input delay:500ms from:#query-{{ widget.name }}"
     hx-target="#selected-image-{{ widget.name }}"
     hx-swap="innerHTML"
     hx-request='{"credentials":"include"}'
     hx-include="[id='image-input-group-{{ widget.name }}']"
>
    <div class="input-group" id="image-input-group-{{ widget.name }}">
        <div class="input-group-prepend"><span class="input-group-text">Select an image</span></div>
        <input class="form-control" type="search" name="query-{{ widget.name }}"
               id="query-{{ widget.name }}"
               placeholder="Search by pk or image name"
        >
        <select class="custom-select"
                name="{{ widget.name }}"
                id="selected-image-{{ widget.name }}">
            <option value="">No image selected</option>
        </select>
        <input type="hidden" name="prefixed-interface-slug" value="{% if prefixed_interface_slug %}{{ prefixed_interface_slug }}{% else %}{{ widget.name }}{% endif %}">
    </div>

    <small class="form-text text-muted">
        Select an existing image that you have access to.
        This could be from data that you have previously uploaded,
        archives that you have permission to use,
        or public algorithm results that you have access to.
    </small>
</div>
