{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VTK.js Image Detail</title>
    <style>
        body {
            margin: 0;
        }
        .viewer {
            width: 100vw;
            height: 100vh;
        }
    </style>
</head>
<body>
    <div id="itk" class="viewer" data-url="{{ mh_url }}" data-is2d="{{ is_2d }}"></div>
    <script src="{% static 'vendored/itk-vtk-viewer/dist/itkVtkViewerCDN.js' %}"></script>
    <script type="module" src="{% static 'cases/js/vtk.mjs' %}"></script>
</body>
</html>
