{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cornerstone Image Viewer</title>
    <link type="text/css" href="{% static 'vendor/css/base.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'vendor/fa/css/all.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static 'vendor/js/jquery.min.js' %}"></script>
    <style>
        body {
            margin: 0;
        }
        .viewer {
            position: relative;
            background: #000;
            color: #fff;
        }
        .loading-overlay {
            display: flex;
            justify-content: center;
            align-items: center;
            position: fixed;
            left: 0;
            top: 0;
            width: 100vw;
            height: 100vh;
            background: #000;
        }
    </style>
</head>
<body>
    <div class="d-flex flex-column vh-100 vw-100">

        <div id="itkImageWrapper" class="flex-grow-1 viewer" style="position: relative; color: white" oncontextmenu="return false" onmousedown="return false">
            <div id="itkImage" style="width: 100%; height: 100%; top: 0; left: 0; position: absolute">
            </div>

            <div id="topleft" class="overlay" style="position: absolute; top: 0; left: 0;">
                <div class="btn-group btn-group-sm m-1" role="group">
                    <button type="button" id="invert" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="Invert">
                        <i class="fas fa-adjust fa-lg"></i>
                    </button>
                    <button type="button" id="hflip" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="Horizontal flip">
                        <i class="fas fa-exchange-alt fa-lg"></i>
                    </button>
                    <button type="button" id="vflip" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="Vertical flip">
                        <i class="fas fa-exchange-alt fa-lg" style="transform: rotate(90deg);"></i>
                    </button>
                    <button type="button" id="rotate" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="Rotate clockwise">
                        <i class="fas fa-undo fa-lg" style="transform: scaleX(-1);"></i>
                    </button>
                </div>
            </div>
            <div id="topright" class="overlay" style="position: absolute; top: 0; right: 0;">
                Render Time:
            </div>
            <div id="bottomright" class="overlay" style="position: absolute; bottom: 0; right: 0;">
                Zoom:
            </div>
            <div id="bottomleft" class="overlay" style="position: absolute; bottom: 0; left: 0;">
                WW/WC:
            </div>
            <div><span id="coords"></span></div>
        </div>
    </div>
    <div class="loading-overlay" id="loading">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

    <script src="{% static 'vendor/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Dependencies -->
    <script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8" integrity="sha384-Cs3dgUx6+jDxxuqHvVH8Onpyj2LF1gKZurLDlhqzuJmUqVYMJ0THTWpxK5Z086Zm" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/cornerstone-math@0.1.6/dist/cornerstoneMath.js" integrity="sha384-t6p6Opmh59HFuC9TXYcExw8Y9+ktPG19qZbANsHnyykXOEwQBDcocYRU3xv85e+7" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/cornerstone-core@2.2.4/dist/cornerstone.js" integrity="sha384-V9P/aL0q9pHtJ5T6nu+lMhECpty2o5AHEDsqq5ByENSdmSVczBubXTeqWusnVfQ8" crossorigin="anonymous"></script>

    <script>
        const imageId = 'grandChallengeLoader://{{ image_pk }}';
        const loadingEl = document.getElementById('loading');
        const element = document.getElementById('itkImage');


        const getGCImage = (imageId) => {
            return {
                promise: new Promise((resolve, reject) => {
                    fetch(`loader#${imageId}`).then(r => {
                        if (r.status === 200) {
                            return r.json()
                        }
                    }).then(r => {
                        r.getPixelData = () => r.pixelData;
                        const {pixelData, getPixelData, ...logR} = r;
                        console.log(logR);
                        resolve(r);
                    }).catch(e => reject(e));
                }),
            };
        };

        cornerstone.registerImageLoader('grandChallengeLoader', getGCImage);

        // Register grand challenge image loader
        // cornerstone.registerImageLoader('grandChallengeLoader', (imageId) => ({
        //     promise: new Promise((resolve, reject) => {
        //         fetch(`loader#${imageId}`).then(r => {
        //             if (r.status === 200) {
        //                 return r.json()
        //             }
        //         }).then(r => {
        //             r.getPixelData = () => r.pixelData;
        //             resolve(r);
        //         }).catch(e => reject(e));
        //     })
        // }));

        // setup handlers before we display the image
        element.addEventListener('cornerstoneimagerendered', e => {
            const eventData = e.detail;
            console.log("Render Time:" + eventData.renderTimeInMs + " ms");
            // set the canvas context to the image coordinate system
            cornerstone.setToPixelCoordinateSystem(eventData.enabledElement, eventData.canvasContext);
            document.getElementById('bottomright').textContent = "Window level: " + Math.round(eventData.viewport.voi.windowWidth) + "/" + Math.round(eventData.viewport.voi.windowCenter) + ", Zoom: " + eventData.viewport.scale.toFixed(2);
        });

        // Initialize viewport element
        cornerstone.enable(element, {
            renderer: 'webgl',
            desynchronized: true,
            preserveDrawingBuffer: true
        });

        // load and display the image
        cornerstone.loadAndCacheImage(imageId).then(function(image) {
            const viewport = cornerstone.getViewport(element);
            cornerstone.displayImage(element, image, viewport);
            const {pixelData, getPixelData, ...restImage} = image;
            return restImage;
        }).then(function(image) {
            console.log(image); // TODO remove.
            loadingEl.style.display = 'none';
            $('[data-toggle="tooltip"]').tooltip();

            // add event handlers to pan/windowlevel/zoom image on mouse move
            element.addEventListener('mousedown', function (e) {
                let lastX = e.pageX;
                let lastY = e.pageY;

                function mouseMoveHandler(e) {
                const deltaX = e.pageX - lastX;
                const deltaY = e.pageY - lastY;
                lastX = e.pageX;
                lastY = e.pageY;
                const viewport = cornerstone.getViewport(element);
                if (e.which === 2) {
                    const maxWindowWidth = image.maxPixelValue - image.minPixelValue;
                    viewport.voi.windowWidth += deltaX / element.clientHeight * maxWindowWidth; 
                    viewport.voi.windowCenter += deltaY / element.clientWidth * maxWindowWidth;
                } else if (e.which === 1) {
                    viewport.translation.x += deltaX / viewport.scale;
                    viewport.translation.y += deltaY / viewport.scale / 2;
                } else if (e.which === 3) {
                    viewport.scale += (deltaY / 100);
                }
                cornerstone.setViewport(element, viewport);
                }

                function mouseUpHandler() {
                document.removeEventListener('mouseup', mouseUpHandler);
                document.removeEventListener('mousemove', mouseMoveHandler);
                }

                document.addEventListener('mousemove', mouseMoveHandler);
                document.addEventListener('mouseup', mouseUpHandler);
            });


            // Add button toolbar manipulation events
            function manipulateViewport(element, manipulationFn) {
                const viewport = cornerstone.getViewport(element);
                viewport = manipulationFn(viewport);
                cornerstone.setViewport(element, viewport);
            }
            document.getElementById('invert').addEventListener('click', function (e) {
                manipulateViewport(element, vp => ({...vp, invert: !vp.invert}));
            });
            document.getElementById('hflip').addEventListener('click', function (e) {
                manipulateViewport(element, vp => ({...vp, hflip: !vp.hflip}));
            });
            document.getElementById('vflip').addEventListener('click', function (e) {
                manipulateViewport(element, vp => ({...vp, vflip: !vp.vflip}));
            });
            document.getElementById('rotate').addEventListener('click', function (e) {
                manipulateViewport(element, vp => ({...vp, rotation: vp.rotation + 90}));
            });

            // Show world coordinate values on mousemove
            element.addEventListener('mousemove', function(event) {
                const pixelCoords = cornerstone.pageToPixel(element, event.pageX, event.pageY);
                document.getElementById('bottomleft').textContent = "X=" + pixelCoords.x + ", Y=" + pixelCoords.y;
            });
        });
    </script>
</body>
</html>
