{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load url %}
{% load workstations %}
{% load pathlib %}

{% block title %}Upload Session {{ object.pk }} - {{ block.super }}{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a
                href="{% url 'cases:raw-image-upload-session-list' %}">Uploads</a>
        </li>
        <li class="breadcrumb-item active"
            aria-current="page">{{ object.pk }}</li>
    </ol>
{% endblock %}

{% block content %}

    <h2>Upload Session</h2>

    {% if object.error_message %}
        <div class="alert alert-danger">
            {{ object.error_message }}
        </div>
    {% endif %}

    <dl class="inline">
        <dt>Created</dt>
        <dd>{{ object.created }}</dd>

        <dt>ID</dt>
        <dd>{{ object.pk }}</dd>

        <dt>Status</dt>
        <dd>
            <span class="badge
                {% if object.status == object.FAILURE or object.status == object.CANCELLED %}
                    badge-danger
                {% elif object.status == object.RETRY %}
                    badge-warning
                {% elif object.status == object.SUCCESS %}
                    badge-success
                {% else %}
                    badge-info
                {% endif %}">
                {{ object.get_status_display }}
            </span>
        </dd>
    </dl>

    <h2>Uploaded Files</h2>

    <div class="table-responsive">
        <table class="table table-hover table-borderless table-sm">
            <tbody>
            {% for file, errors in object.import_result.file_errors.items %}
                <tr>
                    <td><i class="fa fa-exclamation-triangle text-danger" title="File could not be imported"></i></td>
                    <td>{{ file }}</td>
                    <td>
                        We could not import this file using any image builder,
                        the error for each image builder is:
                        <ul>
                            {% for error in errors %}
                                <li>{{ error }}</li>{% endfor %}
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            {% for file in object.import_result.consumed_files %}
                <tr>
                    <td><i class="fa fa-check text-success" title="File was imported"></i></td>
                    <td>{{ file }}</td>
                    <td>Imported successfully</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% if object.status == object.SUCCESS %}

        <h2>Images</h2>

        <div class="table-responsive">
            <table class="table table-hover table-borderless table-sm">
                <tbody>
                {% for image in object.image_set.all %}
                    <tr>
                        <td>{{ image.name }}</td>
                        <td>{{ image.shape_without_color|join:"x" }}</td>
                        <td>
                            <ul class="list-unstyled">
                                {% for file in image.files.all %}
                                    <li>
                                        <a href="{{ file.file.url }}">
                                        <span class="badge badge-primary"
                                              title="Download Image {{ image.name|stem }} ({{ file.file|suffix }})">
                                            <i class="fa fa-download"></i> Image ({{ file.file|suffix }})
                                        </span>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>
                            <a href="{% url 'workstations:default-session-create' %}?{% workstation_query image=image %}">
                                <span class="badge badge-primary">
                                    <i class="fa fa-eye"></i> View Image
                                </span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        {% if not object.image_set.all %}
            <div class="alert alert-danger">No images imported.</div>
        {% endif %}
    {% endif %}
{% endblock %}
