{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load url %}
{% load workstations %}

{% block content %}

    <h2>Session state</h2>

    <p>Job id: {{ object.pk }}</p>
    <p>Status: {{ object.get_status_display }}</p>
    <p>Error message: {{ object.error_message }}</p>
    <p>Creation date: {{ object.created }}</p>

    {% if object.status == object.SUCCESS %}
        <h2>Processed files</h2>

        <div class="table-responsive">
            <table class="table table-hover table-borderless table-sm">
                <tbody>
                {% for raw_file in object.rawimagefile_set.all %}
                    <tr>
                        <td style="padding-right:1cm;">{{ raw_file.filename }}</td>
                        <td>
                            {% if raw_file.error %}
                                {{ raw_file.error|linebreaksbr }}
                            {% else %}
                                {{ "succeeded" }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <h2>Images</h2>

        <div class="table-responsive">
            <table class="table table-hover table-borderless table-sm">
                <tbody>
                {% for image in object.image_set.all %}
                    <tr>
                        <td style="padding-right:1cm;">{{ image.name }}</td>
                        <td style="padding-right:1cm;">{{ image.shape_without_color|join:"x" }}</td>
                        <td style="padding-right:1cm;">
                            <a href="{% url 'workstations:default-session-redirect' %}?{% workstation_query image=image %}">
                                    Show image in workstation
                            </a>
                        </td>
                        <td style="padding-right:1cm;">
                            {% if ".tif" in image.name %}
                                <a href="../show_image/{{ image.pk }}/" >
                                    Show image in browser
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}
