{% extends "base.html" %}
{% load static %}
{% load url %}

{% block content %}
    <h2>Image</h2>

    <div class="table-responsive">
        <table class="table table-hover table-borderless table-sm">
            <tbody>
            <tr>
                <td style="padding-right:1cm;">{{ image_file.image.name }}</td>
            </tr>
            </tbody>
        </table>
        <div id="openseadragonview"
             style="width: 100%; height: 600px;"></div>
    </div>
{% endblock %}

{% block script %}
    {{ block.super }}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/openseadragon/2.4.1/openseadragon.min.js"
            integrity="sha256-qIiBj8XqCj196KLyEX8fBJ0HiHUZmXYmYFciVQZ7nls="
            crossorigin="anonymous"></script>

    <script type="text/javascript">
        let viewer = OpenSeadragon({
            id: "openseadragonview",
            prefixUrl: "https://cdnjs.cloudflare.com/ajax/libs/openseadragon/2.4.1/images/",
            tileSources: "{{ url }}",
            debugMode: false,
        });
    </script>
{% endblock %}
