{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

    <h2>Upload images</h2>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum facilisis scelerisque erat, commodo mollis augue pellentesque at. Sed vehicula tincidunt felis eu tincidunt. Curabitur justo ligula, accumsan quis euismod sit amet, vulputate ac elit. Curabitur ornare dapibus erat nec aliquam. Vivamus a mauris sit amet nisl pharetra rutrum. Vestibulum tempus semper massa at imperdiet. Etiam vitae felis sit amet dolor auctor placerat. Quisque interdum aliquam nibh, ut volutpat tellus auctor vitae. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sit amet metus magna. Donec iaculis nibh non justo tempor, at volutpat elit tincidunt. Aliquam a pellentesque felis. Nam maximus augue ut est sagittis lacinia.
    </p>

{% endblock %}
