{% extends 'auth/user_list.html' %}
{% load url %}

{% block title %}
    Participants - {% firstof challenge.title challenge.short_name %} - {{ request.site.name }}
{% endblock %}

{% block content_title %}
    <h2>Participants for {{ challenge.short_name }}</h2>
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a
                href="{% url 'challenges:list' %}">Challenges</a>
        </li>
        <li class="breadcrumb-item"><a
                href="{{ challenge.get_absolute_url }}">{% firstof challenge.title challenge.short_name %}</a></li>
        <li class="breadcrumb-item active"
            aria-current="page">Participants</li>
    </ol>
{% endblock %}

{% block tableExtraHeaders %}
    <th>Message</th>
{% endblock tableExtraHeaders %}

{% block tableExtraBody %}
    <td>
        {% if user != request.user %}
            <form method="post"
                  action="{% url 'direct_messages:conversation-create' username=user.username %}">
                {% csrf_token %}
                <button class="btn btn btn-primary"
                        type="submit"
                        {% if not challenge.is_active %}
                            disabled
                            title="This action cannot be performed as the challenge is inactive. Please contact support."
                        {% endif %}
                >
                    <i class="far fa-comment"></i>&nbsp;Message User
                </button>
            </form>
        {% endif %}
    </td>
{% endblock tableExtraBody %}
