{% extends "datatables/list_challenge_settings_base.html" %}
{% load user_profile_link from profiles %}
{% load url %}
{% load static %}
{% load dict_lookup %}

{% block title %}
    Participation Requests - {% firstof challenge.title challenge.short_name %} - {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a
                href="{% url 'challenges:list' %}">Challenges</a>
        </li>
        <li class="breadcrumb-item"><a
                href="{{ challenge.get_absolute_url }}">{% firstof challenge.title challenge.short_name %}</a></li>
        <li class="breadcrumb-item active"
            aria-current="page">Participation Requests</li>
    </ol>
{% endblock %}

{% block content %}

    <h2>Participation Requests for {{ challenge.short_name }}</h2>

    {{ block.super }}
{% endblock %}
