{% extends "challenge.html" %}
{% load user_profile_link from profiles %}
{% load url %}

{% block content %}

    <h2>Registration Requests for {{ challenge.short_name }}</h2>

    <div class="table-responsive">
        <table class="table table-hover table-borderless table-sm" id="participantsTable">
            <thead class="thead-light">
            <tr>
                <th>Created</th>
                <th>Updated</th>
                <th>Username</th>
                <th>Name</th>
                <th>Email</th>
                <th>Affiliation</th>
                <th>Status</th>
                <th>Accept / Reject</th>
            </tr>
            </thead>
            <tbody>

            {% for regrequest in object_list %}

                <tr>
                    <td data-order="{{ regrequest.created|date:"U" }}">
                        {{ regrequest.created }}
                    </td>
                    <td data-order="{{ regrequest.changed|date:"U" }}">
                        {{ regrequest.changed }}
                    </td>
                    <td>
                        {{ regrequest.user|user_profile_link }}
                    </td>
                    <td>
                        {{ regrequest.user.get_full_name }}
                    </td>
                    <td>
                        {{ regrequest.user.email }}
                    </td>
                    <td>
                        {{ regrequest.user_affiliation }}
                    </td>
                    <td data-order="{{ regrequest.status }}">
                        {% if regrequest.status == regrequest.PENDING %}
                            <i class="far fa-hourglass" title="Pending"></i>
                        {% elif regrequest.status == regrequest.ACCEPTED %}
                            <i class="fas fa-check text-success"
                               title="Accepted"></i>
                        {% elif regrequest.status == regrequest.REJECTED %}
                            <i class="fas fa-times text-danger"
                               title="Rejected"></i>
                        {% endif %}
                    </td>
                    <td>
                        {% if regrequest.status != regrequest.ACCEPTED %}
                            <form method="post"
                                  action="{% url 'participants:registration-update' challenge_short_name=challenge.short_name pk=regrequest.pk %}">
                                {% csrf_token %}
                                <input type="hidden" name="status"
                                       value="{{ regrequest.ACCEPTED }}">
                                <button type="submit"
                                        class="btn btn-xs btn-success">Accept
                                </button>
                            </form>
                        {% endif %}
                        {% if regrequest.status != regrequest.REJECTED %}
                            <form method="post"
                                  action="{% url 'participants:registration-update' challenge_short_name=challenge.short_name pk=regrequest.pk %}">
                                {% csrf_token %}
                                <input type="hidden" name="status"
                                       value="{{ regrequest.REJECTED }}">
                                <button type="submit"
                                        class="btn btn-xs btn-danger">Reject
                                </button>
                            </form>
                        {% endif %}
                    </td>
                </tr>

            {% endfor %}

            </tbody>

        </table>
    </div>
{% endblock %}

{% block script %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#participantsTable').DataTable({
                order: [[0, "desc"]],
                "pageLength": 10,
                "columnDefs": [{
                    "targets": [-1],
                    "searchable": false,
                    "orderable": false
                }]
            });
        });
    </script>
{% endblock %}
