{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load clean from bleach %}
{% load url %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a
                href="{% url 'challenges:list' %}">Challenges</a>
        </li>
        <li class="breadcrumb-item"><a
                href="{{ challenge.get_absolute_url }}">{% firstof challenge.title challenge.short_name %}</a></li>
        <li class="breadcrumb-item active"
            aria-current="page">Join</li>
    </ol>
{% endblock %}

{% block content %}

    <h2>Join {{ challenge.short_name }}</h2>

    <p>
        {{ challenge.registration_page_text|clean }}
    </p>

    {% if existing_status %}

        <p><b>{{ existing_status }}.</b></p>

    {% elif user_is_participant %}

        <p><b>You are already participating in {{ challenge.short_name }}.</b></p>

    {% else %}

        <form action="" method="post">
            {% csrf_token %}
            {{ form | crispy }}
            <input type="submit"
                   value="Click here to join {{ challenge.short_name }}"
                   class="btn btn-primary"/>
        </form>

    {% endif %}

{% endblock %}
