{% extends "pages/challenge_settings_base.html" %}
{% load guardian_tags %}
{% load url %}
{% load static %}
{% load meta_attr %}

{% block title %}
    Registration Questions - {% firstof challenge.title challenge.short_name %} - {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a
                href="{% url 'challenges:list' %}">Challenges</a>
        </li>
        <li class="breadcrumb-item"><a
                href="{{ challenge.get_absolute_url }}">{% firstof challenge.title challenge.short_name %}</a></li>
        <li class="breadcrumb-item active"
            aria-current="page">Registration Questions</li>
    </ol>
{% endblock %}

{% block content %}

    <h2>Registration Questions for {{ challenge.short_name }}</h2>

    {% get_obj_perms request.user for challenge as "challenge_perms" %}

    {% if "add_registration_question" in challenge_perms %}
        <p><a class="btn btn-primary"
            href="{% url 'participants:registration-question-create' challenge_short_name=challenge.short_name %}">
        <i class="fa fa-plus"></i> Add a new question
        </a></p>
    {% endif %}

    <div class="table-responsive">
        <table class="table table-hover table-borderless table-sm w-100" id="registrationQuestionsTable">
            <thead class="thead-light">
            <tr>
                <th>Created</th>
                <th>Question Text</th>
                <th>Required</th>
                <th class="nonSortable">Edit</th>
                <th class="nonSortable">Delete</th>
            </tr>
            </thead>
            <tbody>

            {% for question in object_list %}

                <tr>
                    <td data-order="{{ question.created|date:"c" }}">
                        {{ question.created }}
                    </td>
                    <td>
                        {{ question.question_text }}
                    </td>
                    <td data-order="{{ question.required }}">
                        {% if question.required %}
                            <i class="fas fa-check text-success"></i>
                        {% else %}
                            <i class="fas fa-times text-danger"></i>
                        {% endif %}
                    </td>
                    <td>
                        <a class="btn btn-primary btn-sm"
                            href="{% url 'participants:registration-question-update' challenge_short_name=challenge.short_name pk=question.pk %}"
                            title = "Edit {{ question|verbose_name }}"
                        >
                            <i class="fas fa-fw fa-edit"></i>
                        </a>
                    </td>
                    <td>
                        <a class="btn btn-danger btn-sm"
                            href="{% url 'participants:registration-question-delete' challenge_short_name=challenge.short_name pk=question.pk %}"
                            title = "Delete {{ question|verbose_name }}"
                        >
                            <i class="fas fa-fw fa-trash"></i>
                        </a>
                    </td>
                </tr>

            {% endfor %}

            </tbody>

        </table>
    </div>
{% endblock %}

{% block script %}
    {{ block.super }}

    <script type="module" src="{% static 'participants/js/registrationquestion_list.mjs' %}"></script>

{% endblock %}
