{% extends "base.html" %}

{% block headerTitle %} COMIC {% endblock %}

{% block content %}

    <p> Welcome to the main portal site of COMIC, the Consortium for Open Medical Image Computing. The following sites
        are registered at COMIC:</p>

    <ol>

        {% for site in object_list %}
            <li><a href="{% url 'comicsite.views.site' site.short_name %}">{{ site.short_name }}</a></li>
        {% endfor %}


    </ol>
    <a href="{% url 'challenge_create' %}">Create new COMIC site</a>


{% endblock %}

