{% extends "site.html" %}
{% load guardian_tags %}
{% load admin_urls %}
{% load firstof from future %}

{% block pageName %} {{ currentpage.comicsite.short_name }} -
    {% firstof currentpage.display_title currentpage.title "page" %} {% endblock %}

{% block headerLink %}"/"{% endblock %}

{% block headerTitle %}
    {% if site.header_image == "" %}
        <div class="noimage">
            {{ site.short_name }}
        </div>
    {% else %}
        <style>
            .jumbotron {
                background-image: url('{% url 'project_serve_file' site.short_name site.header_image %}');
            }
        </style>
        <div class="image">
        </div>
    {% endif %}
{% endblock %}

{% block topmenu %}
{% endblock %}



{% block content %}
    {% block pagecontent %}

        {% if site.disclaimer %}
            <div class="disclaimer"
                 style=" background-color: #FDFDD4; border: 1px solid black; clear: right; font-size: x-small; margin: 10px; padding-left: 10px;">

                <p>{% autoescape off %}
                    {{ site.disclaimer }}{% endautoescape %}</p>
            </div>
        {% endif %}
        <div>{{ currentpage.rawHTML }}</div>

        <br/>

        {% get_obj_perms user for site as "site_perms" %}
        {% if "change_comicsite" in site_perms or request.user.is_superuser %}

            <a class="editPageLink"
               href="{% url 'admin:comicmodels_page_change' currentpage.pk %}">Edit
                this page</a>
        {% endif %}


    {% endblock %}


{% endblock %}
