{% extends "site.html" %}
{% load comic_templatetags %}

{% block pagecontent %}

    <h2>Join {{ site.short_name }}</h2>
    <p>
        {{ site.registration_page_text|safe }}
    </p>

    {% if user_is_participant %}

        <b>You have already joined {{ site.short_name }}.</b>

    {% else %}

        <a href="{% url 'participant-registration-request' site.short_name %}"
           class="btn btn-primary">
            Click here to join {{ site.short_name }}</a>

    {% endif %}


{% endblock %}