{% extends "mainpage.html" %}
{% load comic_templatetags %}
{% load guardian_tags %}
{% load admin_urls %}

{% block pageName %} {{ site.short_name }} - Login {% endblock %}
{% block loginbutton %}
    {% if site.hide_signin %}

    {% else %}
        {% if user.is_authenticated %}
            <a class="metaFooterItem last" href="{% url 'userena_signout' %}?next=/">Signout</a>
        {% else %}
            <a class="metaFooterItem last" href="{% url 'comicsite_signin' site.short_name %}?next=/">Sign in /
                Register</a>
        {% endif %}

    {% endif %}
{% endblock %}
