{% extends "base.html" %}
{% load comic_templatetags %}
{% load guardian_tags %}
{% load admin_urls %}



{% block additionalCSS %}
    {% if site.skin %}
        /* custom css for this project */
        {% insert_file site.skin %}
    {% endif %}
{% endblock %}

{% block pageName %} {{ site.short_name }} {% endblock %}

{% block topheader %}
    {% if site.hide_footer %}
        <!--hidden -->
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock topheader %}

{% block headerLink %}"{% url 'comicsite.views.site' site.short_name %}"
{% endblock %}

{% block headerTitle %}
    {% if site.header_image == "" %}
        <div class="noimage">
            {{ site.short_name }}
        </div>
    {% else %}
        <style>
            #headerTitle {
                padding: 0;
            }
        </style>
        <div class="image">
            <img src="{% url 'project_serve_file' site.short_name site.header_image %}"
                 class="headerImage">
        </div>
    {% endif %}
{% endblock %}



{% block topmenu %}

    {% for page in pages %}
        {% if not page.hidden %}
            {% if not forloop.first %}
                <li role="separator" class="divider"></li>
            {% endif %}
            <li {% if page == currentpage %}class="active"{% endif %}>
                <a class="menuItem"
                   href="{% url 'comicsite.views.page' site.short_name page.title %}">
                    {% if page.display_title == "" %}
                        {{ page.title }}
                    {% else %}
                        {{ page.display_title }}
                    {% endif %}
                </a>
            </li>

        {% endif %}
    {% endfor %}

    {% if site.use_evaluation %}
        <li role="separator" class="divider"></li>

        {% if user_is_participant %}
            <li>
                <a href="{% url 'evaluation:submission-create' site.short_name %}"><b>Submit</b></a>
            </li>
        {% else %}
            <li>
                <a href="{% url 'participant-registration' site.short_name %}"><b>Join</b></a>
            </li>
        {% endif %}
        <li role="separator" class="divider"></li>
        <li><a href="{% url 'evaluation:result-list' site.short_name %}">Results</a>
        </li>
    {% endif %}

{% endblock %}


{% block loginbutton %}
    {% if site.hide_signin %}
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}



{% block adminbutton %}

    {% get_obj_perms user for site as "site_perms" %}
    {% if "change_comicsite" in site_perms or request.user.is_superuser %}
        {% if site.hide_footer %}
            <li role="separator" class="divider"></li>
        {% endif %}
        <li><a class="menuItem" href="{% url 'admin:index' %}">Admin</a></li>
        {% if site.use_evaluation %}
            <li role="separator" class="divider"></li>
            <li><a href="{% url 'evaluation:manage' site.short_name %}">Evaluation</a>
            </li>
        {% endif %}


    {% endif %}


{% endblock %}



{% block content %}

    {% block pagecontent %}
        <p>redirect to first page here.</p>
    {% endblock %}

{% endblock %}

{% block footer %}
    {% if site.hide_footer %}
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}

