{% extends "base.html" %}
{% load url %}
{% load crispy_forms_tags %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a
                href="{% url 'challenges:list' %}">Challenges</a>
        </li>
        <li class="breadcrumb-item"><a
                href="{{ challenge.get_absolute_url }}">{% firstof challenge.title challenge.short_name %}</a></li>
        <li class="breadcrumb-item">
            <a href="{% url 'workspaces:list' challenge_short_name=challenge.short_name %}">Workspaces</a>
        </li>
        <li class="breadcrumb-item active"
            aria-current="page">Create
        </li>
    </ol>
{% endblock %}

{% block topbar2 %}
    {% include "evaluation/partials/phase_navbar.html" with workspaces_nav=True %}
{% endblock %}

{% block content %}
    <h2>Create a Workspace</h2>

    {% crispy form %}
{% endblock %}
