{% extends "base.html" %}
{% load url %}
{% load crispy_forms_tags %}
{% load profiles %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a
                href="{% url 'challenges:list' %}">Challenges</a>
        </li>
        <li class="breadcrumb-item"><a
                href="{{ challenge.get_absolute_url }}">{% firstof challenge.title challenge.short_name %}</a></li>
        <li class="breadcrumb-item">
            <a href="{% url 'workspaces:list' challenge_short_name=challenge.short_name %}">Workspaces</a>
        </li>
        <li class="breadcrumb-item active"
            aria-current="page">{{ object.pk }}
        </li>
    </ol>
{% endblock %}

{% block content %}
    <h2>Workspace</h2>

    <dl class="row">
        <dt class="col-sm-3">Status</dt>
        <dd class="col-sm-9">
            <span class="badge badge-{{ object.status_context }}">
                {% if object.animate %}
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                {% endif %}
                {{ object.get_status_display }}
            </span>
        </dd>

        <dt class="col-sm-3">ID</dt>
        <dd class="col-sm-9">{{ object.pk }}</dd>

        <dt class="col-sm-3">Created</dt>
        <dd class="col-sm-9">{{ object.created }}</dd>

        <dt class="col-sm-3">User</dt>
        <dd class="col-sm-9">{{ object.user|user_profile_link }}</dd>

        <dt class="col-sm-3">Phase</dt>
        <dd class="col-sm-9">{{ object.phase }}</dd>

        <dt class="col-sm-3">Configuration</dt>
        <dd class="col-sm-9">{{ object.configuration }}</dd>
    </dl>

    {% if object.can_connect %}
        <a class="btn btn-success" href="{{ object.notebook_url }}">Connect to Workspace</a>
    {% endif %}

    {% if object.can_stop %}
        <a class="btn btn-primary" href="">Stop Workspace</a>
    {% endif %}

    {% if object.can_terminate %}
        <a class="btn btn-danger" href="">Terminate Workspace</a>
    {% endif %}

{% endblock %}
