{% extends "base.html" %}
{% load url %}
{% load crispy_forms_tags %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a
                href="{% url 'challenges:list' %}">Challenges</a>
        </li>
        <li class="breadcrumb-item"><a
                href="{{ challenge.get_absolute_url }}">{% firstof challenge.title challenge.short_name %}</a></li>
        <li class="breadcrumb-item active">
            <a href="{% url 'workspaces:list' challenge_short_name=challenge.short_name %}">Workspaces</a>
        </li>
    </ol>
{% endblock %}

{% block content %}
    <h2>Workspaces</h2>

    <ul>
    {% for object in object_list %}
        <li><a href="{{ object.get_absolute_url }}">{{ object }}</a></li>
    {% endfor %}
    </ul>
{% endblock %}
