{% extends "base.html" %}
{% load url %}
{% load crispy_forms_tags %}
{% load static %}
{% load meta_attr %}

{% block title %}
    {{ object|yesno:"Update,Add" }} {{ base_object.civ_set_model|verbose_name|title }}
    - {{ base_object.civ_set_model|verbose_name_plural|title }} - {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ base_object.list_url }}">{{ base_object|verbose_name_plural|title }}</a></li>
        <li class="breadcrumb-item"><a href="{{ base_object.get_absolute_url }}">{{ base_object }}</a></li>
        <li class="breadcrumb-item"><a href="{{ base_object.civ_sets_list_url }}">{{ base_object.civ_set_model|verbose_name_plural|title }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">
            {{ object|yesno:"Update,Add" }} {{ base_object.civ_set_model|verbose_name|title }}
        </li>
    </ol>
{% endblock %}

{% block content %}
    <h3>
        {% if object %}
            Update {{ object|verbose_name|title }} {{ object.pk }}
        {% else %}
            Add {{ base_object.civ_set_model|verbose_name|title }} to {{ base_object }}
        {% endif %}
    </h3>

    <div id="objectSlug" class="d-none" data-object-slug="{{ base_object.slug }}"></div>
    <div id="modelName" class="d-none" data-model-name="{{ base_object|model_name }}"></div>


    <form hx-post="{{ form_url }}"
          hx-include="[id='new-interfaces']"
          hx-target="body"
          id="obj-form"
          hx-indicator="#hx-save-indicator"
    >
      {% csrf_token %}
      {{ form|crispy }}
      <div id="new-interfaces"><input type="hidden"></div>
      <button type="button"
              id="add-new"
              class="btn btn-outline-primary mb-2"
              hx-get="{{ new_interface_url }}"
              hx-target="#new-interfaces"
              hx-swap="beforeend"
              hx-indicator="#hx-add-interface-indicator"
              hx-enable-me
              disabled
      >
            <div class="d-none" hx-display-me>
              <span id="hx-add-interface-indicator" class="htmx-indicator spinner-border spinner-border-sm"></span>
              Add value for new socket
            </div>
          <div hx-hide-me>
              <span class="spinner-border spinner-border-sm"></span>
              Loading...
          </div>
      </button>
      <div class="d-flex justify-content-between pb-2">
        <div>
          <a href="{{ return_url }}" class="btn btn-outline-primary">Back</a>
          <button type="submit"
                  class="btn btn-primary"
                  hx-enable-me
                  disabled
          >
              <div class="d-none" hx-display-me>
                  <span id="hx-save-indicator" class="htmx-indicator spinner-border spinner-border-sm"></span>
                   Save
              </div>
              <div hx-hide-me>
                  <span class="spinner-border spinner-border-sm"></span>
                  Loading...
              </div>
          </button>
        </div>
      </div>
    </form>
{% endblock %}

{% block script %}
    {{ block.super }}
    {{ form_media }}
    <script type="module" src="{% static 'components/js/create_extra_interfaces.mjs' %}"></script>
    <script type="module" src="{% static 'components/js/autocomplete_htmx.mjs' %}"></script>
    <script type="module" src="{% static "components/js/htmx/enable-me.mjs" %}"></script>
    <script type="module" src="{% static "components/js/htmx/hide-me.mjs" %}"></script>
    <script type="module" src="{% static "components/js/htmx/display-me.mjs" %}"></script>
    <script type="text/javascript" src="{% static "cases/js/ignore_enter_button.js" %}"></script>
    <link rel="stylesheet" href="{% static 'css/select2-bootstrap4-theme/select2-bootstrap4.css' %}">
{% endblock %}
