{% load humanize %}
{% load profiles %}
{% load workstations %}
{% load pathlib %}
{% load meta_attr %}
{% load guardian_tags %}
{% load civ %}

{% get_obj_perms request.user for object as "object_perms" checker %}

<div
     {% if object.is_editable %}
         title = "Select {{ object|verbose_name }}"
     {% else %}
        title="Cannot select for deletion: answers for display set exist"
     {% endif %}
>
    <input class="checkbox pr-1 mr-1"
       name="selected-for-deletion"
       value="{{ object.id }}"
       type="checkbox"
       {% if not object.is_editable %} disabled {% endif %}
    >
</div>

<split></split>

<a class="btn btn-primary btn-sm"
   href="{{ object.get_absolute_url }}"
   title="View {{ object|verbose_name }} details">
    <i class="fa fa-info-circle"></i>
</a>

<split></split>

{% if object.title %}
<p class="m-0">{{ object.title }}</p>
{%  endif %}
<span class="text-nowrap">ID: {{ object.pk }}</span>

<split></split>

{% if object.base_object|model_name == base_model_options.READER_STUDY %}
    {{ object.order }}
    <split></split>
{% endif %}
<ul class="list-unstyled mb-0 text-left">
    {% for civ in object.values.all|sort_civs %}
    <li>
        {% include "components/partials/civ.html" with object=civ display_inline=True only %}
    </li>
{% empty %}
    <span class="text-muted">Empty</span>
    {% endfor %}
</ul>
<split></split>

{% if object.base_object.workstation %}
    <button class="btn btn-primary btn-sm"
    {% if object.base_object|model_name == base_model_options.READER_STUDY %}
        {% if object.base_object.is_launchable %}
            {% workstation_session_control_data workstation=object.base_object.workstation context_object=object display_set=object config=object.base_object.workstation_config %}
        {% else %}
            disabled title="Reader study cannot be launched"
        {% endif %}
    {% elif object.base_object|model_name == base_model_options.ARCHIVE %}
        {% workstation_session_control_data workstation=object.base_object.workstation context_object=object archive_item=object config=object.base_object.workstation_config %}
    {% endif %}
    title="View in viewer"
    >
    <i class="fas fa-fw fa-eye"></i>
    </button>
{% endif %}

<split></split>

{% if object.change_perm in object_perms %}
    <div
        {% if object.is_editable  %}
            title = "Edit {{ object|verbose_name }}"
        {% elif not object.is_editable %}
            title="Cannot edit: answers for display set exist"
        {% endif %}
    >
        <a class="btn btn-primary btn-sm {% if not object.is_editable %}disabled{% endif %}"
            href="{{ object.update_url }}"
        >
            <i class="fas fa-fw fa-edit"></i>
        </a>
    </div>
{% endif %}

<split></split>

{% if object.delete_perm in object_perms %}
    <div
        {% if object.is_editable  %}
            title = "Delete {{ object|verbose_name }}"
        {% elif not object.is_editable %}
            title="Cannot delete: answers for display set exist"
        {% endif %}
    >
        <a class="btn btn-danger btn-sm {% if not object.is_editable %}disabled{% endif %}"
        href="{{ object.delete_url }}">
        <i class="fas fa-fw fa-trash"></i>
        </a>
    </div>
{% endif %}
<split></split>
