{% load humanize %}
{% load profiles %}
{% load workstations %}
{% load pathlib %}
{% load meta_attr %}
{% load guardian_tags %}

{% get_obj_perms request.user for object as "object_perms" %}

<div
     {% if object.is_editable %}
         title = "Select {{ object|verbose_name }}"
     {% else %}
        title="Cannot select for deletion: answers for display set exist"
     {% endif %}
>
    <input class="checkbox pr-1 mr-1"
       name="selected-for-deletion"
       value="{{ object.id }}"
       type="checkbox"
       {% if not object.is_editable %} disabled {% endif %}
    >
</div>

<split></split>


<a href="{{ object.detail_url }}"
   title="View details">
    <i class="fa fa-info-circle"></i>
    {{ object.pk }}
</a>

<split></split>

{{ object.title }}
<split></split>

{% if base_object|model_name == base_model_options.READER_STUDY %}
    {{ object.order }}
    <split></split>
{% endif %}

<ul class="list-unstyled mb-0">
    {% for civ in object.values.all %}
        <li>
            {{ civ.interface.title }}: {{ civ.title|truncatechars:30 }}
        </li>
    {% endfor %}
</ul>
<split></split>

<a class="btn btn-primary btn-sm"
   title="View in viewer"
   {% if base_object|model_name == base_model_options.READER_STUDY %}
       {% workstation_session_control_data workstation=base_object.workstation context_object=object display_set=object config=base_object.workstation_config %}
   {% elif base_object|model_name == base_model_options.ARCHIVE %}
       {% workstation_session_control_data workstation=base_object.workstation context_object=object archive_item=object config=base_object.workstation_config %}
   {% endif %}
>
<i class="fas fa-fw fa-eye"></i>
</a>
<split></split>

<div
     {% if object.is_editable %}
         title = "Edit {{ object|verbose_name }}"
     {% else %}
        title="Cannot edit: answers for display set exist"
     {% endif %}
>
    <a class="btn btn-primary btn-sm {% if not object.is_editable or not update_perm in object_perms %}disabled{% endif %}"
        href="{{ object.update_url }}"
    >
        <i class="fas fa-fw fa-edit"></i>
    </a>
</div>

<split></split>

<div
     {% if object.is_editable %}
         title = "Delete {{ object|verbose_name }}"
     {% else %}
        title="Cannot delete: answers for display set exist"
     {% endif %}
>
   <a class="btn btn-danger btn-sm {% if not object.is_editable or not delete_perm in object_perms %}disabled{% endif %}"
   href="{{ object.delete_url }}">
   <i class="fas fa-fw fa-trash"></i>
</a>
</div>
<split></split>
