{% load url %}
{% load static %}
{% load clean from bleach %}

<div class="form-group mb-1"
     id="search-file-{{ widget.name }}"
     hx-get="{% url 'components:file-search' %}"
     hx-trigger="load once, keyup[target.value.length > 1] delay:500ms from:#query-{{ widget.name }},
     click[keyCode==8] delay:500ms from:#query-{{ widget.name }}, change from:#selected-parent-object-type-{{ widget.name }}"
     hx-target="#selected-file-{{ widget.name }}"
     hx-swap="outerHTML"
     hx-include="[id='file-input-group-{{ widget.name }}']"
>
    <div class="input-group" id="file-input-group-{{ widget.name }}">
        <div class="input-group">
            <div class="input-group-prepend"><span class="input-group-text">Select a file from</span></div>
            <select class="custom-select" name="parent-object-type-{{ widget.name }}" id="selected-parent-object-type-{{ widget.name }}">
                <option value="">No parent object selected</option>
                <option value="{{ widget.parent_object_type_choices.JOB }}">Algorithm Jobs</option>
                <option value="{{ widget.parent_object_type_choices.DISPLAY_SET }}">Reader study display sets</option>
                <option value="{{ widget.parent_object_type_choices.ARCHIVE_ITEM }}">Archive items</option>
            </select>
        </div>
        <div class="input-group">
            <input class="form-control" type="search" name="query-{{ widget.name }}"
                   id="query-{{ widget.name }}"
                   placeholder="Search by pk or file name"
            >
            <select class="custom-select" name="file"
                    id="selected-file-{{ widget.name }}">
                <option value="">No file selected</option>
            </select>
        </div>
        <input type="hidden" name="prefixed-interface-slug" value="{{ widget.name }}">
    </div>

    <small class="form-text text-muted">
        Select an existing file that you have access to.
        This could be from data that you have previously uploaded,
        archives that you have permission to use,
        or public algorithm results that you have access to.
    </small>
</div>

<div id="search-{{ widget.name }}"></div>

{% if widget.attrs.help_text and widget.attrs.help_text != "" %}
    <small id="hint_{{ widget.attrs.id }}" class="form-text text-muted">{{ widget.attrs.help_text|clean }}</small>
{% endif %}
