{% load url %}
{% load static %}
{% load clean from bleach %}

<div class="form-group mb-1"
     id="search-file-{{ widget.name }}"
     hx-get="{% url 'components:file-search' %}"
     hx-trigger="load once, keyup[target.value.length > 1] delay:500ms from:#query-{{ widget.name }},
     click[keyCode==8] delay:500ms from:#query-{{ widget.name }}"
     hx-target="#selected-file-{{ widget.name }}"
     hx-swap="innerHTML"
     hx-include="[id='file-input-group-{{ widget.name }}']"
>
    <div class="input-group" id="file-input-group-{{ widget.name }}">
        <div class="input-group-prepend"><span class="input-group-text">Select a file</span></div>
        <input class="form-control" type="search" name="query-{{ widget.name }}"
               id="query-{{ widget.name }}"
               placeholder="Search by pk or file name"
        >
        <select class="custom-select"
                name="{{ widget.name }}"
                id="selected-file-{{ widget.name }}">
            <option value="">No file selected</option>
        </select>
    </div>

    <small class="form-text text-muted">
        Select an existing file that you have access to.
        This could be from algorithms, archives or reader studies that you have access to.
    </small>
</div>

<div id="search-{{ widget.name }}"></div>

{% if widget.attrs.help_text and widget.attrs.help_text != "" %}
    <small id="hint_{{ widget.attrs.id }}" class="form-text text-muted">{{ widget.attrs.help_text|clean }}</small>
{% endif %}
