{% load url %}
{% load static %}

<div class="form-group mb-1"
     id="search-file-{{ widget.name }}"
     hx-get="{% url 'components:file-search' %}"
     hx-trigger="load once, input delay:500ms from:#query-{{ widget.name }}"
     hx-target="#selected-file-{{ widget.name }}"
     hx-swap="innerHTML"
     hx-include="[id='file-input-group-{{ widget.name }}']"
>
    <div class="input-group" id="file-input-group-{{ widget.name }}">
        <div class="input-group-prepend"><span class="input-group-text">Select a file</span></div>
        <input class="form-control" type="search" name="query-{{ widget.name }}"
               id="query-{{ widget.name }}"
               placeholder="Search by pk or file name"
        >
        <select class="custom-select"
                name="{{ widget.name }}"
                id="selected-file-{{ widget.name }}">
            <option value="">No file selected</option>
        </select>
        <input type="hidden" name="prefixed-interface-slug" value="{{ widget.name }}">
    </div>

    <small class="form-text text-muted">
        Select an existing file that you have access to.
        This could be from algorithms, archives or reader studies that you have access to.
    </small>
</div>
