{% load url %}
{% load static %}

<div class="form-group mb-1"
     id="search-{{ widget.name }}"
     hx-get="{% url 'components:file-search' %}"
     hx-trigger="load once, input delay:500ms from:#id_{{ widget.name }}_0"
     hx-target="#id_{{ widget.name }}_1"
     hx-swap="innerHTML"
     hx-request='{"credentials":"include"}'
     hx-include="[id='input-group-{{ widget.name }}']"
>
    <div class="input-group" id="input-group-{{ widget.name }}">
        <div class="input-group-prepend"><span class="input-group-text">Select a file</span></div>
        {% include "django/forms/widgets/multiwidget.html" %}
        <input type="hidden" name="prefixed-interface-slug" value="{{ prefixed_interface_slug }}">
    </div>

    <small class="form-text text-muted">
        Select an existing file that you have access to.
        This could be from algorithms, archives or reader studies that you have access to.
    </small>
</div>
