{% load pathlib %}
{% load json %}
{% load civ_checks %}
{% load string %}

{% with civ|civ_render_template as template %}

    {% if template %}
        <a href="#infoModal-{{ civ.pk }}"
           data-toggle="modal"
           data-target="#infoModal-{{ civ.pk }}"
           class="text-decoration-none"
           role="button"
        >
            <div class="badge badge-primary">
                <i
                        class="fa fa-file"
                        style="width:0.8rem;"
                ></i>
                {{ civ.interface.title | truncatechars:64 }}
            </div>

            {% if civ|can_preview %}
                <div class="badge badge-light"> {{ civ.value | json_dumps:0 | truncatechars:30 }}</div>
            {% endif %}
        </a>

        <div class="modal fade" id="infoModal-{{ civ.pk }}" tabindex="-1" role="dialog"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            {{ civ.interface.title }}
                        </h5>
                        <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {% include template with civ=civ%}
                    </div>
                </div>
            </div>
        </div>
    {% else %}

        {% if civ.image %}
            <ul class="list-unstyled mb-0">
                {% for file in civ.image.files.all %}
                    <li>
                        <a class="badge badge-primary"
                           href="{{ file.file.url }}"
                           title="{{ civ.interface.title }}: {{ forloop.parentloop.counter }}"
                        >
                            <i class="fa fa-download" style="width:0.8rem;"></i>
                            {{ civ.interface.title | truncatechars:64 }}:
                            {{ civ.image.name|stem | truncatechars:64 }}
                            ({{ file.file|suffix | truncatechars:64 }})
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if civ.file %}
            <a class="badge badge-primary"
               href="{{ file.file.url }}"
               download="{{ civ.file.name|name }}"
               title="{{ civ.interface.title }}: {{ civ.file.name|name }}"
            >
                <i class="fa fa-download" style="width:0.8rem;"></i>
                {{ civ.interface.title | truncatechars:64 }}:
                {{ civ.file.name|name | truncatechars:64 }}
            </a>
        {% endif %}

    {% endif %}

{% endwith %}
