{% load flatpages %}
{% get_flatpages as flatpages %}
{% load url %}

<footer class="footer">
    <div class="container mb-3">
        <hr class="m-0">
        <div class="row mt-3">
            <div class="col col-xs-12 col-sm-3 small">
                <div class="px-3">
                    <h6>About</h6>
                    <ul class="list-unstyled">
                        {% for page in flatpages %}
                            <li>
                                {# Manual construction of url is used here due to flatpage redirect errors #}
                                <a class="text-muted"
                                        {# @formatter:off #}
                                   href="{{ request.scheme }}://{{ request.site.domain }}{{ page.url }}">
                                        {# @formatter:on #}
                                    {{ page.title }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col col-xs-12 col-sm-3 small">
                <div class="px-3">
                    <h6>Policies</h6>
                    <ul class="list-unstyled">
                        {% for policy in policy_pages %}
                            <li><a class="text-muted"
                                   href="{{ policy.get_absolute_url }}">{{ policy.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col col-xs-12 col-sm-3 small">
                <div class="px-3">
                    <h6>OpenAPI</h6>
                    <ul class="list-unstyled">
                        <li>
                            <a class="text-muted"
                               href="{% url 'api:schema-docs' %}"
                               title="The interactive documentation for the API.">
                                Documentation
                            </a>
                        </li>
                        <li>
                            <a class="text-muted"
                               href="{% url 'api:schema-json' '.yaml' %}"
                               title="The OpenAPI schema for the API.">
                                Schema
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col col-xs-12 col-sm-3 small">
                <div class="px-3">
                    <h6>Developers</h6>
                    <ul class="list-unstyled">
                        <li>
                            <a class="text-muted"
                               href="https://rse.diagnijmegen.nl"
                               title="Research Software Engineering Team, Diagnostic Image Analysis Group, Radboud University Medical Center">
                                rse.diagnijmegen.nl
                            </a>
                        </li>
                        <li>
                            <a class="text-muted"
                               href="http://diagnijmegen.nl/"
                               title="Diagnostic Image Analysis Group, Radboud University Medical Center">
                                diagnijmegen.nl
                            </a>
                        </li>
                        <li>
                            <a class="text-muted"
                               href="https://www.mevis.fraunhofer.de/"
                               title="Fraunhofer Institute for Digital Medicine MEVIS">
                                mevis.fraunhofer.de
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col text-center small">
                <div class="px-3">
                    <ul class="list-unstyled">
                        <li>
                            <a class="p-1 text-muted"
                               href="https://github.com/comic/grand-challenge.org/"
                               title="Join us on Github">
                                <i class="fab fa-github fa-lg"></i>
                            </a>
                            <a class="p-1 text-muted"
                               href="https://twitter.com/g13e_org/"
                               title="Follow us on Twitter">
                                <i class="fab fa-twitter fa-lg"></i>
                            </a>
                        </li>
                    </ul>
                    <p class="text-muted">&copy; 2012-{% now "Y" %}</p>
                </div>
            </div>
        </div>
    </div>
</footer>
