{% load static %}

{% if SENTRY_ENABLE_JS_REPORTING %}
    <script src="https://browser.sentry-cdn.com/6.13.3/bundle.min.js"
            integrity="sha384-sGMbmxgVprpEFMz6afNDyADd4Kav86v5Tvo2Y6w5t8tHUn1P1at3lCjN7IQo2c7E"
            crossorigin="anonymous"
    ></script>
    <script>
        {# Setup sentry before anything else loads #}
        Sentry.init({dsn: '{{ SENTRY_DSN }}', release: '{{ COMMIT_ID }}'});
    </script>
{% endif %}

<!-- Global Site Tag (gtag.js) - Google Analytics -->
<script async
        src="https://www.googletagmanager.com/gtag/js?id={{ google_analytics_id }}"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());
    gtag('config', "{{ google_analytics_id }}");
</script>

{# Needs to be inline for some forms (summernote) #}
<script type="text/javascript"
        src="{% static "vendor/js/jquery.min.js" %}"></script>
