{% load static %}

<!-- Global Site Tag (gtag.js) - Google Analytics -->
<script async
        src="https://www.googletagmanager.com/gtag/js?id={{ google_analytics_id }}"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());
    gtag('config', "{{ google_analytics_id }}");
</script>

{# Needs to be inline for some forms (summernote) #}
<script type="text/javascript"
        src="{% static "vendor/js/jquery.min.js" %}"></script>
