{% if social_info %}
    {% include "grandchallenge/partials/meta_social_kernel.html" with meta_info=social_info %}
{% elif archive %}
    {% include "grandchallenge/partials/meta_social_kernel.html" with meta_info=archive %}
{% elif algorithm %}
    {% include "grandchallenge/partials/meta_social_kernel.html" with meta_info=algorithm %}
{% elif reader_study %}
    {% include "grandchallenge/partials/meta_social_kernel.html" with meta_info=reader_study %}
{% elif challenge %}
    {% include "grandchallenge/partials/meta_social_kernel.html" with meta_info=challenge %}
{% else %}
    {% include "grandchallenge/partials/meta_social_kernel.html" with meta_info=object %}
{% endif %}
