{% load url %}
{% load static %}

<meta charset="UTF-8">
<meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta property="og:type" content="website">
<meta property="twitter:card" content="summary_large_image">
<meta property="og:url" content="{{ request.build_absolute_uri }}">
<meta property="og:site_name" content="{{ request.site }}">

{% if object %}
    <meta name="title" content="{% firstof object.title object.short_name %} - {{ request.site.name }}">
    <meta property="og:title" content="{% firstof object.title object.short_name %} - {{ request.site.name }}">

    <meta name="description" content="{{ object.description }}">
    <meta property="og:description" content="{{ object.description }}">

    {% if object.logo %}
        <meta property="og:image" content="{{ request.scheme }}://{{ request.site.domain }}{{ object.logo.url }}">
    {% endif %}
{% else %}
    <meta name="title" content="{{ request.site.name }}">
    <meta property="og:title" content="{{ request.site.name }}">

    <meta name="description" content="A platform for end-to-end development of machine learning solutions in biomedical imaging.">
    <meta property="og:description" content="A platform for end-to-end development of machine learning solutions in biomedical imaging.">
{% endif %}
