{% load url %}

<nav class="navbar navbar-dark navbar-top navbar-expand-sm bg-dark mb-3">
    <div class="container">
        <a class="navbar-brand mr-md-2 text-capitalize"
           href="{% url 'home' %}">
            {{ request.site.name }}
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.view_name == 'challenges:list' %}active{% endif %}"
                       href="{% url 'challenges:list' %}">
                        Challenges
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.view_name == 'algorithms:list' %}active{% endif %}"
                       href="{% url 'algorithms:list' %}">
                        Algorithms
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.view_name == 'reader-studies:list' %}active{% endif %}"
                       href="{% url 'reader-studies:list' %}">
                        Reader studies
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav">
                {% if not hide_userlinks %}
                    {% include "grandchallenge/partials/userlinks.html" %}
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
