<div class="modal fade" tabindex="-1" role="dialog" id="newsletterModal" aria-labelledby="resultInfoModalTitle"
     aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Sign up for the Grand Challenge Newsletter!</h5>
            </div>
            <div class="modal-body">
                <p>Would you like to receive emails about announcements and updates on Grand Challenge?</p>
                <div class="form-check">
                    <input type="radio" class="form-check-input" name="mailingListPreference" id="True" value="true"
                           checked>
                    <label class="form-check-label" for="True">Yes, sign me up!</label><br>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input" name="mailingListPreference" id="False"
                           value="false">
                    <label class="form-check-label" for="False">No, thanks.</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" id="submit" class="btn btn-secondary">Save preference</button>
            </div>
        </div>
    </div>
</div>
