{% load static %}
{% load compress %}

{% compress css %}
    <link type="text/x-scss" href="{% static 'css/base.scss' %}" rel="stylesheet" media="screen">
{% endcompress %}

<link rel="stylesheet" type="text/css"
      href="https://cdn.datatables.net/v/bs4/dt-1.11.3/b-2.0.1/b-colvis-2.0.1/r-2.2.9/datatables.min.css"
      crossorigin="anonymous"/>

<link href="{% static 'vendored/font-awesome/css/all.min.css' %}" rel="stylesheet">

{#  Custom CSS, must be included AFTER bootstrap  #}
<link href="{% static "css/core.css" %}" type="text/css"
      rel="stylesheet">

<link href="{% static "css/codehilite.css" %}" type="text/css" rel="stylesheet">

<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}"/>
