{% load static %}

<link type="text/css" href="{% static 'vendor/css/base.min.css' %}" rel="stylesheet" media="screen">

<link rel="stylesheet" type="text/css"
      href="https://cdn.datatables.net/v/bs4/dt-1.10.18/b-1.5.4/b-colvis-1.5.4/datatables.min.css"
      crossorigin="anonymous">

<link href="{% static 'vendor/fa/css/all.css' %}" rel="stylesheet">

{#  Custom CSS, must be included AFTER bootstrap  #}
<link href="{% static "css/core.css" %}" type="text/css"
      rel="stylesheet">

<link href="{% static "css/codehilite.css" %}" type="text/css" rel="stylesheet">

<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}"/>
