{% load url %}

{% if user.is_authenticated %}
    {% if ACTSTREAM_ENABLE %}
    <li class="nav-item mr-auto">
        {% if user.user_profile.has_unread_notifications %}
            <span class="text-danger float-right mb-n3">
                <i class="fa fa-xs fa-circle"></i>
            </span>
        {% endif %}
        <a class="nav-link pr-1"
           href="{% url 'notifications:list' %}"
           title="Notifications">
            <i class="align-middle far fa-fw fa-lg fa-bell"></i>
        </a>
    </li>
    {% endif %}
    <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle align-top"
           data-toggle="dropdown" role="button"
           aria-haspopup="true"
           aria-expanded="false">
            <img class="rounded-circle" src="{{ user.user_profile.get_mugshot_url }}"
                 alt="User Mugshot" style="height: 1.5em"/>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item"
               href="{% url 'profile-detail' user.username %}">
                Signed in as <b>{{ user.username }}</b></a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item"
               href="{% url 'profile-detail' user.username %}">
                Your Profile</a>
            <a class="dropdown-item"
               href="{% url 'challenges:users-list' %}">
                Your Challenges</a>
            <a class="dropdown-item"
               href="{% url 'cases:raw-image-upload-session-list' %}">
                Your Uploads</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item"
               href="{% url 'account_logout' %}?next=/">
                Sign out</a>
        </div>
    </li>
{% else %}
    <li class="pr-2 my-1"><a
            class="btn btn-outline-primary"
            href="{% url 'account_login' %}?next={{ request.build_absolute_uri }}#signin">Sign In</a></li>
    <li class="my-1"><a
            class="btn btn-outline-primary"
            href="{% url 'account_signup' %}?next={{ request.build_absolute_uri }}#register">Register</a></li>
{% endif %}
