{% load grandchallenge_tags %}

{% if user.is_authenticated %}
    <li class="dropdown">
        <a href="#" class="nav-link dropdown-toggle"
           data-toggle="dropdown" role="button"
           aria-haspopup="true"
           aria-expanded="false">
            <img class="mugshot"
                 src="{{ user.user_profile.get_mugshot_url }}"
                 alt="User Mugshot"
                 style="height: 1.5em; vertical-align: middle;"/> {{ user.username }}
        </a>
        <div class="dropdown-menu dropdown-menu-right shadow-sm">
            <a class="dropdown-item"
               href="{% url 'userena_profile_detail' user.username %}">
                My Profile</a>
            <a class="dropdown-item"
               href="{% url 'challenges:users-list' %}">
                My Challenges</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item"
               href="{% url 'userena_signout' %}?next=/">
                Sign out</a>
        </div>
    </li>
{% else %}
    <li class="nav-item"><a
            class="nav-link"
            href="{% url 'userena_signin' %}?next={{ request.build_absolute_uri }}">Sign
        in / Register</a></li>
{% endif %}
