{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}Edit Profile{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href>Users</a></li>
        <li class="breadcrumb-item"><a
                href="{% url 'profile-detail' username=profile.user.username %}">{{ profile.user.username }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit Profile</li>
    </ol>
{% endblock %}

{% block content %}
    <h1>{% trans "Edit Profile" %}</h1>
    <form action="" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {{ form | crispy }}
        <input class="btn btn-primary" type="submit" value="{% trans "Save changes" %}"/>
    </form>
{% endblock %}
