{% extends "base.html" %}
{% load profiles %}
{% load forums %}
{% load humanize %}

{% block title %}Subscriptions - {{ block.super }}{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item active"><a href="{% url 'notifications:list' %}">Notifications</a></li>
        <li class="breadcrumb-item active" aria-current="page">Subscriptions</li>
    </ol>
{% endblock %}

{% block content %}
    <h2>Your subscriptions</h2>
    <br>
    <h4>Forums</h4>
    <ul class="list-group">
        {% for forum in followed_forums %}
            <li class="list-group-item p-1 pl-3">
                <div class="d-flex justify-content-between">
                    <div class="mt-1 pt-2 p-0">
                        {{ forum.follow_object|forum_link }}
                        <span class="text-truncate font-italic text-muted align-middle mx-2">subscribed to since {{ forum.started|date:'F j, Y' }} | last activity on {{ forum.follow_object.last_post_on|date:'F j, Y, P' }}</span>
                    </div>

                    <div  class="d-inline-flex p-1" style="align-items: center">
                        <form style="height:fit-content" method="post" action="{% url 'notifications:follow-delete' pk=forum.id %}">
                            {% csrf_token %}
                            <input name="subscription_object" type="hidden" value="{{ forum.id }}">
                            <input name="user" type="hidden" value="{{ forum.user.id }}">
                            <button type="submit" class="btn btn-xs btn-primary align-middle">
                                Unsubscribe
                            </button>
                        </form>
                    </div>
                </div>
            </li>
        {% empty %}
            <br>You are not subscribed to any forums.<br><br>
        {% endfor %}
    </ul>
    <br><br>
    <h4 class="pb-2 text-primary">Topics</h4>
    {% if not followed_topics %}
        <br>You are not subscribed to any topics.<br><br>
    {% else %}
        <ul class="list-group">
        {% for forum in followed_topics|get_forums %}
            {% get_forum_specific_topics followed_topics forum as forum_topics %}
            {% if forum_topics %}
                <h6>Topics from&nbsp; {{ forum|forum_link }}</h6>
                <ul class="list-group">
                    {% for topic in forum_topics %}
                            <li class="list-group-item p-1 pl-3">
                                 <div class="d-flex justify-content-between">
                                     <div class="mt-1 pt-2 p-0">
                                        <a href="{{ topic.follow_object.get_absolute_url }}">{{ topic.follow_object }}</a>
                                        <span class="text-muted text-truncate font-italic align-middle mx-2">subscribed to since {{ topic.started|date:'F j, Y'  }} | last activity on {{ topic.follow_object.last_post_on|date:'F j, Y, P' }}</span>
                                     </div>
                                      <div  class="d-inline-flex p-1" style="align-items: center">
                                        <form style="height:fit-content" method="post" action="{% url 'notifications:follow-delete' pk=topic.id %}">
                                            {% csrf_token %}
                                            <input name="subscription_object" type="hidden" value="{{ topic.id }}">
                                            <input name="user" type="hidden" value="{{ topic.user.id }}">
                                            <button type="submit" class="btn btn-xs btn-primary align-middle">
                                                Unsubscribe
                                            </button>
                                        </form>
                                      </div>
                                 </div>
                            </li>
                    {% endfor %}
                </ul>
            {% endif %}
            <br>
        {% endfor %}
        </ul>
        <br>
    {% endif %}
{% endblock %}
