{% extends "base.html" %}
{% load profiles %}
{% load forums %}
{% load forum_extras %}
{% load humanize %}
{% load static %}


{% block title %}Subscriptions - {{ block.super }}{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item active"><a href="{% url 'notifications:list' %}">Notifications</a></li>
        <li class="breadcrumb-item active" aria-current="page">Subscriptions</li>
    </ol>
{% endblock %}

{% block content %}
    {% include "grandchallenge/partials/filters.html" with filter=filter filters_applied=filters_applied model_name="subscription" %}

    <h2>Subscriptions</h2>

    <div class="row">
        <div class="col-6">
            <input class="checkbox-inline ml-3 mt-3" type="checkbox" id="SelectCheckboxes" onClick="toggleCheckboxes(this)"/>
            <label class="form-check-label ml-1" id="LabelSelectAll" for="SelectCheckboxes">
                Select all
            </label>
        </div>
        <div class="col-6 d-flex justify-content-end">
            <button class="btn btn-xs btn-danger mx-1 mb-3 mt-1" name="delete" type="button" id="delete"> Delete selected</button>
        </div>
        </div>

    <ul class="list-group">
        {% for follow in object_list %}
            {% if not 'permissionrequest' in follow.content_type.model and follow.content_type.model != 'registrationrequest' and follow.content_type.model != 'rawimageuploadsession' and follow.flag != 'job-inactive' and follow.content_type %}
                <li class="list-group-item p-1 pl-3">
                    <div class="d-flex justify-content-between">
                        <div class="mt-1 pt-2 p-0">
                        <input class="checkbox mr-2" name="checkbox" type="checkbox" id="{{ follow.pk }}"
                                   value="{{ follow.pk }}" data-flag={% if follow.flag == 'job-active' %}"job-follow"{% else %}"standard-follow"{% endif %} data-url="{% url 'api:follow-detail' pk=follow.pk %}">
                            <a href="{{ follow.follow_object.get_absolute_url }}">{{ follow.follow_object }}</a>
                            <span class="text-truncate font-italic text-muted align-middle mx-2 ">{{ follow.content_type.name|title }}
                                {% if follow.flag != 'job-active' and follow.content_type.model == 'algorithm' %} Access Requests {% elif follow.flag == 'job-active' %} Job Notifications {% endif %}| subscribed to since {{ follow.started|date:'F j, Y' }} {% if forum.follow_object.last_post_on %}| last activity on {{ forum.follow_object.last_post_on|date:'F j, Y, P' }}{% endif %}</span>
                        </div>
                    </div>
                </li>
            {% endif %}
        {% empty %}
            <br>You do not have any subscriptions.<br><br>
        {% endfor %}
    </ul>
    <br>
    {% include "grandchallenge/partials/pagination.html"  %}
{% endblock %}

{% block script %}
    {{ block.super }}
    <script type="text/javascript">
        window.drf = {
            csrfHeaderName: "{{ csrf_header_name|default:'X-CSRFToken' }}",
            csrfToken: "{% if request %}{{ csrf_token }}{% endif %}"
        };
    </script>
    <script src="{% static "rest_framework/js/csrf.js" %}"></script>
    <script type="module" src="{% static "js/notifications/bulk_delete_update.js" %}"></script>
{% endblock %}
