{% extends "base.html" %}
{% load url %}
{% load crispy_forms_tags %}
{% load static %}
{% load evaluation_extras %}
{% load profiles %}
{% load guardian_tags %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'hanging-protocols:list' %}">Hanging Protocols</a></li>
        <li class="breadcrumb-item"><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></li>
    </ol>
{% endblock %}

{% block title %}
    Hanging Protocol - {{ object.title }} - {{ block.super }}
{% endblock %}

{% block content %}
    <h3>{{ object.title }}</h3>
    {% get_obj_perms request.user for object as "user_perms" %}
    <div class="row col-12 p-0 m-0">
        <span class="col-10 p-0 d-flex align-items-center">Created by {{ object.creator|user_profile_link }}</span>
        {% if 'change_hangingprotocol' in user_perms %}
            <div class="col-2 text-right p-0"><a class="btn btn-primary" href="{% url 'hanging-protocols:update' slug=object.slug %}">Edit</a></div>
        {% endif %}
    </div>
    <br>
    <pre class="bg-light p-3 rounded">{{ object.json|json_dumps }}</pre>
{% endblock %}
