{% extends "base.html" %}
{% load url %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
    {{ object|yesno:"Update,Create Hanging Protocol" }} {% if object %} {{ object.title }} {% endif %} - Hanging Protocols - {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'hanging-protocols:list' %}">Hanging Protocols</a></li>
        {% if object %}
            <li class="breadcrumb-item"><a
                    href="{{ object.get_absolute_url }}">{{ object.title }}</a></li>
        {% endif %}
        <li class="breadcrumb-item active"
            aria-current="page">{{ object|yesno:"Update,Create Hanging Protocol" }}</li>
    </ol>
{% endblock %}

{% block content %}
    <h2>Hanging Protocol {{ object|yesno:"Update,Create" }}</h2>
    {% crispy form %}
{% endblock %}

{% block script %}
    {{ block.super }}
    {{ viewport_names|json_script:"possibleViewPorts" }}
    <script type="text/javascript"
            src="{% static "js/hanging_protocols/hanging_protocol_form_add_on.js" type="module" defer %}">
    </script>
    <script type="text/javascript"
            src="{% static "js/hanging_protocols/hanging_protocol_visualization.js" type="module" defer %}">
    </script>
    <script type="text/javascript"
            src="{% static "js/unsavedform.js" %}"></script>
{% endblock %}
