{% load url %}

{% autoescape off %}
    <p>Dear {{ editor.username }},</p>

    <p
        >User {{ user.username }} has just requested access to the
        <a href="{{ algorithm.get_absolute_url }}">{{ algorithm.title }}</a>
        algorithm on {{ site.domain }}.
    </p>

    <p>
        You can review, accept or reject this request
        <a href="{% url 'algorithms:permission-request-list' slug=algorithm.slug %}">here</a>.
    </p>

    <p>
        Regards,<br/>
        {{ site.name }}
    </p>

    <p>
        <small>This is an automated service email from {{ site.domain }}.</small>
    </p>
{% endautoescape %}
