{% load humanize %}
{% load profiles %}
{% load workstations %}
{% load pathlib %}
{% load reader_study_tags %}
{% load bleach %}
{% load crispy_forms_tags %}
{% load meta_attr %}

<div class="card-body py-1" id="ds-content-{{ object.id }}">

  {% include "grandchallenge/partials/messages.html" %}

  <table class="table table-striped table-sm">
    <tr>
      <th>Interface</th>
      <th>Name</th>
    </tr>
    {% for value in object.values.all %}
      <tr>
        <td>{{ value.interface.slug }}:</td>
        <td>{{ value.title }}</td>
      </tr>
    {% endfor %}
    <tr>
      <td>Order:</td>
      <td>{{ object.order }}</td>
    </tr>
    <tr>
      <td>Description:</td>
      <td>{{ object.description|clean }}</td>
    </tr>
  </table>
  <div class="d-flex justify-content-between px-1 py-2">
      <button
          class="btn btn-primary"
          hx-get="{% url 'reader-studies:display-set-update' pk=object.pk slug=object.reader_study.slug %}"
          hx-target="#ds-content-{{ object.id }}"
          hx-swap="outerHTML"
          {% if not object.is_editable %}
              title="Cannot edit: answers for display set exist"
              disabled
          {% endif %}
      >
          Edit
      </button>
      <button class="btn btn-primary btn-sm"
              title="View in viewer"
              data-session-control
              data-create-session-url='{% url 'workstations:workstation-session-create' slug=object.reader_study.workstation.slug %}'
              data-domain="{{ request.site.domain }}"
              data-workstation-query='{% workstation_query display_set=object config=reader_study.workstation_config %}'
              data-workstation-window-identifier='workstation-{{ object|meta_attr:'app_label' }}'
              data-session-url='{% url "api:session-active-sessions" %}'
      >
          <i class="fa fa-eye"></i> View Display Set
      </button>
  </div>
</div>
