{% extends "datatables/list_base.html" %}
{% load static %}
{% load url %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'reader-studies:list' %}">Reader Studies</a></li>
        <li class="breadcrumb-item"><a href="{{ reader_study.get_absolute_url }}">{{ reader_study }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">Cases</li>
    </ol>
{% endblock %}

{% block content %}
    <h1>{{ reader_study.title }} Display Sets</h1>
    <p>
        <a class="btn btn-primary"
           href="{% url 'reader-studies:display-set-create' slug=reader_study.slug %}"
        ><i class="fas fa-fw fa-plus"></i> Add Display Set (single)
        </a>
        <a class="btn btn-outline-primary"
           href="{% url 'reader-studies:display-sets-create' slug=reader_study.slug %}"
        ><i class="fas fa-fw fa-plus"></i> Add Image-Only Display Sets (batch)
        </a>
    </p>

    {{ block.super }}

{% endblock %}

{% block script %}
    {{ block.super }}
    {% include 'workstations/partials/session-control.html' %}
    {% include 'grandchallenge/partials/drf_csrf.html' %}
{% endblock %}
