{% load humanize %}
{% load profiles %}
{% load workstations %}
{% load pathlib %}
{% load meta_attr %}

{{ object.pk }}
<split></split>

{{ object.order }}
<split></split>

<ul class="list-unstyled mb-0">
    {% for civ in object.values.all %}
        <li>
            {{ civ.interface.title }}: {{ civ.title }}
        </li>
    {% endfor %}
</ul>
<split></split>

<a class="btn btn-primary btn-sm"
   title="View in viewer"
   {% workstation_session_control_data workstation=object.reader_study.workstation context_object=object display_set=object config=object.reader_study.workstation_config %}>
    <i class="fa fa-eye"></i>
</a>
<split></split>

<a class="btn btn-primary btn-sm"
   title="Edit display set"
   href="{% url 'reader-studies:display-set-update' pk=object.pk slug=object.reader_study.slug %}"
   {% if not object.is_editable %}
        title="Cannot edit: answers for display set exist"
        disabled
   {% endif %}>
   <i class="fa fa-edit"></i>
</a>
<split></split>

<a class="btn btn-danger btn-sm remove-display-set"
   title="Delete display set"
   data-display-set-url="{% url 'api:reader-studies-display-set-detail' object.id %}">
   <i class="fa fa-trash"></i>
</a>
<split></split>
