{% extends "base.html" %}
{% load url %}

{% block title %}
    Delete Question - {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'reader-studies:list' %}">Reader Studies</a></li>
        <li class="breadcrumb-item"><a href="{{ question.reader_study.get_absolute_url }}">{{ question.reader_study.title }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">Delete Question {{ object }}</li>
    </ol>
{% endblock %}

{% block content %}
    <h2>Confirm Deletion</h2>
    <form action="" method="post">
        {% csrf_token %}
        <p>Are you sure that you want to delete the question "{{ object }}"? <br>
            <b class="text-danger">WARNING:
                You are not able to undo this action. Once the question is deleted
                it is deleted forever.</b></p>
        <a href="{% url 'reader-studies:detail' slug=object.reader_study.slug %}"
           type="button"
           class="btn btn-secondary">Cancel</a>
        <input type="submit"
               value="I understand, delete the question '{{ object }}'"
               class="btn btn-danger"/>
    </form>
{% endblock %}
