{% extends "base.html" %}
{% load url %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
    Copy -{% if object %} {{ object }} -{% endif %} {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'reader-studies:list' %}">Reader
            Studies</a></li>
        {% if object %}
            <li class="breadcrumb-item"><a
                    href="{{ object.get_absolute_url }}">{{ object }}</a></li>
        {% endif %}
        <li class="breadcrumb-item active"
            aria-current="page">Copy</li>
    </ol>
{% endblock %}

{% block title %}
    Copy Reader Study {{ object }} - {{ block.super }}
{% endblock %}

{% block content %}
    <h2>Copy Reader Study {{ object }}</h2>

    {% crispy form %}

{% endblock %}

{% block script %}
    {{ block.super }}
    <script type="text/javascript"
            src="{% static "js/unsavedform.js" %}"></script>
{% endblock %}
