{% extends "base.html" %}
{% load url %}
{% load meta_attr %}

{% block title %}Reader Studies - {{ block.super }}{% endblock %}

{% block content %}
    {% if perms.reader_studies.add_readerstudy %}
        <p>
            <a class="btn btn-primary"
               href="{% url 'reader-studies:create' %}">
                <i class="fas fa-plus"></i> Add a new reader study
            </a>
        </p>
    {% endif %}

    {% include "grandchallenge/partials/filters.html" with filter=filter filters_applied=filters_applied %}

    <div class="row equal-height mx-n2">
        {% for object in page_obj %}
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3 px-2">
                <div class="card">
                    <a class="stretched-link" href="{{ object.get_absolute_url }}"
                       title="View {{ object|meta_attr:'verbose_name'|title }}"></a>
                    <div class="embed-responsive embed-responsive-1by1">
                        <img class="card-img-top embed-responsive-item"
                             loading="lazy"
                             src="{{ object.logo.x20.url }}"
                             srcset="{{ object.logo.x10.url }} 1x,
                                     {{ object.logo.x15.url }} 1.5x,
                                     {{ object.logo.x20.url }} 2x"
                             alt="{{ object }} Logo">
                    </div>
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">
                            {{ object.title }}
                            {% if not object.public %}
                                <i class="fas fa-lock above-stretched-link" title="Reader Study is private"></i>
                            {% endif %}
                        </h5>
                        <p class="card-text">{{ object.description }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    {% include "grandchallenge/partials/pagination.html"  %}

{% endblock %}
