{% load humanize %}
{% load profiles %}
{% load workstations %}
{% load pathlib %}
{% load meta_attr %}

{{ object.name }}
<split></split>

{{ object.created|naturaltime }}
<split></split>

{{ object.origin.creator|user_profile_link }}
<split></split>

<button class="btn badge badge-primary"
        {% workstation_session_control_data workstation=reader_study.workstation context_object=reader_study image=object config=reader_study.workstation_config %}
>
    <i class="fa fa-eye"></i> View Case
</button>
<split></split>

<ul class="list-unstyled mb-0">
    {% for file in object.files.all %}
        <li>
            <a href="{{ file.file.url }}">
                <span class="badge badge-primary">
                    <i class="fa fa-download"></i> {{ file.file|suffix }}
                </span>
            </a>
        </li>
    {% endfor %}
</ul>
<split></split>

<button class="btn btn-danger btn-sm" onclick="removeCase('{{ object.id }}')">Remove</button>
<split></split>
