{% extends "base.html" %}
{% load static %}
{% load url %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fas fa-home"></i></a></li>
        <li class="breadcrumb-item"><a href="{% url 'reader-studies:list' %}">Reader
            Studies</a></li>
        <li class="breadcrumb-item"><a href="{{ object.get_absolute_url }}">{{ object }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">Images</li>
    </ol>
{% endblock %}

{% block content %}

    <h1>Reader Study {{ object.title }} - Images</h1>

    <ul class="list-group list-group-flush mt-3">
        {% for image in page_obj %}
            <li class="list-group-item py-1">
                <div class="row">
                    <div class="col-9 mb-1">
                        <div class="h-100 d-flex justify-content-start align-items-center">
                            {{ image.name }} ({{ image.shape_without_color|join:"x" }})
                        </div>
                    </div>
                    <div class="col-3 mb-1">
                        <div class="d-flex justify-content-end align-items-center">
                            <button class="btn btn-danger remove-image" data-id="{{ image.id }}">Remove</button>
                        </div>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>

    <nav aria-label="Page navigation" class="mt-3">
      <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1">&laquo; First</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
        {% endif %}
        <li class="page-item active"><a class="page-link">{{ page_obj.number }}</a></li>
        {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a></li>
        {% endif %}
      </ul>
    </nav>

    <div class="modal fade" id="removeImageModal" tabindex="-1" role="dialog"
     aria-labelledby="removeImageModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="removeImageModalLabel">Remoove
                        image</h5>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Removing an image cannot be undone. By removing an image, the current
                        hanging list will become invalid.</p>

                    <p><b>Are you sure that you want to continue?</b></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                            data-dismiss="modal">Cancel
                    </button>
                    <button type="button" class="btn btn-danger" id="removeImage">
                        <i class="fa fa-trash"></i> Remove
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    {{ block.super }}
        <script>
            window.drf = {
              csrfHeaderName: "{{ csrf_header_name|default:'X-CSRFToken' }}",
              csrfToken: "{% if request %}{{ csrf_token }}{% endif %}"
            };

            $(document).ready(() => {
                 $('#removeImage').on('click', (e) => {
                    $.ajax({
                        type: 'PATCH',
                        url: "{% url 'api:reader-study-remove-image' pk=object.pk %}",
                        data: JSON.stringify({image: $(e.currentTarget).data("image")}),
                        contentType: 'application/json',
                        accept: 'application/json',
                        complete: (response) => {
                            window.location.replace(window.location.href);
                        }
                    })
                })
                $('.remove-image').on('click', (e) => {
                    $('#removeImage').data('image', $(e.currentTarget).data('id'));
                    $('#removeImageModal').modal('show');
                })
            });
        </script>
        <script src="{% static "rest_framework/js/csrf.js" %}"></script>
{% endblock %}

