{% load humanize %}
{% load profiles %}
{% load workstations %}
{% load pathlib %}

{{ object.name }}
<split></split>

{{ object.created|naturaltime }}
<split></split>

{{ object.origin.creator|user_profile_link }}
<split></split>

<a href="{% url 'workstations:workstation-session-create' slug=reader_study.workstation.slug %}?{% workstation_query image=object config=reader_study.workstation_config %}">
    <span class="badge badge-primary">
        <i class="fa fa-eye"></i> View Case
    </span>
</a>
<split></split>

<ul class="list-unstyled mb-0">
    {% for file in object.files.all %}
        <li>
            <a href="{{ file.file.url }}">
                <span class="badge badge-primary">
                    <i class="fa fa-download"></i> {{ file.file|suffix }}
                </span>
            </a>
        </li>
    {% endfor %}
</ul>
<split></split>

<button class="btn btn-danger btn-sm" onclick="removeImage('{{ object.id }}')">Remove</button>
<split></split>
