{% extends "base.html" %}
{% load url %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
    Add {{ type_to_add }} to {{ object }} - {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'reader-studies:list' %}">Reader
            Studies</a></li>
        <li class="breadcrumb-item"><a href="{{ reader_study.get_absolute_url }}">{{ reader_study }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">Add {{ type_to_add }}
        </li>
    </ol>
{% endblock %}

{% block content %}
    <h2>Add {{ type_to_add }} to {{ object }}</h2>

    <form action="{% url 'reader-studies:add-displayset' slug=reader_study.slug %}" method="post" id="form-new-ds">
      {% csrf_token %}
      {{ form|crispy }}
      <div id="new-interfaces"></div>
      <button type="button" id="add-new" class="btn btn-outline-primary mb-2" hx-get="{% url 'reader-studies:display-set-new-add-interface' %}" hx-target="#new-interfaces" hx-swap="beforeend">Add value for new interface</button>
      <div class="d-flex justify-content-between pb-2">
        <div>
          <a href="{% url 'reader-studies:display_sets' slug=reader_study.slug %}" class="btn btn-outline-primary">Back</a>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </div>
    </form>
{% endblock %}

{% block script %}
    {{ block.super }}

    {{ form_media }}
    <script>
        window.drf = {
            csrfHeaderName: "{{ csrf_header_name|default:'X-CSRFToken' }}",
            csrfToken: "{% if request %}{{ csrf_token }}{% endif %}"
        };

        $(document).ready(() => {

             $('#form-new-ds').on('submit', (e) => {
                e.preventDefault();
                const target = $(e.currentTarget);
                $(".is-invalid").removeClass("is-invalid");
                $(".invalid-feedback").remove();
                $("#form-error-message").remove();
                const formData = {};
                const interfaces = [];
                $.each($(target).serializeArray(), (i, entry) =>{
                    formData[entry.name] = entry.value
                });
                $(".extra-interface-form").each(
                    (i, interfaceForm) => {
                        const data = {}
                        $.each($(interfaceForm).serializeArray(), (i, entry) =>{
                            data[entry.name] = entry.value
                        });
                        interfaces.push(data)
                    }
                )
                formData.new_interfaces = interfaces;
                $.ajax({
                    type: 'POST',
                    url:  target.attr("action"),
                    data: JSON.stringify(formData),
                    dataType: 'json',
                    contentType: 'application/json',
                    headers: {
                        'X-CSRFToken': window.drf.csrfToken,
                        'Content-Type': 'application/json'
                    },
                    success: (response) => {
                        window.location.href = response.redirect;
                    },
                    error: (response) => {
                        const errors = response.responseJSON;
                        for (key in errors) {
                            if (parseInt(key) === NaN) {
                                input = $(`[name='${key}']`);
                                formGroup = input.parents(".form-group");
                                input.addClass("is-invalid");
                                formGroup.append(`<div class="invalid-feedback">${errors[key].join('; ')}</div>`);

                            } else {
                                form = $(`[name='interface'] option[value='${key}']:selected`).parents("form.extra-interface-form");
                                form.find("input[name='value']").addClass("is-invalid");
                                form.append(`<div class="invalid-feedback">${errors[key].join('; ')}</div>`);
                            }
                        }
                        $("#messages").append(
                            '<div class="alert alert-danger" id="form-error-message">' +
                                'Please correct the errors below.' +
                                '<button type="button" class="close"' +
                                'data-dismiss="alert" aria-label="Close">' +
                                    '<span aria-hidden="true">&times;</span>' +
                                '</button>' +
                            '</div>'
                        );
                        $("#messages")[0].scrollIntoView();
                    }
                })

            });

        });
    </script>
{% endblock %}
