{% extends "base.html" %}
{% load url %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
    {{ block.super }}
{% endblock %}

{% block content %}
    {% block form_heading %}{% endblock %}

    {% crispy form %}
{% endblock %}

{% block script %}
    {{ block.super }}
    <script type="text/javascript"
            src="{% static "js/unsavedform.js" %}"></script>
    <script type="text/javascript">
        $(document).ready(() => {
            const toggleOptions = () => {
                $(".options-formset").toggleClass('d-none', ["CHOI", "MCHO", "MCHD"].indexOf($("#id_answer_type").val()) === -1);
            }
            toggleOptions();
            $("#id_answer_type").on("change", () => {
                toggleOptions();
            });
        });
    </script>

    <link rel="stylesheet" href="{% static 'css/select2-bootstrap4-theme/select2-bootstrap4.css' %}">

{% endblock %}
