{% extends "base.html" %}
{% load url %}
{% load humanize %}
{% load user_profile_link_username from profiles %}
{% load static %}
{% load guardian_tags %}

{% block title %}
    Leaderboard - {{ object }} - {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'reader-studies:list' %}">Reader
            Studies</a></li>
        <li class="breadcrumb-item"><a href="{{ object.get_absolute_url }}">{{ object }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">Leaderboard</li>
    </ol>
{% endblock %}

{% block content %}

    {% get_obj_perms request.user for object as "readerstudy_perms" %}

    <h1>{{ object.title }} Leaderboard</h1>

    <div class="table-responsive mt-3">
        <table
            data-data-table
            data-page-length="100"
            class="table table-hover table-borderless table-sm"
        >
            <thead class="thead-light">
                <tr>
                    <th>#</th>
                    <th>User</th>
                    <th>Total score / max score</th>
                    <th>Average score</th>
                </tr>
            </thead>
            <tbody>
            {% for entry in object.leaderboard.grouped_scores %}
                <tr {% if request.user.username == entry.creator__username %} class="bg-primary text-white"{% endif %}>
                    <td data-order="{{ forloop.counter }}">{{ forloop.counter|ordinal }}</td>
                    {% if "change_readerstudy" in readerstudy_perms %}
                        <td data-order="{{ entry.creator__username }}">{{ entry.creator__username|user_profile_link_username }}</td>
                    {% else %}
                        <td>{% if entry.creator__username == request.user.username %} You {% else %} Reader {% endif %}</td>
                    {% endif %}
                    <td data-order="{{ entry.score__sum }}">{{ entry.score__sum }} / {{ object.leaderboard.question_count }}</td>
                    <td data-order="{{ entry.score__avg }}">{{ entry.score__avg|floatformat:4 }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
