{% extends "base.html" %}
{% load static %}
{% load url %}
{% load user_profile_link from profiles %}
{% load workstations %}
{% load guardian_tags %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fas fa-home"></i></a></li>
        <li class="breadcrumb-item"><a href="{% url 'reader-studies:list' %}">Reader
            Studies</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ object }}
        </li>
    </ol>
{% endblock %}

{% block content %}
    {% get_obj_perms request.user for object as "readerstudy_perms" %}

    <h1>Reader Study {{ object.title }}</h1>

    {% if not object.is_valid %}
        <div class="alert alert-danger">
            This reader study is not ready to be used. Please update the
            configuration. All of the images should be included in the hanging list
            exactly once.
            {% if object.non_unique_study_image_names|length > 0 %}
                <hr/>
                The following image names appear more than once in the study: <br/>
                <span class="font-weight-bold">
                    {{ object.non_unique_study_image_names|join:', ' }}
                </span>
            {% endif %}
            {% if not object.hanging_list_valid %}
                {% if object.hanging_list_diff.in_study_list|length > 0 %}
                    <hr/>
                    The following image names appear in the study but not in the
                    hanging list: <br/>
                    <span class="font-weight-bold">
                        {{ object.hanging_list_diff.in_study_list|join:', ' }}
                    </span>
                {% endif %}
                {% if object.hanging_list_diff.in_hanging_list|length > 0 %}
                    <hr/>
                    The following image names appear in the hanging list but not in
                    the study: <br/>
                    <span class="font-weight-bold">
                        {{ object.hanging_list_diff.in_hanging_list|join:', ' }}
                    </span>
                {% endif %}

            {% endif %}
            <hr/>

            You might be able to solve these issues by re-generating the hanging list:
            <button type="button" class="btn btn-primary" data-toggle="modal"
                    data-target="#hangingListModal">
                <i class="fas fa-sync"></i> Re-generate the hanging list
            </button>

        </div>
    {% endif %}

    <p>{{ object.description }}</p>

    {% if user_score.score__sum is not None %}
        <div class="h3">
            You have completed this reader study. You have scored {{ user_score.score__sum|floatformat }} points
            out of a possible {{ answerable_questions|floatformat }} points,
            giving you an average score of {{ user_score.score__avg|floatformat }}.
        </div>
    {% endif %}

    <p>
        {% if user_is_reader and object.is_valid %}
            <a class="btn btn-primary"
               href="{% url 'workstations:workstation-session-redirect' slug=object.workstation.slug %}?{% workstation_query reader_study=object %}">
                <i class="fas fa-eye"></i> Launch this Reader Study
            </a>
        {% endif %}
        {% if "change_readerstudy" in readerstudy_perms %}
            <div class="d-flex justify-content-between align-items-center">
                <a class="btn btn-primary"
                   href="{% url 'reader-studies:update' slug=object.slug %}">
                    <i class="fa fa-edit"></i> Edit this reader study
                </a>
                <a href="{% url 'reader-studies:delete' slug=object.slug %}"
                   class="btn btn-danger">
                    <i class="fa fa-times"></i> Delete this reader study
                </a>
            </div>
        {% endif %}
    </p>

    {% if "change_readerstudy" in readerstudy_perms %}

        <h2>Editors</h2>
        <ul class="list-group list-group-flush mb-2">
            {% for user in object.editors_group.user_set.all %}
                <li class="list-group-item">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>{{ user|user_profile_link }}</div>
                        <div>
                            {% if user != request.user %}
                                <form
                                    action="{% url 'reader-studies:editors-update' slug=object.slug %}"
                                    method="POST">
                                    {% csrf_token %}
                                    {% for field in editor_remove_form %}
                                        {% if field.name == "user" %}
                                            <input
                                                type="hidden"
                                                name="user"
                                                value="{{ user.id }}" />
                                        {% else %}
                                            {{ field }}
                                        {% endif %}
                                    {% endfor %}
                                    <button type="submit" class="btn btn-danger">Remove</button>
                                </form>
                            {% endif %}
                        </div>
                    </div>
                </li>
            {% empty %}
                <li class="list-group-item">There are no editors for this algorithm.</li>
            {% endfor %}
        </ul>

        <p class="mt-3">
            <a class="btn btn-primary"
               href="{% url 'reader-studies:editors-update' slug=object.slug %}">
                <i class="fas fa-plus"></i> Add editors
            </a>
        </p>

        <h2>Readers</h2>
        <ul class="list-group list-group-flush">
            {% for reader in readers %}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-3 mb-1">
                            <div class="h-100 d-flex justify-content-start align-items-center">
                                {{ reader.obj|user_profile_link }}
                            </div>
                        </div>
                        <div class="col-6 mb-1">
                            <div class="progress h-100">
                                <div class="progress-bar" role="progressbar" style="width: {{ reader.progress.questions }}%" aria-valuenow="{{ reader.progress.questions }}" aria-valuemin="0" aria-valuemax="100">
                                    Progress: {{ reader.progress.questions|floatformat }}%
                                </div>
                            </div>
                        </div>
                        <div class="col-3 mb-1">
                            <div class="d-flex justify-content-end align-items-center">
                                <form
                                    action="{% url 'reader-studies:readers-update' slug=object.slug %}"
                                    method="POST">
                                    {% csrf_token %}
                                    {% for field in reader_remove_form %}
                                        {% if field.name == "user" %}
                                            <input
                                                type="hidden"
                                                name="user"
                                                value="{{ reader.obj.id }}" />
                                        {% else %}
                                            {{ field }}
                                        {% endif %}
                                    {% endfor %}
                                    <button type="submit" class="btn btn-danger">Remove</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </li>
            {% empty %}
                 <li class="list-group-item">There are no readers for this algorithm.</li>
            {% endfor %}
        </ul>


        <p class="mt-3">
            <a class="btn btn-primary"
               href="{% url 'reader-studies:readers-update' slug=object.slug %}">
                <i class="fas fa-plus"></i> Add readers
            </a>
        </p>

        <h2>Upload Sessions</h2>

        <ul>
            {% for session in object.rawimageuploadsession_set.all %}
                <li><a href="{{ session.get_absolute_url }}">{{ session }}</a>
                </li>
            {% endfor %}
        </ul>

        <h2>Images</h2>

        <p>There are {{ object.images.all.count }} image(s) in this reader study.</p>

        <p class="mt-3">
            <a class="btn btn-primary"
               href="{% url 'reader-studies:add-images' slug=object.slug %}">
                <i class="fas fa-plus"></i> Add images to this study
            </a>
        </p>

        <h2>Questions</h2>

        <ul class="list-group list-group-flush">
            {% for question in object.questions.all %}
                <li class="list-group-item">
                    <div class="w-100 d-flex justify-content-between">
                        <div>{{ question }}</div>
                        <a class="btn btn-primary btn-sm"
                           href="{% url 'reader-studies:question-update' slug=object.slug pk=question.pk %}">
                            <i class="fa fa-edit"></i> Edit
                        </a>
                    </div>
                </li>
            {% endfor %}
        </ul>

        <div class="mt-3 d-lg-flex justify-content-between">
            <div>
            <a class="btn btn-primary mb-1"
                   href="{% url 'reader-studies:add-question' slug=object.slug %}">
                    <i class="fas fa-plus"></i> Add a question to this study
                </a>
                <a class="btn btn-primary mb-1"
                   href="{% url 'reader-studies:add-ground-truth' slug=object.slug %}">
                    <i class="fas fa-plus"></i> Add ground truth to this study
                </a>
            </div>
            <a class="btn btn-primary mb-1"
               href="{% url 'api:reader-study-export-answers' pk=object.pk %}">
                <i class="fas fa-download"></i> Export answers (CSV)
            </a>
        </div>

        <div class="mt-3 d-lg-flex justify-content-end">
            <a class="btn btn-primary mb-1 ml-1"
               href="{% url 'reader-studies:leaderboard' slug=object.slug %}">
                <i class="fas fa-trophy mr-1"></i>View leaderboard
            </a>
            <a class="btn btn-primary mb-1 ml-1"
               href="{% url 'reader-studies:statistics' slug=object.slug %}">
                <i class="fas fa-signal mr-1"></i> View statistics
            </a>
        </div>

    {% endif %}

    <!-- Modal -->
    <div class="modal fade" id="hangingListModal" tabindex="-1" role="dialog"
         aria-labelledby="hangingListModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="hangingListModalLabel">Generate
                        hanging list</h5>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>The generated hanging list will overwrite any existing hanging
                        list by setting 1 image per hanging protocol.</p>

                    <p><b>Are you sure that you want to continue?</b></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                            data-dismiss="modal">Cancel
                    </button>
                    <button type="button" class="btn btn-danger"
                            id="generateHangingList">
                        <i class="fa fa-trash"></i> Re-generate the hanging list
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    {{ block.super }}
        <script>
            window.drf = {
              csrfHeaderName: "{{ csrf_header_name|default:'X-CSRFToken' }}",
              csrfToken: "{% if request %}{{ csrf_token }}{% endif %}"
            };

            $(document).ready(() => {
                $('#generateHangingList').on('click', () => {
                    $.ajax({
                        type: 'PATCH',
                        url: "{% url 'api:reader-study-generate-hanging-list' pk=object.pk %}",
                        data: {},
                        contentType: 'application/json',
                        complete: (response) => {
                            $('#page').prepend(
                                '<div class="alert alert-success" role="alert">' +
                                    `${response.responseJSON.status}` +
                                '</div>'
                            );
                            window.location.replace(window.location.href);
                        }
                    })
                })
            });
        </script>
        <script src="{% static "rest_framework/js/csrf.js" %}"></script>
{% endblock %}

