{% extends "base.html" %}
{% load url %}
{% load workstations %}
{% load reader_study_tags %}
{% load static %}
{% load meta_attr %}

{% block title %}
    Statistics - {{ object }} - {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'reader-studies:list' %}">Reader
            Studies</a></li>
        <li class="breadcrumb-item"><a href="{{ object.get_absolute_url }}">{{ object }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">Statistics</li>
    </ol>
{% endblock %}

{% block content %}

    <h1>{{ object.title }} Statistics</h1>

    <div class="table-responsive mt-3">
        <h2>Statistics per case</h2>
        <table class="table table-hover table-borderless table-sm w-100 mb-3">
            <thead class="thead-light">
                <tr>
                    <th>DisplaySet ID</th>
                    <th>Total score / max score</th>
                    <th>Average score</th>
                    {% for question in object.statistics.questions %}
                        <th>{{ question }} (GT)</th>
                    {% endfor %}
                    <th>View case</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in object.statistics.scores_by_case %}
                    <tr>
                        <td>{{ entry.id }}</td>
                        <td data-order="{{ entry.sum }}">{{ entry.sum }} / {{ object.statistics.max_score_cases }}</td>
                        <td data-order="{{ entry.avg }}">{{ entry.avg|floatformat:4 }}</td>
                        {% for question in object.statistics.questions %}
                            {% get_ground_truth object entry.id question as ground_truth %}
                            <td>{{ ground_truth }}</td>
                        {% endfor %}
                        <td data-order="{{ object.is_launchable }}">
                            <button class="btn btn-primary badge badge-primary"
                                    {% if object.is_launchable %}
                                        {% workstation_session_control_data workstation=object.workstation context_object=object display_set=entry reader_study=object %} title="Open in viewer"
                                    {% else %}
                                        disabled title="Reader study cannot be launched"
                                    {% endif %}
                            >
                                <i class="fa fa-eye"></i>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <h2>Statistics per question</h2>
        <table class="table table-hover table-borderless table-sm w-100">
             <thead class="thead-light">
                <tr>
                    <th>Question</th>
                    <th>Total score / max score</th>
                    <th>Average score</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in object.statistics.scores_by_question %}
                    <tr>
                        <td>{{ entry.question__question_text }}</td>
                        <td data-order="{{ entry.score__sum }}">{{ entry.score__sum }} / {{ object.statistics.max_score_questions }}</td>
                        <td data-order="{{ entry.score__avg }}">{{ entry.score__avg|floatformat:4 }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block script %}
    {{ block.super }}

    <script type="module" src="{% static 'reader_studies/js/statistics.mjs' %}"></script>

    {% include 'workstations/partials/session-control.html' %}
{% endblock %}
