{% extends "base.html" %}

{% block title %}
    Delete - {{ object }} - {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'reader-studies:list' %}">Reader
            Studies</a></li>
        <li class="breadcrumb-item"><a
                href="{{ object.get_absolute_url }}">{{ object }}</a></li>
        <li class="breadcrumb-item active"
            aria-current="page">Delete
        </li>
    </ol>
{% endblock %}

{% block content %}

    {% if nested_objects.protected %}
        <h2>Cannot Delete Reader Study</h2>

        <p>This reader study cannot be deleted. Please delete the following items first:</p>

        <ul>
            {% for item in nested_objects.protected %}
                <li>{{ item }}</li>
            {% endfor %}
        </ul>

    {% else %}

        <h2>Confirm Deletion</h2>
        <form action="" method="post">
            {% csrf_token %}
            <p>Are you sure that you want to delete the reader study "{{ object }}"? <br>
                <b class="text-danger">WARNING:
                    You are not able to undo this action, once the reader study is deleted
                    it is deleted forever.</b></p>
            <a href="{{ object.get_absolute_url }}"
               type="button"
               class="btn btn-secondary">Cancel</a>
            <input type="submit"
                   value="I understand, delete the reader study called '{{ object }}'"
                   class="btn btn-danger"/>
        </form>

    {% endif %}

{% endblock %}
