{% load humanize %}
{% load profiles %}
{% load workstations %}
{% load pathlib %}
{% load meta_attr %}

{{ object.name }}
<split></split>

{{ object.created|naturaltime }}
<split></split>

{{ object.origin.creator|user_profile_link }}
<split></split>

<button class="btn badge badge-primary" data-session-control
   data-create-session-url='{% url 'workstations:workstation-session-create' slug=reader_study.workstation.slug %}'
   data-session-origin="https://us-east-1.{{ request.site.domain }}"
   data-workstation-query='{% workstation_query image=object config=reader_study.workstation_config %}'
   data-workstation-window-identifier='workstation-{{ reader_study|meta_attr:'app_label' }}'
>
    <i class="fa fa-eye"></i> View Case
</button>
<split></split>

<ul class="list-unstyled mb-0">
    {% for file in object.files.all %}
        <li>
            <a href="{{ file.file.url }}">
                <span class="badge badge-primary">
                    <i class="fa fa-download"></i> {{ file.file|suffix }}
                </span>
            </a>
        </li>
    {% endfor %}
</ul>
<split></split>

<button class="btn btn-danger btn-sm" onclick="removeCase('{{ object.id }}', false)">Remove</button>
<split></split>
