{% extends "base.html" %}
{% load url %}

{% block title %}Reader Studies - {{ block.super }}{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fas fa-home"></i></a></li>
        <li class="breadcrumb-item active" aria-current="page">Reader Studies
        </li>
    </ol>
{% endblock %}

{% block content %}
    <h2>Reader Studies</h2>

    <p>
        A Reader Study can be used to collect annotations or score algorithm
        results for a set of medical images. Please email us if you would like
        to set up your own reader study.
    </p>

    <div class="card-columns">
        {% for reader_study in object_list %}
            <div class="card">
                <a href="{{ reader_study.get_absolute_url }}">
                    <img class="card-img-top img-fluid"
                         src="{{ reader_study.logo.url }}"
                         alt="{{ reader_study }} Logo">
                </a>
                <div class="card-body">
                    <h5 class="card-title">{{ reader_study.title }}</h5>
                    <p class="card-text">{{ reader_study.description }}</p>
                    <a href="{{ reader_study.get_absolute_url }}"
                       class="btn btn-primary"
                       data-toggle="tooltip"
                       data-placement="bottom"
                       title="View Reader Study">
                        <i class="fa fa-eye"></i>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>

    {% if not object_list %}
        <p>You do not have permission to view any of the reader studies.</p>
    {% endif %}

    {% if perms.reader_studies.add_readerstudy %}
        <p class="mt-3">
            <a class="btn btn-primary"
               href="{% url 'reader-studies:create' %}">
                <i class="fas fa-plus"></i> Add a new reader study
            </a>
        </p>
    {% endif %}

{% endblock %}

{% block script %}
    {{ block.super }}
    {# enable tooltips #}
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
{% endblock %}
