{% load crispy_forms_tags %}

<div class="card-body py-1" id="ds-content-{{ object.id }}">
  {% if object.is_editable %}
    <form action="{% url 'reader-studies:display-set-update' pk=object.pk %}" method="post" class="ds-form" data-hx-get="{% url 'reader-studies:display-set-detail' pk=object.pk %}" data-hx-target="#ds-content-{{ object.id }}" data-hx-swap="outerHTML">
      {% csrf_token %}
      {{ form|crispy }}
      <div class="d-flex justify-content-between pb-2">
        <div>
          <button type="button" class="btn btn-outline-primary" hx-get="{% url 'reader-studies:display-set-detail' pk=object.pk %}" hx-target="#ds-content-{{ object.id }}" hx-swap="outerHTML">Back</button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
        <button type="button" class="btn btn-danger" onclick="removeCase('{% url 'api:reader-studies-display-set-detail' object.id %}', true)">Remove</button>
      </div>
    </form>
  {% endif %}
</div>
