
<div id="accordion">
  <div class="card">
    <div class="card-header py-1" id="heading-{{ object.id }}">
      <h5 class="mb-0">
        <button class="btn btn-link w-100 ds-htmx" data-toggle="collapse" data-target="#collapse-{{ object.id }}" aria-expanded="true" aria-controls="collapse{{ object.id }}" data-hx-get="{% url 'reader-studies:display-set-detail' pk=object.pk %}" data-hx-target="#ds-item-{{ object.id }}" data-hx-swap="outerHTML" data-loaded="false">
          <div class="d-flex justify-content-between">
            <div>[{{ object.id }}] {{ object.main_image_title }}</div>
            <div><i class="fa fa-plus-circle"></i></div>
          </div>
        </button>
      </h5>
    </div>

    <div id="collapse-{{ object.id }}" class="collapse" aria-labelledby="heading-{{ object.id }}" data-parent="#accordion" >
      <div id="ds-item-{{ object.id }}"></div>
    </div>
  </div>
</div>
