{% extends "base.html" %}
{% load url %}
{% load static %}

{% block title %}
    Ground Truth - {{ object }} - {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'reader-studies:list' %}">Reader
            Studies</a></li>
        <li class="breadcrumb-item"><a href="{{ object.get_absolute_url }}">{{ object }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">Ground Truth</li>
    </ol>
{% endblock %}

{% block content %}
    <h2>Ground Truth of {{ object }}</h2>

    <p>
        The ground truth consists of the correct answers to the questions for each case, it serves as a
        reference for verifying and assessing the performance of the readers in this reader study.
    </p>

    {% if not object.ground_truth_is_complete %}
        <div class="alert alert-warning" role="alert">
            <i class="fa fa-exclamation-triangle pr-1" aria-hidden="true"></i>The ground truth is incomplete.
            Some case questions that are ground-truth applicable have no ground truth assigned.
        </div>
    {% endif %}

    {% if object.has_ground_truth %}
        <div class="d-flex justify-content-between align-items-center py-3">
            <p class="mb-0">
                This reader study has ground truth
            </p>
             <a class="btn btn-danger"
                    href="{% url 'reader-studies:ground-truth-delete' slug=object.slug %}">
                <i class="fas fa-trash-alt fa-fw pr-1"></i>Delete Ground&nbsp;Truth
            </a>
        </div>

        <hr>

        <h3>Update Ground Truth</h3>
        <p>
            The ground truth can’t be updated directly. Please delete the current and create a new one.
        </p>
    {% else %}

        <hr>

        <h3>Create Ground Truth</h3>

        <div class="d-flex justify-content-between">
            <div>
                <a class="btn btn-primary"
                    href="{% url 'reader-studies:add-ground-truth-csv' slug=object.slug %}">
                    <i class="fas fa-upload"></i> Upload via CSV
                </a>
                or
                <a class="btn btn-primary"
                    href="{% url 'reader-studies:add-ground-truth-answers' slug=object.slug %}">
                    <i class="fas fa-recycle"></i> Use Existing Answers
                </a>
            </div>
        </div>
    {% endif %}
{% endblock %}
