{% extends "base.html" %}
{% load url %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
    {{ object|yesno:"Update,Create" }} -{% if object %} {{ object }} -{% endif %} {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'reader-studies:list' %}">Reader
            Studies</a></li>
        {% if object %}
            <li class="breadcrumb-item"><a
                    href="{{ object.get_absolute_url }}">{{ object }}</a></li>
        {% endif %}
        <li class="breadcrumb-item active"
            aria-current="page">{{ object|yesno:"Update,Create" }}</li>
    </ol>
{% endblock %}

{% block content %}
    <h2>Reader Study {{ object|yesno:"Update,Create" }}</h2>

    {% crispy form %}

    {% if object %}
        <p class="float-right">
            <a href="{% url 'reader-studies:delete' slug=object.slug %}"
               class="btn btn-danger">
                <i class="fa fa-times"></i> Delete this reader study
            </a>
        </p>
    {% endif %}
{% endblock %}

{% block script %}
    {{ block.super }}
    <script type="text/javascript"
            src="{% static "js/unsavedform.js" %}"></script>
{% endblock %}
