{% extends "reader_studies/reader_study_object_form.html" %}

{% block title %}
    Add {{ type_to_add }} to {{ object }} - {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fas fa-home"></i></a></li>
        <li class="breadcrumb-item"><a href="{% url 'reader-studies:list' %}">Reader
            Studies</a></li>
        <li class="breadcrumb-item"><a href="{{ object.get_absolute_url }}">{{ object }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">Add {{ type_to_add }}
        </li>
    </ol>
{% endblock %}


{% block form_heading %}
    <h2>Add {{ type_to_add }} to {{ object }}</h2>
{% endblock %}
