{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load clean from bleach %}
{% load guardian_tags %}


{% block breadcrumbs %}
    {% get_obj_perms request.user for reader_study as "reader_study_perms" %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'reader-studies:list' %}">Reader Studies</a>
        </li>
        <li class="breadcrumb-item"><a
                href="{{ reader_study.get_absolute_url }}">{{ reader_study.title }}
        </a></li>
        <li class="breadcrumb-item active"
            aria-current="page">
            {% if "change_readerstudy" in reader_study_perms %}
                Review access request
            {% else %}
                Request access
            {% endif %}
        </li>
    </ol>
{% endblock %}

{% block content %}

    {% get_obj_perms request.user for reader_study as "reader_study_perms" %}
    {% if "change_readerstudy" in reader_study_perms %}
        {% if permission_request %}
            <h2>{{ reader_study.title }}: review access request for user {{ permission_request.user.username }}</h2>
            <form action="{% url 'reader-studies:permission-request-update' slug=reader_study.slug pk=permission_request.pk %}"
                  method="post">
                {% csrf_token %}
                {{ form | crispy }}
                <input type="submit"
                       value="Submit"
                       class="btn btn-primary"/>
            </form>
        {% endif %}

    {% else %}

        <h2>Request access</h2>

        {% if "read_readerstudy" in reader_study_perms %}
            <p>
                You already have permission to read this study, please
                <a href="{{ reader_study.get_absolute_url }}">click here</a> to continue.
            </p>
        {% else %}
            <p>
                You currently do not have permission to read this study.
            </p>

            {% if not permission_request %}
                <p>
                    If you would like to read the reader study, you can request permission here.
                    An email will be sent to the reader study's editors who will review your request.
                </p>

                <form action="{% url 'reader-studies:permission-request-create' slug=reader_study.slug %}"
                      method="post">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <input type="submit"
                           value="Request access to {{ reader_study.title }}"
                           class="btn btn-primary"/>
                </form>
            {% else %}
                <p>
                    You have already sent a permission request.
                    The status of your request is <span
                        class="font-weight-bold">{{ permission_request.get_status_display|lower }}</span>.
                </p>
                {% if permission_request.status == permission_request.REJECTED %}
                    {% if permission_request.rejection_text %}
                        <p>
                            The reader study's editors have left the following reason for the rejection:
                        </p>
                        <p>
                            {{ permission_request.rejection_text }}
                        </p>
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endif %}
    {% endif %}

{% endblock %}
