{% load humanize %}
{% load profiles %}
{% load workstations %}
{% load pathlib %}
{% load reader_study_tags %}

<div id="accordion">
  <div class="card">
    <div class="card-header py-1" id="heading-{{ object.id }}">
      <h5 class="mb-0">
        <button class="btn btn-link w-100" data-toggle="collapse" data-target="#collapse-{{ object.id }}" aria-expanded="true" aria-controls="collapse{{ object.id }}">
          <div class="d-flex justify-content-between">
            <div>{{ object.id }}</div>
            <div><i class="fa fa-plus-circle"></i></div>
          </div>
        </button>
      </h5>
    </div>

    <div id="collapse-{{ object.id }}" class="collapse" aria-labelledby="heading-{{ object.id }}" data-parent="#accordion">
      <div class="card-body py-1">
        <table class="table table-striped table-sm">
          <tr>
            <th>Interface</th>
            <th>Name</th>
            <th>Created</th>
            <th>View</th>
          </tr>
          {% for value in object.values.all %}
            <tr>
              <td>{{ value.interface.title }}</td>
              <td>
                <select class="form-select add-interface" data-url="{% url 'api:reader-studies-display-set-detail' object.id %}">
                  <option>---</option>
                  {% get_values_for_interface object value.interface as values %}
                  {% for val in values %}
                    <option value="{{ val.id }}" {% if val.id == value.id %}selected{% endif %}>{{ val.image.name }}</option>
                  {% endfor %}
                </select>
              </td>
              <td>{{ value.image.created|naturaltime }}</td>
              <td>
                <a href="{% url 'workstations:workstation-session-create' slug=reader_study.workstation.slug %}?{% workstation_query image=object config=reader_study.workstation_config %}">
                  <span class="badge badge-primary">
                      <i class="fa fa-eye"></i> View Case
                  </span>
                </a>
              </td>
            </tr>
          {% endfor %}
          {% for interface in object.empty_interfaces %}
            <tr>
              <td>{{ interface.title }}:</td>
              <td>
                <select class="form-select add-interface" data-url="{% url 'api:reader-studies-display-set-detail' object.id %}">
                  <option selected>---</option>
                  {% for value in interface.values %}
                    <option value="{{ value.id }}">{{ value.image.name }}</option>
                  {% endfor %}
                </select>
              </td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
</div>
