{% extends "base.html" %}
{% load url %}
{% load random_encode %}

{% block title %}Reader Studies - {{ block.super }}{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}"><i
                class="fas fa-home"></i></a></li>
        <li class="breadcrumb-item active" aria-current="page">Reader Studies
        </li>
    </ol>
{% endblock %}

{% block content %}
    <h2>Reader Studies</h2>

    <p>
        A Reader Study can be used to collect annotations or score algorithm
        results for a set of medical images. Please
        <a href="{{ 'mailto:support@grand-challenge.org'|random_encode }}">
            contact us</a>
        if you would like to set up your own reader study.
    </p>

    {% if perms.reader_studies.add_readerstudy %}
        <p>
            <a class="btn btn-primary"
               href="{% url 'reader-studies:create' %}">
                <i class="fas fa-plus"></i> Add a new reader study
            </a>
        </p>
    {% endif %}

    <div class="row equal-height mx-n2">
        {% for reader_study in object_list %}
            <div class="col-12 col-md-6 col-lg-4 mb-3 px-2">
                <div class="card">
                    <div class="embed-responsive embed-responsive-1by1">
                        <a href="{{ reader_study.get_absolute_url }}">
                            <img class="card-img-top embed-responsive-item"
                                 src="{{ reader_study.logo.url }}"
                                 alt="{{ reader_study }} Logo">
                        </a>
                    </div>
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">{{ reader_study.title }}</h5>
                        <p class="card-text">{{ reader_study.description }}</p>
                        <a href="{{ reader_study.get_absolute_url }}"
                           class="btn btn-primary mt-auto mr-auto"
                           title="View Reader Study">
                            <i class="fa fa-eye"></i>
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    {% if not object_list %}
        <p>You do not have permission to view any of the reader studies.</p>
    {% endif %}

{% endblock %}
