{% extends "base.html" %}
{% load get_obj_perms from guardian_tags %}
{% load url %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a
                href="{% url 'challenges:list' %}">Challenges</a>
        </li>
        <li class="breadcrumb-item"><a
                href="{{ challenge.get_absolute_url }}">{% firstof challenge.title challenge.short_name %}</a></li>
        <li class="breadcrumb-item"><a href="{% url 'teams:list' challenge_short_name=challenge.short_name %}">Teams</a>
        </li>
        <li class="breadcrumb-item"><a href="{{ object.get_absolute_url }}">{{ object.name|title }}</a></li>
        <li class="breadcrumb-item active"
            aria-current="page">Delete
        </li>
    </ol>
{% endblock %}

{% block content %}

    <h2>{{ object.name|title }}</h2>

    Are you sure that you want to delete this team?

{% endblock %}
