{% extends "challenge.html" %}
{% load get_obj_perms from guardian_tags %}
{% load url %}
{% load user_profile_link from profiles %}

{% block content %}

    {% get_obj_perms user for object as "team_perms" %}

    <h2>{{ object.name }}</h2>

    <dl>
        <dt>Challenge</dt>
        <dd>{{ object.challenge }}</dd>

        {% if object.department %}
            <dt>Department</dt>
            <dd>{{ object.department }}</dd>
        {% endif %}

        {% if object.institution %}
            <dt>Institution</dt>
            <dd>{{ object.institution }}</dd>
        {% endif %}

        {% if object.website %}
            <dt>Website</dt>
            <dd><a href="{{ object.website }}">{{ object.website }}</a></dd>
        {% endif %}

    </dl>

    <h3>Team Members</h3>

    <ul>
        {% for tm in object.teammember_set.all %}
            <li>
                {{ tm.user|user_profile_link }}
                {% if "change_team" in team_perms and tm.user != object.owner %}
                    <form method="post"
                          action="{% url 'teams:member-delete' challenge_short_name=challenge.short_name pk=tm.pk %}">
                        {% csrf_token %}
                        <button type="submit"
                                class="btn btn-danger">
                            Remove {{ tm.user }} from team
                        </button>
                    </form>
                {% endif %}
                {% if tm.user == object.owner %}
                    (owner)
                {% endif %}
            </li>
        {% endfor %}
    </ul>

    {% if "change_team" in team_perms or "change_challenge" in challenge_perms %}
        <h3>Team Owner Settings</h3>
        <a href="{% url 'teams:update' challenge_short_name=challenge.short_name pk=object.pk %}"
           class="btn btn-primary">Edit
            Team</a>
        <form method="post"
              action="{% url 'teams:delete' challenge_short_name=challenge.short_name pk=object.pk %}">
            {% csrf_token %}
            <button type="submit"
                    class="btn btn-danger">
                Delete Team
            </button>
        </form>
    {% endif %}

    {% if user_team and "change_team" not in team_perms %}

        <h3>Team Member Settings</h3>

        <form method="post"
              action="{% url 'teams:member-delete' challenge_short_name=challenge.short_name pk=user_team.pk %}">
            {% csrf_token %}
            <button type="submit"
                    class="btn btn-danger">
                Leave Team
            </button>
        </form>

    {% endif %}

{% endblock %}