<html>
    <head>
        <script type="text/javascript" src="/static/js/jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="/static/js/fme.viewer2d.js"></script>
        
        <script type="text/javascript">
            var fmeViewer = null;
                
            $(document).ready(function (){
              console.log("loading viewer...");
              fmeViewer = new ComicViewer2D("viewerContainer");
              fmeViewer.init(function() {
                // called when Viewer is completly loaded into DOM
                console.log("Viewer loaded");
              });
            });
        </script>
    </head>
    <body>
      <div data-role="page" data-theme="a" id="page1">
          <div data-role="header">
              <h1>COMIC MeVisLab Viewer Demo</h1>
          </div><!-- /header -->
          <div data-role="content">
              <div id="viewerContainer"></div>
              <b>Got into console and type: fmeViewer.loadImage("/VESSEL12/datasets/mhd/VESSEL12_05.mhd") to load another dataset</b>
          </div>
      </div>
    </body>
</html>
