{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    {{ object|yesno:"Update,Create Email" }} {% if object %} {{ object }} {% endif %} - Emails - {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'emails:list' %}">Emails</a></li>
        {% if object %}
            <li class="breadcrumb-item"><a href="{{ object.get_absolute_url }}">{{ object }}</a></li>
        {% endif %}
        <li class="breadcrumb-item active">{{ object|yesno:"Update,Create Email" }}</li>
    </ol>
{% endblock %}

{% block content %}
    <h2>{% if object %}Update{% else %}Create{% endif %} Email</h2>
      <div class="alert alert-warning ml-3" role="alert">
            The body preview does not accurately represent how the result will be rendered in email applications!
            Always send out a limited test version to prevent potential embarrassments.
      </div>
    {% crispy form %}
{% endblock %}
