{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
    {{ object|yesno:"Update,Create Email" }} {% if object %} - {{ object }} {% else %} - Emails {% endif %} - {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'emails:list' %}">Emails</a></li>
        {% if object %}
            <li class="breadcrumb-item"><a href="{{ object.get_absolute_url }}">{{ object }}</a></li>
        {% endif %}
        <li class="breadcrumb-item active">{{ object|yesno:"Update,Create Email" }}</li>
    </ol>
{% endblock %}

{% block content %}

    <h2>{% if object %}Update{% else %}Create{% endif %} Email</h2>

    {% crispy form %}

{% endblock %}

{% block script %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "js/unsavedform.js" %}"></script>
{% endblock %}
