{% extends "site.html" %}
{% load get_obj_perms from guardian_tags %}
{% load url from comic_templatetags %}

{% block pagecontent %}

    {% get_obj_perms user for object as "object_perms" %}

    <h2>{{ object.name }}</h2>

    <dl>
        <dt>Challenge</dt>
        <dd>{{ object.challenge }}</dd>
    </dl>

    <h3>Team Members</h3>

    <ul>
        {% for tm in object.teammember_set.all %}
            <li>
                <a href="{% url 'userena_profile_detail' tm.user %}">
                <img class="mugshot"
                     src="{{ tm.user.user_profile.get_mugshot_url }}"
                     alt="User Mugshot"
                     style="height: 1.5em; vertical-align: middle;"/>
                {{ tm.user }}</a>
                {% if "change_team" in object_perms and tm.user != object.owner %}
                    <form method="post"
                          action="{% url 'teams:member-delete' site.short_name tm.pk %}">
                        {% csrf_token %}
                        <button type="submit"
                                class="btn btn-danger">
                            Remove {{ tm.user }} from team
                        </button>
                    </form>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    {% if "change_team" in object_perms %}
        <h3>Settings</h3>
        <a href="{% url 'teams:update' site.short_name object.pk %}"
           class="btn btn-primary">Edit
            Team</a>
        <form method="post"
              action="{% url 'teams:delete' site.short_name object.pk %}">
            {% csrf_token %}
            <button type="submit"
                    class="btn btn-danger">
                Delete Team
            </button>
        </form>

    {% elif user_is_member %}

        <h3>Settings</h3>

        <form method="post"
              action="{% url 'teams:member-delete' site.short_name object.pk %}">
            {% csrf_token %}
            <button type="submit"
                    class="btn btn-danger">
                Leave Team
            </button>
        </form>

    {% endif %}

{% endblock %}