{% extends "base.html" %}
{% load humanize %}
{% load url %}
{% load static %}
{% load naturaldelta %}

{% block title %}Statistics{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Statistics</li>
    </ol>
{% endblock %}

{% block content %}

    <h3>Users</h3>

    <div class="embed-responsive embed-responsive-21by9">
        <div class="embed-responsive-item vega-lite-chart">
            {{ countries|json_script:"countries" }}
        </div>
    </div>

    <div class="w-100 vega-lite-chart">
        {{ users|json_script:"users" }}
    </div>

    <dl class="inline">

        <dt>Total users</dt>
        <dd>{{ users_total|intcomma }}</dd>

        <dt>Users logged in (last {{ days }} days)</dt>
        <dd>{{ logged_in_period|intcomma }}</dd>

    </dl>

    <h3>Challenges</h3>

    <dl class="inline">

        <dt>Public challenges</dt>
        <dd>{{ public_challenges|intcomma }}</dd>

        <dt>Private challenges</dt>
        <dd>{{ hidden_challenges|intcomma }}</dd>

        <dt>Public challenge with the most participants</dt>
        <dd>
            <a href="{{ mp_group.participants_of_challenge.get_absolute_url }}">
                {{ mp_group.participants_of_challenge }}
                ({{ mp_group.num_users|intcomma }}
                Participant{{ mp_group.num_users|pluralize }})
            </a>
        </dd>

        <dt>Latest public challenge</dt>
        <dd>
            <a href="{{ latest_public_challenge.get_absolute_url }}">{{ latest_public_challenge }}</a>
        </dd>

    </dl>

    <h4>Registrations to public challenges in the past {{ days }} days
        (top {{ max_num_results }})</h4>

    <div class="w-100 vega-lite-chart">
        {{ challenge_registrations_period|json_script:"challengeRegistrations" }}
    </div>

    <br>

    <h3>Evaluations</h3>

    <dl class="inline">
        <dt>Total submissions</dt>
        <dd>{{ submissions|intcomma }}</dd>

        <dt>Total submissions (last {{ days }} days)</dt>
        <dd>{{ submissions_period|intcomma }}</dd>

        <dt>Public challenge with the most submissions</dt>
        <dd>
            <a href="{{ mp_challenge_submissions.get_absolute_url }}">
                {{ mp_challenge_submissions }}
                ({{ mp_challenge_submissions.num_submissions|intcomma }}
                Submission{{ mp_challenge_submissions.num_submissions|pluralize }})
            </a>
        </dd>

        <dt>Latest public result</dt>
        <dd><a href="{{ latest_result.get_absolute_url }}">Result
            for {{ latest_result.submission.phase.challenge }},
            created {{ latest_result.created|naturaltime }},
            {{ latest_result.rank|ordinal }} position on leaderboard.</a></dd>

    </dl>

    <h4>Submissions to public challenges in the past {{ days }} days
        (top {{ max_num_results }})</h4>

    <div class="w-100 vega-lite-chart">
        {{ challenge_submissions_period|json_script:"challengeSubmissions" }}
    </div>

    <br>

    <h3>Algorithms</h3>

    <div class="w-100 vega-lite-chart">
        {{ jobs|json_script:"jobs" }}
    </div>

    <dl class="inline">
        <dt>Public algorithms</dt>
        <dd>{{ public_algorithms|intcomma }}</dd>

        <dt>Private algorithms</dt>
        <dd>{{ private_algorithms|intcomma }}</dd>

        <dt>Total algorithm inference jobs</dt>
        <dd>{{ jobs_total|intcomma }}</dd>
    </dl>

    <h3>Archives</h3>

    <div class="w-100 vega-lite-chart">
        {{ images|json_script:"images" }}
    </div>

    <dl class="inline">
        <dt>Public archives</dt>
        <dd>{{ public_archives|intcomma }}</dd>

        <dt>Private archives</dt>
        <dd>{{ private_archives|intcomma }}</dd>

        <dt>Total images</dt>
        <dd>{{ images_total|intcomma }}</dd>
    </dl>

    <h3>Reader Studies</h3>

    <div class="w-100 vega-lite-chart">
        {{ answers|json_script:"answers" }}
    </div>

    <dl class="inline">
        <dt>Public reader studies</dt>
        <dd>{{ public_reader_studies|intcomma }}</dd>

        <dt>Private reader studies</dt>
        <dd>{{ private_reader_studies|intcomma }}</dd>

        <dt>Questions</dt>
        <dd>{{ questions|intcomma }}</dd>

        <dt>Total answers</dt>
        <dd>{{ answers_total|intcomma }}</dd>
    </dl>

    <h3>Viewers</h3>

    <div class="w-100 vega-lite-chart">
        {{ sessions|json_script:"sessions" }}
    </div>

    <dl class="inline">
        <dt>Public viewers</dt>
        <dd>{{ public_workstations|intcomma }}</dd>

        <dt>Private viewers</dt>
        <dd>{{ private_workstations|intcomma }}</dd>

        <dt>Total sessions</dt>
        <dd>{{ sessions_total|intcomma }}</dd>

        <dt>Total session duration</dt>
        <dd>{{ sessions_duration_total|naturaldelta }}</dd>
    </dl>
{% endblock %}

{% block script %}
    {{ block.super }}

    <script src="{% static 'vendored/vega/vega.min.js' %}"></script>
    <script src="{% static 'vendored/vega-lite/vega-lite.min.js' %}"></script>
    <script src="{% static 'vendored/vega-embed/vega-embed.min.js' %}"></script>
    <script type="module" src="{% static "js/statistics/render_charts.mjs" %}"></script>
{% endblock %}
