{% extends "nobanner.html" %}
{% load humanize %}
{% load grandchallenge_tags %}

{% block pageName %}Statistics{% endblock %}

{% block content %}

    <h1>Site Statistics</h1> <br/>

    <h2>Users</h2>

    {% allusers_statistics False %}

    <dl class="inline">

        <dt>Total users</dt>
        <dd>{{ number_of_users|intcomma }}</dd>

        <dt>New users (last {{ days }} days)</dt>
        <dd>{{ new_users_period|intcomma }}</dd>

        <dt>Users logged in (last {{ days }} days)</dt>
        <dd>{{ logged_in_period|intcomma }}</dd>

    </dl>

    <h2>Challenges</h2>

    <dl class="inline">

        <dt>Public challenges</dt>
        <dd>{{ public_challenges|intcomma }}</dd>

        <dt>Hidden challenges</dt>
        <dd>{{ hidden_challenges|intcomma }}</dd>

        <dt>Public challenge with the most participants</dt>
        <dd>
            <a href="{{ mp_group.participants_of_challenge.get_absolute_url }}">
                {{ mp_group.participants_of_challenge }}
                ({{ mp_group.num_users|intcomma }}
                Participant{{ mp_group.num_users|pluralize }})
            </a>
        </dd>

        <dt>Public challenge with the most registrations (last {{ days }} days)</dt>
        <dd>
            <a href="{{ mp_challenge_registrations_period.get_absolute_url }}">
                {{ mp_challenge_registrations_period }}
                ({{ mp_challenge_registrations_period.num_registrations_period|intcomma }}
                Registration{{ mp_challenge_registrations_period.num_registrations_period|pluralize }})
            </a>
        </dd>

        <dt>Latest public challenge</dt>
        <dd><a href="{{ latest_public_challenge.get_absolute_url }}">{{ latest_public_challenge }}</a></dd>

    </dl>


    <h3>Automated Evaluation</h3>

    <dl class="inline">
        <dt>Challenges using automated evaluation</dt>
        <dd>{{ using_auto_eval|intcomma }}</dd>

        <dt>Total submissions</dt>
        <dd>{{ submissions|intcomma }}</dd>

        <dt>Total submissions (last {{ days }} days)</dt>
        <dd>{{ submissions_period|intcomma }}</dd>

        <dt>Public challenge with the most submissions</dt>
        <dd>
            <a href="{{ mp_challenge_submissions.get_absolute_url }}">
                {{ mp_challenge_submissions }}
                ({{ mp_challenge_submissions.num_submissions|intcomma }}
                Submission{{ mp_challenge_submissions.num_submissions|pluralize }})
            </a>
        </dd>

        <dt>Public challenge with the most submissions (last {{ days }} days)</dt>
        <dd>
            <a href="{{ mp_challenge_submissions_period.get_absolute_url }}">
                {{ mp_challenge_submissions_period }}
                ({{ mp_challenge_submissions_period.num_submissions_period|intcomma }}
                Submission{{ mp_challenge_submissions_period.num_submissions_period|pluralize }})
            </a>
        </dd>

        <dt>Latest public result</dt>
        <dd><a href="{{ latest_result.get_absolute_url }}">Result
            for {{ latest_result.challenge }},
            created {{ latest_result.created|naturaltime }},
            {{ latest_result.rank|ordinal }} position on leaderboard.</a></dd>

    </dl>

{% endblock %}
