{% extends 'pages/challenge_settings_base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load url %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a
                href="{% url 'challenges:list' %}">Challenges</a>
        </li>
        <li class="breadcrumb-item"><a
                href="{{ challenge.get_absolute_url }}">{% firstof challenge.title challenge.short_name %}</a></li>
        <li class="breadcrumb-item"><a href="{% url 'admins:list' challenge_short_name=challenge.short_name %}">Admins</a></li>
        <li class="breadcrumb-item active"
            aria-current="page">Add</li>
    </ol>
{% endblock %}

{% block content %}

    <h2>Add another admin to {{ challenge.short_name }}</h2>

    <form action="" method="post">
        {% csrf_token %}
        {{ form | crispy }}
        <input type="submit" value="Save" class="btn btn-primary"/>
    </form>
{% endblock %}

{% block script %}
    {{ block.super }}
    {{ form.media }}
    <link rel="stylesheet" href="{% static 'css/select2-bootstrap4-theme/select2-bootstrap4.css' %}">
{% endblock %}
