{% extends "base.html" %}

{% block content %}
  <div id="login" style="display:none;">
      <h1>Retina Workstation</h1>
      <div id="login_field">
          <form id="login_form">
              <div>
                  <select id="archive_select">
                      <option value="Layer_segmentation">Layer segmentation</option>
                      <option value="Multimodal">Multimodal</option>
                      <option value="Rotterdam_GA" selected>Geographic Atrophy</option>
                      <option value="Dyon_Stargardt" >Stargardt Geographic Atrophy</option>
                  </select>
              </div>

              <div>
                  <button type="submit">Enter</button>

              </div>
          </form>
      </div>
  </div>
  <div id="loading">
      <i class="fa fa-spinner fa-spin" style="font-size:32px;color:#999"></i>
  </div>
  <div id="workstation">
      <div id="content">
          <div id="header">
          </div>
          <div id="container">
              <div class="tab_content" id="tab_Browser">
                  <div id="browser">
                  </div>
                  <div id="preview_window">
                  </div>
              </div>
              <div class="tab_content" id="tab_Viewer">
                  <div id="tools_panel">
                  </div>
                  <div id="viewer_content">
                  </div>
              </div>
              <div class="tab_content" id="tab_Report">
              </div>
          </div>
      </div>
  </div>
{% endblock %}
