{% extends "retina_base.html" %}

{% block content %}
  <div id="loading">
      <i class="fa fa-circle-notch fa-spin"></i>
  </div>
  <div id="workstation">
      <div id="content">
          <div id="header">
          </div>
          <div id="container">
              <div class="tab_content" id="tab_Browser">
                  <div id="browser">
                  </div>
                  <div id="preview_window">
                  </div>
              </div>
              <div class="tab_content" id="tab_Viewer">
                  <div id="tools_panel">
                  </div>
                  <div id="viewer_content">
                  </div>
              </div>
              <div class="tab_content" id="tab_Report">
              </div>
          </div>
      </div>
  </div>
{% endblock %}

{% block page_specific_javascript %}
    <script type="application/javascript">
        LOGOUT_URL = "{{ LOGOUT_URL }}";
    </script>
{% endblock %}
