# Let Git ignore the following: # 

# local static test location #
/static/media/*

# settings files containing local and sensitive server settings#
comic/settings/*_local.conf

# database
/*.db

# google tracking code specific per instance
/static/js/google-analytics-tracking.js
/celerybeat-schedule
/celerybeat.pid
