{% if invoice.payment_type == invoice.PaymentTypeChoices.COMPLIMENTARY %}
    -
{% else %}
    <span class="badge {{ extra_classes }}
            {% if invoice.payment_status == invoice.PaymentStatusChoices.PAID %}
                badge-success
            {% elif invoice.payment_status == invoice.PaymentStatusChoices.ISSUED %}
                badge-warning
            {% else %}
                badge-info
            {% endif %}">
        {{ invoice.get_payment_status_display }}
    </span>
{% endif %}
