{% extends 'userena/site_signin.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Change password" %}{% endblock %}

{% block content_title %}<h2>{% blocktrans with user.username as username %}Account &raquo;
    {{ username }}{% endblocktrans %}</h2>{% endblock %}

{% block content %}
    <div class="white-box">
        <form action="" method="post" id="password_change_form">
            <fieldset>
                <legend>{% trans "Change Password" %}</legend>
                {% csrf_token %}
                {{ form | crispy }}
            </fieldset>
            <input type="submit" value="{% trans "Change password" %}"/>
        </form>
    </div>
{% endblock %}
