{% extends 'base.html' %}
{% load i18n %}
{% load url %}
{% load guardian_tags %}

{% block title %}{% blocktrans with profile.user.username as username %}
    {{ username }}'s profile
{% endblocktrans %}{% endblock %}
{% block content_title %}
    <h2>{{ profile.user.username }} {% if profile.user.get_full_name %}(
        {{ profile.user.get_full_name }}
        ){% endif %}</h2>{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href>Users</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ profile.user.username }}</li>
    </ol>
{% endblock %}

{% block content %}
    <div id="details" class="row">
        {% block profile_details %}
            <div class="col-sm-3">
                <div class="embed-responsive embed-responsive-1by1 mb-3">
                    <img class="card-img-top embed-responsive-item rounded-circle"
                         src="{{ profile.get_mugshot_url }}"
                         style="display: block; margin: auto;"
                         alt="{% trans "Your mugshot" %}"/>
                </div>
                <div>
                    {% if profile.user.get_full_name %}
                        <h2 class="mb-0">{{ profile.user.get_full_name }}</h2>
                        <p class="lead text-muted">{{ profile.user.username }}</p>
                    {% else %}
                        <h2 class="mb-3">{{ profile.user.username }}</h2>
                    {% endif %}

                    {% get_obj_perms request.user for profile as "profile_perms" %}
                    {% if "change_profile" in profile_perms %}
                        <ul class="list-group mb-3">
                            <a class="list-group-item list-group-item-action"
                               href='{% url 'userena_profile_edit' user.username %}'><i
                                    class="fa fa-edit fa-fw"></i>&nbsp;{% trans "Edit profile" %}</a>
                            {% if profile.user.has_usable_password %}
                                <a class="list-group-item list-group-item-action"
                                   href='{% url 'userena_password_change' user.username %}'><i
                                        class="fa fa-key fa-fw"></i>&nbsp;{% trans "Change password" %}
                                </a>
                            {% endif %}
                        </ul>
                    {% endif %}

                    <ul class="list-unstyled">
                        {% if profile.country %}
                            <li class="my-1"><i class="fa fa-fw fa-map-marker-alt"></i>&nbsp;{{ profile.country.name }}
                            </li>
                        {% endif %}
                        {% if profile.institution %}
                            <li class="my-1"><i class="fa fa-fw fa-university"></i>&nbsp;{{ profile.institution }}</li>
                        {% endif %}
                        {% if profile.department %}
                            <li class="my-1"><i class="fa fa-fw fa-building"></i>&nbsp;{{ profile.department }}</li>
                        {% endif %}
                        {% if profile.website %}
                            <li class="my-1"><i class="fa fa-fw fa-link"></i>&nbsp;<a
                                    href="{{ profile.website }}">{{ profile.website }}</a></li>
                        {% endif %}
                    </ul>
                </div>

            </div>
            <div class="col">
                <h3>Challenges</h3>
                <p>{{ profile.user.username }} is participating in:</p>
                <ul>
                    {% for challenge in profile.get_challenges_as_participant %}
                        <li>
                            <a href="{% url 'pages:home' challenge_short_name=challenge.short_name %}">{{ challenge.short_name }}</a>
                        </li>
                    {% empty %}
                        <p>no challenges yet!</p>
                    {% endfor %}
                </ul>
            </div>
        {% endblock %}
    </div>
{% endblock %}
