{% extends 'base.html' %}
{% load i18n %}
{% load url %}

{% block title %}{% blocktrans with profile.user.username as username %}
    {{ username }}'s profile
{% endblocktrans %}{% endblock %}
{% block content_title %}
    <h2>{{ profile.user.username }} {% if profile.user.get_full_name %}(
        {{ profile.user.get_full_name }}
        ){% endif %}</h2>{% endblock %}

{% block content %}
    <h2>User details</h2>
        <div id="details" class="row">
            {% block profile_details %}
                <div class="col-sm-2">
                    <img class="mugshot" src="{{ profile.get_mugshot_url }}"
                         style="display: block; margin: auto;"
                         alt="{% trans "Your mugshot" %}"/>
                </div>
                <div class="col-sm-10">
                    <dl>
                        {% block profile_definition_list %}
                            <dt>{% trans "Username" %}</dt>
                            <dd>{{ profile.user.username }}</dd>
                            {% if profile.user.get_full_name %}
                                <dt>{% trans "Name" %}</dt>
                                <dd>{{ profile.user.get_full_name }}</dd>
                            {% endif %}
                            {% if profile.institution %}
                                <dt>{% trans "Institution" %}</dt>
                                <dd>{{ profile.institution }}</dd>
                            {% endif %}
                            {% if profile.department %}
                                <dt>{% trans "Department" %}</dt>
                                <dd>{{ profile.department }}</dd>
                            {% endif %}
                            {% if profile.website %}
                                <dt>{% trans "Website" %}</dt>
                                <dd>{{ profile.website|urlize }}</dd>
                            {% endif %}
                            {% if profile.location %}
                                <dt>{% trans "Location" %}</dt>
                                <dd>{{ profile.location }}</dd>
                            {% endif %}
                            {% if profile.about_me %}
                                <dt>{% trans "About me" %}</dt>
                                <dd>{{ profile.about_me }}</dd>
                            {% endif %}
                        {% endblock %}
                    </dl>

                    <div id="user-challenges">
                        <h3>Challenges</h3>
                        <p>{{ profile.user.username }} is participating in:</p>
                        <ul>
                            {% for challenge in profile.get_challenges_as_participant %}

                                <li>
                                    <a href="{% url 'pages:home' challenge_short_name=challenge.short_name %}">{{ challenge.short_name }}</a>
                                </li>

                            {% empty %}

                                <p>no challenges yet!</p>

                            {% endfor %}
                        </ul>
                    </div>

                    {% block profile_navigation %}
                        {% comment %}Dirty hack. Will use django-guardian in the future.{% endcomment %}
                        {% if user.username == profile.user.username %}
                            <h3>Settings</h3>
                            <ul id="box-nav">
                                {% block profile_navigation_items %}
                                    <li>
                                        <a href='{% url 'userena_profile_edit' user.username %}'>{% trans "Edit profile" %}</a>
                                    </li>
                                    <li>
                                        <a href='{% url 'userena_password_change' user.username %}'>{% trans "Change password" %}</a>
                                    </li>
                                    <!--<li><a href='{% url 'userena_email_change' user.username %}'>{% trans "Change email" %}</a></li>-->
                                {% endblock %}
                            </ul>
                        {% endif %}
                    {% endblock %}

                </div>
            {% endblock %}
        </div>
{% endblock %}
