{% extends 'userena/site_signin.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Account setup" %}{% endblock %}

{% block content_title %}<h2>{% blocktrans with profile.user.username as username %}Account &raquo;
    {{ username }}{% endblocktrans %}</h2>{% endblock %}

{% block content %}
    <div class="white-box">
        <form action="" enctype="multipart/form-data" method="post">
            {% csrf_token %}
            <fieldset>
                <legend>{% trans "Edit Profile" %}</legend>
                {{ form | crispy }}
            </fieldset>
            <input type="submit" value="{% trans "Save changes" %}"/>
        </form>
    </div>
{% endblock %}
