{% extends 'userena/site_signin.html' %}
{% load url %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Signup" %}{% endblock %}

{% block content %}
    <h2>Create an account on {{ request.site.name }}</h2>
    <br/>
    <form action="" method="post">
        {% csrf_token %}
        {{ form | crispy }}
        <input type="submit" value="{% trans "Signup" %}"/>
        {% if request.GET.next %}<input type="hidden" name="next" value="{{ request.GET.next }}"/>{% endif %}
    </form>
{% endblock %}
