{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load url %}

{% block title %}
    {{ object|yesno:"Update,Create Model" }} {% if object %} - {{ object }} {% else %} - {{ algorithm.title }} {% endif %} - {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'algorithms:list' %}">Algorithms</a>
        </li>
        <li class="breadcrumb-item"><a
                href="{{ algorithm.get_absolute_url }}">{{ algorithm.title }}
        </a></li>
        {% if object %}
            <li class="breadcrumb-item"><a
                    href="{{ object.get_absolute_url }}">{{ object }}</a></li>
        {% endif %}
        <li class="breadcrumb-item active"
            aria-current="page">{{ object|yesno:"Update,Create Model" }}
        </li>
    </ol>
{% endblock %}

{% block content %}

    <h2>{% if object %}Update{% else %}Create{% endif %} An Algorithm Model</h2>

    {% include "components/partials/how_to_create_tarball.html" with model_name="algorithmmodel" %}

    {% crispy form %}

{% endblock %}
