{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load url %}
{% load guardian_tags %}
{% load humanize %}
{% load user_profile_link from profiles %}
{% load naturaldelta %}

{% block title %}
    {{ object }} - {{ object.algorithm.title }} - {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a
                href="{% url 'algorithms:list' %}">Algorithms</a>
        </li>
        <li class="breadcrumb-item"><a
                href="{{ object.algorithm.get_absolute_url }}">{{ object.algorithm.title }}
        </a>
        </li>
        <li class="breadcrumb-item active"
            aria-current="page">{{ object }}
        </li>
    </ol>
{% endblock %}

{% block content %}
    <h2>Algorithm Container Image</h2>

    {% get_obj_perms request.user for object as "algorithm_image_perms" %}
    {% get_obj_perms request.user for object.algorithm as "algorithm_perms" %}

    {% if object.is_archived %}
        <div class="alert alert-info">
            This Algorithm Container Image has been removed from the platform and can no longer be used
        </div>
    {% else %}
        {% if object.can_execute and "change_algorithmimage" in algorithm_image_perms %}
            <a class="btn btn-primary"
               href="{% url 'algorithms:image-update' slug=object.algorithm.slug pk=object.pk %}">
                <i class="fa fa-edit"></i> Edit this algorithm image
            </a><br>
        {% endif %}

        {% if object.is_manifest_valid and not object.algorithm.image_upload_in_progress and not object.is_desired_version and "change_algorithm" in algorithm_perms %}
            <div class="my-2">Activating an image will result in this image being used for future algorithm runs:</div>
            <div class="mb-2">{% crispy image_activate_form %}</div>
        {% endif %}

        <span class="badge p-2 my-2 {% if object.can_execute and object.is_desired_version %} badge-success {% else %} badge-danger {% endif %}">{% if object.can_execute and object.is_desired_version %}<i class="fa fa-check-circle mr-1"></i> Active image for this algorithm{% else %} <i class="fa fa-times-circle mr-1"></i> Inactive {% endif %}</span>
    {% endif %}

    <dl class="inline">
        <dt>ID</dt>
        <dd>{{ object.pk }}</dd>

        <dt>Algorithm</dt>
        <dd>
            <a href="{{ object.algorithm.get_absolute_url }}">{{ object.algorithm.title }}</a>
        </dd>

        <dt>Creator</dt>
        <dd>
            {{ object.creator|user_profile_link }}
        </dd>

        <dt>Created</dt>
        <dd>{{ object.created }}</dd>

        {% if object.image %}
            <dt>Image</dt>
            <dd>{{ object.image.name }}</dd>

            <dt>Image Size</dt>
            <dd>{{ object.image.size|naturalsize }}</dd>
        {% endif %}

        {% if object.image_sha256 %}
            <dt>Image SHA256</dt>
            <dd>{{ object.image_sha256 }}</dd>
        {% endif %}

        <dt>Import Status</dt>
        <dd>
            {% include 'components/import_status_detail.html' %}
        </dd>

        {% if object.is_manifest_valid is not None %}
        <dt>Image Is Valid</dt>
        <dd>
            <span class="badge badge-{{ object.is_manifest_valid|yesno:'success,danger' }}">
                {{ object.is_manifest_valid }}
            </span>
        </dd>
        {% endif %}

        {% if object.status %}
            <dt>Validation Errors</dt>
            <dd>{{ object.status }}</dd>
        {% endif %}

        <dt>Image Can Be Used</dt>
        <dd>
            <span class="badge badge-{{ object.can_execute|yesno:'success,danger' }}">
                {{ object.can_execute }}
            </span>
        </dd>

        <dt>Requires GPU Type</dt>
        <dd>
            <span class="badge badge-{% if object.algorithm.job_requires_gpu_type %}info{% else %}danger{% endif %}">
                {{ object.algorithm.get_job_requires_gpu_type_display }}
            </span>
        </dd>

        <dt>Requires Memory</dt>
        <dd>{{ object.algorithm.job_requires_memory_gb }} GB</dd>

        <dt>Comment</dt>
        <dd>{{ object.comment }}</dd>
    </dl>

    {% if object.build %}
        <h3>Build Info</h3>

        <dl class="inline">
            <dt>Origin</dt>
            <dd><a href="{{ object.build.webhook_message.tag_url }}">{{ object.build.webhook_message.repo_name }}:{{ object.build.webhook_message.tag }}</a></dd>

            <dt>Status</dt>
            <dd>
                {% include "algorithms/algorithmimage_build_status_detail.html" %}
            </dd>
        </dl>

        {% if object.build.build_log %}
            <h4>Build Log</h4>

            {# @formatter:off #}
            <pre class="console">{{ object.build.build_log }}</pre>
            {# @formatter:on #}
        {% endif %}

    {% endif %}

{% endblock %}
