{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load clean from bleach %}
{% load guardian_tags %}


{% block breadcrumbs %}
    {% get_obj_perms request.user for algorithm as "algorithm_perms" %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fas fa-home"></i></a></li>
        <li class="breadcrumb-item"><a href="{% url 'algorithms:list' %}">Algorithms</a>
        </li>
        <li class="breadcrumb-item"><a
                href="{{ algorithm.get_absolute_url }}">{{ algorithm.title }}
        </a>
        <li class="breadcrumb-item active"
            aria-current="page">
            {% if "change_algorithm" in algorithm_perms %}
                Review access request
            {% else %}
                Request access
            {% endif %}
        </li>
    </ol>
{% endblock %}

{% block content %}

    {% get_obj_perms request.user for algorithm as "algorithm_perms" %}
    {% if "change_algorithm" in algorithm_perms %}
        {% if permission_request %}
            <h2>{{ algorithm.title }}: review access request for user {{ permission_request.user.username }}</h2>
            <form action="{% url 'algorithms:permission-request-update' slug=algorithm.slug pk=permission_request.pk %}" method="post">
                {% csrf_token %}
                {{ form | crispy }}
                <input type="submit"
                       value="Submit"
                       class="btn btn-primary"/>
            </form>
        {% endif %}

    {% else %}

        <h2>Request access</h2>

        {% if not permission_request %}
            <p>
                You currently do not have permission to view this algorithm.
                If you would like to view the algortihm, you can request permission here.
            </p>
            <p>
                An email will be sent to the algorithm's editors.
                They can grant you access.
            </p>

            <form action="{% url 'algorithms:permission-request-create' slug=algorithm.slug %}" method="post">
                {% csrf_token %}
                {{ form | crispy }}
                <input type="submit"
                       value="Request access to {{ algorithm.title }}"
                       class="btn btn-primary"/>
            </form>
        {% else %}
            <p>
                You currently {% if permission_request.status != 'ACPT' %}do not {% endif%}have permission to view this algorithm.
            </p>
            <p>
                You have already sent a permission request.
                The status of your request is <span class="font-weight-bold">{{ permission_request.get_status_display|lower }}</span>.
            </p>
            {% if permission_request.status == 'RJCT' %}
                {% if permission_request.rejection_text %}
                    <p>
                        The algorithm's editors have left the following reason for the rejection:
                    </p>
                    <p>
                        {{ permission_request.rejection_text }}
                    </p>
                {% endif %}
                <form action="{% url 'algorithms:permission-request-update' slug=algorithm.slug pk=permission_request.pk %}" method="post">
                    {% csrf_token %}
                    <input type="hidden"
                           name="status"
                           value="PEND"/>
                    <input type="submit"
                           value="Request access again"
                           class="btn btn-primary"/>
                </form>
            {% endif %}
        {% endif %}
    {% endif %}

{% endblock %}
