{% extends "base.html" %}
{% load url %}
{% load user_profile_link from profiles %}
{% load meta_attr %}


{% block title %}
    Algorithms - {{ block.super }}
{% endblock %}

{% block content %}
    {% if perms.algorithms.add_algorithm %}
        <p>
            <a href="{% url "algorithms:create" %}"
               class="btn btn-primary">
                <i class="fa fa-plus"></i> Add a new algorithm
            </a>
        </p>
    {% endif %}

    {% include "grandchallenge/partials/filters.html" with filter=filter filters_applied=filters_applied %}

    {% include "grandchallenge/partials/cards.html" with page_obj=page_obj %}

    {% include "grandchallenge/partials/pagination.html"  %}

    <div class="modal fade" id="algorithmInfoModal" tabindex="-1" role="dialog"
         aria-labelledby="algorithmInfoModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="modal-algorithm-description"></p>
                    <p class="text-right"><a href="" class="modal-algorithm-url">Go to
                        this algorithm</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    {{ block.super }}

    <script type="text/javascript">
        $('#algorithmInfoModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var modal = $(this);
            modal.find('.modal-title').text(button.data('title'));
            modal.find('.modal-algorithm-description').text(button.data('description'));
            modal.find('.modal-algorithm-url').attr('href', button.data('absolute-url'));
            modal.find('.modal-algorithm-url').text(button.data('absolute-url'));
        })
    </script>
{% endblock %}
