{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Update Algorithm Image - {{ object.title }} - {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a
                href="{% url 'algorithms:list' %}">Algorithms</a>
        </li>
        <li class="breadcrumb-item"><a
                href="{{ algorithm.get_absolute_url }}">{{ algorithm.title }}
        </a>
        </li>
        <li class="breadcrumb-item active"
            aria-current="page">Update Algorithm Image
        </li>
    </ol>
{% endblock %}

{% block content %}
    <h2>Update Algorithm Image</h2>

    {% crispy form %}
{% endblock %}
