{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load url %}
{% load guardian_tags %}
{% load humanize %}
{% load user_profile_link from profiles %}

{% block title %}
    Algorithm Image - {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a
                href="{% url 'algorithms:list' %}">Algorithms</a>
        </li>
        <li class="breadcrumb-item"><a
                href="{{ object.algorithm.get_absolute_url }}">{{ object.algorithm.title }}
        </a>
        </li>
        <li class="breadcrumb-item active"
            aria-current="page">{{ object }}
        </li>
    </ol>
{% endblock %}

{% block content %}
    <h2>Algorithm Container Image</h2>

    {% get_obj_perms request.user for object as "algorithm_image_perms" %}

    {% if object.ready and "change_algorithmimage" in algorithm_image_perms %}
        <p>
            <a class="btn btn-primary"
               href="{% url 'algorithms:image-update' slug=object.algorithm.slug pk=object.pk %}">
                <i class="fa fa-edit"></i> Edit this algorithm image
            </a>
        </p>
    {% endif %}

    <dl class="inline">
        <dt>ID</dt>
        <dd>{{ object.pk }}</dd>

        <dt>Algorithm</dt>
        <dd>
            <a href="{{ object.algorithm.get_absolute_url }}">{{ object.algorithm.title }}</a>
        </dd>

        <dt>Creator</dt>
        <dd>
            {{ object.creator|user_profile_link }}
        </dd>

        <dt>Created</dt>
        <dd>{{ object.created }}</dd>

        {% if object.image %}
            <dt>Image</dt>
            <dd>{{ object.image.name }}</dd>

            <dt>Image Size</dt>
            <dd>{{ object.image.size|intcomma }} Bytes</dd>
        {% endif %}

        <dt>Image SHA256</dt>
        <dd>{{ object.image_sha256 }}</dd>

        <dt>Ready</dt>
        <dd>
            <span class="badge badge-{{ object.ready|yesno:'success,danger' }}">
                {{ object.ready }}
            </span>
        </dd>

        <dt>Status</dt>
        <dd>{{ object.status }}</dd>

        <dt>Requires GPU</dt>
        <dd>{{ object.requires_gpu }}</dd>

        <dt>Requires Memory</dt>
        <dd>{{ object.requires_memory_gb }}g</dd>
    </dl>

    {% if object.build %}
        <h3>Build Info</h3>

        <dl class="inline">
            <dt>Origin</dt>
            <dd><a href="{{ object.build.webhook_message.tag_url }}">{{ object.build.webhook_message.repo_name }}:{{ object.build.webhook_message.tag }}</a></dd>

            <dt>Status</dt>
            <dd>
                <span class="badge badge-{{ object.build.status_context }}">
                    {% if object.build.animate %}
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    {% endif %}
                    {{ object.build.get_status_display }}
                </span>
            </dd>
        </dl>

        {% if object.build.build_log %}
            <h4>Build Log</h4>

            {# @formatter:off #}
            <pre class="console">{{ object.build.build_log }}</pre>
            {# @formatter:on #}
        {% endif %}

    {% endif %}

{% endblock %}
