{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load url %}
{% load guardian_tags %}

{% block title %}
    Algorithm Results - {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'algorithms:list' %}">Algorithms</a></li>
        <li class="breadcrumb-item"><a href="{{ algorithm.get_absolute_url }}">{{ algorithm.title }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">Add repository</li>
    </ol>
{% endblock %}

{% block content %}
    <h2>Add GitHub repository to {{ algorithm.title }}</h2>

    {% crispy form %}

    {{ block.super }}

{% endblock %}
