{% extends "base.html" %}
{% load url %}
{% load user_profile_link from profiles %}
{% load naturaldelta %}
{% load pathlib %}

{% block title %}
    Algorithm Model - {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a
                href="{% url 'algorithms:list' %}">Algorithms</a>
        </li>
        <li class="breadcrumb-item"><a
                href="{{ object.algorithm.get_absolute_url }}">{{ object.algorithm.title }}
        </a>
        </li>
        <li class="breadcrumb-item active"
            aria-current="page">{{ object }}
        </li>
    </ol>
{% endblock %}

{% block content %}
    <h2>Algorithm Model</h2>

    <span class="badge p-2 my-2 {% if object.is_active %}badge-success{% else %}badge-danger{% endif %}">
        {% if object.is_active %}
            <i class="fa fa-check-circle mr-1"></i> Active model for this algorithm
        {% else %}
            <i class="fa fa-times-circle mr-1"></i> Inactive
        {% endif %}
    </span>

    <dl class="inline">
        <dt>ID</dt>
        <dd>{{ object.pk }}</dd>

        <dt>Algorithm</dt>
        <dd>
            <a href="{{ object.algorithm.get_absolute_url }}">{{ object.algorithm.title }}</a>
        </dd>

        <dt>Creator</dt>
        <dd>
            {{ object.creator|user_profile_link }}
        </dd>

        <dt>Created</dt>
        <dd>{{ object.created }}</dd>

        {% if object.model %}
            <dt>Model</dt>
            <dd>{{ object.model.name|name }}</dd>
        {% endif %}

        <dt>Model Size</dt>
        <dd>{{ object.size_in_storage|naturalsize }}</dd>

        <dt>Model SHA256</dt>
        <dd>{{ object.sha256 }}</dd>

        <dt>Comment</dt>
        <dd>{{ object.comment }}</dd>
    </dl>

{% endblock %}
