{# Title #}

<a href="{{ object.get_absolute_url }}">
    {{ object.title }}
</a>

<split></split>
{# Public #}

{% if object.public %}
    <i class="fa fa-eye text-success"
        title="Algorithm listed on public algorithms page"></i>
{% else %}
    <i class="fa fa-eye-slash text-danger"
       title="Algorithm not listed on the public algorithms page"></i>
{% endif %}
<split></split>
{# Role #}

{% if object.user_role_order == 2 %}
    <i class="fas fa-user-tie fa-fw mr-1"></i>Editor
{% elif object.user_role_order == 1 %}
    <i class="fas fa-users fa-fw mr-1"></i>User
{% else %}
    <i class="fas fa-user-secret fa-fw mr-1"></i>Other
{% endif %}

<split></split>
{# Editors #}

{% load profiles %}
{% for user in object.editors_group.user_set.all %}
    {{ user|user_profile_link }}<br/>
{% endfor %}

<split></split>
{# Created #}

{{ object.created|date:'F j, Y' }}
