{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load url %}
{% load guardian_tags %}

{% block title %}
    {{ object.title }} - {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fas fa-home"></i></a></li>
        <li class="breadcrumb-item"><a href="{% url 'algorithms:list' %}">Algorithms</a>
        </li>
        <li class="breadcrumb-item"><a
                href="{{ object.algorithm.get_absolute_url }}">{{ object.algorithm.title }}
        </a>
        </li>
        <li class="breadcrumb-item active"
            aria-current="page">{{ object }}
        </li>
    </ol>
{% endblock %}

{% block content %}
    <h2>Algorithm Container Image</h2>

    <dl class="inline">
        <dt>ID</dt>
        <dd>{{ object.pk }}</dd>

        <dt>Algorithm</dt>
        <dd>
            <a href="{{ object.algorithm.get_absolute_url }}">{{ object.algorithm.title }}</a>
        </dd>

        <dt>Creator</dt>
        <dd>
            <a href="{% url 'userena_profile_detail' object.creator.username %}">{{ object.creator }}</a>
        </dd>

        <dt>Created</dt>
        <dd>{{ object.created }}</dd>

        <dt>Image</dt>
        <dd>
            {% if object.image %}
                {{ object.image.name }}
            {% endif %}
        </dd>

        <dt>Image SHA256</dt>
        <dd>{{ object.image_sha256 }}</dd>

        <dt>Ready</dt>
        <dd>{{ object.ready }}</dd>

        <dt>Status</dt>
        <dd>{{ object.status }}</dd>

        <dt>Requires GPU</dt>
        <dd>{{ object.requires_gpu }}</dd>
    </dl>

    {% get_obj_perms request.user for object as "algorithm_image_perms" %}

   {% if "change_algorithmimage" in algorithm_image_perms %}
        <p>
            <a class="btn btn-primary"
               href="{% url 'algorithms:image-update' slug=object.algorithm.slug pk=object.pk %}">
                <i class="fa fa-edit"></i> Edit this algorithm image
            </a>
        </p>
    {% endif %}
{% endblock %}
