{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load url %}

{% block title %}
    Create Image - {{ algorithm.title }} - {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'algorithms:list' %}">Algorithms</a>
        </li>
        <li class="breadcrumb-item"><a
                href="{{ algorithm.get_absolute_url }}">{{ algorithm.title }}
        </a></li>
        <li class="breadcrumb-item active"
            aria-current="page">Create Image
        </li>
    </ol>
{% endblock %}

{% block content %}

    <h2>Create An Algorithm Container Image</h2>

    <p>
        Upload a container image that implements the selected interfaces (i.e., input-output combinations).
    </p>

    {% for interface in algorithm.interfaces.all %}
        <div><b>Interface {{ forloop.counter }}</b></div>
        <ul>
            <li>Inputs:
                <ul>
                    {% for input in interface.inputs.all %}
                        <li>{{ input }} at
                            {% if input.is_image_kind %}
                                <code>/input{% if input.relative_path %}/{{ input.relative_path }}{% endif %}/&lt;uuid&gt;.mha</code> or
                                <code>/input{% if input.relative_path %}/{{ input.relative_path }}{% endif %}/&lt;uuid&gt;.tif</code>
                            {% else %}
                                <code>/input/{{ input.relative_path }}</code>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </li>
            <li>Outputs:
                <ul>
                    {% for output in interface.outputs.all %}
                        <li>{{ output }} at
                            {% if output.is_image_kind %}
                                <code>/output{% if output.relative_path %}/{{ output.relative_path }}{% endif %}/&lt;uuid&gt;.mha</code> or
                                <code>/output{% if output.relative_path %}/{{ output.relative_path }}{% endif %}/&lt;uuid&gt;.tif</code>
                            {% else %}
                                <code>/output{% if output.relative_path %}/{{ output.relative_path }}{% endif %}</code>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    {% endfor %}

    {% if perms.algorithms.add_algorithm %}
        <p>
            To add or update interfaces for your algorithm, go <a href="{% url 'algorithms:interface-list' slug=algorithm.slug %}">here</a>.
        </p>
    {% else %}
        <p>
            To add or update interfaces for your algorithm, please contact <a href="mailto:support@grand-challenge.org">support@grand-challenge.org</a>.
        </p>
    {% endif %}

    <h3>Container Image Options</h3>

    {% crispy form %}

{% endblock %}
