{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load url %}

{% block title %}
    Create Model - {{ algorithm.title }} - {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'algorithms:list' %}">Algorithms</a>
        </li>
        <li class="breadcrumb-item"><a
                href="{{ algorithm.get_absolute_url }}">{{ algorithm.title }}
        </a></li>
        <li class="breadcrumb-item active"
            aria-current="page">Create model
        </li>
    </ol>
{% endblock %}

{% block content %}

    <h2>{% if object %}Update{% else %}Create{% endif %} An Algorithm Model</h2>

    {% include "components/partials/how_to_create_tarball.html" with model_name="algorithmmodel" %}

    {% crispy form %}

{% endblock %}
