{% extends "base.html" %}
{% load url %}
{% load user_profile_link from profiles %}
{% load meta_attr %}
{% load static %}


{% block title %}
    Algorithms - {{ block.super }}
{% endblock %}

{% block content %}
    {% if perms.algorithms.add_algorithm %}
        <p>
            <a href="{% url "algorithms:create" %}"
               class="btn btn-primary">
                <i class="fa fa-plus"></i> Add a new algorithm
            </a>
        </p>
    {% endif %}

    {% include "grandchallenge/partials/filters.html" with filter=filter filters_applied=filters_applied %}

    {% include "grandchallenge/partials/cards.html" with page_obj=page_obj %}

    {% include "grandchallenge/partials/pagination.html"  %}

    {% include "grandchallenge/partials/cards_info_modal.html" %}

{% endblock %}

{% block script %}
    {{ block.super }}
    <script src="{% static "js/cards_info_modal.js" %}"></script>
{% endblock %}
