{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load url %}
{% load bleach %}

{% block title %}
    Try-out Algorithm - {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a
                href="{% url 'algorithms:list' %}">Algorithms</a>
        </li>
        <li class="breadcrumb-item"><a
                href="{{ algorithm.get_absolute_url }}">{{ algorithm.title }}
        </a>
        <li class="breadcrumb-item active"
            aria-current="page">Create Experiment
        </li>
    </ol>
{% endblock %}

{% block content %}

    <h2>Try-out Algorithm</h2>

    {{ algorithm.job_create_page_markdown|md2html }}

    {% if remaining_jobs == 0 %}
        <p>It is not possible to upload new images for this algorithm.</p>
    {% else %}
        <p>Select the images that you would like to run the algorithm on.</p>
        <p>
            You can upload {{ remaining_jobs }} more
            image{{ remaining_jobs|pluralize }} to try this algorithm.
        </p>

        {% crispy form %}
    {%  endif %}
    <p>
        By running this algorithm you agree to the
        <a href="{% url 'policies:detail' slug='terms-of-service' %}"> General
            Terms of Service</a>{% if algorithm.additional_terms_markdown %},
        as well as this algorithm's specific Terms of Service:
    {% else %}.
    {% endif %}
    </p>

    {{ algorithm.additional_terms_markdown|md2html }}

{% endblock %}
