{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load url %}

{% block title %}
        {{ object|yesno:"Update,Create"}} Algorithm - {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'algorithms:list' %}">Algorithms</a></li>
        {% if object %}
            <li class="breadcrumb-item"><a
                    href="{{ object.get_absolute_url }}">{{ object }}</a></li>
        {% endif %}
        <li class="breadcrumb-item active"
            aria-current="page">{{ object|yesno:"Update,Create"}}</li>
    </ol>
{% endblock %}

{% block content %}

    <h2>{{ object|yesno:"Update,Create" }} Algorithm</h2>

    {% crispy form %}

{% endblock %}
