{% extends "base.html" %}
{% load url %}
{% load profiles %}
{% load workstations %}
{% load guardian_tags %}
{% load pathlib %}
{% load humanize %}
{% load evaluation_extras %}

{% block title %}
    Algorithm Experiments - {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}"><i
                class="fas fa-home"></i></a></li>
        <li class="breadcrumb-item"><a
                href="{% url 'algorithms:list' %}">Algorithms</a>
        </li>
        <li class="breadcrumb-item"><a
                href="{{ algorithm.get_absolute_url }}">{{ algorithm.title }}
        </a>
        <li class="breadcrumb-item active"
            aria-current="page">Experiments
        </li>
    </ol>
{% endblock %}

{% block content %}
    <h2>Experiments for {{ algorithm.title }}</h2>

    {% get_obj_perms request.user for algorithm as "algorithm_perms" %}

    {% if "execute_algorithm" in algorithm_perms and algorithm.latest_ready_image %}
        <p>
            <a class="btn btn-primary"
               href="{% url 'algorithms:execution-session-create' slug=algorithm.slug %}">
                <i class="fa fa-flask"></i> Try-out this algorithm
            </a>
        </p>
    {% endif %}

    <div class="table-responsive">
        <table class="table table-hover table-borderless table-sm">
            <thead class="thead-light">
            <tr>
                <th>Created</th>
                <th>Creator</th>
                <th>Jobs</th>
                <th>Results</th>
            </tr>
            </thead>
            <tbody>
            {% for object in object_list %}
                <tr>
                    <td data-order="{{ object.created|date:'U' }}"><a
                            href="{% url 'algorithms:execution-session-detail' slug=algorithm.slug pk=object.pk %}">{{ object.created|naturaltime }}</a>
                    </td>
                    <td>{{ object.creator|user_profile_link }}</td>
                    <td>
                        <ul class="list-unstyled">
                            {% for image in object.image_set.all %}
                                {% for job in image.job_set.all %}
                                    <li>
                                        <a href="#jobInfoModal"
                                           class="badge
                                            {% if job.status == job.FAILURE or job.status == job.CANCELLED %}
                                                badge-danger
                                            {% elif job.status == job.RETRY %}
                                                badge-warning
                                            {% elif job.status == job.SUCCESS %}
                                                badge-success
                                            {% else %}
                                                badge-info
                                            {% endif %}"
                                           data-toggle="modal"
                                           data-target="#jobInfoModal"
                                           data-title="Job Info"
                                           data-output="{% firstof job.output|user_error job.get_status_display %}"
                                           data-pk="{{ job.pk }}"
                                           title="Result Info">
                                            <i class="fa fa-flask"></i> {{ job.image.name }} ({{ job.get_status_display }})
                                        </a>
                                    </li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </td>
                <td><a class="badge badge-primary" href="{% url 'algorithms:results-list' slug=algorithm.slug %}"><i class="fas fa-eye"></i> View Results</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="modal fade" id="jobInfoModal" tabindex="-1" role="dialog"
         aria-labelledby="jobInfoModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="modal-job-output"></p>
                    <p id="footerText" class="small text-muted"></p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    {{ block.super }}

    <script type="text/javascript">
        $(document).ready(function () {
            $('.table').DataTable({
                order: [[0, "desc"]],
                "pageLength": 50,
                ordering: true
            });
        });
    </script>

    <script type="text/javascript">
        $('#jobInfoModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var modal = $(this);
            modal.find('.modal-title').text(button.data('title'));
            modal.find('.modal-job-output').text(button.data('output'));
            modal.find('#footerText').text("ID: " + button.data('pk'));
        })
    </script>
{% endblock %}
