{% extends "base.html" %}
{% load static %}

{% block title %}
    Run Algorithm - {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}"><i
                class="fas fa-home"></i></a></li>
        <li class="breadcrumb-item"><a
                href="{% url 'algorithms:list' %}">Algorithms</a>
        </li>
        <li class="breadcrumb-item"><a
                href="{{ algorithm.get_absolute_url }}">{{ algorithm.title }}
        </a>
        <li class="breadcrumb-item"><a
                href="{% url 'algorithms:execution-session-create' slug=algorithm.slug %}">Run
        </a>
        <li class="breadcrumb-item active"
            aria-current="page">{{ object.pk }}
        </li>
    </ol>
{% endblock %}


{% block content %}

    <div class="row equal-height">

        <div class="col-md-3 mb-3">
            <div class="card text-center border-success">
                <div class="card-body">
                    <h5 class="card-title">Upload Images</h5>
                    <div class="text-center p-3">
                        <i class="fa fa-check fa-2x"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <div class="card text-center border-primary">
                <div class="card-body">
                    <h5 class="card-text">Importing Images</h5>
                    <div class="text-center p-3">
                        <div class="spinner-border" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <div class="card text-center border-light">
                <div class="card-body">
                    <h5 class="card-text text-muted">Running Algorithm</h5>
                    <div class="text-center p-3">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <div class="card text-center border-light">
                <div class="card-body">
                    <h5 class="card-text text-muted">Importing Results</h5>
                    <div class="text-center p-3">
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}

{% block script %}
    {{ block.super }}

    <script src="{% static 'algorithms/js/session.js' %}"
            type="text/javascript">
    </script>
    <script type="text/javascript">
        (function () {
            getUploadSessionStatus(
                "{% url 'api:upload-session-detail' pk=object.pk %}",
                document.getElementById("sessionState"),
            );
        })();
    </script>

{% endblock %}
