{% extends "base.html" %}
{% load url %}
{% load static %}

{% block title %}
    {{ object.pk }} Logs - Results - {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a
                href="{% url 'algorithms:list' %}">Algorithms</a>
        </li>
        <li class="breadcrumb-item"><a
                href="{{ object.algorithm_image.algorithm.get_absolute_url }}">{{ object.algorithm_image.algorithm.title }}
        </a></li>
        <li class="breadcrumb-item"><a
                href="{% url 'algorithms:job-list' slug=object.algorithm_image.algorithm.slug %}">Results</a></li>
        <li class="breadcrumb-item" ><a href="{{ object.get_absolute_url }}">{{ object.pk }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">Logs</li>
    </ol>
{% endblock %}

{% block content %}

    <h2>Algorithm Result {{ object.pk }}</h2>

    <h3>Runtime Metrics</h3>
    {% if runtime_metrics_chart.data.values %}
        <div class="w-100 vega-lite-chart">
            {{ runtime_metrics_chart|json_script:"runtimeMetricsData" }}
        </div>
    {% else %}
        <p>No runtime metrics are available.</p>
    {% endif %}

    <h3>Logs</h3>
    {% if logs %}
        {# @formatter:off #}
        <pre class="console">{% for timestamp, structured_log in logs %}<span class="d-flex"><span class="user-select-none flex-shrink-0">{{ timestamp.isoformat }} </span><span class="text-break{% if structured_log.source == "stderr" %} text-danger{% endif %}" style="white-space: pre-wrap;">{{ structured_log.message }}
</span></span>{% empty %}No logs found{% endfor %}</pre>
        {# @formatter:on #}
    {% else %}
        <p>No logs are available.</p>
    {% endif %}

{% endblock %}

{% block script %}
    {{ block.super }}

    <script src="{% static 'vendored/vega/vega.min.js' %}"></script>
    <script src="{% static 'vendored/vega-lite/vega-lite.min.js' %}"></script>
    <script src="{% static 'vendored/vega-embed/vega-embed.min.js' %}"></script>
    <script type="module" src="{% static "js/charts/render_charts.mjs" %}"></script>

{% endblock %}
