{% extends "base.html" %}
{% load url %}
{% load user_profile_link from profiles %}
{% load workstations %}
{% load guardian_tags %}
{% load suffix from pathlib %}

{% block title %}
    Algorithm Jobs - {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fas fa-home"></i></a></li>
        <li class="breadcrumb-item"><a href="{% url 'algorithms:list' %}">Algorithms</a>
        </li>
        <li class="breadcrumb-item"><a
                href="{{ algorithm.get_absolute_url }}">{{ algorithm.title }}
        </a>
        <li class="breadcrumb-item active"
            aria-current="page">Jobs
        </li>
    </ol>
{% endblock %}

{% block content %}
    <h2>Jobs for this algorithm</h2>

    {% get_obj_perms request.user for algorithm as "algorithm_perms" %}

    {% if "view_algorithm" in algorithm_perms and algorithm.latest_ready_image %}
        <p>
            <a class="btn btn-primary"
               href="{% url 'algorithms:execution-session-create' slug=algorithm.slug %}">
                <i class="fa fa-flask"></i> Try out this algorithm
            </a>
        </p>
    {% endif %}

    <div class="table-responsive">
        <table class="table table-hover table-borderless table-sm">
            <thead class="thead-light">
            <tr>
                <th>Created</th>
                <th>Creator</th>
                <th>Input Image</th>
                <th>Status</th>
                <th>Result</th>
                <th>Output Image(s)</th>
            </tr>
            </thead>
            <tbody>
            {% for job in object_list %}
                <tr>
                    {# pk included for test support #}
                    <!-- {{ job.pk }} -->
                    <td data-order="{{ job.created|date:"U" }}">{{ job.created }}</td>
                    <td>
                        {% if job.creator %}
                            {{ job.creator|user_profile_link }}
                        {% endif %}
                    </td>
                    <td>
                        <ul class="list-unstyled">
                            <li>
                                <a href="{% url 'workstations:workstation-session-redirect' slug=job.algorithm_image.algorithm.workstation.slug %}?{% workstation_query image=job.image config=algorithm.workstation_config %}">
                                    <span class="badge badge-primary">
                                        <i class="fa fa-eye"></i> View input
                                    </span>
                                </a>
                            </li>
                            {% for file in job.image.files.all %}
                                <li>
                                    <a href="{{ file.file.url }}">
                                        <span class="badge badge-primary">
                                            <i class="fa fa-download"></i> input ({{ file.file|suffix }})
                                        </span>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                    <span class="badge
                    {% if job.status == job.FAILURE or job.status == job.CANCELLED %}
                        badge-danger
                    {% elif job.status == job.RETRY %}
                        badge-warning
                    {% elif job.status == job.SUCCESS %}
                        badge-success
                    {% else %}
                        badge-info
                    {% endif %}">
                        {{ job.get_status_display }}
                    </span>
                    </td>
                    <td>{{ job.result.output }}</td>
                    <td>
                        {% if job.result.images.all %}
                            <ul class="list-unstyled">
                                {% for image in job.result.images.all %}
                                    <li>
                                        <a href="{% url 'workstations:workstation-session-redirect' slug=job.algorithm_image.algorithm.workstation.slug %}?{% workstation_query image=job.image overlay=image config=algorithm.workstation_config %}">
                                            <span class="badge badge-primary">
                                                <i class="fa fa-eye"></i> View input &amp; output
                                            </span>
                                        </a>
                                    </li>
                                    {% for file in image.files.all %}
                                        <li>
                                            <a href="{{ file.file.url }}">
                                            <span class="badge badge-primary">
                                                <i class="fa fa-download"></i> output ({{ file.file|suffix }})
                                            </span>
                                            </a>
                                        </li>
                                    {% endfor %}
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block script %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.table').DataTable({
                order: [[0, "desc"]],
                "pageLength": 50,
                ordering: true
            });
        });
    </script>
{% endblock %}
