{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load url %}

{% block title %}
    Update Algorithm Result - {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a
                href="{% url 'algorithms:list' %}">Algorithms</a>
        </li>
        <li class="breadcrumb-item"><a
                href="{{ object.algorithm_image.algorithm.get_absolute_url }}">{{ object.algorithm_image.algorithm.title }}
        </a></li>
        <li class="breadcrumb-item"><a
            href="{% url 'algorithms:job-list' slug=object.algorithm_image.algorithm.slug %}">Results</a></li>
        <li class="breadcrumb-item"><a href="{{ object.get_absolute_url }}">{{ object.pk }}</a></li>
        <li class="breadcrumb-item active"
            aria-current="page">Update
        </li>
    </ol>
{% endblock %}

{% block content %}

    <h2>Update Result</h2>

    <dl class="inline">
        <dt>ID</dt>
        <dd>{{ object.pk }}</dd>

        {% for input in object.inputs.all %}

            <dt>Input Image {{ forloop.counter }} ID</dt>
            <dd>{{ input.image.pk }}</dd>

            <dt>Input Image {{ forloop.counter }} Name</dt>
            <dd>{{ input.image.name }}</dd>

        {% endfor %}
    </dl>

    {% crispy form %}

{% endblock %}
