{% extends "base.html" %}
{% load static %}

{% block title %}
    Progress - {{ object.pk }} - {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
    <li class="breadcrumb-item"><a
                href="{% url 'algorithms:list' %}">Algorithms</a>
        </li>
        <li class="breadcrumb-item"><a
                href="{{ object.algorithm_image.algorithm.get_absolute_url }}">{{ object.algorithm_image.algorithm.title }}
        </a></li>
        <li class="breadcrumb-item"><a
            href="{% url 'algorithms:job-list' slug=object.algorithm_image.algorithm.slug %}">Results</a></li>
        <li class="breadcrumb-item"><a href="{{ object.get_absolute_url }}">{{ object.pk }}</a></li>
        <li class="breadcrumb-item active"
            aria-current="page">Progress
        </li>
    </ol>
{% endblock %}


{% block content %}

    <div class="row equal-height">

        <div class="col-md-4 mb-3">
            <div id="fileImportCard" class="card text-center border-primary">
                <div class="card-body">
                    <h5 class="card-title">Importing Files</h5>
                    <div class="text-center p-3 statusSymbol">
                        <div class="text-secondary spinner-grow" role="status"><span
                                class="sr-only">Loading...</span></div>
                    </div>
                    <p class="card-text">
                        <a href="{% url 'algorithms:job-detail' slug=object.algorithm_image.algorithm.slug pk=object.pk %}"
                           class="stretched-link statusMessage"></a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div id="imageImportCard" class="card text-center border-primary">
                <div class="card-body">
                    <h5 class="card-title">Importing Images</h5>
                    <div class="text-center p-3 statusSymbol">
                        <div class="text-secondary spinner-grow" role="status"><span
                                class="sr-only">Loading...</span></div>
                    </div>
                    <p class="card-text">
                        <a href="{% url 'cases:raw-image-upload-session-list' %}" class="stretched-link statusMessage"></a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div id="jobCard" class="card text-center border-light text-muted">
                <div class="card-body">
                    <h5 class="card-title">Running Algorithm</h5>
                    <div class="text-center p-3 statusSymbol">
                    </div>
                    <p class="card-text">
                        <a href="{% url 'algorithms:job-detail' slug=object.algorithm_image.algorithm.slug pk=object.pk %}"
                           class="stretched-link statusMessage"></a>
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    {{ block.super }}

    {{ object.algorithm_image.algorithm.average_duration|json_script:"averageJobDuration" }}
    {{ job_detail_api|json_script:"jobDetailAPI" }}
    {{ algorithm_detail_api|json_script:"algorithmDetailAPI" }}
    {{ object.algorithm_interface.pk|json_script:"interfacePk" }}
    <script src="{% static 'vendored/moment.js/moment.min.js' %}"></script>
    <script type="module" src="{% static 'algorithms/js/job_session.mjs' %}"></script>

{% endblock %}
