{% load url %}
{% load profiles %}
{% load workstations %}
{% load guardian_tags %}
{% load pathlib %}
{% load humanize %}
{% load remove_whitespace %}
{% load dict_lookup %}
{% load meta_attr %}
{% load civ %}


<a class="btn btn-primary btn-sm"
   href="{% url 'algorithms:job-detail' slug=object.algorithm_image.algorithm.slug pk=object.pk %}"
   title="View result details">
    <i class="fa fa-info-circle"></i>
</a>

<split></split>

{{ object.created|naturaltime }}
<split></split>

{% block column_2 %}
    {{ object.creator|user_profile_link }}
{% endblock %}

<split></split>

{% include "algorithms/job_status_detail.html" %}
<split></split>

{% if object.public %}
    <i class="fa fa-eye text-success"
       title="Result and images are public"></i>
{% else %}
    {% if object.viewers.user_set.all|length > 1 %}
        {# TODO: Hack, we need to exclude the creator rather than checking the length is > 1 #}
        <i class="fa fa-eye text-warning"
           title="Result and images are visible by {{ object.viewers.user_set.all|oxford_comma }}"></i>
    {% else %}
        <i class="fa fa-eye-slash text-danger"
           title="Result and images are private"></i>
    {% endif %}
{% endif %}
<split></split>

{{ object.comment }}

<split></split>
{% if object.rendered_result_text %}
  <div  class="modal"
        id="renderedResultModal-{{ object.pk }}"
        tabindex="-1"
        role="dialog"
        aria-labelledby="statusfoModalTitle"
        aria-hidden="true"
    >
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        Result
                    </h5>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="text-left modal-body">
                    {{ object.rendered_result_text }}
                </div>
                <div class="modal-footer">
                    <a class="btn btn-primary" href="{{ object.get_absolute_url }}">
                        <i class="fa fa-info-circle mr-1"></i>View Result Details
                    </a>
                </div>
            </div>
        </div>
    </div>


    <a class="badge badge-primary"
        href="#renderedResultModal-{{ object.pk }}"
        data-toggle="modal"
        data-target="#renderedResultModal-{{ object.pk }}"
        class="text-decoration-none"
    >
        <i class="fa fa-fw fa-eye"></i>
        Result
    </a>
{% endif %}

<split></split>

<ul class="list-unstyled mb-0 text-left">
    {% for civ in object.outputs.all|sort_civs %}
        <li>
            {% include "components/partials/civ.html" with object=civ display_inline=True only %}
        </li>
    {% empty %}
        <span class="text-muted">Empty</span>
    {% endfor %}
</ul>
<split></split>

{% if object.status == object.SUCCESS %}
    {% with object.algorithm_image.algorithm as algorithm %}
        <button class="btn btn-primary btn-sm"
                title="View algorithm result in viewer"
                {% workstation_session_control_data workstation=algorithm.workstation context_object=algorithm algorithm_job=object config=algorithm.workstation_config %}
        >
            <i class="fa fa-eye"></i>
        </button>
    {% endwith %}
{% endif %}
<split></split>
