{% extends "mainpage.html" %}
{% load static %}
{% load crispy_forms_tags %}



{% block content %}

    <h2>Job</h2>

    <div class="alert
    {% if object.status == object.FAILURE or object.status == object.CANCELLED %}
        alert-danger
    {% elif object.status == object.RETRY %}
        alert-warning
    {% elif object.status == object.SUCCESS %}
        alert-success
    {% else %}
        alert-info
    {% endif %}">
        {{ object.get_status_display }}
    </div>

    <dl>

        <dt>Algorithm</dt>
        <dd>
            <a href="{{ object.algorithm.get_absolute_url }}">{{ object.algorithm }}</a>
        </dd>

        <dt>Case</dt>
        <dd>
            <a href="{{ object.image.get_absolute_url }}">{{ object.image }}</a>
        </dd>

        {% if object.output %}
        <dt>Errors</dt>
        <dd>
            {{ object.output }}
        </dd>
        {% endif %}

        {% if object.result %}
        <dt>Result</dt>
        <dd>
            <a href="{{ object.result.get_absolute_url }}">{{ object.result }}</a>
        </dd>
        {% endif %}

    </dl>


{% endblock %}
