{% extends "base.html" %}
{% load url %}
{% load static %}

{% block title %}
    {{ object.pk }} Logs - Results - {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a
                href="{% url 'algorithms:list' %}">Algorithms</a>
        </li>
        <li class="breadcrumb-item"><a
                href="{{ object.algorithm_image.algorithm.get_absolute_url }}">{{ object.algorithm_image.algorithm.title }}
        </a></li>
        <li class="breadcrumb-item"><a
                href="{% url 'algorithms:job-list' slug=object.algorithm_image.algorithm.slug %}">Results</a></li>
        <li class="breadcrumb-item" ><a href="{{ object.get_absolute_url }}">{{ object.pk }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">Logs</li>
    </ol>
{% endblock %}

{% block content %}

    <h2>Algorithm Result Logs</h2>

    <dl class="row">
        <dt class="col-sm-3">Result ID</dt>
        <dd class="col-sm-9">{{ object.pk }}</dd>

        <dt class="col-sm-3">Created</dt>
        <dd class="col-sm-9">{{ object.created }}</dd>

        <dt class="col-sm-3">Status</dt>
        <dd class="col-sm-9">
            {% include "algorithms/job_status_detail.html" %}
        </dd>

        {% if object.error_message %}
            <dt class="col-sm-3">Error Message</dt>
            <dd class="col-sm-9">{{ object.error_message }}</dd>
        {% endif %}

        {% if object.job_utilization.duration %}
            <dt class="col-sm-3">Duration</dt>
            <dd class="col-sm-9">{{ object.job_utilization.duration.total_seconds|floatformat:0 }}s</dd>
        {% endif %}
    </dl>

    <h3>Execution History</h3>

    {% if execution_history %}
        <div class="table-responsive">
        <table class="table table-hover table-borderless table-sm">
            <thead class="thead-light">
                <tr>
                    <th>Status</th>
                    <th>Message</th>
                    <th>Start</th>
                    <th>End</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in execution_history %}
                    <tr>
                        <td>{{ entry.Status }}</td>
                        <td>{{ entry.StatusMessage }}</td>
                        <td>{{ entry.StartTime }}</td>
                        <td>{{ entry.EndTime }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    {% else %}
        <p>No executing history available.</p>
    {% endif %}

    <h3>Runtime Metrics</h3>
    {% if runtime_metrics_chart.data.values %}
        <div class="w-100 vega-lite-chart">
            {{ runtime_metrics_chart|json_script:"runtimeMetricsData" }}
        </div>
    {% else %}
        <p>No runtime metrics are available.</p>
    {% endif %}

    <h3>Logs</h3>
    {% if logs %}
        {# @formatter:off #}
        <pre class="console">{% for timestamp, structured_log in logs %}<span class="d-flex"><span class="user-select-none flex-shrink-0">{{ timestamp.isoformat }} </span><span class="text-break{% if structured_log.source == "stderr" %} text-danger{% endif %}" style="white-space: pre-wrap;">{{ structured_log.message }}
</span></span>{% empty %}No logs found{% endfor %}</pre>
        {# @formatter:on #}
    {% else %}
        <p>No logs are available.</p>
    {% endif %}

{% endblock %}

{% block script %}
    {{ block.super }}

    <script src="{% static 'vendored/vega/vega.min.js' %}"></script>
    <script src="{% static 'vendored/vega-lite/vega-lite.min.js' %}"></script>
    <script src="{% static 'vendored/vega-embed/vega-embed.min.js' %}"></script>
    <script type="module" src="{% static "js/charts/render_charts.mjs" %}"></script>

{% endblock %}
