{% extends "groups/groups_form_base.html" %}
{% load url %}

{% block title %}
    Add User - {% firstof object.title object %} - {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'organizations:list' %}">Organizations</a></li>
        <li class="breadcrumb-item"><a href="{{ object.get_absolute_url }}">{% firstof object.title object %}</a></li>
        <li class="breadcrumb-item active" aria-current="page">Add User</li>
    </ol>
{% endblock %}
