{% extends "nobanner.html" %}
{% load grandchallenge_tags %}

{% block content %}
<h2>Patient to Study relation</h2>

<form action="" method="post">
    {% csrf_token %}
    <p>Are you sure you want to delete this relation?</p>
    <table class="table">
        <tbody>
            <tr>
                <td>{{ patientitem.id }}</td>
                <td>{{ patientitem.patient }}</td>
                <td>{{ patientitem.study }}</td>
            </tr>
        </tbody>
    </table>
    <input type="submit" value="Delete">
    <a href="{% url 'pathology:patient-item-display' %}">Cancel</a>
</form>
{% endblock %}
