{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Request Verification - {{ block.super }}{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Verifications</a></li>
        <li class="breadcrumb-item active" aria-current="page">Confirm Email</li>
    </ol>
{% endblock %}

{% block content %}
    <h2>Confirm Email</h2>

    <p>
        Please enter your confirmation token below and click save to verify your email address.
    </p>

    {% crispy form %}
{% endblock %}
