{% extends "base.html" %}
{% load profiles %}
{% load static %}
{% load url %}

{% block title %}Verification User Set - {{ block.super }}{% endblock %}

{% block content %}
    <h2>Verification User Set</h2>

    <a class="btn btn-primary" href="{% url 'verifications:verification-user-set-detail' pk=object.pk|add:'-1' %}">Previous</a>
    <a class="btn btn-primary" href="{% url 'verifications:verification-user-set-detail' pk=object.pk|add:'1' %}">Next</a>

    <h3>Details</h3>

    <dl class="inline">
        <dt>Comment</dt>
        <dd>{{ object.comment }}</dd>

        <dt>Auto Deactivate</dt>
        <dd>{{ object.auto_deactivate }}</dd>

        <dt>False Positive</dt>
        <dd>{{ object.is_false_positive }}</dd>
    </dl>


    <h3>Users</h3>

    <div class="table-responsive">
        <table
            data-data-table
            data-page-length="25"
            class="table table-hover table-borderless table-sm w-100"
        >
            <thead class="thead-light">
                <tr>
                    <th>Username</th>
                    <th>Full Name</th>
                    <th>Date Joined</th>
                    <th>Last Login</th>
                    <th>Active</th>
                    <th>Verified</th>
                </tr>
            </thead>
            <tbody>
                {% for user in object.users.all %}
                    <tr>
                        <td>{{ user|user_profile_link }}</td>
                        <td>{{ user.get_full_name }}</td>
                        <td data-order='{{ user.date_joined|date:"c" }}'>{{ user.date_joined }}</td>
                        <td data-order='{{ user.last_login|date:"c" }}'>{{ user.last_login }}</td>
                        <td>{{ user.is_active }}</td>
                        <td>{{ user.verification.is_verified }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <h3>Verification Domains</h3>

    <pre>
    {% for domain in domains %}"{{ domain }}",{% endfor %}
    </pre>

    <h3>Submissions</h3>

    <div class="table-responsive">
        <table
            data-data-table
            data-order='[[0, "desc"]]'
            data-page-length="25"
            class="table table-hover table-borderless table-sm w-100"
        >
            <thead class="thead-light">
                <tr>
                    <th>Created</th>
                    <th>Creator</th>
                    <th>Phase</th>
                    <th>Limits</th>
                </tr>
            </thead>
            <tbody>
                {% for submission in submissions %}
                    <tr>
                        <td data-order='{{ submission.created|date:"c" }}'><a href="{{ submission.get_absolute_url }}">{{ submission.created }}</a></td>
                        <td>{{ submission.creator|user_profile_link }}</td>
                        <td>{{ submission.phase }}</td>
                        <td>{{ submission.phase.submissions_limit_per_user_per_period }} / {{ submission.phase.submission_limit_period }} day{{ submission.phase.submission_limit_period|pluralize }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
