{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Verification - {{ block.super }}{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Verification</li>
    </ol>
{% endblock %}

{% block content %}
    <h2>Verification</h2>

    <p>
        {% if object.is_verified %}
            Your verification request has been approved.
        {% elif not object.signup_email_is_trusted and not object.email_is_verified %}
            Please check your institutional email for the confirmation link.
        {% elif object.is_verified == None %}
            Thank you for confirming your email.
            Your verification request will be manually reviewed by site administrators
            within {{ object.review_deadline|timeuntil }} from now.
            Please do not contact support until that time.
            We will contact you if we require more information.
        {% else %}
            Your request for verification was rejected.
        {% endif %}
    </p>

{% endblock %}
