{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load url %}

{% block title %}Request Verification - {{ block.super }}{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'verifications:detail' %}">Verification</a></li>
        <li class="breadcrumb-item active" aria-current="page">Request Verification</li>
    </ol>
{% endblock %}

{% block content %}
    <h2>Request Verification</h2>

    <p>
        Please use this form for verification of your account.
        The email address that you provide here will be only be used once to verify your identity,
        and will not be used for any further communications.
    </p>
    <p>
        Before submitting this form, make sure that your profile information is complete and valid. You must provide
        your full name and the affiliation you indicate should match the email you use for verification below.
    </p>
    <p>
        Your current profile information:
        <li>Name: {% if request.user.first_name and request.user.last_name %}{{ request.user.first_name }} {{ request.user.last_name }}{% else %}<span class="text-danger">None</span>{% endif %}</li>
        <li>Institution: {% if request.user.user_profile.institution %} {{ request.user.user_profile.institution }} {% else %} <span class="text-danger">None</span> {% endif %}</li>
        <li>Department: {% if request.user.user_profile.department %} {{ request.user.user_profile.department }} {% else %} <span class="text-danger">None</span> {% endif %}</li>
        <li>Country: {% if request.user.user_profile.country.name %} {{ request.user.user_profile.country.name }} {% else %} <span class="text-danger">None</span> {% endif %}</li>
    </p>
    <p>
        If you would like to update this information, please <a href="{% url 'profile-update' %}">edit your profile</a> before making a verification request.
    </p>

    {% crispy form %}
{% endblock %}
