{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Verification - {{ block.super }}{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Verification</li>
    </ol>
{% endblock %}

{% block content %}
    <h2>Verification</h2>

    <p>
        {% if object.is_verified %}
            Your verification request has been approved.
        {% elif not object.signup_email_is_trusted and not object.email_is_verified %}
            Please check your email for the link to confirm your account.
        {% else %}
            Your verification request is under review by the site administrators.
        {% endif %}
    </p>

{% endblock %}
