{% extends "nobanner.html" %}
{% load url from grandchallenge_tags %}

{% block title %}Worklist Details - {{ block.super }}{% endblock %}

{% block content %}
    <h2>Worklist</h2>
        <table class="table">
            <tbody>
                <tr>
                    <td><b>Title</b></td>
                    <td><b>User</b></td>
                    <td><b>Images</b></td>
                </tr>
                <tr>
                    <td>{{ worklist.title }}</td>
                    <td>{{ worklist.user }}</td>
                    <td>{{ worklist.images }}</td>
                </tr>
            </tbody>
        </table>
        <a href="{% url 'worklists:list' %}">Cancel</a>
{% endblock %}
