{% extends "nobanner.html" %}
{% load url from grandchallenge_tags %}

{% block title %}Worklists - {{ block.super }}{% endblock %}

{% block content %}
    <h2>Worklists</h2>
    <table class="table table-sm">
        <thead>
            <tr>
                <td><b>Title</b></td>
                <td><b>User</b></td>
            </tr>
        </thead>
        <tbody>
            {% for worklist in object_list %}
                <tr>
                    <td>{{ worklist.title }}</td>
                    <td>{{ worklist.user }}</td>
                    <td><a href="{% url 'worklists:details' worklist.id %}">Details</a></td>
                    <td><a href="{% url 'worklists:update' worklist.id %}">Update</a></td>
                    <td><a href="{% url 'worklists:delete' worklist.id %}">Delete</a></td>
                </tr>
            {% empty %}
            <td>No sets have been created.</td>
            {% endfor %}
       </tbody>
    </table>
    <p><a href="{% url 'worklists:create' %}">Add Worklist</a></p>
{% endblock %}
