{% extends "nobanner.html" %}
{% load url from grandchallenge_tags %}

{% block content %}
<h2>Worklist</h2>

<form action="" method="post">
    {% csrf_token %}
    <p>Are you sure you want to delete this Worklist?</p>
    <table class="table">
        <tbody>
            <tr>
                <td>{{ worklistitem.worklist }}</td>
                <td>{{ worklistitem.image }}</td>
            </tr>
        </tbody>
    </table>
    <input type="submit" value="Remove">
    <a href="{% url 'worklists:item-display' %}">Cancel</a>
</form>
{% endblock %}
