{% load url from comic_templatetags %}

{% autoescape off %}
    <p>Dear {{ user.username }},</p>

    <p>{{ adder.username }} has rejected your request to participate in
    <a href="http://{{ site.domain }}{% url 'challenge-homepage' project.short_name %}">{{ project.short_name }}</a>
        on <a href="http://{{ site.domain }}">{{ site.domain }}</a>.</p>

    <p>For more information, please contact the <a href="http://{{ site.domain }}{% url 'challenge-homepage' project.short_name %}">{{ project.short_name }}
        organizers</a>.</p>

    <p>Regards,<br/>
        {{ site.name }}</p>
{% endautoescape %}
