html {
    overflow-y: scroll;
}

body {
    padding-top: 70px;
}

.headerImage {
    width: 100%;
    border-radius: 6px;
}

.projectLinkHeading {
    overflow: hidden;
    padding: 15px 0;
    background-color: #f5f5f5;
}

.projectLinkFooter {
    border-top: none;
}

.projectLinkImage {
    width: 30%;
    height: 100%;
    display: flex;
    padding: 0;
    justify-content: center;
    align-items: center;
    float: left;
    margin-left: 15px;
}

.projectLinkImage img {
    flex-shrink: 0;
    max-width: 100%;
    max-height: 100%;
    border-radius: 3px;
}

.projectLinkName {
    height: 100%;
    padding-right: 15px;
    display: flex;
    align-items: center;
}

.projectLinkName h3 {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 15px;
}

.projectLinkFilter {
    font-weight: bold;
}

#copyrightNotice {
    padding-top: 50px;
    padding-bottom: 50px;
}

.navbar-toggle {
    margin-left: 15px;
    float: left;
    margin-right: 0;
}
