{% load static i18n %}
{% load placeFavicon from favtags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Retina Workstation{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    {% if not DEBUG %}
        <script src="https://browser.sentry-cdn.com/5.6.1/bundle.min.js" integrity="sha384-pGTFmbQfua2KiaV2+ZLlfowPdd5VMT2xU4zCBcuJr7TVQozMO+I1FmPuVHY3u8KB" crossorigin="anonymous"></script>
        <script>
            // Setup sentry in production before anything else loads
            Sentry.init({ dsn: '{{ SENTRY_DSN }}' });
        </script>
    {% endif %}
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

    {% placeFavicon %}

    {% block css %}
        <!-- Latest compiled and minified Bootstrap 4.1.1 CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">


        <!-- Your stuff: Third-party CSS libraries go here -->
        <!-- This file stores project-specific CSS -->
        <link href="{% static 'css/_styles.css' %}" rel="stylesheet">
        <link href="{% static 'css/main.css' %}" rel="stylesheet">
        <link href="{% static 'css/rotterdam_australia.css' %}" rel="stylesheet">
    {% endblock %}

  </head>

  <body>

    <div class="container">

      {% if messages %}
          {% for message in messages %}
              <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
          {% endfor %}
      {% endif %}

      {% block content %}

      {% endblock content %}

    </div> <!-- /container -->

    <div id="popup_container"></div>

    {% block modal %}{% endblock modal %}

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% block javascript %}
      <!-- Required by Bootstrap v4.1.1 -->
      <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

      <!-- Your stuff: Third-party javascript libraries go here -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/5.1.2/math.min.js"></script>
      <script src="{% static 'js/external_libs/regression.js' %}"></script>
      <script src="{% static 'js/external_libs/ResizeSensor.js' %}"></script>
      <script src="{% static 'js/external_libs/jsfeat-min.js' %}"></script>
      <script src="{% static 'js/external_libs/simplify.js' %}"></script>
      <script src="{% static 'js/external_libs/loadnpy.js' %}"></script>
      <script src="{% static 'js/external_libs/jscolor.js' %}"></script>
      <script src="{% static 'js/external_libs/moment.js' %}"></script>
      <script src="{% static 'js/external_libs/moment-timezone-with-data-2012-2022.js' %}"></script>
      <script src="{% static 'js/csrf_protection.js' %}"></script>
      <!-- place project specific Javascript in this file -->
      <script type="module" src="{% static 'js/main.js' %}"></script>

      <script>
          /* Custom JS data */
          STATIC_URL = "{% get_static_prefix %}";
          {%  load tz %}
          {%  get_current_timezone as TIME_ZONE %}
          TIME_ZONE = "{{ TIME_ZONE }}";
          moment.tz.setDefault(TIME_ZONE);
          {% if user.is_authenticated %}
              USER_ID = {{ user.id }};
              USER_NAME = "{{ user.get_username }}";
              IS_RETINA_ADMIN = {{ IS_RETINA_ADMIN|yesno:"true,false" }};

              {% if not DEBUG %}
                  Sentry.configureScope((scope) => {
                    scope.setUser({"username": USER_NAME, "id": USER_ID});
                  });
              {%  endif %}
          {% endif %}
      </script>
    {% endblock javascript %}
    {% block page_specific_javascript %}{% endblock %}
  </body>
</html>
 
