{% extends "site.html" %}
{% load guardian_tags %}
{% load admin_urls %}

{% block pageName %} {{ currentpage.challenge.short_name }} -
    {% firstof currentpage.display_title currentpage.title "page" %} {% endblock %}

{% block headerLink %}"/"{% endblock %}

{% block headerTitle %}
    {% if site.header_image == "" %}
        <div class="noimage">
            {{ site.short_name }}
        </div>
    {% else %}
        <style>
            #headerTitle {
                padding: 0;
            }
        </style>
        <div class="image">
            <img src="{% url 'project_serve_file' site.short_name site.header_image %}"
                 class="headerImage">
        </div>
    {% endif %}
{% endblock %}

{% block challengeNav %}
{% endblock %}



{% block pagecontent %}

    {% if site.disclaimer %}
        <div class="disclaimer"
             style=" background-color: #FDFDD4; border: 1px solid black; clear: right; font-size: x-small; margin: 10px; padding-left: 10px;">

            <p>{% autoescape off %}
                {{ site.disclaimer }}{% endautoescape %}</p>
        </div>
    {% endif %}
    <div>{{ currentpage.raw_html }}</div>

    <br/>

    {% get_obj_perms user for site as "site_perms" %}
    {% if "change_challenge" in site_perms %}

        <a class="editPageLink"
           href="{% url 'pages:update' currentpage.challenge.short_name currentpage.title %}">
            Edit this page
        </a>
    {% endif %}

{% endblock %}

