{% for vus in verification_user_sets %}
<div>
    <a href="{{ vus.url }}" target="_blank" rel="noopener noreferrer">VUS {{ vus.pk }}</a>
    <ul>
        {% for user in vus.users %}
            <li>
                {% if not user.is_active %}<s>{% endif %}
                {% if user.verification %}
                    {% if user.verification.is_verified == True %}
                        ✅
                    {% elif user.verification.is_verified == False %}
                        ❌
                    {% else %}
                        ?
                    {% endif %}
                {% endif %}
                {{ user.username }}
                {% if not user.is_active %}</s>{% endif %}
            </li>
        {% endfor %}
    </ul>
    {% for comment in vus.comments %}
        <p>{{ comment }}</p>
    {% endfor %}
</div>
{% endfor %}
