body {background-color: #F9F9F9;font-family: sans-serif;padding-top: 1px;}


#page { margin-left:auto; margin-right:auto; width: 1000px; font-family : Verdana,helvetica,sans-serif; font-size: 10pt; }

/* Formatting for forms (at the moment only tested on /accounts/signup */
label { display:block; float:left; width:180px; }
span.required:after { content: " *"; color: #f00; }
span.help_text { font-size:8pt; color:#666; }


/* profile navigation menu */
ul#box-nav { height:50px; list-style-type:none; }
ul#box-nav li { float:left; margin-right:2px; padding:10px; position:relative; background-color:#eee; border-style:solid solid none solid; border-width:2px; border-color:#eee; }
ul#box-nav li.selected { background-color:#fff; border-style:solid solid none solid; border-width:2px; border-color:#eee; }
ul#box-nav li:hover { background-color:#fff; border-style:solid solid none solid; border-width:2px; border-color:#eee;}
ul#box-nav a, ul#box-nav a:visited { font-weight:bold; color:#6f91ab; text-decoration:none;}
.white-box { padding: 12px 0; overflow: auto; }
.white-box img { float:left; margin: 0 10px; margin-bottom:130px; border-radius:5px; }
.white-box dl { margin-bottom:50px; }
.white-box dl dt { background:#eee; width:100px; float:left; font-weight:bold; margin-right:10px; padding:5px; }
.white-box dl dd { margin:2px 0; padding:5px 0; }

/* header navigation menu */
#navMenuContainer { padding-left:0.8ex; height:24px; }
#navMenuContainer li { float:left; list-style-type:none; padding:0.5ex 0.5ex; vertical-align:baseline; }
#navMenuContainer ul { padding-left:0px; margin:0px;}
#navMenu { float:left; vertical-align:baseline; }
#additionalNavigation {	float:right; vertical-align:baseline; }
#footer { width: 100%; font-size:smaller; padding-top:20px; }
#messagescontainer{ position: fixed;width: 100%;}
#metafooter {float:left; width:100%; border-top:1px solid #cccccc; font-size:smaller; margin-top: 47px; }
#metaFooter a, #metaFooter a:active, #metaFooter a:link, #metafooter a:visited { color:#cccccc; text-decoration:none; }
#metafooter div {font-size: small;}
#metafooter div a {text-decoration:none;}
#metaFooterMenu .text { float:left; color:#666666; }
#metaFooterMenu { margin-left:auto; margin-right:auto; margin-top:10px; width: 1000px; }
li.menuBullet{ padding:0px;	margin:0px; }

.messagelist{background-color: #FDFDD4; border: 1px solid black; margin: -3px auto 7px; padding-bottom: 1px; padding-left: 3px; width: 1000px;}
.messagelist .warning{color:orange;}
.messagelist .error{color:red;}
.menuItem{ color:#fff; font-weight:bold; }
.menuItem:link, .menuItem:visited { color:#fff; text-decoration:none; }
.menuItem:hover { color:#fff; text-decoration:underline; }
.metaFooterMenuItem {color:#cccccc; float:left; margin-left:10px; }
.selected, .selected:link, .selected:visited {text-decoration:underline; }

/* main page, base.html */
#header { width:100%; float:left; background-color:#6f91ab; color:white; }
#headerTop{ padding: 12px; height:100px; }
#headerTitle .noimage{ font-size: 48px; padding-left:12px; padding-top:10px; padding-bottom: 14px;}
#headerTitle img { vertical-align:bottom;}
#headerTitle a { text-decoration: none; color:inherit; }
#loginInfo{ float:right; }
#mainContent{ padding-right: 8px; padding-left: 8px; padding-bottom: 12px; padding-top: 12px;}
#copyrightNotice{ width:32em; margin: 83px auto 24px; text-decoration:none; color:#cccccc}
#copyrightNotice a, #copyrightNotice a:link {color:#cccccc; text-decoration:none;}

.comicSiteSummary .thumb { width:100px; height:100px; }
.comicSiteSummary .description { width:550px;  padding-left: 8px;}
.comicSiteSummary { padding-bottom: 10px; }
.createNewComicSiteLink{ font-size:larger;  }
.createNewComicSiteLink:link, .createNewComicSiteLink:visited{ text-decoration:none; color:#6F91AB }
.editPageLink{ clear: both; float: left; text-decoration:none; color:#cccccc; margin-top: 30px; }
.pageError { color:#FF0000; font-size:small; background-color:#FFDDDD;}

.grayedOut{color: Gray;}
.breadcrumbtrail{font-size: x-small; color:#CCCCCC;}
.breadcrumbtrail a {text-decoration:none; color:#999999;}
.errorlist {color: red;}


/* shared features of any general table within comic */
.comictable .odd{}
.comictable .even{background-color:#EEEEEE;}

/* extra features for specific tables */
/* table for displaying numbers and short values from csv*/
.csvtable td{border:none; text-align: center; vertical-align: middle;}
.csvtable td.firstcol {text-align:justify;}	
.csvtable tr.firstcol {text-align:justify;}
.csvtable {border:none; width:100%;}
.csvtable td.notfirstcol {width: 10ex;}
.comictable td.notfirstcol {width: 10ex;}

.dataTables_wrapper .ui-widget-header {border: none;}


.css_right {float:right}
.comictablecontainer {width:80%;}

/* For showing a list of tag names and usage descriptions */
.taglist {border:none; width:100%; border-spacing:0px; border-collapse:collapse}
.taglist td{border:1px solid black;  vertical-align: middle;}

.comictablecontainer {width:80%;}

/* For COMICWebWorkstaion, line style when resizing, and
 prevent MeVis Webtoolkit from hiding all divs 
 */
.ui-resizable-helper { border: 2px dotted #00F; }
body.MLAB-GUI-HiddenDOMElement { visibility:visible;}
.COMICWebWorkstationButtons {padding-top:4px;  padding-bottom: 4px;}

/* For all projects overview */
.projectlink .externallink{}
.linkoverlay{height: 30px; margin-top: 71px; position: absolute; width: 30px;
		  	 margin-left: -100px;}

.projectlink{width:640px;}
.project_thumb{width:113px;}

/*very long urls were disturbing the table layout, making the external link icon appear in a weird place*/
#projectlinks table {word-wrap: break-word; word-break: break-all; table-layout: fixed;}
#projectlinks .thumbcontainer {width:100px; height:100px; background-color: #CCCCCC;}

h2.yearHeader{color:#666666; border-bottom: solid 1px #CCCCCC;}				

/*=================  everything below this line pasted from lola 11 just to get someting going*/


/**/
html
{
    overflow: -moz-scollbars-vertical; /*make scollbar always visable to counteract scrolbar shift*/
    overflow-y:scroll;
}


h1{
   font-size: 17px;
}

h2{
   font-size: 15px;
}

h3{
   font-size: 12px;
}

#header {
   width: 100%;   
   float: left;
   background-color:#6f91ab;
   
}


#header-content {
   width: 100%;   
   border:3px solid #dfdfdf;
   border-bottom-style:none;
   
}

#container {
   width: 100%;
   background-color: #ffffff;
   float: left;
   
}

/*Extra div to do padding without messing up div container*/  


#main-content {
   width: 95ex; /*For better readbility*/   
   float: left;
}

#content-item {
   background-color: #ffffff;
   margin-left: 15px;
   margin-right: 20px;
   margin-bottom: 20px;
}

#footer {
   background-color: White;
   width: 100%;   
   float: left;   
   font-size:smaller;   
   margin-top: 1px;
   color: #666666;
   padding-bottom: 2px;
   
}
#footer-content {      

}
#footer div
{
    margin-right:1em;
    float:left;    
}

#footer a
{    
    text-decoration:none;  
    color:inherit;    
}

/*============================= Einde Extra CSS om 2 page layout te testen  ============================================*/

/*============================= Nieuwe syntax na 27/01/2011  ============================================*/



li.selectedMenuItem
{    
    /*background-color:White;*/
}

#headerImageAndText
{
    height: 80px;
    /*background-color:White;*/
}


#login
{    
    float:right;        
    font-size:small;
    background-color:White;
    padding:0.5ex;
}

#headerImage{
    float:left;
}
#headerText
{
    margin-left:1em; 
    float:left;
}

.fileCollectionContainer th /*Used in download file menu*/
{   
    text-align:left;
    padding-right:4em;
}

.fileCollectionContainer td
{    
    padding-right:4em;
}

.editButtonContainer
{
    height:1px;
    width:100%;    
}

.editButtonDiv /*Edit this page button */
{
    font-size:x-small;
    float:right
    
                  
}

.grayBar
{
    background-color: #dfdfdf;          
}
.grayBar a
{
    text-decoration:none; /*stop menu links going purple underlined*/ 
    color:inherit;
}

.validation-summary-errors
{
    color:Red;
      
}

.editor-field
{
    
    
    
}
 
 .editor-label
{
        
}    

.sideInfo
{
    font-size:small;
}

#RegistrationForm
{
    padding-left:2ex; /*align form with text */
        
}

#TeamUrl, #Email, #ContactPerson, #Affiliation
{
    width:60ex; /*Extra space for specific registration fields*/
}

.field-validation-error
{
    color:Red;
    background-color:#ffdfdf;
    
    
}

.fileCollectionContainer
{
    margin-bottom:4ex;
    
    
}

.fileCollectionContainer table
{
    padding-left: 1ex;
            
}

.fileCollectionContainer table
{
    padding-left: 1ex;
       
}
.greyedOutText
{
    color: Gray;
}

.resultsTable
{
	width: 100%;
	
}

.resultsTable th
{
	border-bottom: 2px solid #dfdfdf;
	border-right: 2px solid #dfdfdf;
	
}
.resultsTable td
{
	border-right: 2px solid #dfdfdf;
	
	
}

.Score td
{
	border-top: 2px solid #dfdfdf;
}

.ResultsOverviewTable td
{
	padding-right: 1em
	/*
	border-bottom: 2px solid #dfdfdf;
	border-left: 2px solid #dfdfdf;
	*/

}

.ResultsOverviewTable th
{
	border: 1px #dfdfdf solid;
	/*
	border-bottom: 2px solid #dfdfdf;
	border-left: 2px solid #dfdfdf;
	*/

}

.ResultsOverviewTable .trOdd
{
	background-color: #dfdfdf;
	

}

/*07/10/2011 - used in result display for error messages*/
.generalChallengeError
{
    color:Red;
    background-color:#ffdfdf;
    
}

/*07/10/2011 - used for displaying result screenshots*/
.resultImageContainer
{
    float:left;
    padding-right:1em;
}

/*10/10/2011 - used for entering an int, for example scan number*/
.intSelectTextBox
{
    width:3em;
    margin-left:1ex;
    margin-right:1ex;
}

/*10/10/2011 - used for layout of resultviewer controls into columns*/
.resultviewerControlsColumn
{
    padding-right:5em;
}

/*10/10/2011 - So not pad last column because it eats up space*/
.resultviewerControlsLastColumn
{
    
}
