body {
	font-size: large;
	background-color: #F9F9F9;
	font-family: sans-serif;
	padding-top: 1px;

}


/*=================  everything below this line pasted from lola 11 just to get someting going*/


/**/
html
{
    overflow: -moz-scollbars-vertical; /*make scollbar always visable to counteract scrolbar shift*/
    overflow-y:scroll;
}

#page 
{
   
   margin-left:auto;
   margin-right:auto;
  
      
   width: 1000px;
   
   font-family : Verdana,helvetica,sans-serif;
   font-size: 10pt;
 
   
}

h1{
   font-size: 17px;
}

h2{
   font-size: 15px;
}

h3{
   font-size: 12px;
}





#header {
   width: 100%;   
   float: left;
   background-color:#6f91ab;
   
}

#headerTitle{
    color: White;
    font-size: 48px;
    padding-left: 12px;
    padding-top: 10px;

}

#header-content {
   width: 100%;   
   border:3px solid #dfdfdf;
   border-bottom-style:none;
   
}

#container {
   width: 100%;
   background-color: #ffffff;
   float: left;
   
}

/*Extra div to do padding without messing up div container*/  
#mainContent{
   padding-left: 8px;
   padding-bottom: 12px;
}

#main-content {
   width: 95ex; /*For better readbility*/   
   float: left;
}

#content-item {
   background-color: #ffffff;
   margin-left: 15px;
   margin-right: 20px;
   margin-bottom: 20px;
}

#footer {
   background-color: White;
   width: 100%;   
   float: left;   
   font-size:smaller;   
   margin-top: 1px;
   color: #666666;
   padding-bottom: 2px;
   
}
#footer-content {      

}
#footer div
{
    margin-right:1em;
    float:left;    
}

#footer a
{    
    text-decoration:none;  
    color:inherit;    
}

/*============================= Einde Extra CSS om 2 page layout te testen  ============================================*/

/*============================= Nieuwe syntax na 27/01/2011  ============================================*/


#navMenu
{
    padding-left: 0.8ex; /*Allign menu and text*/
    float:left;
    height: 43px;
       
    
    
}

li.menuBullet{
	padding:0px;
	margin:0px;
}


#navMenu li
{    
    
    float: left;
    list-style-type: none;
    padding: 0.5ex 0.5ex;
    vertical-align: baseline;    
    
}

.menuItem{
    color: #FFFFFF;
    font-weight: bold;
}

.menuItem:link, .menuItem:visited
{
    color: #FFFFFF;    
    text-decoration: none;
}

.menuItem:hover
{
    color: #FFFFFF;
    text-decoration: underline;    
}



li.selectedMenuItem
{    
    /*background-color:White;*/
    
}

#headerImageAndText
{
    height: 80px;
    /*background-color:White;*/
    
}

#navMenu ul
{    
    padding-left:0px;
   
}

#navMenuContainer
{    
    float:left;
    
}

#login
{    
    float:right;        
    font-size:small;
    background-color:White;
    padding:0.5ex;
        
}

#headerImage{
    float:left;
}
#headerText
{
    margin-left:1em; 
    float:left;
}




#additionalNavigation{
	float:right;
	padding-right: 10px;
	padding-top: 18px;
}

.fileCollectionContainer th /*Used in download file menu*/
{   
    text-align:left;
    padding-right:4em;
}

.fileCollectionContainer td
{    
    padding-right:4em;
}

.editButtonContainer
{
    height:1px;
    width:100%;    
}

.editButtonDiv /*Edit this page button */
{
    font-size:x-small;
    float:right
    
                  
}

.grayBar
{
    background-color: #dfdfdf;          
}
.grayBar a
{
    text-decoration:none; /*stop menu links going purple underlined*/ 
    color:inherit;
}

.validation-summary-errors
{
    color:Red;
      
}

#footer #copyrightNotice
{
    float:right;
}

.editor-field
{
    
    
    
}
 
 .editor-label
{
        
}    

.sideInfo
{
    font-size:small;
}

#RegistrationForm
{
    padding-left:2ex; /*align form with text */
        
}

#TeamUrl, #Email, #ContactPerson, #Affiliation
{
    width:60ex; /*Extra space for specific registration fields*/
}

.field-validation-error
{
    color:Red;
    background-color:#ffdfdf;
    
    
}

.fileCollectionContainer
{
    margin-bottom:4ex;
    
    
}

.fileCollectionContainer table
{
    padding-left: 1ex;
            
}

.fileCollectionContainer table
{
    padding-left: 1ex;
       
}
.greyedOutText
{
    color: Gray;
}

.resultsTable
{
	width: 100%;
	
}

.resultsTable th
{
	border-bottom: 2px solid #dfdfdf;
	border-right: 2px solid #dfdfdf;
	
}
.resultsTable td
{
	border-right: 2px solid #dfdfdf;
	
	
}

.Score td
{
	border-top: 2px solid #dfdfdf;
}

.ResultsOverviewTable td
{
	padding-right: 1em
	/*
	border-bottom: 2px solid #dfdfdf;
	border-left: 2px solid #dfdfdf;
	*/

}

.ResultsOverviewTable th
{
	border: 1px #dfdfdf solid;
	/*
	border-bottom: 2px solid #dfdfdf;
	border-left: 2px solid #dfdfdf;
	*/

}

.ResultsOverviewTable .trOdd
{
	background-color: #dfdfdf;
	

}

/*07/10/2011 - used in result display for error messages*/
.generalChallengeError
{
    color:Red;
    background-color:#ffdfdf;
    
}

/*07/10/2011 - used for displaying result screenshots*/
.resultImageContainer
{
    float:left;
    padding-right:1em;
}

/*10/10/2011 - used for entering an int, for example scan number*/
.intSelectTextBox
{
    width:3em;
    margin-left:1ex;
    margin-right:1ex;
}

/*10/10/2011 - used for layout of resultviewer controls into columns*/
.resultviewerControlsColumn
{
    padding-right:5em;
}

/*10/10/2011 - So not pad last column because it eats up space*/
.resultviewerControlsLastColumn
{
    
}
