{% extends "base.html" %}
{% load url %}
{% load meta_attr %}

{% block title %}
    {{ object_list.model|meta_attr:'verbose_name_plural'|title }} - {{ block.super }}
{% endblock %}

{% block content %}
    {% if perms.archives.add_archive %}
        <p>
            <a href="{% url 'archives:create' %}"
               class="btn btn-primary">
                <i class="fa fa-plus"></i> New {{ object_list.model|meta_attr:'verbose_name'|title }}
            </a>
        </p>
    {% endif %}

    {% include "grandchallenge/partials/filters.html" with filter=filter filters_applied=filters_applied %}

    {% include "grandchallenge/partials/cards.html" with page_obj=page_obj %}

    {% include "grandchallenge/partials/pagination.html"  %}

{% endblock %}
