{% load humanize %}
{% load profiles %}
{% load workstations %}
{% load pathlib %}

<ul class="list-unstyled mb-0">
    {% for civ in object.values.all %}
        <li>
            {{ civ.interface.title }}: {{ civ.title }}
            <a href="{% url 'archives:item-edit' archive_slug=object.archive.slug pk=object.pk interface_slug=civ.interface.slug %}">
                <span class="badge badge-primary">
                    <i class="fa fa-edit"></i> Edit
                </span>
            </a>
        </li>
    {% endfor %}
</ul>
<split></split>

<a href="{% url 'archives:item-edit' archive_slug=object.archive.slug pk=object.pk interface_slug='TODO' %}">
    <span class="badge badge-primary">
        <i class="fa fa-plus"></i> Add Value to Item
    </span>
</a>
<split></split>
