{% load humanize %}
{% load profiles %}
{% load workstations %}
{% load pathlib %}
{% load meta_attr %}

<ul class="list-unstyled mb-0">
    {% for civ in object.values.all %}
        <li>
            {{ civ.interface.title }}: {{ civ.title }}
            <a href="{% url 'archives:item-edit' archive_slug=object.archive.slug pk=object.pk interface_slug=civ.interface.slug %}">
                <span class="badge badge-primary">
                    <i class="fa fa-edit"></i> Edit
                </span>
            </a>
        </li>
    {% endfor %}
</ul>
<split></split>

<select class="form-control" id="interfaceSelect">
    {% for interface in interfaces %}
        {% if interface not in object_interfaces %}
            <option value="{% url 'archives:item-edit' archive_slug=object.archive.slug pk=object.pk interface_slug=interface.slug %}">Add {{ interface.title }}</option>
        {% endif %}
    {% endfor %}
</select>
<split></split>

<button class="btn badge badge-primary"
        {% workstation_session_control_data workstation=archive.workstation context_object=archive archive_item=object config=archive.workstation_config %}
>
    <i class="fa fa-eye"></i> Open Item in Viewer
</button>
<split></split>
