{% load profiles %}

{# Title #}

<a href="{{ object.get_absolute_url }}">
    {{ object.title }}
</a>

<split></split>
{# Public #}

{% if object.public %}
    <i class="fa fa-eye text-success"
       title="Archive is public"></i>
{% else %}
    <i class="fa fa-eye-slash text-danger"
        title="Archive is not public"></i>
{% endif %}
<split></split>
{# Role #}

{% if object.user_is_archive_editor %}
    <i class="fas fa-user-tie fa-fw mr-1"></i>Editor<br/>
{% endif %}

{% if object.user_is_archive_uploader %}
    <i class="fas fa-upload fa-fw mr-1"></i>Uploader<br/>
{% endif %}

{% if object.user_is_archive_user %}
    <i class="fas fa-user fa-fw mr-1"></i>User<br/>
{% endif %}

<split></split>
{# Editors #}

{% for user in object.editors_group.user_set.all %}
    {{ user|user_profile_link }}<br/>
{% endfor %}

<split></split>
{# Created #}

{{ object.created|date:'F j, Y' }}

<split></split>
{# Linked Challenge Phases #}

{% for phase in object.phase_set.all %}
    <a href="{{ phase.challenge.get_absolute_url }}">
        {{ phase.challenge.short_name }} - {{ phase.title }}
    </a><br/>
{% empty %}
    <span class="text-muted">None</span>
{% endfor %}
