{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load url %}
{% load bleach %}
{% load static %}

{% block title %}
    Add Items to Archive - {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a
                href="{% url 'archives:list' %}">Archives</a>
        </li>
        <li class="breadcrumb-item"><a
                href="{{ archive.get_absolute_url }}">{{ archive.title }}
        </a></li>
        <li class="breadcrumb-item active"
            aria-current="page">Add Items
        </li>
    </ol>
{% endblock %}

{% block content %}
    <h2>Add Items to Archive</h2>

    {% crispy form %}
{% endblock %}

{% block script %}
    <link rel="stylesheet" href="{% static 'css/select2-bootstrap4-theme/select2-bootstrap4.css' %}">
{% endblock %}
