{% extends "datatables/list_base.html" %}
{% load guardian_tags %}
{% load static %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'archives:list' %}">Archives</a></li>
        <li class="breadcrumb-item"><a href="{{ archive.get_absolute_url }}">{{ archive.title }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">Items</li>
    </ol>
{% endblock %}

{% block content %}
    <h2>Items for {{ archive.title }}</h2>

    {% get_obj_perms request.user for archive as "archive_perms" %}

    {% if "upload_archive" in archive_perms %}
        <p>
            <a class="btn btn-primary"
               href="{% url 'archives:cases-create' slug=archive.slug %}"
            ><i class="fas fa-file-import"></i> Add Items
            </a>
        </p>
    {% endif %}

    {{ block.super }}
{% endblock %}

{% block script %}
    {{ block.super }}
    {% include 'workstations/partials/session-control.html' %}
    <script src="{% static 'archives/js/archive_item_update.js' %}"></script>
{% endblock %}
