{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load url %}

{% block title %}
    Add Items to Reader Study - Items - {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'archives:list' %}">Archives</a>
        </li>
        <li class="breadcrumb-item"><a
                href="{{ archive.get_absolute_url }}">{{ archive.title }}</a>
        </li>
        <li class="breadcrumb-item"><a
                href="{% url 'archives:items-list' slug=archive.slug %}">Items</a>
        </li>
        <li class="breadcrumb-item active"
            aria-current="page">Add Items to Reader Study</li>
    </ol>
{% endblock %}

{% block content %}
    <h2>Add Items to Reader Study</h2>

    <p>
        Use this form to append items from this archive to a reader study.
        All items in this archive have been pre-selected for you.
        <b>Be sure to select the correct reader study first!</b>
    </p>

    {% crispy form %}
{% endblock %}
