{% extends "base.html" %}
{% load url %}
{% load naturaldelta %}
{% load dict_lookup %}

{% block title %}
        Statistics
    - {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'challenges:list' %}">Challenges</a></li>
        <li class="breadcrumb-item"><a
                href="{{ challenge.get_absolute_url }}">{% firstof challenge.title challenge.short_name %}</a></li>
        <li class="breadcrumb-item active"
            aria-current="page">
            Challenge Statistics
        </li>
    </ol>
{% endblock %}

{% block content %}
    <h3 class="mb-3">Challenge statistics</h3>
    {% if phases %}
        <div class="row equal-height mx-n2">
            {% for phase in phases %}
                <div class="card m-1">
                    <div class="card-header">{{ phase.title }}</div>
                    <div class="card-body">
                        <ul>
                            <li>Average algorithm job duration: {{ phase.cached_average_algorithm_run_time|naturaldelta }}</li>
                            <li>Total duration of all jobs for this phase: {{ phase.cached_total_algorithm_run_time|naturaldelta }}</li>
                            <li>Number of archive items: {{ phase.cached_archive_item_count }}</li>
                            <li>Average compute cost per algorithm job: {% if phase.cached_average_compute_cost %}{{ phase.cached_average_compute_cost }} €{% else %} NA {% endif %}</li>
                            <li>Total compute cost for this phase so far: {% if phase.cached_total_compute_cost %}{{ phase.cached_total_compute_cost }} €{% else %} NA {% endif %}</li>
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        No statistics to show for this challenge.
    {% endif %}
{% endblock %}
