{% extends "base.html" %}
{% load guardian_tags %}
{% load url %}
{% load bleach %}
{% load static %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'challenges:list' %}">Challenges</a></li>
        <li class="breadcrumb-item"><a
                href="{{ challenge.get_absolute_url }}">{% firstof challenge.title challenge.short_name %}</a></li>
        <li class="breadcrumb-item active"
            aria-current="page">
            Challenge Admin
        </li>
    </ol>
{% endblock %}

{% block sidebar %}
    {% get_obj_perms request.user for challenge as "challenge_perms" %}

    {% if "change_challenge" in challenge_perms %}
    <div class="col-12 col-sm-5 col-md-4 col-lg-3 pl-3">
          <ul class="nav nav-pills flex-column">
              <li class="nav-item">
                  <a class="nav-link px-4 py-1 mb-1 {% if request.resolver_match.view_name == 'challenge-update' %} active {% endif %}"
                    href="{% url 'challenge-update' challenge_short_name=challenge.short_name %}">
                      <i class="fas fa-cog fa-fw"></i> General Settings</a>
              </li>
              <li class="nav-item">
                <a class="nav-link px-4 py-1 mb-1 {% if request.resolver_match.view_name == 'participants:registration-question-list' or request.resolver_match.view_name == 'participants:registration-question-create' or request.resolver_match.view_name == 'participants:registration-question-delete'  %}active{% endif %}"
                  href="{% url 'participants:registration-question-list' challenge_short_name=challenge.short_name %}">
                    <i class="fas fa-question-circle fa-fw"></i> Registration Questions </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link px-4 py-1 mb-1 {% if request.resolver_match.view_name == 'pages:list' or request.resolver_match.view_name == 'pages:create' or request.resolver_match.view_name == 'pages:update' or request.resolver_match.view_name == 'pages:delete' %}active{% endif %}"
                    href="{% url 'pages:list' challenge_short_name=challenge.short_name %}">
                      <i class="far fa-file fa-fw"></i> Pages</a>
              </li>
              <li class="navbar-header rounded bg-light pl-3 py-1 mt-2 mb-1"><a>Users</a></li>
              <li class="nav-item">
                <a class="nav-link px-4 py-1 mb-1 {% if request.resolver_match.view_name == 'admins:list' or request.resolver_match.view_name == 'admins:update' %}active{% endif %}"
                    href="{% url 'admins:list' challenge_short_name=challenge.short_name %}">
                    <i class="fas fa-user fa-fw"></i>&nbsp;Admins
                    <span class="badge badge-pill badge-secondary align-middle">{{ challenge.get_admins.count }}</span>
                </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link px-4 py-1 mb-1 {% if request.resolver_match.view_name == 'participants:list' %}active{% endif %}"
                    href="{% url 'participants:list' challenge_short_name=challenge.short_name %}">
                    <i class="fas fa-users fa-fw"></i>&nbsp;Participants
                      <span class="badge badge-pill badge-secondary align-middle">{{ challenge.get_participants.count }}</span>
                  </a>
              </li>
              <li class="nav-item">
                 <a class="nav-link px-4 py-1 mb-1 {% if request.resolver_match.view_name == 'participants:registration-list' %}active{% endif %}"
                    href="{% url 'participants:registration-list' challenge_short_name=challenge.short_name %}">
                    <i class="fas fa-question fa-fw"></i>&nbsp;Participation Requests
                        {% if challenge.access_request_handling != 'ACCEPT_ALL' %}
                            {% with num_requests=pending_requests.count %} <span
                              class="badge badge-pill badge-secondary align-middle">{{ num_requests }}</span>
                            {% endwith %}
                        {% endif %}
                 </a>
              </li>
              <li class="navbar-header rounded bg-light pl-3 py-1 mt-2 mb-1"><a>Phases</a></li>
                  {% for phase in challenge.phase_set.all %}
                      {% include 'pages/phase_menu_sidebar.html' with phase=phase %}
                  {% endfor %}
                  <li class="nav-item">
                    <a class="nav-link px-4 py-1 mb-1 {% if request.resolver_match.view_name == 'evaluation:phase-create' %}active{% endif %}"
                        href="{% url 'evaluation:phase-create' challenge_short_name=challenge.short_name %}">
                        <i class="fas fa-plus fa-fw"></i>&nbsp;Add a new Phase</a>
                  </li>
            <li class="navbar-header rounded bg-light pl-3 py-1 mt-2 mb-1"><a>Combined Leaderboards</a></li>
                {% for combined_leaderboard in challenge.combinedleaderboard_set.all %}
                    {% include 'evaluation/partials/combinedleaderboard_menu_sidebar.html' with combined_leaderboard=combined_leaderboard %}
                {% endfor %}
               <li class="nav-item">
                <a class="nav-link px-4 py-1 mb-1 {% if request.resolver_match.view_name == 'evaluation:combined-leaderboard-create' %}active{% endif %}"
                    href="{% url 'evaluation:combined-leaderboard-create' challenge_short_name=challenge.short_name %}">
                    <i class="fas fa-plus fa-fw"></i>&nbsp;Add a new Combined Leaderboard</a>
              </li>
          </ul>
    </div>
    {% endif %}
{% endblock %}
