{% extends "base.html" %}
{% load guardian_tags %}
{% load url %}
{% load bleach %}
{% load static %}
{% load random_encode %}

{% block title %}
    {{ object|title }} - {% firstof challenge.title challenge.short_name %} - {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'challenges:list' %}">Challenges</a></li>
        <li class="breadcrumb-item"><a
                href="{{ challenge.get_absolute_url }}">{% firstof challenge.title challenge.short_name %}</a></li>
        <li class="breadcrumb-item active"
            aria-current="page">
            {{ object|title }}
        </li>
    </ol>
{% endblock %}

{% block sidebar %}
    <div class="col-lg-3 col-md-4 col-sm-6">
        <ul class="nav nav-pills flex-column mb-3">
            {% for page in pages %}
                {% if not page.hidden %}
                    <li class="nav-item">
                        <a class="nav-link px-2 py-1 mb-1 d-flex align-items-center {% if page == object %}active{% endif %}"
                           href="{{ page.get_absolute_url }}">
                            {% if page.permission_level == page.REGISTERED_ONLY %}
                                <i class="fas fa-lock fa-fw mr-1 flex-shrink-0" title="Page is only visible by participants of this challenge"></i>
                            {% elif page.permission_level == page.ADMIN_ONLY %}
                                <i class="fas fa-lock fa-fw mr-1 flex-shrink-0 text-danger" title="Page is only visible by admins of this challenge"></i>
                            {% else %}
                                <i class="fa fa-fw mr-1 flex-shrink-0"></i>
                            {% endif %}
                            {{ page|title }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
            {% if challenge.contact_email %}
                <li class="nav-item">
                    <a class="nav-link px-2 py-1 mb-1 d-flex align-items-center" href="mailto:{{ challenge.contact_email|random_encode|clean }}">
                        <i class="fas fa-envelope fa-fw mr-1"></i>
                        Email organizers
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
{% endblock %}

{% block content_col %}col-xl-6 col-lg-7 col-md-8{% endblock %}
{% block content %}
    <div class="mx-3">
        {% if challenge.should_show_verification_warning and user_is_participant %}
            {% include "challenges/partials/participant_verification_warning.html" %}
        {% endif %}

        {% if challenge.disclaimer %}
            <div class="alert alert-warning" role="alert">
                {{ challenge.disclaimer|clean }}
            </div>
        {% endif %}

        {% if "change_challenge" in challenge_perms and not challenge.contact_email %}
            <div class="alert alert-warning" role="alert">
                Please update your challenge settings. Grand Challenge now requires a <u>contact email address</u> for all challenges.<br>
                Please also note that you can now define start and end dates for each phase in the respective phase settings.
            </div>
        {% endif %}

        <div id=pageContainer>
            {{ object.content_markdown|md2html }}
        </div>

        {% if object.pk %}
            {% if "change_challenge" in challenge_perms %}
                <br>
                <a class="btn btn-primary"
                   href="{% url 'pages:content-update' challenge_short_name=object.challenge.short_name slug=object.slug %}"
                   title="Edit this page"
                >
                    <i class="fas fa-edit"></i>
                </a>
                <a class="btn btn-primary"
                   href="{% url 'pages:metadata-update' challenge_short_name=object.challenge.short_name slug=object.slug %}"
                   title="Edit metadata of this page"
                >
                    <i class="fas fa-tools"></i>
                </a>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}

{% block sidebar_right %}
    <div class="col-lg-1"></div>
{% endblock %}
