{% extends "site.html" %}
{% load crispy from crispy_forms_tags %}
{% load static %}

{# Do not show the footer as this is broken with SummernoteInplaceWidget #}
{% block footer %}{% endblock %}

{# Do not run js actions on the page as this breaks with SummernoteInplaceWidget #}
{% block postjs %}{% endblock %}

{% block pagecontent %}

    <h2>
        {% block pageHeading %}
            Create Page
        {% endblock %}
    </h2>

    {% crispy form %}

    <script type="text/javascript" src="{% static "js/unsavedform.js" %}"></script>
{% endblock %}
