{% extends "challenge.html" %}

{% block content %}

    <h2>Confirm Deletion</h2>

    <form action="" method="post">
        {% csrf_token %}
        <p>Are you sure that you want to delete the page "{{ object }}"? <br>
            <b class="text-danger">WARNING:
                You are not able to undo this action, once the page is deleted
                it is deleted forever.</b></p>
        <input type="submit" value="I understand, delete the page called '{{ object }}'"
               class="btn btn-danger"/>
    </form>

{% endblock %}
