{% extends "challenge.html" %}
{% load guardian_tags %}
{% load url %}
{% load clean from bleach %}
{% load static %}

{% block title %} {{ currentpage.challenge.short_name }} -
    {% firstof currentpage.display_title currentpage.title "page" %} {% endblock %}

{% block content %}
    {% if challenge.disclaimer %}
        <div class="disclaimer alert alert-warning" role="alert">
            {{ challenge.disclaimer|clean }}
        </div>
    {% endif %}

    <div id=pageContainer>{{ currentpage.cleaned_html }}</div>

    {% if not currentpage.is_error_page %}
        {% block editlink %}
            {% if currentpage.pk %}
                {% if "change_challenge" in challenge_perms %}
                    <br>
                    <a class="btn btn-primary"
                       href="{% url 'pages:update' challenge_short_name=currentpage.challenge.short_name page_title=currentpage.title %}"
                       data-toggle="tooltip"
                       data-placement="bottom"
                       title="Edit this page"
                    >
                        <i class="fas fa-edit"></i>
                    </a>
                {% endif %}
            {% endif %}
        {% endblock %}
    {% endif %}
{% endblock %}

{% block script %}
    {{ block.super }}
    {# For displaying equations on the site, the safe config is important #}
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML,Safe'
            async></script>

    {# geocharts #}
    <script type="text/javascript"
            src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript"
            src="{% static "js/render_geocharts.js" %}"></script>

    {# make the tables sortable #}
    <script type="text/javascript"
            src="{% static "js/sort_tables.js" %}"></script>
    {# render embeddable google forums #}
    <script type="text/javascript"
            src="{% static "js/embed_forums.js" %}"></script>

    {# enable tooltips #}
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
{% endblock %}
