{% extends "base.html" %}
{% load guardian_tags %}
{% load url %}
{% load bleach %}
{% load static %}
{% load random_encode %}

{% block title %}
    {% filter title %}
        {% firstof currentpage.display_title currentpage.title %}
    {% endfilter %}
    - {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'challenges:list' %}">Challenges</a></li>
        <li class="breadcrumb-item"><a
                href="{{ challenge.get_absolute_url }}">{% firstof challenge.title challenge.short_name %}</a></li>
        <li class="breadcrumb-item active"
            aria-current="page">
            {% filter title %}
                {% firstof currentpage.display_title currentpage.title %}
            {% endfilter %}
        </li>
    </ol>
{% endblock %}

{% block sidebar %}
    <div class="nav-pill-pages-container col-12 col-sm-5 col-md-4 col-lg-3 pl-3">
        <ul class="nav nav-pills flex-column">
            {% for page in pages %}
                {% if not page.hidden %}
                    <li class="nav-item">
                        <a class="nav-link px-4 py-1 mb-1 {% if page == currentpage %}active{% endif %}"
                           href="{{ page.get_absolute_url }}">
                            {% if page.permission_level == page.REGISTERED_ONLY %}
                                <i class="fas fa-lock fa-fw" title="Page is only visible by participants of this challenge"></i>
                            {% elif page.permission_level == page.ADMIN_ONLY %}
                                <i class="fas fa-lock fa-fw text-danger" title="Page is only visible by admins of this challenge"></i>
                            {% else %}
                                <i class="fa fa-fw"></i>
                            {% endif %}
                            {% filter title %}
                                {% firstof page.display_title page.title %}
                            {% endfilter %}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
            {% if challenge.contact_email %}
                <li class="nav-item">
                    <a class="nav-link px-4 py-1 mb-1" href="mailto:{{ challenge.contact_email|random_encode }}"><i class="fas fa-envelope fa-fw"></i> Email organizers</a>
                </li>
            {% endif %}
        </ul>
    </div>
{% endblock %}

{% block content %}
    <div class="mx-3">
        {% if challenge.disclaimer %}
            <div class="disclaimer alert alert-warning" role="alert">
                {{ challenge.disclaimer|clean }}
            </div>
        {% endif %}

        <div id=pageContainer>{{ cleaned_html }}</div>

        {% if not currentpage.is_error_page %}
            {% if currentpage.pk %}
                {% if "change_challenge" in challenge_perms %}
                    <br>
                    <a class="btn btn-primary"
                       href="{% url 'pages:update' challenge_short_name=currentpage.challenge.short_name page_title=currentpage.title %}"
                       title="Edit this page"
                    >
                        <i class="fas fa-edit"></i>
                    </a>
                {% endif %}
            {% endif %}
        {% endif %}
    </div>
{% endblock %}


{% block script %}
    {{ block.super }}
    {# For displaying equations on the site, the safe config is important #}
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML,Safe'
            async></script>
    {# make the tables sortable #}
    <script type="module"
            src="{% static "js/sort_tables.js" %}"></script>
    {# geocharts #}
    {% if includes_geochart %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vega/5.20.2/vega.min.js"
                integrity="sha512-cNxHgXBzKj+J32O+EhaG4v7CuZTVe7p+jBzu1N+QlUxFe/m3y0r1rAHTbBSFcQR5XagrXm43g/DfcmkFvvfIQQ=="
                crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vega-lite/5.1.0/vega-lite.min.js"
                integrity="sha512-1FlIGoVpDTGmUpnMqFvsedEILJNp0mkDQ1JSuZwLR1yllAHzSSIPTl0cMp8S3F6UrmWFIeS4/Zr7ivVFAxAAQw=="
                crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vega-embed/6.17.0/vega-embed.min.js"
                integrity="sha512-APNk3zkoYiQb+AhF+HOkt3cj1u+xIymun1KTqKP32YZDRWgnN/sNmCeUL5QxecitZSgS0b/Wp0/WF0uFv1GO2A=="
                crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script type="module"
                src="{% static "js/render_geocharts.js" %}"></script>
    {% endif %}
{% endblock %}
