{% load naturaldelta %}
{% load dict_lookup %}

{% if phases %}
    <div class="row equal-height mx-n2">
        {% for phase in phases %}
            <div class="card m-1">
                <div class="card-header">{{ phase.title }}</div>
                {% get_dict_values statistics_for_phases phase.pk|stringformat:'s' as phase_stats %}
                <div class="card-body">
                    <ul>
                        <li>Average algorithm job
                            duration: {{ phase_stats.average_algorithm_job_run_time|naturaldelta }}</li>
                        <li>Total duration of all jobs for this
                            phase: {{ phase_stats.accumulated_algorithm_job_run_time|naturaldelta }}</li>
                        <li>Number of archive items: {{ phase_stats.archive_item_count }}</li>
                        <li>Average compute cost for a submission: {% if phase_stats.average_submission_compute_cost %}
                            {{ phase_stats.average_submission_compute_cost }} €{% else %} NA {% endif %}</li>
                        <li>Total compute cost for this phase so far:
                            {% if phase_stats.total_phase_compute_cost %}{{ phase_stats.total_phase_compute_cost }}
                                €{% else %} NA {% endif %}</li>
                        {% if phase.total_number_of_submissions_allowed %}
                            <li>Submissions up until now:
                                <div class="progress">
                                    <div class="progress-bar {% if phase.percent_of_total_submissions_allowed >= 100 %}bg-danger {% elif phase.percent_of_total_submissions_allowed > 70 %}bg-warning {% else %} bg-success {% endif %}" style="width: {{ phase.percent_of_total_submissions_allowed }}%" role="progressbar" aria-valuenow="{{ phase.percent_of_total_submissions_allowed }}" aria-valuemin="0" aria-valuemax="100">{{ phase.percent_of_total_submissions_allowed }}%</div>
                                </div>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
    No statistics to show for this challenge.
{% endif %}
