<li class="nav-item">
    <a class="nav-link px-4 py-1 mb-1" data-toggle="collapse" data-target="#{{ phase.slug }}-collapse" aria-expanded="false">
          {{ phase.title }}
    </a>
    <div class="collapse {% if request.resolver_match.view_name == 'evaluation:phase-update' and request.resolver_match.kwargs.slug == phase.slug or request.resolver_match.view_name == 'evaluation:method-list' and request.GET.phase == phase.slug or request.resolver_match.view_name == 'evaluation:method-create' and request.GET.phase == phase.slug or request.resolver_match.view_name == 'evaluation:list' and request.GET.phase == phase.slug %}show{% endif %}" id="{{ phase.slug }}-collapse" style="">
        <ul class="nav nav-pills flex-column">
            <li class="nav-item pl-4">
                <a href="{% url 'evaluation:phase-update' slug=phase.slug %}" class="nav-link py-1 pl-3 {% if request.resolver_match.view_name == 'evaluation:phase-update' and request.resolver_match.kwargs.slug == phase.slug %}active{% endif %}"><i class="fas fa-cog fa-fw"></i> Settings</a>
            </li>
            <li class="nav-item pl-4">
                <a href="{% url "evaluation:method-list" %}?phase={{ phase.slug }}" class="nav-link py-1 pl-3 {% if request.resolver_match.view_name == 'evaluation:method-list' and request.GET.phase == phase.slug or request.resolver_match.view_name == 'evaluation:method-create' and request.GET.phase == phase.slug %}active{% endif %}"><i class="fas fa-cube fa-fw"></i> Evaluation Methods</a>
            </li>
            <li class="nav-item pl-4">
                <a href="{% url "evaluation:list" %}?phase={{ phase.slug }}" class="nav-link py-1 pl-3 {% if request.resolver_match.view_name == 'evaluation:list' and request.GET.phase == phase.slug %} active {% endif %}"><i class="fas fa-list fa-fw"></i> Submissions & Evaluations</a>
            </li>
        </ul>
    </div>
</li>
