{% load url %}
{% load naturaldelta %}

<p>
Based on the following information provided by the challenge requester:
</p>

<ul>
    {% for field, value in object.budget_fields.items %}
        <li><span class="font-weight-bold">{% if field == "inference time limit in minutes" %}Average algorithm job run
            time in minutes{% elif field == "algorithm selectable gpu type choices" %}Selectable GPU types for algorithm
            jobs{% elif field == "algorithm maximum settable memory gb" %}Maximum memory for algorithm jobs in GB
            {% else %}{{ field|capfirst }}{% endif %}</span>: {{ value }}</li>
    {% endfor %}
</ul>

{% if object.phase_1_number_of_test_images > 1000 or object.phase_2_number_of_test_images > 1000 %}
    <div class="bg-warning rounded text-whit p-3 my-3"><i class="fa fa-exclamation-circle" aria-hidden="true"></i>
        The user specified more than 1000 images in one or both phases. Grand Challenge starts one algorithm job per image. Consider batching them to limit costs and overhead.
    </div>
{% endif %}

<div class="table-responsive">
    <table class="table table-hover table-sm">
        <tr class="table-primary">
            <td class="text-center font-weight-bold" colspan="2">Capacity reservation estimate</td>
        </tr>
        {% for field, value in object.budget.items %}
            <tr class="{% if "Total" in field %}table-light{% endif %}">
                <td class="col-9 font-weight-bold">{{ field }}</td>
                <td class="col-3 text-right">{{ value }} €</td>
            </tr>
        {% endfor %}
        <tr>
            <td class="col-9 font-italic">Total number of submissions to the challenge</td>
            <td class="col-3 text-right">{{ object.total_num_submissions }}
                {% if object.total_num_submissions > 500 %}
                    <br><small class="text-danger">This is an unusually high number of submissions. Reconsider the number of submissions for each phase. </small>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td class="col-9 font-italic">Total data stored for {{ num_support_years }} year{{ num_support_years|pluralize }}</td>
            <td class="col-3 text-right">{{ object.total_data_and_docker_storage_bytes|naturalsize }}</td>
        </tr>
        <tr>
            <td class="col-9 font-italic">Total estimated on-demand GPU time</td>
            <td class="col-3 text-right">{{ object.total_compute_time|naturaldelta }}</td>
        </tr>
        <tr class="table-primary">
            <td class="text-center font-weight-bold" colspan="2">To be invoiced</td>
        </tr>
        <tr>
            <td class="col-9 font-weight-bold">
                Base cost
                <br><small class="text-dark">This covers a contribution towards platform maintenance, development and support.</small>
            </td>
            <td class="col-3 text-right font-weight-bold">{{ object.base_cost_euros }} €</td>
        </tr>
        <tr>
            <td class="col-9 font-weight-bold">
                Total compute cost
                <br><small class="text-dark">Total compute costs adjusted based on "Total to be invoiced".</small>
            </td>
            <td class="col-3 text-right font-weight-bold">{{ object.total_compute_to_be_invoiced }} €</td>
        </tr>
        <tr>
            <td class="col-9 font-weight-bold">
                Total storage cost
                <br><small class="text-dark">Total storage costs adjusted based on "Total to be invoiced".</small>
            </td>
            <td class="col-3 text-right font-weight-bold">{{ object.total_storage_to_be_invoiced }} €</td>
        </tr>
        <tr class="table-info">
            <td class="col-9 font-weight-bold">
                Total to be invoiced
                <br><small class="text-dark">Base cost + initial compute and storage ({{ minimal_storage_and_compute }}€) + additional compute and storage rounded to the nearest {{ additional_capacity_pack_size }}€</small>
            </td>
            <td class="col-3 text-right font-weight-bold">{{ object.total_challenge_cost }} €</td>
        </tr>
    </table>
</div>
