{% load url %}
{% load naturaldelta %}
{% load costs %}

<p>
Based on the following information:
</p>

<ul>
    {% for field, value in object.budget_fields.items %}
        <li><span class="font-weight-bold">{{ field|capfirst }}</span>: {{ value }}</li>
    {% endfor %}
</ul>

<div class="table-responsive">
    <table class="table table-hover table-sm">
        <tr>
            <td class="col-9 font-italic">Total number of submissions to the challenge</td>
            <td class="col-3 text-right">
                {% if object.total_number_of_submissions > 500 %}
                    <i class="fa fa-exclamation-triangle text-warning"></i>
                {% endif %}
                {{ object.total_number_of_submissions }}
            </td>
        </tr>
        <tr>
            <td class="col-9 font-italic">Total data stored for {{ num_support_years }} year{{ num_support_years|pluralize }}</td>
            <td class="col-3 text-right">{{ object.total_data_and_docker_storage_bytes|naturalsize }}</td>
        </tr>
        <tr>
            <td class="col-9 font-italic">Total estimated on-demand GPU time</td>
            <td class="col-3 text-right">{{ object.total_compute_time|naturaldelta }}</td>
        </tr>
    </table>
</div>

{% if object.total_number_of_submissions > 500 %}
    <div class="alert alert-warning">
        <i class="fa fa-exclamation-triangle"></i>
        This is an unusually high number of total submissions (more than 500). Reconsider the number of submissions for each phase.
    </div>
{% endif %}
{% if object.consider_batching %}
    <div class="alert alert-warning">
        <i class="fa fa-exclamation-triangle"></i>
        A high number of test cases was specified for one or more phases. Grand Challenge starts one algorithm job per case. Consider batching them to limit costs and overhead.
    </div>
{% endif %}

<br>
<h4>To be invoiced</h4>

<div class="table-responsive">
    <table class="table table-hover table-sm">
        <thead class="thead-light">
            <tr>
                <th>Item</th>
                <th class="col-5">Description</th>
                <th class="text-right">Price per unit</th>
                <th>Number</th>
                <th>Unit</th>
                <th class="text-right">Total</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="font-weight-bold">
                    Base cost
                </td>
                <td><small class="text-dark">This covers a contribution towards platform maintenance, development and support.</small></td>
                <td class="text-right">{{ object.base_cost_euros|euro:0 }}</td>
                <td>1</td>
                <td>Challenge</td>
                <td class="text-right font-weight-bold">{{ object.base_cost_euros|euro:0 }}</td>
            </tr>
            <tr>
                <td class="font-weight-bold">
                    Capacity reservation
                </td>
                <td><small class="text-dark">Capacity reservation units for compute and storage costs.</small></td>
                <td class="text-right">{{ capacity_reservation_pack_size_in_euro|euro:0 }}</td>
                <td>{{ object.capacity_reservation_units }}</td>
                <td>Units</td>
                <td class="text-right font-weight-bold">{{ object.capacity_reservation_euros|euro:0 }}</td>
            </tr>
            <tr class="table-info">
                <td class="font-weight-bold">
                    Total
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="text-right font-weight-bold">{{ object.total_challenge_price|euro:0 }}</td>
            </tr>
        </tbody>
    </table>
</div>

<br>
<h4>Capacity reservation estimate</h4>

{% for task in object.costs_for_tasks %}

        <br>
        <h5>Task {{ task.id }}</h5>

        <div class="table-responsive">
            <table class="table table-hover table-sm">
                <thead class="thead-light">
                    <tr>
                        <th>Item</th>
                        <th class="col-5">Description</th>
                        <th class="text-right">Price per unit</th>
                        <th>Number</th>
                        <th>Unit</th>
                        <th class="text-right">Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for phase in task.costs_for_phases_in_task %}
                        <tr>
                            <td>Compute phase {{ forloop.counter }}</td>
                            <td>{{ task.inference_time_average_minutes }} minutes average job time per case,
                                {{ phase.number_of_test_cases }} case{{ phase.number_of_test_cases|pluralize }} per submission,
                                {{ phase.number_of_submissions_per_team }} submission{{ phase.number_of_submissions_per_team|pluralize }} per team,
                                {{ phase.number_of_teams }} team{{ phase.number_of_teams|pluralize }}</td>
                            <td class="text-right">{{ task.compute_costs_euros_per_hour|euro }}</td>
                            <td>{{ phase.compute_time_hours }}</td>
                            <td>Hours</td>
                            <td class="text-right">{{ phase.compute_costs_euros|euro }}</td>
                        </tr>
                        <tr>
                            <td>Data storage phase {{ forloop.counter }}</td>
                            <td>{{ task.average_size_test_case_mb }} MB average size per case,
                                {{ phase.number_of_test_cases }} case{{ phase.number_of_test_cases|pluralize }},
                                for {{ num_support_years }} year{{ num_support_years|pluralize }}</td>
                            <td class="text-right">{{ object.storage_costs_euros_per_gb|euro }}</td>
                            <td>{{ phase.data_storage_size_gb }}</td>
                            <td>GB</td>
                            <td class="text-right">{{ phase.data_storage_costs_euros|euro }}</td>
                        </tr>
                        <tr class="table-light">
                            <td>Total phase {{ forloop.counter }}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="text-right">{{ phase.compute_and_storage_costs_euros|euro }}</td>
                        </tr>
                        <tr>
                            <td colspan="6">&nbsp;</td>
                        </tr>
                    {% endfor %}

                    <tr class="table-light">
                        <td>Container storage task {{ task_id }}</td>
                        <td>{{ object.average_algorithm_container_size_in_gb }} GB per submission,
                            {{ task.number_of_docker_images_per_team }} unique submission{{ task.number_of_docker_images_per_team|pluralize }} per team,
                            {{ task.number_of_teams }} team{{ task.number_of_teams|pluralize }},
                            for {{ num_support_years }} year{{ num_support_years|pluralize }}</td>
                        <td class="text-right">{{ object.storage_costs_euros_per_gb|euro }}</td>
                        <td>{{ task.docker_storage_size_gb }}</td>
                        <td>GB</td>
                        <td class="text-right">{{ task.docker_storage_costs_euros|euro }}</td>
                    </tr>
                    <tr>
                        <td colspan="6">&nbsp;</td>
                    </tr>

                    <tr>
                        <td class="font-weight-bold" colspan="5">Compute task {{ task_id }}</td>
                        <td class="text-right font-weight-bold">{{ task.compute_costs_euros|euro }}</td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold" colspan="5">Storage task {{ task_id }}</td>
                        <td class="text-right font-weight-bold">{{ task.storage_costs_euros|euro }}</td>
                    </tr>
                    <tr class="table-info">
                        <td class="font-weight-bold border-top border-dark" colspan="5">Total task {{ task_id }}</td>
                        <td class="text-right font-weight-bold border-top border-dark">{{ task.compute_and_storage_costs_euros|euro }}</td>
                    </tr>

                </tbody>
            </table>
        </div>

{% endfor %}

<br>

<div class="table-responsive">
    <table class="table table-hover table-sm">
        <thead class="thead-light">
            <tr>
                <th>Item</th>
                <th class="col-5">Description</th>
                <th class="text-right">Price per unit</th>
                <th>Number</th>
                <th>Unit</th>
                <th class="text-right">Total</th>
            </tr>
        </thead>
        <tbody>


            <tr>
                <td class="font-weight-bold" colspan="5">Total compute</td>
                <td class="text-right font-weight-bold">{{ object.total_compute_costs_euros|euro }}</td>
            </tr>
            <tr>
                <td class="font-weight-bold" colspan="5">Total storage</td>
                <td class="text-right font-weight-bold">{{ object.total_storage_costs_euros|euro }}</td>
            </tr>
            <tr class="table-light">
                <td class="font-weight-bold border-top border-dark" colspan="5">Total</td>
                <td class="text-right font-weight-bold border-top border-dark">{{ object.total_compute_and_storage_costs_euros|euro }}</td>
            </tr>
            <tr class="table-info">
                <td class="font-weight-bold">Capacity reservation</td>
                <td>Required capacity reservation units</td>
                <td class="text-right">{{ capacity_reservation_pack_size_in_euro|euro:0 }}</td>
                <td>{{ object.capacity_reservation_units }}</td>
                <td>Units</td>
                <td class="text-right font-weight-bold">{{ object.capacity_reservation_euros|euro }}</td>
            </tr>
        </tbody>
    </table>
</div>

<br>
<h4>Compute/storage split for budget</h4>

<div class="table-responsive">
    <table class="table table-hover table-sm">
        <tbody>
            <tr>
                <td>Compute</td>
                <td class="text-right">{{ object.capacity_reservation_compute_euros|euro:0 }}</td>
            </tr>
            <tr>
                <td>Storage</td>
                <td class="text-right">{{ object.capacity_reservation_storage_euros|euro:0 }}</td>
            </tr>
        </tbody>
    </table>
</div>
