<p>We are happy to inform you that your challenge request has been accepted.</p>
<p>The invoice for your challenge will be sent to the address you indicated shortly, unless agreed otherwise.</p>
<p>For your convenience, we have already created the challenge page for you at <a href="{{ challenge_link }}">{{ challenge_link }}</a>.</p>
<p>Note that your challenge is currently hidden and is not yet listed on our challenge overview page. Once your challenge is all set-up, you can make it public by going to Admin - General Settings and unchecking the 'hidden' box.</p>
<p>To get your challenge ready, please have a close look at <a href="https://grand-challenge.org/documentation/create-your-own-challenge/">our documentation</a> and the steps below.</p>
<p>Next steps:</p>
<ol>
    <li>On your challenge page, go to Admin - General Settings and carefully review all information there. All of the options are described in our documentation.
        <ul>
            <li>Upload a logo and banner for your challenge</li>
            <li>Optionally enable the forum (recommended) and teams features</li>
            <li>Choose your preferred access request handling policy</li>
        </ul>
    </li>
    <li>Add information about your challenge, your submission procedure, the challenge timeline etc. to your challenge page by editing and adding custom subpages to your challenge. For more information, see the tab 'Add custom pages' in our documentation.</li>
    <li>Our support team will be in touch with you shortly to help you set up the technical aspects of your challenge.</li>
</ol>
<p>Feel free to contact support@grand-challenge.org if you have any questions or require assistance in setting up your challenge.</p>
<p>Thank you for choosing Grand Challenge. We are looking forward to hosting your challenge.</p>
