{% extends "nobanner.html" %}
{% load grandchallenge_tags %}

{% block content %}
<h2>Patient</h2>

<form action="" method="post">
    {% csrf_token %}
    <p>Are you sure you want to delete this Patient?</p>
    <table class="table">
        <tbody>
            <tr>
                <td>{{ patient.id }}</td>
                <td>{{ patient.name }}</td>
                <td>{{ patient.sex }}</td>
                <td>{{ patient.height }}</td>
            </tr>
        </tbody>
    </table>
    <input type="submit" value="Delete">
    <a href="{% url 'patients:patient-display' %}">Cancel</a>
</form>
{% endblock %}
