{% extends "nobanner.html" %}
{% load grandchallenge_tags %}

{% block content %}
<h2>Patients</h2>
{% csrf_token %}

<table class="table table-sm">
    <thead>
        <tr>
        {% for field, value in object_list.0.get_fields %}
            <td><b>{{ field.name }}</b></td>
        {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for patient in object_list %}
            <tr>
                {% for field, value in patient.get_fields %}
                    <td> {{ value }}</td>
                {% endfor %}
                <td><a href="{% url 'patients:patient-update' patient.id %}">Update</a></td>
                <td><a href="{% url 'patients:patient-delete' patient.id %}">Delete</a></td>
            </tr>
        {% empty %}
        <td>No patients have been inserted.</td>
        {% endfor %}
   </tbody>
</table>
<a href="{% url 'patients:patient-create' %}">Add Patient</a>
{% endblock %}
