{% extends "nobanner.html" %}
{% load url from grandchallenge_tags %}

{% block title %}Patient details - {{ block.super }}{% endblock %}

{% block content %}
    <h2>Patient</h2>
    <table class="table">
        <tbody>
            <tr>
                <td><b>Id</b></td>
                <td><b>Name</b></td>
            </tr>
            <tr>
                <td>{{ patient.id }}</td>
                <td>{{ patient.name }}</td>
            </tr>
        </tbody>
    </table>
    <a href="{% url 'patients:list' %}">Return</a>
{% endblock %}

