<div id="jsoneditor_{{ widget.attrs.id }}"
     style="width: 100%"></div>

{# taken from https://github.com/django/django/blob/master/django/forms/widgets.py #}
<textarea style="display: none"
          name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %}>
{% if widget.value %}{{ widget.value }}{% endif %}</textarea>

{% with "schema_"|add:widget.attrs.id as schema_id %}
    {{ schema|json_script:schema_id }}

    <script>
        $(document).ready(function () {
            const container = document.getElementById("jsoneditor_{{ widget.attrs.id }}");
            const options = {
                mode: 'tree',
                modes: ['code', 'tree'],
                onChangeText: function (jsonString) {
                    let widget = document.getElementById("{{ widget.attrs.id }}")
                    try {
                        JSON.parse(jsonString);
                        widget.value = jsonString;
                        widget.setCustomValidity("");
                    } catch(err) {
                        widget.setCustomValidity("JSON is invalid");
                    }
                }
            };
            const schema = JSON.parse(document.getElementById("{{ schema_id }}").textContent);

            let editor = new JSONEditor(container, options);

            editor.set(JSON.parse(document.getElementById("{{ widget.attrs.id }}").value));
            editor.expandAll();

            {% if schema %}
                editor.setSchema(schema);
            {% endif %}
        })
    </script>

{% endwith %}
