<div id="jsoneditor_{{ widget.attrs.id }}"
     style="width: 100%"></div>

{# taken from https://github.com/django/django/blob/master/django/forms/widgets.py #}
<textarea style="display: none"
          name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %}>
{% if widget.value %}{{ widget.value }}{% endif %}</textarea>

<script>
    var container = document.getElementById("jsoneditor_{{ widget.attrs.id }}");
    var options = {
        mode: 'tree',
        modes: ['code', 'tree'],
        onChange: function () {
            var json = editor.get();
            document.getElementById("{{ widget.attrs.id }}").value = JSON.stringify(json);
        }
    };
    var editor = new JSONEditor(container, options);

    editor.set({{ widget.value|safe }});
    editor.expandAll();

    {% if schema %}
        editor.setSchema({{ schema|safe }});
    {% endif %}

</script>
