{% load url %}
{% load forum_permission_tags %}
{% load i18n %}

<div class="row">
    <div class="col-12">
        <div class="float-right controls-link-wrapper">
            {% if not request.user.is_anonymous %}
                <a href="{% url 'notifications:follow-list' %}" class="d-inline-block ml-3"><i class="fas fa-bookmark">&nbsp;</i>{% trans "Subscriptions" %}</a>
                <a href="{% url 'forum_member:user_posts' request.user.id %}" class="d-inline-block ml-3"><i class="fas fa-comments">&nbsp;</i>{% trans "View my posts" %}</a>
            {% endif %}
            {% get_permission 'can_access_moderation_queue' request.user as can_access_moderation_queue %}
            {% if can_access_moderation_queue %}
                <a href="{% url 'forum_moderation:queue' %}" class="d-inline-block ml-3"><i class="fas fa-gavel">&nbsp;</i>{% trans "Moderation queue" %}</a>
            {% endif %}
        </div>
    </div>
</div>
