{% load random_encode %}

<h2>Contact</h2>

<p>
    <a href="{{ challenge.get_absolute_url }}">{% firstof challenge.title challenge.short_name %}</a>
    is maintained by
    {% if challenge.creator.user_profile.institution %}
        <a href="{% firstof challenge.creator.user_profile.website challenge.creator.user_profile.get_absolute_url %}">
            {% firstof challenge.creator.get_full_name challenge.creator.username %}
            ({% if challenge.creator.user_profile.department %}{{ challenge.creator.user_profile.department }}, {% endif %}{{ challenge.creator.user_profile.institution }})</a>.
    {% else %}
        <a href="{% firstof challenge.creator.user_profile.website challenge.creator.user_profile.get_absolute_url %}">
        {% firstof challenge.creator.get_full_name challenge.creator.username %}</a>.
    {% endif %}
</p>

<p>
    For any queries related to
    <a href="{{ challenge.get_absolute_url }}">{% firstof challenge.title challenge.short_name %}</a>
    please <a href="mailto:{{ challenge.creator.email|random_encode }}">contact us</a>.
</p>
