{% extends 'site_signin.html' %}
{% load comic_templatetags %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

    <div class="white-box">
        <div id="signincontainer" class="">

            <div id="signinlist">
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8">
                        <h2>Sign Up or Sign In with:</h2>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
                <form action="{% url 'social:begin' 'google-oauth2' %}">
                    {% csrf_token %}
                    {% if request.GET.next %}
                        <input type="hidden" name="next"
                               value="{{ request.GET.next }}"/>
                    {% endif %}
                    <div class="row">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4">
                            <button class="btn btn-lg btn-primary btn-block">
                                <i class="fab fa-google"></i> Google
                            </button>
                        </div>
                        <div class="col-sm-4"></div>
                    </div>
                </form>
            </div>

            <div class="containernews">
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8">
                        <hr/>
                        <h2>Sign Up with your own email:</h2>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
                <form action="{% url 'profile_signup' %}"
                      class="containernews">
                    {% csrf_token %}
                    {% if request.GET.next %}
                        <input type="hidden" name="next"
                               value="{{ request.GET.next }}"/>

                    {% endif %}
                    <div class="row">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4">
                            <button type="submit"
                                    class="btn btn-lg btn-primary btn-block">
                                Register
                            </button>
                        </div>
                        <div class="col-sm-4"></div>
                    </div>
                </form>
            </div>

            <div id="signinformcontainer">
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8">
                        <hr/>
                        <h2>Sign In to an existing account:</h2>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
                <form action="" method="post">
                    {% csrf_token %}
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8">
                    {{ form | crispy }}
                    {% if request.GET.next %}
                        <input type="hidden" name="next"
                               value="{{ request.GET.next }}"/>
                    {% endif %}
                    </div>
                    <div class="col-sm-2"></div>
                </div>
                    <div class="row">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4">
                            <button class="btn btn-lg btn-primary btn-block"
                                    type="submit">Login
                            </button>
                        </div>
                        <div class="col-sm-4"></div>
                    </div>
                </form>
                <br>
                <form action="{% url 'userena_password_reset' %}">
                    {% csrf_token %}
                    {% if request.GET.next %}
                        <input type="hidden" name="next"
                               value="{{ request.GET.next }}"/>
                    {% endif %}
                    <div class="row">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4">
                            <button class="btn btn-lg btn-block" type="submit">
                                Forgot
                                your password?
                            </button>
                        </div>
                        <div class="col-sm-4"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
