{% extends "admin/base.html" %}
{% load i18n %}
{% load comic_templatetags %}
{% load comic_filters %}

{% block title %}{{ title }} | {{site.short_name}} admin {% endblock %}

{% block messages %}
        {% if messages %}
        
        <ul class="messagelist">{% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
           {% if 'safe' in message.tags %}{{ message|safe }}
           {% else %} {{ message }}          
           {% endif %}
          </li>
        {% endfor %}</ul>
        {% endif %}
{% endblock messages %}

{% block userlinks %}
                {% url 'django-admindocs-docroot' as docsroot %}
                {% if docsroot %}
                    <a href="{{ docsroot }}">{% trans 'Documentation' %}</a> /
                {% endif %}
                <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
{% endblock %}

{% block branding %}
 <p>{{ site.short_name }} Admin </a></p>

{% endblock %}

{% block breadcrumbs %}
        <div class="breadcrumbs">
        <a href="{% url 'projectadmin:index' site.short_name%}">{{site.short_name}}</a>        
        &rsaquo; <span>{{ opts.verbose_name_plural|capfirst }}</span>
            &rsaquo; {% if add %}{% trans 'Add' %} {{ opts.verbose_name }}{% else %}{{ original|truncatewords:"18" }}{% endif %}
            </div>
        
{% endblock %}

{% block nav-global %}{% endblock %}
