{% load url %}
{% load auth_token %}

<div class="file-upload drop-here-floater"
     id="{{ widget.attrs.id }}"
     data-upload-target="{% url 'api:staged-file-list' %}"
     data-multi-upload="{{ multi_upload }}"
     data-auto-commit="{{ auto_commit }}"
     data-auth-token="{% auth_token user %}"
     data-file-size-url="{% url 'api:staged-file-get-current-file-size' %}"
>

    <span class="btn btn-primary fileinput-button">
        <span>Choose File</span>
        <input type="file" name="files[]" form="(null)"
               {% if multi_upload == "true" %}multiple{% endif %}>
    </span>

    <div class="progress d-none">
        <div class="progress-bar bg-info progress-bar-striped progress-bar-animated"
             role="progressbar"
             style="width:0">
        </div>
    </div>

    <input name="{{ widget.name }}" type="hidden" value="{{ widget.value }}"/>

</div>
