{% load pictures %}

<div class="embed-responsive embed-responsive-1by1 mb-3">
    {% if profile.mugshot %}
         {% picture profile.mugshot img_class="card-img-top embed-responsive-item rounded-circle" img_loading="lazy" img_alt="Item Logo" ratio="1/1" %}
    {% else %}
         <img class="card-img-top embed-responsive-item rounded-circle"
              src="{{ profile.get_gravatar_url }}"
              style="display: block; margin: auto;"
              alt="Users mugshot"
         >
    {% endif %}
</div>

{% if with_userlink %}
    <div class="text-center">
        <b>
            <a href="{{ profile.get_absolute_url }}">{{ profile.user.username }}</a>
            {% if profile.user.verification.is_verified %}
                <span class="btn btn-sm btn-outline-success disabled mb-3" title="Verified User"><i
                        class="fas fa-user-check"></i></span>
            {% endif %}</b>
    </div>
{% endif %}
