.btn-square {
    border-radius: 0;
}

.btn {
    border-radius: 0;
}

.btn-primary {
    background-color: #00afdc;
    border-color: #00afdc;
}

html {
    overflow-y: scroll;
    position: relative;
    min-height: 100%;
}

.btn-radboud {
    color: #fff;
    background-color: #00afdc;
    border-color: #00afdc;
}

.text-radboud {
    color: #00afdc !important
}

.bg-radboud {
    color: #fff;
    background-color: #00afdc;
    border-color: #00afdc;
}

.btn:hover {
    background-color: #007896;
    border-color: #007896;
    color: white;
}

a {
    color: #00afdc;
}

a:hover {
    color: #007896;
}

.logo img {
    max-width: 100%;
    max-height: 80px;
}

ul {
    padding: 0;
    font-size: 0;
}

ul li {
    list-style-type: disc !important;
    font-size: 16px;
    display: inline-block;
    margin-bottom: 0.5em;
}

.carousel-indicators li {
    background-color: #00afdc;
    opacity: 0.2;
}
