{% extends "base.html" %}
{% load url %}
{% load static %}


{% block title %}
    Challenges - {{ block.super }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xl-8 col-lg-7 col-md-6 mb-3">
            <a class="btn btn-primary"
               href="{% url 'challenges:requests-create' %}"
               title="Host your own challenge">
                <i class="fas fa-plus mr-1"></i> Host your own Challenge
            </a>
        </div>
        {% if perms.evaluation.configure_algorithm_phase %}
            <div class="col-xl-4 col-lg-5 col-md-6 mb-3 text-md-right">
                <a class="btn btn-primary"
                   href="{% url 'challenges:configure-algorithm-phases' %}"
                   title="Configure algorithm phases">
                    <i class="fas fa-edit mr-1"></i> Configure algorithm phases
                </a>
            </div>
        {% endif %}
    </div>
    {% include "grandchallenge/partials/filters.html" with filter=filter filters_applied=filters_applied %}

    {% include "grandchallenge/partials/cards.html" with page_obj=page_obj %}

    {% include "grandchallenge/partials/pagination.html" %}

    {% include "grandchallenge/partials/cards_info_modal.html" %}

{% endblock %}

{% block script %}
    {{ block.super }}
    <script src="{% static "js/cards_info_modal.js" %}"></script>
{% endblock %}
