{% extends "nobanner.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block pageName %}New Challenge{% endblock %}

{% block contentTitle %}
    <h2>Create A New Challenge</h2>
    <p>
        Please fill out this form if you would like to set up your own challenge.
    </p>
{% endblock %}

{% block pagecontent %}
    {% crispy form %}
{% endblock %}

{% block deferred-js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "js/unsavedform.js" %}"></script>
{% endblock %}
