{% extends "base.html" %}
{% load url %}
{% load static %}


{% block title %}
    Challenges - {{ block.super }}
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-between mb-3">
        <a class="btn btn-primary"
           href="{% url 'challenges:create' %}"
           title="Add a new challenge">
            <i class="fas fa-plus mr-1"></i> Add a new challenge
        </a>
        <a class="btn btn-primary"
           href="{% url 'challenges:combined-list' %}"
           title="All challenges">
            <i class="fas fa-list mr-1"></i> View all challenges
        </a>
    </div>

    {% include "grandchallenge/partials/filters.html" with filter=filter filters_applied=filters_applied %}

    {% include "grandchallenge/partials/cards.html" with page_obj=page_obj %}

    {% include "grandchallenge/partials/pagination.html" %}

    {% include "grandchallenge/partials/cards_info_modal.html" %}

{% endblock %}

{% block script %}
    {{ block.super }}
    <script src="{% static "js/cards_info_modal.js" %}"></script>
{% endblock %}
