<div class="col-sm-4 projectlink {link_class} {year}">
    <div class="panel panel-default">
        <a id="{{ challenge.short_name }}"
           href="{{ challenge.get_absolute_url }}" style="display:block">
            <div class="panel-heading projectLinkHeading">
                <div class="projectLinkImage">
                    <img alt="" src="{{ challenge.thumb_image_url }}">
                </div>
                <div class="projectLinkName">
                    <h3>
                        {% if challenge.title %}
                            {{ challenge.title }}
                        {% else %}
                            {{ challenge.short_name }}
                        {% endif %}
                    </h3>
                </div>
            </div>
        </a>
        <div class="panel-body projectLinkBody">{{ challenge.description }}</div>
        <div class="panel-footer projectLinkFooter">{stats}</div>
    </div>
</div>