<tr class="bg-primary text-light"
    hx-get="{% url 'challenges:year-cost-row' %}"
    hx-swap="outerHTML"
    hx-vals='{"year": {{ year }}}'
>
    <td class="pl-3">{{ year }}</td>
    <td class="text-right">{{ total_compute_cost|floatformat:'2' }} €</td>
    <td class="text-right">{{ total_docker_cost|floatformat:'2' }} €</td>
    <td class="text-right">{{ total_cost|floatformat:'2' }} €</td>
</tr>

<tr id="child-{{ year }}" class="border border-light">
    <td colspan="100%">
        <table class="table table-hover table-borderless">
            <tbody>
                {% for month, costs in values.items %}
                    {% if not month == "total" and not month == "total_docker_cost" and not month == "grand_total" %}
                        <tr>
                            <td colspan="33%" class="pl-4 col-4">{{ month }}</td>
                            <td colspan="33%" class="text-right">{{ costs.compute_costs|floatformat:'2' }} €</td>
                            <td colspan="33%" class="text-right">{{ costs.docker_costs|floatformat:'2' }} €</td>
                            <td colspan="33%" class="text-right">{{ costs.total|floatformat:'2' }} €</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </td>
</tr>
