{% if budget %}
    <div id="cost-estimate" class="m-1 p-1">
        <h4 class="text-center">Cost estimate</h4>
        <div class="row justify-content-center">
            <div class="table-responsive pt-2 w-50">
                <table class="table table-hover table-sm">
                    {% for field, value in budget.items %}
                        <tr {% if "Total" in field %}class="table-light"{% endif %}><td class="col-5 font-weight-bold">{{ field }}</td> <td class="col-7">{{ value }} €</td></tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% else %}
    <div class="bg-danger rounded p-2 mb-3 text-white"><i class="fa fa-exclamation-circle mx-2" aria-hidden="true"></i> {{ error }}</div>
{% endif %}
