{% extends "base.html" %}
{% load url %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Create A Challenge{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fas fa-home"></i></a></li>
        <li class="breadcrumb-item"><a href="{% url 'challenges:list' %}">Challenges</a></li>
        <li class="breadcrumb-item active" aria-current="page">Create A Challenge</li>
    </ol>
{% endblock %}

{% block content %}
    <h2>Create A Challenge</h2>
    <p>
        Please fill out this form if you would like to set up your own challenge.
    </p>
    {% crispy form %}
{% endblock %}

{% block script %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "js/unsavedform.js" %}"></script>
{% endblock %}
