{% extends 'base.html' %}

{% load url %}
{% load static %}
{% load costs %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a
                href="{% url 'challenges:list' %}">Challenges</a>
        </li>
        <li class="breadcrumb-item active"
            aria-current="page">Cost Overview</li>
    </ol>
{% endblock %}

{% block title %}
    Challenge Cost Overview - {{ block.super }}
{% endblock %}

{% block content %}
    <h3 class="mb-3">Challenge Cost Overview</h3>

    <div class="table-responsive">
        <table class="table table-hover table-borderless table-sm" id="challengeCostsOverviewTable">
            <thead class="thead-light">
                <tr>
                    <th>Challenge</th>
                    <th>Status</th>
                    <th>Should be Open</th>
                    <th>Percentage Budget Consumed</th>
                    <th>Approved Compute Costs</th>
                    <th>Total Compute Costs Incurred</th>
                    <th>Available Compute Costs</th>
                    <th>Object Storage Costs per Year</th>
                    <th>Registry Storage Costs per Year</th>
                </tr>
            </thead>
            <tbody>
                {% for challenge in object_list %}
                    <tr>
                        <td><a href="{% url 'pages:statistics' challenge_short_name=challenge.short_name %}">{{ challenge.short_name }}</a></td>
                        <td>
                            <span class="badge {% if challenge.status == challenge.StatusChoices.OPEN %}badge-success {% elif challenge.status == challenge.StatusChoices.OPENING_SOON %} badge-warning {% else %} badge-danger {% endif %}above-stretched-link text-wrap p-2">{{ challenge.status.name }}</span><br>
                        </td>
                        <td>{% if challenge.should_be_open_but_is_over_budget %}<i class="fa fa-exclamation-triangle text-danger"></i>{% endif %}</td>
                        <td><div class="{% if challenge.percent_budget_consumed >= 100 %}text-danger{% elif challenge.percent_budget_consumed >= 70 %}text-warning{% else %}text-success{% endif %}">{{ challenge.percent_budget_consumed }} %</div></td>
                        <td>{{ challenge.approved_compute_costs_euro_millicents|millicents_to_euro }}</td>
                        <td>{{ challenge.compute_cost_euro_millicents|millicents_to_euro }}</td>
                        <td>{{ challenge.available_compute_euro_millicents|millicents_to_euro }}</td>
                        <td>{{ challenge.size_in_storage|storage_bytes_to_euro_per_year }}</td>
                        <td>{{ challenge.size_in_registry|registry_bytes_to_euro_per_year }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block script %}
    {{ block.super }}
    <script type="module" src="{% static 'js/challenges/challenge_costs_overview.mjs' %}"></script>
{% endblock %}
