{% extends "base.html" %}
{% load url %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
    Request - Challenges - {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'challenges:list' %}">Challenges</a></li>
        <li class="breadcrumb-item active" aria-current="page">Request</li>
    </ol>
{% endblock %}

{% block content %}
    <h2>Request a Challenge</h2>
    {% crispy form %}
{% endblock %}

{% block script %}
    {{ block.super }}
    <script type="module" src="{% static "js/challenges/challenge_request_dynamic_fields.mjs" %}"></script>
    <script type="text/javascript" src="{% static "js/unsavedform.js" %}"></script>
{% endblock %}
