{% extends 'nobanner.html' %}
{% load static %}
{% load url from grandchallenge_tags %}

{% block pageName %}All Challenges{% endblock %}

{% block pagecontent %}

    <h1>All Challenges</h1>

    <p>Here is an overview of all challenges that have been organized within
        the area of medical image analysis that we are aware of. If you know
        any study that would fit in this overview, or want to advertise your
        challenge, please send an email to support@grand-challenge.org and we
        will add the challenge to the list on this page.</p>

    {% if request.user.is_staff %}
        <p>
            <a class="btn btn-primary"
               href="{% url 'challenges:external-create' %}">
                <i class="fas fa-plus"></i> Add an external challenge
            </a>
            <a class="btn btn-primary"
               href="{% url 'challenges:external-list' %}">
                <i class="fas fa-edit"></i> Edit external challenges
            </a>
        </p>
    {% endif %}

    <div id="projectfilterbuttons" class="mt-4">

        <div id="buttonbar" class="alert alert-secondary bg-light">

            <div id="filterby"><h4 class="mt-0 mb-1">Filter by:</h4></div>

            <div id="projectLinksFilters">
                <form class="form-inline">
                    <!--Hidden checkbox to display all projectlinks by default -->
                    <label class="checkbox-inline no_indent projectLinkFilter">
                        <input type="checkbox" class="include" checked disabled
                               id="projectlink"
                               style="display:none;">
                    </label>

                    <label id="open"
                           class="mr-3 checkbox-inline no_indent projectLinkFilter"
                           title="Show projects that accept new submissions">
                        <input type="checkbox" class="filter" id="open">
                        Open for submissions <span
                            class="counter ml-1 badge badge-pill badge-info"
                            id="open"></span>
                    </label>

                    <label id="datadownload"
                           class="mr-3 checkbox-inline no_indent projectLinkFilter"
                           title="Show projects that offer data download">
                        <input type="checkbox" class="filter"
                               id="datadownload">
                        Data download <span
                            class="counter ml-1 badge badge-pill badge-info"
                            id="datadownload"></span>
                    </label>

                    <label id="grand-challenge"
                           class="checkbox-inline no_indent projectLinkFilter">
                        <input type="checkbox" class="filter"
                               id="grand-challenge">
                        Hosted on Grand-challenge <span
                            class="counter ml-1 badge badge-pill badge-info"
                            id="grand-challenge"></span>
                    </label>
                </form>
                <span id="info" class="badge badge-info">Showing <span
                        class="counter" id="projectlink"></span>
                    projects of <span class="counter" id="total"></span></span>

            </div>
        </div>
    </div>

    <div id='projectlinks'>

        {% for year, challenges in challenges_by_year.items %}

            <div class='projectlinksyearcontainer'>

                <div class='yearHeader' id='{{ year }}'>
                    <h2>{{ year }}</h2>
                </div>

                <div class='row'>
                    {% for challenge in challenges %}
                        <div class="col-12 col-md-6 col-lg-4 mb-3 projectlink {{ challenge.get_link_classes }} {{ challenge.year }}">
                            <div class="card" style="height:400px">
                                <a id="{{ challenge.short_name }}"
                                   href="{{ challenge.get_absolute_url }}"
                                   style="display:block">
                                    <div class="card-header projectLinkHeading"
                                         style="min-height:110px;">
                                        <div class="projectLinkImage">
                                            <img alt=""
                                                 src="{{ challenge.thumb_image_url }}">
                                        </div>
                                        <div class="projectLinkName">
                                            <h3>
                                                {% firstof challenge.title challenge.short_name %}
                                            </h3>
                                        </div>
                                    </div>
                                </a>

                                <div class="card-body projectLinkBody small"
                                     style="overflow: hidden; height:250px; line-height:1.5em">
                                    {{ challenge.description }}
                                </div>

                                <div class="card-footer small projectLinkFooter"
                                     style="line-height:1.5em">

                                    {% if challenge.is_open_for_submissions %}
                                        <div>
                                            <a href="{{ challenge.get_submission_link }}">Open
                                                for submissions</a>
                                        </div>
                                    {% endif %}

                                    {% if challenge.offers_data_download %}
                                        <div>
                                            <a href="{% firstof challenge.download_page challenge.get_absolute_url %}">Data
                                                download</a>
                                        </div>
                                    {% endif %}

                                    {% if challenge.number_of_submissions %}
                                        <div>
                                            Results: {{ challenge.number_of_submissions }}
                                        </div>
                                    {% endif %}

                                    {% if challenge.last_submission_date %}
                                        <div>
                                            Latest
                                            result: {{ challenge.last_submission_date }}
                                        </div>
                                    {% endif %}

                                    {% if challenge.upcoming_workshop_date %}
                                        <div>
                                            Workshop: {{ challenge.upcoming_workshop_date }}
                                        </div>
                                    {% endif %}

                                    {% if challenge.event_name %}
                                        <div>
                                            Associated with: <a
                                                href="{{ challenge.event_url }}">{{ challenge.event_name }}</a>
                                        </div>
                                    {% endif %}

                                    {% if challenge.publication_journal_name or challenge.publication_url %}
                                        <div>
                                            Article: <a
                                                href="{{ challenge.publication_url }}">{% firstof challenge.publication_journal_name challenge.publication_url %}</a>
                                        </div>
                                    {% endif %}

                                    {% if challenge.get_host_link %}
                                        <div>
                                            Hosted
                                            on: {{ challenge.get_host_link|safe }}
                                        </div>
                                    {% endif %}

                                    {% if not challenge.hosted_on_comic %}
                                        {% if request.user.is_staff %}
                                            <div class="projectLinkEdit">
                                                <a class="btn btn-primary btn-sm"
                                                   href="{% url 'challenges:external-update' challenge.short_name %}">
                                                    <i class="fas fa-edit"></i>
                                                    Edit
                                                </a>
                                                <a class="btn btn-danger btn-sm"
                                                   href="{% url 'challenges:external-delete' challenge.short_name %}">
                                                    <i class="fas fa-trash"></i>
                                                    Delete
                                                </a>
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>

    <script type="text/javascript"
            src="{% static "js/challenges/challenge_list_filters.js" %}"></script>

{% endblock %}
