{% extends "base.html" %}
{% load url %}
{% load crispy_forms_tags %}
{% load static %}
{% load user_profile_link from profiles %}

{% block title %}Challenge request: {{ object.title }}{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'challenges:list' %}">Challenges</a></li>
        <li class="breadcrumb-item"><a href="{% url 'challenges:request-list' %}">Requests</a></li>
        <li class="breadcrumb-item active">{{ object.title }}</li>
    </ol>
{% endblock %}

{% block content %}
    <h2>{{ object.title }}</h2>
    <br>
    <div class="row">
        <p class="col-6">{% if object.status == 'ACPT' %}<span class="badge badge-success">Accepted</span>{% elif object.status == 'RJCT' %}<span class="badge badge-danger">Rejected</span>{% endif %} Challenge request by {{ object.creator|user_profile_link }}, created on {{ object.created }}</p>
        <div class="col-6 text-right">
            {% if object.structured_challenge_submission_form %}
                <a class="btn btn-primary mb-3" href="{{ object.structured_challenge_submission_form.url }}">Download Miccai submission PDF</a>
            {% endif %}
            <a class="btn btn-primary mb-3" href="mailto:{{ object.contact_email }}"><i class="fa fa-envelope"></i> &nbsp;Contact requester</a>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-hover">
        {% for field, value in fields.items %}
            <tr><td class="col-3 font-weight-bold">{{ field|title }}</td> <td class="col-9">{{ value }}</td></tr>
        {% endfor %}
        </table>
    </div>
    <br>
    {% if budget %}
        <h2>Budget estimate</h2>
        <br>
        <div class="table-responsive">
            <table class="table table-hover table-sm">
            {% for field, value in budget.items %}
                <tr {% if "Total" in field %}class="table-light"{% endif %}><td class="col-5 font-weight-bold">{{ field }}</td> <td class="col-7">{{ value }} €</td></tr>
            {% endfor %}
            </table>
        </div>
    {% endif %}
{% endblock %}

{% block script %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "js/unsavedform.js" %}"></script>
{% endblock %}
