<a>{{ object.short_name }}</a>
<split></split>

{{ object.created }}
<split></split>

{% if object.status == object.ChallengeRequestStatusChoices.ACCEPTED %}
    <td class="text-center align-middle"><span class="badge p-2 badge-success">Accepted</span></td>
{% elif object.status == object.ChallengeRequestStatusChoices.REJECTED %}
    <td class="text-center align-middle"><span class="badge p-2 badge-danger">Rejected</span></td>
{% else %}
    <td class="text-center align-middle"><span class="badge p-2 badge-light">Pending</span></td>
{% endif %}
<split></split>
