{% load naturaldelta %}

{% if object.budget %}
    <div id="cost-estimate" class="m-1 p-1">
        <h4 class="text-center">Cost estimate</h4>
        <div class="row justify-content-center">
            <div class="table-responsive pt-2 w-50">
                <table class="table table-hover table-sm">
                    {% for field, value in object.budget.items %}
                        <tr class="{% if field == "Total" %}table-info{% elif "Total" in field or "Base" in field %}table-light{% endif %}">
                            <td class="col-5 font-weight-bold">{{ field }}</td>
                            <td class="col-7 text-right {% if field == "Total" %}font-weight-bold{% endif %}">{{ value }} €</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td class="col-5 font-weight-bold">Total number of submissions to the challenge</td>
                        <td class="col-7 text-right">{{ object.total_num_submissions }}
                            {% if object.total_num_submissions > 500 %}
                                <br><small class="text-danger">This is an unusually high number of submissions. You may want to reconsider the number of submissions for each phase. </small>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td class="col-5 font-weight-bold">Total data stored for {{ num_support_years }} year{{ num_support_years|pluralize }}</td>
                        <td class="col-7 text-right">{{ object.total_data_and_docker_storage_bytes|naturalsize }}
                        </td>
                    </tr>
                    <tr>
                        <td class="col-5 font-weight-bold">Total estimated on-demand GPU time</td>
                        <td class="col-7 text-right">{{ object.total_compute_time|naturaldelta }}
                            <br><small>Our platform elastically scales to hundreds of GPU instances to evaluate submissions in parallel</small>
                        </td>
                    </tr>
                </table>
                {% if image_warning %}
                    <div class="bg-warning rounded p-2 mb-3 text-white"><i class="fa fa-exclamation-circle mx-2" aria-hidden="true"></i> {{ image_warning }}</div>
                {% endif %}
                {% if runtime_warning %}
                    <div class="bg-warning rounded p-2 mb-3 text-white"><i class="fa fa-exclamation-circle mx-2" aria-hidden="true"></i> {{ runtime_warning }}</div>
                {% endif %}
                {% if image_size_warning %}
                    <div class="bg-danger rounded p-2 mb-3 text-white"><i class="fa fa-exclamation-circle mx-2" aria-hidden="true"></i> {{ image_size_warning }}</div>
                {% endif %}
                <div class="text-center"><i class="fa fa-exclamation-circle mx-2" aria-hidden="true"></i>The estimated costs are excluding VAT.</div>
            </div>
        </div>
    </div>
{% else %}
    <div id="cost-estimate" class="bg-danger rounded p-2 mb-3 text-white"><i class="fa fa-exclamation-circle mx-2" aria-hidden="true"></i> {{ error }}</div>
{% endif %}
