{% extends "challenge.html" %}
{% load crispy_forms_tags %}
{% load static %}

{# Do not show the footer as this is broken with SummernoteInplaceWidget #}
{% block footer %}{% endblock %}

{% block title %}Update {{ challenge.short_name }}{% endblock %}

{% block content %}
    <h2>Update {{ challenge.short_name }}</h2>
    {% crispy form %}
{% endblock %}

{% block script %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "js/unsavedform.js" %}"></script>
{% endblock %}
