{% extends "base.html" %}
{% load url %}
{% load crispy_forms_tags %}
{% load static %}
{% load bleach %}
{% load user_profile_link from profiles %}
{% load naturaldelta %}
{% load guardian_tags %}

{% block title %}
    {{ object.title }} - {% if not perms.challenges.change_challengerequest %}Your{% endif %} Challenge Requests - {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'challenges:list' %}">Challenges</a></li>
        <li class="breadcrumb-item"><a href="{% url 'challenges:requests-list' %}">{% if not perms.challenges.change_challengerequest %}Your{% endif %} Challenge Requests</a></li>
        <li class="breadcrumb-item active">{{ object.title }}</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="row d-flex align-items-center ml-2">
        {% if object.status == object.ChallengeRequestStatusChoices.ACCEPTED %}
            <div class="badge badge-success h-50 p-2 mr-1">Accepted</div>
        {% elif object.status == object.ChallengeRequestStatusChoices.REJECTED %}
            <div class="badge badge-danger h-50 p-2 mr-1">Rejected</div>
        {% endif %}
        <h3>[{{ object.short_name }}] {{ object.title  }}</h3>
    </div>
    <br>
    <div class="container-fluid row mb-4 ml-1 bg-light rounded p-3">
        <div class="col-lg-6">
            <i class="fa fa-user text-primary pr-3"></i> Challenge request from {{ object.creator|user_profile_link }}<br>
            <i class="fa fa-envelope text-primary pr-3"></i> <a href="mailto:{{ object.contact_email }}">{{ object.contact_email }}</a><br>
            <i class="fa fa-calendar text-primary pr-3"></i> Submitted on <span class="badge ml-1 px-2 {% if object.created|timedifference < 8 %} badge-success {% elif object.created|timedifference < 15 %} badge-warning {% else %} badge-danger {% endif %}">{{ object.created }}</span><br>
        </div>
        <div class="col-lg-6">
            {% if object.structured_challenge_submission_doi %}
                <i class="fa fa-paperclip text-primary pr-3"></i> Challenge submission form available at <a class="ml-lg-4 pl-lg-2" href="{{ object.structured_challenge_submission_doi.url }}">{{ object.structured_challenge_submission_doi.url }}</a><br>
            {% endif %}
            {% if object.structured_challenge_submission_form %}
                <i class="fa fa-file text-primary pr-3"></i> <a href="{{ object.structured_challenge_submission_form.url }}">Challenge submission form PDF</a>
            {% endif %}
            {% if not object.structured_challenge_submission_form and not object.structured_challenge_submission_doi %}
                <i class="fa fa-paperclip text-primary pr-3"></i> No challenge submission form available
            {% endif %}
            {% if object.status == object.ChallengeRequestStatusChoices.ACCEPTED and perms.evaluation.configure_algorithm_phase %}
                <a class="btn btn-primary btn-sm mt-3"
                   href="{% url 'evaluation:configure-algorithm-phases' challenge_short_name=object.short_name %}"
                   title="Configure algorithm phases">
                    <i class="fas fa-edit mr-1"></i> Configure algorithm phases
                </a>
            {% endif %}
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-hover">
        {% for field, value in fields.items %}
            {% if value %}
                <tr><td class="font-weight-bold">{{ field|title }}</td> <td>{{ value|linebreaks }}</td></tr>
            {% endif %}
        {% endfor %}
        {% if object.data_license %}
            <tr><td class="font-weight-bold">Public data license</td> <td><i class="fas fa-check-circle text-success pr-2"></i>  The organizers agree to publish their public data set under a CC-BY license.</td></tr>
        {% elif object.data_license == None %}
            <tr><td class="font-weight-bold">Public data license</td> <td>Unknown</td></tr>
        {% else %}
            <tr><td class="font-weight-bold">Public data license</td> <td><i class="fas fa-exclamation-circle text-danger pr-2"></i> The organizers do not agree to publish their public data set under a CC-BY license for the following reason: <br> <span class="ml-4">{{ object.data_license_extra }}</span></td></tr>
        {% endif %}
        {% if object.comments %}
            <tr><td class="font-weight-bold">Comments from organizers</td> <td><div class="bg-warning rounded p-3">{{ object.comments|linebreaks }}</div></td></tr>
        {% endif %}
        </table>
    </div>
    <br>
    {% get_obj_perms request.user for object as "user_perms" %}
    {% if 'change_challengerequest' in user_perms %}
        <div class="mt-3" id="budget">
            <div class="row">
                <div class="col-6">
                    <h2>Budget estimate</h2>
                </div>
                <div class="col-6 text-right">
                    <a class="btn btn-primary" hx-get="{% url 'challenges:requests-budget-update' pk=object.pk %}" hx-swap="innerHTML" hx-target="#budget">Edit budget fields</a>
                </div>
            </div>
        {% include "challenges/partials/budget_table.html" with object=object %}
        </div>
    {% endif %}
{% endblock %}

{% block script %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "js/unsavedform.js" %}"></script>
{% endblock %}
