{% extends 'base.html' %}

{% load url %}
{% load static %}
{% load dict_lookup %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a
                href="{% url 'challenges:list' %}">Challenges</a>
        </li>
        <li class="breadcrumb-item active"
            aria-current="page">Cost Overview</li>
    </ol>
{% endblock %}

{% block title %}
    Challenge Cost Overview - {{ block.super }}
{% endblock %}

{% block content %}
    <h3 class="mb-3">Challenge cost overview</h3>
    <p>By challenge (only Type 2 challenges included)</p>
    <div class="table-responsive">
        <table class="table table-hover table-borderless table-sm">
            <thead class="thead-light">
                <tr>
                    <th class="pl-3">Challenge</th>
                    <th>Status</th>
                    <th>Total compute cost</th>
                    <th>Total docker storage cost</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                {% for challenge, challenge_dict in statistics_for_challenges.items %}
                    <tr>
                        <td>{{ challenge_dict.short_name }}</td>
                        <td>
                            <span class="badge {% if challenge_dict.status == challenge_status_choices.OPEN %}badge-success {% elif challenge_dict.status == challenge_status_choices.OPENING_SOON %} badge-warning {% else %} badge-danger {% endif %}mt-1 above-stretched-link text-wrap w-100 p-2">{{ challenge_dict.status }}</span><br>
                        </td>
                        <td>{{ challenge_dict.challenge_compute_cost }} €</td>
                        <td>{{ challenge_dict.docker_storage_cost }} €</td>
                        <td>
                            <a href="{% url 'pages:statistics' challenge_short_name=challenge_dict.short_name %}">
                                <span class="badge badge-primary p-2">
                                    Costs per phase
                                </span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
