{% extends "pages/challenge_settings_base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load url %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a
                href="{% url 'challenges:list' %}">Challenges</a>
        </li>
        <li class="breadcrumb-item"><a
                href="{{ challenge.get_absolute_url }}">{% firstof challenge.title challenge.short_name %}</a></li>
        <li class="breadcrumb-item active"
            aria-current="page">Update</li>
    </ol>
{% endblock %}

{# Do not show the footer as this is broken with SummernoteInplaceWidget #}
{% block footer %}{% endblock %}

{% block title %}Update {{ challenge.short_name }}{% endblock %}

{% block content %}
    <h2>Update {{ challenge.short_name }}</h2>
    {% crispy form %}
{% endblock %}

{% block script %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "js/unsavedform.js" %}"></script>
{% endblock %}
