{% extends "pages/challenge_settings_base.html" %}
{% load user_profile_link from profiles %}
{% load url %}
{% load static %}
{% load dict_lookup %}
{% load humanize %}
{% load guardian_tags %}

{% block title %}
    Onboarding Tasks - {% firstof challenge.title challenge.short_name %} - {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a
                href="{% url 'challenges:list' %}">Challenges</a>
        </li>
        <li class="breadcrumb-item"><a
                href="{{ challenge.get_absolute_url }}">{% firstof challenge.title challenge.short_name %}</a></li>
        <li class="breadcrumb-item active"
            aria-current="page">Onboarding Tasks</li>
    </ol>
{% endblock %}

{% block content %}


    <h2>Onboarding Tasks for {{ challenge.short_name }}</h2>

    <div class="table-responsive">
        <table class="table table-hover table-borderless table-sm w-100" id="onboardingTasksTable">
            <thead class="thead-light">
            <tr>
                <th><i class="far fa-circle fa-fw"></i></th>
                <th>Responsible</th>
                <th>Action</th>
                <th class="nonSortable">Title</th>
                <th class="nonSortable">Description</th>
                <th>Due</th>
            </tr>
            </thead>
            <tbody>
                {% for task in object_list %}

                {% get_obj_perms request.user for task as "task_perms" checker %}
                <tr>
                    <td data-order="{{ task.complete|yesno:'1,0' }}">
                        {% if task.complete %}
                            <i class="fas fa-check-circle fa-fw text-success" title="Completed!"></i>
                        {% elif task.is_overdue_soon %}
                            <i class="far fa-circle fa-fw text-warning" title="Overdue soon!"></i>
                        {% elif task.is_overdue %}
                            <i class="far fa-circle fa-fw text-danger" title="Overdue!"></i>
                        {% else %}
                            <i class="far fa-circle fa-fw text-muted" title="Not yet completed"></i>
                        {% endif %}
                    </td>
                    <td class="text-nowrap">
                        {{ task.get_responsible_party_display }}
                    </td>
                    <td class="text-center">
                        {% if "complete_onboardingtask" in task_perms %}
                        <form method="post"
                                action="{% url 'challenge-onboarding-task-complete' challenge_short_name=challenge.short_name pk=task.pk %}">
                                {% csrf_token %}
                                <input type="hidden"
                                       name="complete"
                                      value="{{ task.complete|yesno:'false,true' }}"
                                >
                                {% if task.complete %}
                                    <button type="submit"
                                            class="btn btn-xs btn-outline-danger"
                                            title="Mark as incomplete">
                                         <i class="fas fa-undo fa-fw"></i>
                                    </button>
                                {% else %}
                                    <button type="submit"
                                            class="btn btn-xs btn-success"
                                            title="Mark as complete">
                                         <i class="fas fa-check fa-fw"></i>
                                    </button>
                                {% endif %}
                        </form>
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td class="{{ task.complete|yesno:'text-muted,' }}">
                        {{ task.title }}
                    </td>
                    <td class="{{ task.complete|yesno:'text-muted,' }}">

                        {{ task.description }}
                    </td>
                    <td title="{{ task.deadline }}"
                        data-order="{{ task.deadline|date:"U" }}"
                        class="{{ task.complete|yesno:'text-muted,' }}"
                    >
                        {% if task.is_overdue_soon %}
                        <i class="fas fa-exclamation-triangle text-warning"></i>
                        {% elif task.is_overdue %}
                            <i class="fas fa-exclamation-triangle text-danger"></i>
                        {% endif %}
                        {{ task.deadline|naturaltime }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block script %}
    {{ block.super }}
    <script type="module" src="{% static 'js/challenges/challengeonboardingtask_list_table.mjs' %}"></script>
{% endblock %}
