{% extends "base.html" %}
{% load url %}

{% block title %}Workstation Configs - {{ block.super }}{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fas fa-home"></i></a></li>
        <li class="breadcrumb-item active" aria-current="page">Workstation Configs
        </li>
    </ol>
{% endblock %}

{% block content %}
    <h2>Workstation Configs</h2>

    <div class="card-columns">
        {% for config in object_list %}
            <div class="card">
                 <div class="card-body">
                    <h5 class="card-title">{{ config.title }}</h5>
                    <div class="mb-2">
                        <small>
                            {% if config.default_slab_render_method %}
                                <label for="render" class="font-weight-bold mb-0">Slab render method:</label>
                                <div id="render">{{ config.get_default_slab_render_method_display }}</div>
                            {% endif %}
                            {% if config.default_orientation %}
                                <label for="orientation" class="font-weight-bold mb-0">Orientation:</label>
                                <div id="orientation">{{ config.get_default_orientation_display }}</div>
                            {% endif %}
                            <label for="interpolation" class="font-weight-bold mb-0">Overlay interpolation:</label>
                            <div id="interpolation">{{ config.get_default_overlay_interpolation_display }}</div>
                        </small>
                    </div>
                    <a href="{{ config.get_absolute_url }}"
                       class="btn btn-primary"
                       data-toggle="tooltip"
                       data-placement="bottom"
                       title="View Workstation Config">
                        <i class="fa fa-eye"></i> View
                    </a>
                </div>
            </div>
        {% empty %}
            <p>No workstation configs available.</p>
        {% endfor %}
    </div>

    {% if perms.workstation_configs.add_workstationconfig %}
        <p class="mt-3">
            <a class="btn btn-primary"
               href="{% url 'workstation-configs:create' %}">
                <i class="fas fa-plus"></i> Add a new Workstation Config
            </a>
        </p>
    {% endif %}

{% endblock %}

{% block script %}
    {{ block.super }}
    {# enable tooltips #}
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
{% endblock %}
