{% extends "base.html" %}
{% load static %}
{% load url %}
{% load guardian_tags %}
{% load crispy_forms_tags %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'workstation-configs:list' %}">Viewer
            Configurations</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ object.title }}
        </li>
    </ol>
{% endblock %}

{% block content %}
    {% get_obj_perms request.user for object as "config_perms" %}

    <h1>Viewer Configuration</h1>

    {% crispy form %}

    {% if "change_workstationconfig" in config_perms %}
        <div class="d-flex justify-content-start align-items-center">
            <a class="btn btn-primary mr-1"
               href="{% url 'workstation-configs:update' slug=object.slug %}">
                <i class="fa fa-edit"></i> Edit this viewer configuration
            </a>
            <a href="{% url 'workstation-configs:delete' slug=object.slug %}"
               class="btn btn-danger">
                <i class="fa fa-times"></i> Delete this viewer configuration
            </a>
        </div>
    {% endif %}
{% endblock %}

{% block script %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "js/tooltips.js" %}"></script>
{% endblock %}
