{% extends "base.html" %}
{% load static %}
{% load url %}
{% load user_profile_link from profiles %}
{% load workstations %}
{% load guardian_tags %}
{% load evaluation_extras %}
{% load workstation_config_tags %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'workstation-configs:list' %}">Viewer
            Configurations</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ object.title }}
        </li>
    </ol>
{% endblock %}

{% block content %}
    {% get_obj_perms request.user for object as "config_perms" %}

    <h1>Viewer Configuration {{ object.title }}</h1>

    {% if object.description %}
        <p>{{ object.description }}</p>
    {% endif %}

    <p class="text-muted">Hover over the configuration for more information</p>

    {% for group in groups %}
        <h2>{{ group.title }}</h2>
        {% if group.description %}
            <p class="text-muted">{{ group.description }}</p>
        {% endif %}

        <table class="table table-hover my-3">
        {% for name in group.names %}
            {% if name in shown_field_names %}
                <tr data-toggle="tooltip" title="{% get_help_text object name %}">
                    <td class="font-weight-bold">{% get_verbose_name object name %}</td>
                    <td>
                        {% if name == "default_image_interpolation" %}
                            {{ object.get_default_image_interpolation_display }}
                        {% elif name == "default_overlay_interpolation" %}
                            {{ object.get_default_overlay_interpolation_display }}
                        {% elif object|field_type:name == "BooleanField" %}
                            <i class="fas {% if object|field_value:name %}fa-check-circle{% else %}fa-times-circle{% endif %}"></i>
                        {% elif object|field_type:name == "JSONField" %}
                            {{ object|field_value:name|json_dumps }}
                        {% elif object|field_type:name == "HexColorField" %}
                            {{ object|field_value:name }}
                            {% if object|field_value:name %}
                                <div class="color-box" style="background-color: {{ object|field_value:name }}"></div>
                            {% endif %}
                        {% elif object|field_type:name == "ManyToManyField" %}
                            {% for x in object|field_value:name %}
                                <div>{{ x }}</div>
                            {% endfor %}
                        {% else %}
                            {{ object|field_value:name }}
                        {% endif %}
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
        </table>
    {% endfor %}

    {% if "change_workstationconfig" in config_perms %}
        <div class="d-flex justify-content-start align-items-center">
            <a class="btn btn-primary mr-1"
               href="{% url 'workstation-configs:update' slug=object.slug %}">
                <i class="fa fa-edit"></i> Edit this viewer configuration
            </a>
            <a href="{% url 'workstation-configs:delete' slug=object.slug %}"
               class="btn btn-danger">
                <i class="fa fa-times"></i> Delete this viewer configuration
            </a>
        </div>
    {% endif %}
{% endblock %}

{% block script %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "js/tooltips.js" %}"></script>
{% endblock %}
