{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fas fa-home"></i></a></li>
        <li class="breadcrumb-item"><a href="{% url 'workstation-configs:list' %}">Workstation Configs</a></li>
        {% if object %}
            <li class="breadcrumb-item"><a
                    href="{{ object.get_absolute_url }}">{{ object.title }}</a></li>
        {% endif %}
        <li class="breadcrumb-item active"
            aria-current="page">{{ object|yesno:"Update,Create" }}</li>
    </ol>
{% endblock %}

{% block title %}
    {{ object|yesno:"Update,Create" }} Workstation Config - {{ block.super }}
{% endblock %}

{% block content %}
    <h2>{{ object|yesno:"Update,Create" }} Workstation Config</h2>

    {% crispy form %}
{% endblock %}

{% block script %}
    {{ block.super }}
    <script type="text/javascript"
            src="{% static "js/unsavedform.js" %}"></script>
{% endblock %}
