{% extends "base.html" %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fas fa-home"></i></a></li>
        <li class="breadcrumb-item"><a href="{% url 'workstation-configs:list' %}">Workstation Configs</a></li>
        <li class="breadcrumb-item"><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></li>
        <li class="breadcrumb-item active"
            aria-current="page">Delete</li>
    </ol>
{% endblock %}

{% block content %}

    <h2>Confirm Deletion</h2>

    <form action="" method="post">
        {% csrf_token %}
        <p>Are you sure that you want to delete workstation config "{{ object.title }}"? <br>
            <b class="text-danger">WARNING:
                You are not able to undo this action, once the workstation config is deleted
                it is deleted forever.</b></p>
        <a href="{{ object.get_absolute_url }}"
           type="button"
           class="btn btn-secondary">Cancel</a>
        <input type="submit"
               value="I understand, delete the workstation config called '{{ object.title }}'"
               class="btn btn-danger"/>
    </form>

{% endblock %}
