# Support for building on readthedocs
sphinx
sphinx-autobuild
sphinx-rtd-theme
sphinx_autodoc_typehints
sphinxcontrib-plantuml

# Direct dependencies of the app
beautifulsoup4
celery
django
django-countries
django-crispy-forms
django-userena-ce
djangorestframework
docker
oauth2
python-magic
python-memcached
pytz
social-auth-app-django
gunicorn
uvicorn
django-celery-email
simpleitk
django-favicon-plus
psycopg2
django-select2
django-celery-results
django-summernote
bleach
jsonschema
tldextract
tifffile
django-autocomplete-light
django-storages
boto3
whitenoise
brotli
djangorestframework-guardian
django-extensions
django-simple-history
sentry-sdk
django-cors-headers
pyvips
django-speedinfo
drf-yasg
pydicom
scikit-learn
pandas
xlrd
django-celery-beat
django-guardian
django-markdownx
django-filter
ua-parser
djangorestframework-csv
docutils
prometheus_client
openslide-python
humanize
future

# Other dependencies
redis
