django<2.2
celery
raven
django-environ
sphinx-rtd-theme
recommonmark
boto3==1.9.97
django-celery-beat
django-celery-email
django-celery-results
django-cors-headers
django-filter
djangorestframework
django-storages
drf-yasg
psycopg2
python-memcached
pytz
redis
social-auth-app-django
whitenoise
django-guardian
django-extensions
