{% extends "nobanner.html" %}
{% load grandchallenge_tags %}

{% block content %}
<h2>Study</h2>

<form action="" method="post">
    {% csrf_token %}
    <p>Are you sure you want to delete this Study?</p>
    <table class="table">
        <tbody>
            <tr>
                <td>{{ study.id }}</td>
                <td>{{ study.code }}</td>
                <td>{{ study.region_of_interest }}</td>
            </tr>
        </tbody>
    </table>
    <input type="submit" value="Delete">
    <a href="{% url 'studies:study-display' %}">Cancel</a>
</form>
{% endblock %}

