{% extends "nobanner.html" %}
{% load url from grandchallenge_tags %}


{% block content %}
<h2>Studies</h2>
{% csrf_token %}

<table class="table table-sm">
    <thead>
        <tr>
            <td>Code</td>
            <td>Region of Interest</td>
        </tr>
    </thead>
    <tbody>
        {% for study in object_list %}
            <tr>
                <td>{{ study.code }}</td>
                <td>{{ study.region_of_interest }}</td>
                <td><a href="{% url 'studies:study-update' study.id %}">Update</a></td>
                <td><a href="{% url 'studies:study-remove' study.id %}">Delete</a></td>
            </tr>
        {% empty %}
        <td>No studies have been inserted.</td>
        {% endfor %}
   </tbody>
</table>
<a href="{% url 'studies:study-create' %}">Add Study</a>
{% endblock %}
