{% extends "nobanner.html" %}
{% load grandchallenge_tags %}

{% block content %}
<h2>Studies</h2>
{% csrf_token %}

<table class="table table-sm">
    <thead>
        <tr>
        {% for field, value in object_list.0.get_fields %}
            <td><b>{{ field.name }}</b></td>
        {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for study in object_list %}
            <tr>
                {% for field, value in study.get_fields %}
                    <td> {{ value }}</td>
                {% endfor %}
                <td><a href="{% url 'studies:study-update' study.id %}">Update</a></td>
                <td><a href="{% url 'studies:study-delete' study.id %}">Delete</a></td>
            </tr>
        {% empty %}
        <td>No studies have been inserted.</td>
        {% endfor %}
   </tbody>
</table>
<a href="{% url 'studies:study_create' %}">Add Study</a>
{% endblock %}
