{% load profiles %}
{% load url %}

<ul class="list-group list-group-flush mb-3">
    {% for user in users %}
        <li class="list-group-item">
            <div class="d-flex justify-content-between align-items-center">
                <div>{{ user|user_profile_link }}</div>
                <div>
                    {% if user != request.user %}
                        <form action="{{ edit_url }}" method="POST">
                            {% csrf_token %}
                            {% for field in form %}
                                {% if field.name == "user" %}
                                    <input type="hidden" name="user" value="{{ user.id }}"/>
                                {% else %}
                                    {{ field }}
                                {% endif %}
                            {% endfor %}
                            <button type="submit" class="btn btn-danger">
                                Remove
                            </button>
                        </form>
                    {% endif %}
                </div>
            </div>
        </li>
    {% empty %}
        <li class="list-group-item">No users found.</li>
    {% endfor %}
</ul>
