{% load profiles %}
{% load url %}

<ul class="list-group list-group-flush mb-3">
    {% for user in users %}
        <li class="list-group-item">
            <div class="d-flex align-items-center">
                <div class="mr-auto">
                    {{ user|user_profile_link }}
                </div>
                {% if user != request.user %}
                    {% if display_direct_message_link %}
                        <div>
                            <form method="post"
                                  action="{% url 'direct_messages:conversation-create' username=user.username %}">
                                {% csrf_token %}
                                <button class="btn btn btn-primary" type="submit">
                                    <i class="far fa-comment"></i>&nbsp;Message User
                                </button>
                            </form>
                        </div>
                    {% endif %}
                    <div>
                        <form action="{{ edit_url }}" method="POST">
                            {% csrf_token %}
                            {% for field in form %}
                                {% if field.name == "user" %}
                                    <input type="hidden" name="user" value="{{ user.id }}"/>
                                {% else %}
                                    {{ field }}
                                {% endif %}
                            {% endfor %}
                            <button type="submit" class="btn btn-danger">
                                Remove
                            </button>
                        </form>
                    </div>
                {% endif %}
            </div>
        </li>
    {% empty %}
        <li class="list-group-item">No {{ role_name|default:"users" }} found.</li>
    {% endfor %}
</ul>
