<!DOCTYPE html>
{% load static %}

<html>	
	<head>
		<title>COMIC main portal</title>
		<meta name="description" content="COMIC main portal" />
		<meta name="keywords" content="COMIC, open, science, medical, image, computing" />
		<link href="{% get_static_prefix %}css/base.css" type="text/css" rel="stylesheet">
	</head>
	<body>
		<div id="page">
			<div id="header" style="background-image:url('{% get_static_prefix %}img/top_image.jpg'); background-repeat:no-repeat">				
				<div id="headerTitle"?>
					{% block headerTitle %} {% endblock %}
				</div>
			</div>
			<div id="navMenuContainer">
				<div class = "grayBar" id="navMenu">
					<ul>
						<li class="selectedMenuItem">
							<a href="/">Home</a>
						</li>
						{% block topmenu %} {% endblock %}
					</ul>
				</div>
			</div>

			<div id="container">
				{% block content %} content {% endblock %}

			</div>
			<!-- container -->
			<div id="footer">				
			</div>

		</div>
		<!-- page -->

	</body>
</html>