<!DOCTYPE html>
{% load static %}

<html>	
	<head>
		<title>COMIC main portal</title>
		<meta name="description" content="COMIC main portal" />
		<meta name="keywords" content="COMIC, open, science, medical, image, computing" />
		<link href="{% get_static_prefix %}css/base.css" type="text/css" rel="stylesheet">
	</head>
	<body>
		<div id="page">
			<div id="header" style="background-image:url('{% get_static_prefix %}img/top_image.jpg'); background-repeat:no-repeat">				
				<div id="headerTitle"?>
					{% block headerTitle %} {% endblock %}
				</div>
			</div>
			<div id="navMenuContainer">
				<div class = "grayBar" id="navMenu">
					<ul>					
						{% block topmenu %} {% endblock %}
					</ul>
				</div>
			</div>

			<div id="container">
				{% block content %} content {% endblock %}

			</div>
			<!-- container -->
			<div id="footer">
				<div id="GrandChallengesLogo" >
					<a href="/">COMIC main portal</a>
				</div>

				<div id="copyrightNotice">
					COMIC <a href="http://en.wikipedia.org/wiki/Captain_Marvel_%28DC_Comics%29">&copy;</a> 2012, <a href="/site/COMIC/People/">Consortium for Open Medical Image Computing</a>
				</div>

			</div>

		</div>
		<!-- page -->

	</body>
</html>