<!DOCTYPE html>
{% load static %}

<html>	
	<head>
		<meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
		<meta name="description" content="The COMIC framework enables you to view and download medical image data, upload your own data and apply validated image processing algorithms." />
		<meta name="keywords" content="COMIC, open, science, medical, image, computing, validated" />
		<link href="{% get_static_prefix %}css/base.css" type="text/css" rel="stylesheet">
			
		<script type="text/javascript" src="{% get_static_prefix %}js/jquery-1.7.2.min.js"></script>
		<script type="text/javascript" src="{% get_static_prefix %}js/jquery-ui-1.8.21.custom.min.js"></script>
		<!--For displaying jquery UI widgets -->
		<link type="text/css" href="{% get_static_prefix %}css/jqueryUI/smoothness/jquery-ui-1.8.21.custom.css" rel="Stylesheet" />
		<!--Put any site or page specific css here -->
		<link href="{% block stylesheet %} {% endblock %}" type="text/css" rel="stylesheet">


		<title>COMIC main portal</title>
	</head>
	<body>
		<div id="page">
			<div id="header">				
				<div id="headerTitle">
                    {% block headerTitle %} COMIC {% endblock %}
				</div>
                <div id="navMenuContainer">
                    <div id="navMenu">
                        <ul>					
                            {% block topmenu %} {% endblock %}
                        </ul>
                    </div>				
                    <div id="additionalNavigation">
                        <ul>
                            {% if user.is_authenticated %}
                            <li>
                                <a class="menuItem" href="{% url userena_profile_detail user.username %}">{{user.first_name}} {{user.last_name}}</a>
                            </li>
                            <li class="menuBullet"><img src="{{ STATIC_URL }}img/menu_bullet.png"></li>
                            <li>
                                <a class="menuItem" href="{% url userena_signout %}">Signout</a>
                            </li>
                            {% else %}
                            <li>
                                <a class="menuItem" href="{% url userena_signin %}">Signin / Register</a>
                            </li>
                            {% endif %}
                            <li class="menuBullet"><img src="{{ STATIC_URL }}img/menu_bullet.png"></li>
                            <li>
                                <a class="menuItem" href="{% url home %}">COMIC main portal</a>
                            </li>
                        </ul>
                    </div> 
                </div>
            </div> <!-- end header -->

            <div id="container">
                <div id="mainContent">
                    {% block content %} content {% endblock %}
                </div>
            </div>
            <!-- container -->
            <div id="footer">
                <div id="copyrightNotice">
                    COMIC <a href="http://en.wikipedia.org/wiki/Captain_Marvel_%28DC_Comics%29">&copy;</a> 2012, <a href="{% url comicsite.views.page site_short_name='COMIC' page_title='People' %}">Consortium for Open Medical Image Computing</a>
                </div>

            </div>
        </div>		
        <!-- page -->
	</body>
</html>
