{% extends "site.html" %}
{% load guardian_tags %}
{% load admin_urls %}

{% block stylesheet %} {{STATIC_URL}}css/{{site.skin}}.css {% endblock %}

{% block pageName %} {{currentpage.comicsite.short_name}} - {% firstof currentpage.display_title currentpage.title "page" %} {% endblock %}


{% block topmenu %}
{% endblock %}

{% block adminbutton %}

	{% get_obj_perms user for site as "site_perms" %}	

	{% if "change_comicsite" in site_perms or request.user.is_superuser %}
	    <li> <a class="menuItem" href="{% url 'admin:comicmodels_comicsite_change' site.pk%}">Admin</a></li>	   
       
	{% endif %}
	
	
{% endblock %}

	
{% block content %}
	

	{% block pagecontent %}		
	
	{% if site.disclaimer %}
        <div class="disclaimer" style=" background-color: #FDFDD4; border: 1px solid black; clear: right; font-size: x-small; margin: 10px; padding-left: 10px;">
        
       <p>{% autoescape off %}{{site.disclaimer}}{% endautoescape %}</p> 
       </div>       
    {% endif %}
	<div>{{currentpage.rawHTML}}</div>
	
	<br/>

	{% get_obj_perms user for site as "site_perms" %}
	{% if "change_comicsite" in site_perms or request.user.is_superuser %}
	   	   
	   <a class="editPageLink" href="{% url 'admin:comicmodels_page_change' currentpage.pk%}">Edit this page</a>	          
	{% endif %}	


	{% endblock %}	
	
{% endblock %}




