{% extends "base.html" %}
{% load guardian_tags %}
{% load comic_templatetags %}

{% block pageName %} {{site.short_name}} - All projects {% endblock %}

{% block content %}		

<style>
	
	#buttonbar {width:100%; height:80px; border-top:1px solid #CCCCCC;}
	#buttonbar li{list-style: none outside none; width:220px;}
	#buttonbar ul {float:left}
	#buttonbar label {width:135px;}
	#buttonbar #title {float:left; width:100px;}
	
	#projectlinks{border-top:1px solid #CCCCCC;}
	
	#projectscontainer{width:80%;}
	#projectscontainer .tab{color:#666666; background color:#666666; border:1px solid #CCCCCC;
			margin-left:20px;border-bottom:none; cursor:pointer;}
	#projectscontainer .tab.active{color:black;}
	
	#projectfilterbuttons label{float:right; width: 194px; }
	
</style>
	<div id="projectscontainer">		
		<div id ="projectfilterbuttons">
			<div id="buttonbar">
				<!--<div id="title"><h2>Filter projects</h2></div>-->
				<ul>
					<li>	                    
	                    <label for="private" class="private" title="Challenge projects with a workshop that has not yet been held">Upcoming</label>
	                    <input type="checkbox" value="true" id="upcoming" name="ShowPrivate">
	                    
	                </li>				
	                <li>	                    
	                    <label for="prospect" class="prospect" title="Challenge projects that currently accept new submissions">Active</label>
	                   <input type="checkbox" value="true" id="active" name="ShowProspect">
	                </li>
	                <li>	                    
	                    <label for="open" class="open">Inactive</label>
	                    <input type="checkbox" id="inactive" value="true" id="open" name="ShowOpenToAll">
	                </li>
	                                
	             </ul>
	             <ul>	
	                <li>
	                    <label for="private" class="private">External only</label>
	                    <input type="checkbox" value="true" id="external" name="ShowPrivate">
	                </li>
	                <li>
	                    <label for="limited" class="limited">Offers data download only</label>
	                    <input type="checkbox" value="true" id="offers_data" name="ShowLimited">
	                </li>
	           </ul>			
			</div>
		</div>
		<div id="projectlinks">
			{% all_projectlinks %}
		</div>
		
	</div>

<script>
 $(document).ready(function() { 	
	
	// use this to no use any fancy effects no first load of page.
	// hide fancy effect because this looks stupid
	var FIRST_LOAD = true;
	log("start: first load is now " + FIRST_LOAD)
	
	function hookFilter(inputname){
		// hook up the checkbox with id inputname so that checking it will
		// hide or show projectlink items with a class by the same name
		
		$("input#"+inputname).click(function(){			
			updateAll();
		});
	};
	

	function checkboxUpdate(checkbox,name,fadetime){
		// hide or show all projectlinks which have class 'name'
		// based on html checkbox. Hide or show with 'fadetime' ms of
		// fancy fading 
		if(typeof(fadetime) == "undefined"){
			fadetime = 400;
		} 
		if(checkbox.is(':checked') ){				
				log("showing ''." + name+"'");
				$("table."+name).show(fadetime);
				
			}
			else{
				log("hiding '." + name+"'");
				$("table."+name).hide(fadetime);
			};
		   
		
	}
	
	// hook up each inputbox to filter items by the same name when 
	// checked or unchecked
	$("#projectfilterbuttons input").each(function(i,d){
		log("hooking ."+d.id);		
		hookFilter(d.id);
	});
	   	
	function updateAll(){
		log("update: first load is now " + FIRST_LOAD)
		if(FIRST_LOAD){
			fadetime = 0;
		}else{
			fadetime = 400;
		}
		//Make sure items shown correspond to checkboxes
		log("Refreshing all links");
		$("#projectfilterbuttons input").each(function(i,d){
					
			checkboxUpdate($(d),d.id,fadetime);
		})
		// allow fancy effects after this
		FIRST_LOAD = false;
	};
	
	
	function log(msg){
		console.log("* "+msg)
	}
	
	updateAll()
});
	
</script>
	
{% endblock %}


	
