{% extends "base.html" %}
{% load guardian_tags %}
{% load comic_templatetags %}

{% block pageName %} {{site.short_name}} - All projects {% endblock %}

{% block content %}		

<style>
	
	#buttonbar {width:100%; height:80px; border-top:1px solid #CCCCCC;}
	#buttonbar li{list-style: none outside none; width:220px;}
	#buttonbar li label, #buttonbar li input{cursor: pointer;}
	#buttonbar ul {float:left}
	#buttonbar label {width:135px;}
	#buttonbar #title {float:left; width:100px;}
	
	#projectlinks{border-top:1px solid #CCCCCC;}
	
	#projectscontainer{width:80%;}
	#projectscontainer .tab{color:#666666; background color:#666666; border:1px solid #CCCCCC;
			margin-left:20px;border-bottom:none; cursor:pointer;}
	#projectscontainer .tab.active{color:black;}
	
	#projectfilterbuttons label{float:right; width: 194px; }
	
</style>
	<div id="projectscontainer">		
		<div id ="projectfilterbuttons">
			<div id="buttonbar">
				<!--<div id="title"><h2>Filter projects</h2></div>-->
				<ul>
					<li>	                    
	                    <label id="upcoming"  title="Challenge projects with a workshop that has not yet been held">Upcoming</label>
	                    <input type="checkbox" class="include" value="true" id="upcoming" name="ShowPrivate">
	                    
	                </li>				
	                <li>	                    
	                    <label id="active" title="Challenge projects that currently accept new submissions">Active</label>
	                   <input type="checkbox" class="include" value="true" id="active" name="ShowProspect">
	                </li>
	                <li>	                    
	                    <label id="inactive">Inactive</label>
	                    <input type="checkbox" class="include" id="inactive" value="true" name="ShowOpenToAll">
	                </li>
	                                
	             </ul>
	             <ul id="filters">	
	                <li>
	                    <label id="comic">Hosted on comic only</label>
	                    <input type="checkbox" class="filter" value="true" id="comic" name="ShowPrivate">
	                </li>
	                <li>
	                    <label id="offers_data">Offers data download only</label>
	                    <input type="checkbox"  class="filter" value="true" id="offers_data" name="ShowLimited">
	                </li>
	           </ul>			
			</div>
		</div>
		<div id="projectlinks">
			{% all_projectlinks %}
		</div>
		
	</div>

<script>
 $(document).ready(function() { 	
	
	// use this to no use any fancy effects no first load of page.
	// hide fancy effect because this looks stupid
	var FIRST_LOAD = true;
		
	function hookFilter(inputname){
		// hook up the checkbox with id inputname so that checking it will
		// hide or show projectlink items with a class by the same name		
		$("input#"+inputname).click(function(){			
			updateAll2();
		});
		$("label#"+inputname).click(function(){			
			$("input#"+inputname).click();
			
		});
		
		
	};
	

	function checkboxUpdate(checkbox,name,fadetime){
		// hide or show all projectlinks which have class 'name'
		// based on html checkbox. Hide or show with 'fadetime' ms of
		// fancy fading 
		if(typeof(fadetime) == "undefined"){
			fadetime = 400;
		}
		
		if(checkbox.attr("class") == "filter"){
			//filter checkbox will remove all others when checked
			if(checkbox.is(':checked') ){				
				log("hiding all non	'." + name+"'");
				$("table:not(."+name+")").hide(fadetime);				
			}
			else{
				log("filter on '." + name+"' released. doing nothing.");
			};
			
		}else if(checkbox.attr("class") == "include"){
			// include checkbox will include or exclude only the items with
			// the same name
			if(checkbox.is(':checked') ){				
				log("showing ''." + name+"'");
				$("table."+name).show(fadetime);
				
			}
			else{
				log("hiding '." + name+"'");
				$("table."+name).hide(fadetime);
			};
			
		
		}else{
			log("WARNING, checkbox having class "+checkbox.attr("class")+" did not have a known class. I don't know what to do when this box is checked")
		}
		
				   		
	}
	
	function modifyCollection(checkbox,collection){
		// Make sure the collection of link items in table is consistent with
		// the value of checkbox. This means add or remove items with same id
		// as checkbox based on it being checked or not
		
		show = collection["show"];
		hide = collection["hide"];
		if (show == undefined || hide == undefined){
				log("WARNING: input collections needs to be a dict with two elements, 'show' and 'hide', one of these was not found. Returning input collection unchanged");
		};
		
		
		name = checkbox.attr("id");
		if(name == ""){
			log("WARNING: checkbox " + checkbox + " did not have an id, I need this to do filtering. Return input collection unchanged.");
			return collection;
		} 
		
		if(checkbox.attr("class") == "filter"){
			//filter checkbox will remove all others when checked
			if(checkbox.is(':checked') ){				
				log("hiding all non	'." + name+"'");
				hide = hide.add("table:not(."+name+")");								
			}
			else{
				log("filter on '." + name+"' released. doing nothing.");
			};
			
		}else if(checkbox.attr("class") == "include"){
			// include checkbox will include or exclude only the items with
			// the same name
			if(checkbox.is(':checked') ){				
				log("showing ''." + name+"'");
				show = show.add("table."+name);				
				
			}
			else{
				log("hiding '." + name+"'");
				hide = hide.add("table."+name);				
			};
			
		
		}else{
			log("WARNING, checkbox having class "+checkbox.attr("class")+" did not have a known class. I don't know what to do when this box is checked")
		}
		
		collection = {"show":show, "hide":hide};
		return collection;
		
				   		
	}
	
	
	// hook up each inputbox to filter items by the same name when 
	// checked or unchecked
	$("#projectfilterbuttons input").each(function(i,d){
		log("hooking ."+d.id);		
		hookFilter(d.id);
	});
	   	
	function updateAll(){
		log("update: first load is now " + FIRST_LOAD)
		if(FIRST_LOAD){
			fadetime = 0;
		}else{
			fadetime = 400;
		}
		//Make sure items shown correspond to checkboxes
		log("Refreshing all links");
		$("#projectfilterbuttons input").each(function(i,d){
			log("updating according to "+d.id);
			checkboxUpdate($(d),d.id,fadetime);
		})
		// allow fancy effects after this
		FIRST_LOAD = false;
	};
	
	function updateAll2(){
		log("update: first load is now " + FIRST_LOAD)
		if(FIRST_LOAD){
			fadetime = 0;
		}else{
			fadetime = 400;
		}
		//Make sure items shown correspond to checkboxes
		log("Refreshing all links");
		var projectlinks = {"show" :$(),"hide":$()};
		$("#projectfilterbuttons input").each(function(i,d){
			log("updating according to "+d.id);			
			projectlinks = modifyCollection($(d),projectlinks)
			
		})
		
		//after collection all modifications, apply these
		show = projectlinks["show"];
		hide = projectlinks["hide"];		
		show = removeDuplicates(show,hide);
		
		//log("showing " + show.length );
		show.show(fadetime);
		//log("hiding " + hide.length );
		hide.hide(fadetime);
						
		// allow fancy effects after this
		FIRST_LOAD = false;
	};
	
	function removeDuplicates(collection1,collection2){
		if(collection2 == undefined){log("WARNING: input Collection2 was not given");};
				
		var filtered = $();
		//remove any element from collection1 which is also in collection2
		collection1.each(function(i,d){						
			if(collection2.index(d) == -1){				
				filtered = filtered.add(d);
			};
			
		});					
		return filtered;	    
	};
	
	
	function log(msg){
		console.log("* "+msg)
	}
	
	updateAll()
});
	
</script>
	
{% endblock %}


	
