{% extends "base.html" %}
{% load guardian_tags %}
{% load comic_templatetags %}

{% block pageName %} {{site.short_name}} - All projects {% endblock %}

{% block content %}		

<style>
	
	#buttonbar {width:100%; height:80px; border-top:1px solid #CCCCCC;}
	#buttonbar li{list-style: none outside none; width:220px;}
	#buttonbar ul {float:left}
	#buttonbar label {width:135px;}
	#buttonbar #title {float:left; width:100px;}
	
	#projectlinks{border-top:1px solid #CCCCCC;}
	
	#projectscontainer{width:80%;}
	#projectscontainer .tab{color:#666666; background color:#666666; border:1px solid #CCCCCC;
			margin-left:20px;border-bottom:none; cursor:pointer;}
	#projectscontainer .tab.active{color:black;}
	
	#projectfilterbuttons label{float:right; width: 194px; }
	
</style>
	<div id="projectscontainer">		
		<div id ="projectfilterbuttons">
			<div id="buttonbar">
				<!--<div id="title"><h2>Filter projects</h2></div>-->
				<ul>
					<li>	                    
	                    <label for="private" class="private" title="Challenge projects with a workshop that has not yet been held">Upcoming</label>
	                    <input type="checkbox" value="true" id="upcoming" name="ShowPrivate">
	                    
	                </li>				
	                <li>	                    
	                    <label for="prospect" class="prospect" title="Challenge projects that currently accept new submissions">Active</label>
	                   <input type="checkbox" value="true" id="active" name="ShowProspect">
	                </li>
	                <li>	                    
	                    <label for="open" class="open">Inactive</label>
	                    <input type="checkbox" checked="inactive" value="true" id="open" name="ShowOpenToAll">
	                </li>
	                                
	             </ul>
	             <ul>	
	                <li>
	                    <label for="private" class="private">External only</label>
	                    <input type="checkbox" value="true" id="external" name="ShowPrivate">
	                </li>
	                <li>
	                    <label for="limited" class="limited">Offers data download only</label>
	                    <input type="checkbox" value="true" id="offers_data" name="ShowLimited">
	                </li>
	           </ul>			
			</div>
		</div>
		<div id="projectlinks">
			{% all_projectlinks %}
		</div>
		
	</div>

<script>
 $(document).ready(function() { 	
	$(".externallink").append('<img class="linkoverlay" src="/static/css/lg_exitdisclaimer.png" height="40" border="0" width="40">');
	});
	
	function hookFilter(inputname){
		// hook up the checkbox with id inputname so that checking it will
		// hide or show projectlink items with a class by the same name
		 
		$("input#"+inputname).click(function(){
			if( $(this).is(':checked') ){				
				$("table."+inputname).show(400)
			}
			else{
				$("table."+inputname).hide(400)
			};
		});
	} 
	
	// hook up each inputbox to filter items by the same name when 
	// checked or unchecked
	$("#projectfilterbuttons input").each(function(i,d){		
		hookFilter(d.id);
	})
	   	
	
</script>
	
{% endblock %}


	
