{% extends "base.html" %}
{% load guardian_tags %}
{% load admin_urls %}

{% block stylesheet %} {{STATIC_URL}}css/{{site.skin}}.css {% endblock %}

{% block headerTitle %} {{site.name}} {% endblock %}

	

{% block topmenu %}
	{% for page in pages %}
		
		<li>
			<a class="menuItem {% if page == currentpage %}	selected{%endif %}" href="{%url comicsite.views.page site.short_name page.title %}">{{page.title}}</a>			
		</li>
		{% if not forloop.last %}
			<li class="menuBullet"><img src="{{ STATIC_URL }}img/menu_bullet.png"></li>
		{% endif %}
	{% endfor %}
{% endblock %}

{% block adminbutton %}

	{% get_obj_perms user for site as "site_perms" %}	

	{% if "change_comicsite" in site_perms or request.user.is_superuser %}   	   
	   <li> <a class="menuItem" href="{% url admin:comicsite_comicsite_change site.pk%}">Admin</a></li>	   
       <li class="menuBullet"><img src="{{ STATIC_URL }}img/menu_bullet.png"></li>
	{% endif %}
	
{% endblock %}

	
{% block content %}
	
	{% block pagecontent %}
		<p>redirect to first page here.</p>
	{% endblock %}	
	
{% endblock %}

