{% extends "site.html" %}
{% load comic_templatetags %}
{% load guardian_tags %}
{% load admin_urls %}

{% block loginbutton %}
	{% if site.hide_signin %}
					
	{% else %}
		{% if user.is_authenticated %}                  			                        	                          
            <li> <a class="menuItem" href="{% url 'userena_signout' %}?next=/">Signout</a> </li>
        {% else %}	                                                    	
        	<li><a class="menuItem" href="{% url 'comicsite_signin' site.short_name %}?next=/">Sign in / Register</a></li>
        {% endif %}		
			
	{% endif %}
{% endblock %}
