<!--Template intended to show information wihout site or page context for
	 example to show errors when site or page were not found -->
{% extends "site.html" %}
{% load guardian_tags %}
{% load admin_urls %}
{% load firstof from future %}

{% block pageName %} {{currentpage.comicsite.short_name}} - {% firstof currentpage.display_title currentpage.title "page" %} {% endblock %}


{% block topmenu %}
	
{% endblock %}
	
{% block content %}
	

	{% block pagecontent %}		
		
	<div>{{currentpage.rawHTML}}</div>
	
	<br/>


	{% endblock %}	
	
{% endblock %}




