{% extends "site.html" %}
{% load guardian_tags %}
{% load template_tags %}


{% block pagecontent %}		
		
	<div>{{currentpage.rawHTML}}</div>
	
	
	<br/>

{% get_obj_perms user for site as "site_perms" %}
{% if "change_comicsite" in site_perms or request.user.is_superuser %}
	   	   
	   <a class="editPageLink" href="{% url admin:comicsite_page_change currentpage.pk%}">Edit this page</a>	          
{% endif %}	
LUIOHGLRUIHGR
<p>Current time:</p>
<p>The time is {% current_time "%Y-%m-%d %I:%M %p" %}.</p>


{% endblock %}

	
