{% extends "site.html" %}
{% load guardian_tags %}
{% load template_tags %}


{% block pagecontent %}		
		
	<div>{{currentpage.rawHTML}}</div>
	
	
	<br/>

{% get_obj_perms user for site as "site_perms" %}
{% if "change_comicsite" in site_perms or request.user.is_superuser %}
	   	   
	   <a class="editPageLink" href="{% url admin:comicsite_page_change currentpage.pk%}">Edit this page</a>	          
{% endif %}	
<p>Testing template tags:</p>
<p>Current time:</p>
<p>The time is {% current_time "%Y-%m-%d %I:%M %p" %}.</p>
<p>The other time is {% filelist "D:/userdata/Sjoerd/Aptana Studio 3 Workspace/comic/comic-django/django/static/files" %}.</p>
<p>Also these are some theses {% filelist "D:/Sites/shared/images/publications" %}.</p>
<p>Also these are some vessel12 {% filelist "D:/userdata/Sjoerd/Aptana Studio 3 Workspace/comic/comic-django/django/static/media/VESSEL12/vessel12" %}.</p>

<p>A dataset -> {% dataset VESSEL12,vessel12 %}</p>


{% endblock %}

	
