{% extends "discussion_forums/forum_base.html" %}
{% load guardian_tags %}


{% block sub_title %}{{ object }} - {% endblock %}

{% block extra_breadcrumbs %}
    <li class="breadcrumb-item">
        <a href="{% url 'discussion-forums:topic-list' %}">Forum</a>
    </li>
    <li class="breadcrumb-item active">{{ object }}</li>
{% endblock %}

{% block extra_top_row_buttons %}
    <div class="col-6">
        <a href="{% url 'discussion-forums:topic-list' %}" class="btn btn-dark btn-sm">Back to forum</a>
    </div>
{% endblock %}

{% block extra_content %}
    <div class="row">
        <div class="col-12"><h2>{{ object.subject }}</h2></div>
    </div>
    {% get_obj_perms request.user for object as "user_perms" %}
    <div>
        {% if 'create_topic_post' in user_perms %}
            <a hx-get="{% url 'discussion-forums:post-create' slug=object.slug %}" hx-swap="beforeend show:bottom" hx-target="#post-list" class="btn btn-primary btn-sm">
                <i class="fas fa-comment mr-1"></i> Reply
            </a>
        {% endif %}
        {% include 'actstream/partials/follow_unfollow_links.html' with object=object %}
        {% if 'delete_forumtopic' in  user_perms %}
            <a href="{% url 'discussion-forums:topic-delete' slug=object.slug %}" class="btn btn-danger btn-sm">
                <i class="fas fa-trash mr-1"></i>Delete topic
            </a>
        {% endif %}
    </div>
    {# TODO: lock topic button #}

    <div class="row">
        <div class="col-12" id="post-list">
            {% for post in object.posts.all %}
                {% include 'discussion_forums/partials/forumpost_detail.html' with object=post %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
