{% extends "discussion_forums/forum_base.html" %}
{% load guardian_tags %}


{% block sub_title %}{{ object }} - {% endblock %}

{% block extra_breadcrumbs %}
    <li class="breadcrumb-item">
        <a href="{% url 'discussion-forums:topic-list' %}">Forum</a>
    </li>
    <li class="breadcrumb-item active">{{ object }}</li>
{% endblock %}

{% block extra_top_row_buttons %}
    <div class="col-6">
        <a href="{% url 'discussion-forums:topic-list' %}" class="btn btn-dark btn-sm"><i class="fas fa-arrow-left mr-1"></i>Back to forum</a>
        <a href="{% url 'discussion-forums:my-posts' %}" class="btn btn-dark btn-sm"><i class="fas fa-comments mr-1"></i>My posts</a>
    </div>
{% endblock %}

{% block extra_content %}
    <div class="h3 my-3" title="{% if object.is_locked %}This topic is locked.{% endif %}">
        {% if object.is_locked %}<i class="fas fa-lock mr-2 fa-xs badge-dark p-2 rounded"></i>{% endif %}
        {{ object.subject }}
    </div>
    {% get_obj_perms request.user for object as "user_perms" %}
    <div class="row">
        <div class="col-8">
            {% if 'create_topic_post' in user_perms %}
                <div class="d-inline" title="{% if object.is_locked %}This topic is locked. You cannot reply to it.{% endif %}">
                    <a hx-get="{% url 'discussion-forums:post-create' slug=object.slug %}" hx-swap="beforeend show:bottom" hx-target="#post-list" class="btn btn-primary btn-sm {% if object.is_locked %}disabled{% endif %}">
                        <i class="fas fa-comment mr-1"></i> Reply
                    </a>
                </div>
            {% endif %}
            {% if 'delete_forumtopic' in  user_perms %}
                <a href="{% url 'discussion-forums:topic-delete' slug=object.slug %}" class="btn btn-danger btn-sm">
                    <i class="fas fa-trash mr-1"></i>Delete topic
                </a>
            {% endif %}
            {% if 'change_forumtopic' in user_perms and not object.is_locked %}
                <form class="d-inline"
                      hx-post="{% url 'discussion-forums:topic-lock-update' slug=object.slug %}"
                      hx-vals='{"is_locked": "True"}'
                      hx-swap="outerHTML"
                      hx-target="body"
                >
                    {% csrf_token %}
                    <button type="submit" class="btn btn-warning btn-sm btn-subscription"><i class="fas fa-lock mr-1"></i>
                        Lock topic
                    </button>
                </form>
            {% elif 'change_forumtopic' in user_perms and object.is_locked %}
                <form class="d-inline"
                      hx-post="{% url 'discussion-forums:topic-lock-update' slug=object.slug %}"
                      hx-vals='{"is_locked": "False"}'
                      hx-swap="outerHTML"
                      hx-target="body"
                >
                    {% csrf_token %}
                    <button type="submit" class="btn btn-warning btn-sm btn-subscription"><i class="fas fa-lock-open mr-1"></i>
                        Unlock topic
                    </button>
                </form>
            {% endif %}
        </div>
        <div class="col-4 text-right">
            {% include 'actstream/partials/follow_unfollow_links.html' with object=object %}
        </div>
    </div>

    <div class="row">
        <div class="col-12" id="post-list">
            {% for post in object.posts.all %}
                <div class="my-3 card col-12"
                     id="post-{{ post.pk }}"
                     hx-get="{% url 'discussion-forums:post-detail' slug=object.slug pk=post.pk %}"
                     hx-trigger="load"></div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
