{% load crispy_forms_tags %}

<div class="row">
    <div class="col-12">
        <div class="card border border-dark" id="new-post-card">
            <div class="card-header bg-light d-flex justify-content-between align-items-center">
                <h3 class="m-0 h5 card-title">Reply to topic</h3>
                <div><a href="{{ topic.get_absolute_url }}" class="btn btn-dark">Cancel</a></div>
            </div>
            <div class="card-body">
                {% crispy form %}
            </div>
        </div>
    </div>
</div>
