{% extends "discussion_forums/forum_base.html" %}
{% load crispy_forms_tags %}

{% block sub_title %}Create Topic - {% endblock %}

{% block extra_breadcrumbs %}
    <li class="breadcrumb-item">
        <a href="{% url 'discussion-forums:topic-list' %}">Forum</a>
    </li>
    <li class="breadcrumb-item active">Create Topic</li>
{% endblock %}

{% block extra_top_row_buttons %}
    {% include 'discussion_forums/partials/extra_top_row_buttons.html' %}
{% endblock %}

{% block extra_content %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="m-0 h5 card-title">Post a new topic</h3>
                </div>
                <div class="card-body">
                    {% crispy form %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
