{% extends "discussion_forums/forum_base.html" %}
{% load guardian_tags %}
{% load crispy_forms_tags %}


{% block sub_title %}{{ topic }} - {% endblock %}

{% block extra_breadcrumbs %}
    <li class="breadcrumb-item">
        <a href="{% url 'discussion-forums:topic-list' %}">Forum</a>
    </li>
    <li class="breadcrumb-item active">{{ topic }}</li>
{% endblock %}

{% block extra_top_row_buttons %}
    <div class="col-6">
        <a href="{% url 'discussion-forums:topic-list' %}" class="btn btn-dark btn-sm">Back to forum</a>
    </div>
{% endblock %}

{% block extra_content %}
    <div class="row">
        <div class="col-12"><h2>{{ topic.subject }}</h2></div>
    </div>
    {% get_obj_perms request.user for topic as "user_perms" %}
    <div>
        {% if 'create_topic_post' in user_perms %}
            {% if not page_obj.has_next %}
                <a href="#new-post-card" class="btn btn-primary btn-sm">
                    <i class="fas fa-comment mr-1"></i> Reply
                </a>
            {% else %}
                <a href="?page={{ topic.last_page_num }}#new-post-card" class="btn btn-primary btn-sm"><i class="fas fa-comment mr-1"></i>Reply</a>
            {% endif %}
        {% endif %}
        {% include 'actstream/partials/follow_unfollow_links.html' with object=topic %}
        {% if 'delete_forumtopic' in  user_perms %}
            <a href="{% url 'discussion-forums:topic-delete' slug=topic.slug %}" class="btn btn-danger btn-sm">
                <i class="fas fa-trash mr-1"></i>Delete topic
            </a>
        {% endif %}
    </div>
    {# TODO: lock topic button #}

    <div class="row">
        <div class="col-12" id="post-list">
            {% for post in object_list %}
                {% include 'discussion_forums/partials/forumpost_detail.html' %}
            {% endfor %}
        </div>
    </div>

    {% if not page_obj.has_next %}
        <div class="card my-3" id="new-post-card">
            <div class="card-header bg-light d-flex justify-content-between align-items-center">
                <h3 class="m-0 p-2 h5 card-title">Reply to topic</h3>
            </div>
            <div class="card-body">
                {% crispy post_create_form %}
            </div>
        </div>
        {% include "grandchallenge/partials/pagination.html" %}
    {% else %}
        <div class="d-flex justify-content-between">
            <div class="d-inline"><a href="?page={{ topic.last_page_num }}#new-post-card" class="btn btn-primary my-1"><i class="fas fa-comment mr-1"></i>Reply</a></div>
            {% include "grandchallenge/partials/pagination.html" %}
        </div>
    {% endif %}

{% endblock %}
