{% extends "base.html" %}
{% load static %}
{% load url %}
{% load i18n %}
{% load forum_extras %}
{% load guardian_tags %}
{% load activity_tags %}
{% load crispy_forms_tags %}

{% block title %}{% block sub_title %}{% endblock sub_title %} - {{ request.site.name }} Forums{% endblock title %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a
                href="{% url 'challenges:list' %}">Challenges</a>
        </li>
        <li class="breadcrumb-item"><a
                href="{{ challenge.get_absolute_url }}">{% firstof challenge.title challenge.short_name %}</a></li>
        <li class="breadcrumb-item">
            Forum
        </li>
    </ol>
{% endblock %}

{% block content %}
    <div class="row mb-3 justify-content-between">
        <div class="col-8"><h1>Forum</h1></div>
        <div class="col-4">
            <div class="float-right controls-link-wrapper">
                {# TODO: my posts view button #}
                {% include 'actstream/partials/follow_unfollow_links.html' with object=forum %}
                <a href="{% url 'notifications:follow-list' %}" class="btn btn-primary btn-sm"><i class="fas fa-bookmark">&nbsp;</i>My Subscriptions</a>
            </div>
        </div>
    </div>

    {% block extra_content %}
    {% endblock %}

{% endblock %}
