{% extends "discussion_forums/forum_base.html" %}
{% load profiles %}
{% load humanize %}
{% load bleach %}
{% load guardian_tags %}


{% block sub_title %}{{ object }} - {% endblock %}

{% block extra_breadcrumbs %}
    <li class="breadcrumb-item">
        <a href="{% url 'discussion-forums:topic-list' %}">Forum</a>
    </li>
    <li class="breadcrumb-item active">{{ object }}</li>
{% endblock %}

{% block extra_content %}
    <div class="row">
        <div class="col-12"><h2>{{ object.subject }}</h2></div>
    </div>
    {% get_obj_perms request.user for object as "user_perms" %}
    <div>
        {% include 'actstream/partials/follow_unfollow_links.html' with object=object %}
        {% if 'delete_topic' in  user_perms %}
            <a href="{% url 'discussion-forums:topic-delete' slug=object.slug %}" class="btn btn-danger btn-sm">
                <i class="fas fa-trash mr-1"></i>Delete topic
            </a>
        {% endif %}
    </div>
    {# TODO: create post button #}
    {# TODO: lock topic button #}

    <div class="row">
        <div class="col-12">
            {% for post in object.posts.all %}
                <div id="{{ post.id }}" class="my-3 card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-10">
                                <div class="float-right">
                                    {# TODO: edit button for post #}
                                    {# TODO: delete button for post #}
                                </div>
                                <p>
                                    <small class="text-muted">
                                        <i class="fas fa-clock mr-1"></i>By: {{ post.creator|user_profile_link }}
                                        {{ post.created|naturaltime }}
                                    </small>
                                </p>
                                <div class="post-content">{{ post.content|md2html }}</div>
                            </div>
                            <div class="col-md-2 d-none d-md-block">
                                {% include 'profiles/partials/mugshot.html' with profile=post.creator.user_profile with_userlink=True %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
