{% load url %}

{% autoescape off %}
    Dear {{ user.username }},


    <p>Your request to participate in
        <a href="{% url 'pages:home' challenge_short_name=challenge.short_name %}">{{ challenge.short_name }}</a>
        on {{ site.domain }} has been approved.</p>

    <p>When logged in, you can now view participant-only pages on <a
            href="{% url 'pages:home' challenge_short_name=challenge.short_name %}">{{ challenge.short_name }}</a>.
    </p>

    <p>Regards,<br/>
        {{ site.name }}
    </p>

    <p>
        <small>This is an automated service email from {{ site.domain }}.</small>
    </p>
{% endautoescape %}
