{% load url %}

{% autoescape off %}
    <p>Dear {{ admin.username }},</p>

    <p>User {{ user.username }} has just requested to participate in the
        <a href="{% url 'pages:home' challenge_short_name=challenge.short_name %}">{{ challenge.short_name }}</a>
        challenge on {{ site.domain }}.</p>

    <p>You can review, accept or reject this request <a href="{% url 'participants:registration-list' challenge_short_name=challenge.short_name %}">here</a>.</p>

    <p>Regards,<br/>
        {{ site.name }}
    </p>

    <p>
        <small>This is an automated service email from {{ site.domain }}.</small>
    </p>
{% endautoescape %}