{% load url %}

{% autoescape off %}
    <p>Dear {{ user.username }},</p>

    <p>Your request to participate in
    <a href="{% url 'pages:home' challenge_short_name=challenge.short_name %}">{{ challenge.short_name }}</a>
        on {{ site.domain }} has been rejected.</p>

    <p>For more information, please contact the <a href="{% url 'pages:home' challenge_short_name=challenge.short_name %}">{{ challenge.short_name }}
        organizers</a>.</p>

    <p>
        Regards,<br/>
        {{ site.name }}
    </p>

    <p>
        <small>This is an automated service email from {{ site.domain }}.</small>
    </p>
{% endautoescape %}
