{% extends "base.html" %}
{% load i18n %}

{% block title %}Disable Two-Factor Authentication{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item text-light">Users</li>
        <li class="breadcrumb-item"><a
                href="{% url 'profile-detail' username=request.user.username %}">{{ request.user.username }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">Disable Two Factor Authentication</li>
    </ol>
{% endblock %}

{% block content %}
    <h1>
        {% trans "Disable Two-Factor Authentication" %}
    </h1>

    <p>{% trans "Are you sure you want to disable Two-Factor Authentication from your account?" %}</p>
    <p>{% trans "Confirm by entering the token from your authenticator app." %}</p>
    <form method="post" class="mt-3">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {{ form.otp_token.label }}:
        {{ form.otp_token }}
        <br>
        <button class="btn btn-primary mt-3" type="submit">
            {% trans 'Yes, disable 2FA' %}
        </button>
    </form>
{% endblock %}
