name: CI
on: [push, pull_request]
jobs:

  precommit:
    runs-on: ubuntu-latest
    steps:
      - name: Install Python 3.7
        uses: actions/setup-python@v1.1.1
        with:
          python-version: '3.7'
      - uses: actions/checkout@v1
      - name: Install pre-commit
        run: |
          python -m pip install pre-commit
          pre-commit install
      - name: Run static code inspections
        run: pre-commit run --all-files
